//- Includes
include ../elements/_widget-form-search
include ../elements/_widget-tags
include ../elements/_widget-twitter

// Section Blog Modern
aside.text-left.inset-md-left-20
  // Search Form
  p.big.text-medium.text-uppercase.text-spacing-60 Search
  div.text-subline

  .offset-top-34
    +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-2-form-search-widget")

  // Twitter Feed
  p.big.text-medium.offset-top-41.text-uppercase.text-spacing-60 Twitter Feed
  div.text-subline

  .offset-top-34
    +widget-twitter({
      "dataTwitterUsername": "templatemonster"
    })


  .range.offset-top-41
    .cell-xs-6.cell-md-12
      // Category
      p.big.text-medium.text-uppercase.text-spacing-60 category
      div.text-subline

      ul.list.list-marked.offset-top-30
        li
          a(href="#") Fitness #[span.text-dark (37)]
        li
          a(href="#") Yoga #[span.text-dark (211)]
        li
          a(href="#") CrossFit #[span.text-dark (12)]
        li
          a(href="#") Bodybuilding #[span.text-dark (7)]
        li
          a(href="#") Boxing #[span.text-dark (15)]

    .cell-xs-6.cell-md-12.offset-top-41.offset-xs-top-0.offset-md-top-41
      // Archive
      p.big.text-medium.text-uppercase.text-spacing-60 Archive
      div.text-subline

      ul.list.list-marked.offset-top-30
        li
          a(href="#") January 2016 #[span.text-dark (17)]
        li
          a(href="#") December 2015 #[span.text-dark (121)]
        li
          a(href="#") November 2015 #[span.text-dark (19)]
        li
          a(href="#") October 2015 #[span.text-dark (9)]
        li
          a(href="#") September 2015 #[span.text-dark (25)]

  // Tags
  p.big.text-medium.offset-top-41.text-uppercase.text-spacing-60 Tags
  div.text-subline

  .offset-top-34
    +widget-tags("btn btn-xs btn-default", [
      {"title": "body", "href": "#"},
      {"title": "Fitness", "href": "#"},
      {"title": "CrossFit", "href": "#"},
      {"title": "yoga", "href": "#"},
      {"title": "Bodybuilding", "href": "#"}
    ])