//Swiper
.rd-parallax.rd-parallax-swiper
  .rd-parallax-layer(data-speed="0.3" data-sm-speed="1" data-type="html")

    .swiper-container.swiper-slider(data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px")
      .swiper-wrapper.text-center
        #page-loader.swiper-slide(data-slide-bg="images/background-01-1920x750.jpg" data-preview-bg="images/background-01-1920x750.jpg")
          .swiper-caption.swiper-parallax(data-speed="0.5" data-fade="true")
            .swiper-slide-caption
              .shell
                .range.range-lg-center
                  .cell-lg-12
                    .text-extra-big.text-bold.text-italic.text-uppercase(data-caption-animate="fadeInUp" data-caption-delay="300") No Pain No Gain
                  .cell-lg-8.offset-top-10
                    h5.hidden.reveal-xs-block.text-light(data-caption-animate="fadeInUp" data-caption-delay="500")
                      | Having a perfect body requires a lot of training. Nice-looking body and
                      | powerful organism are interconnected – and we can help you with both.

                    .offset-top-20.offset-xs-top-50
                      a(href="#" data-waypoint-to="#welcome").btn.btn-danger.btn-anis-effect(data-caption-animate="fadeInUp" data-caption-delay="800")
                        span.btn-text get started

        .swiper-slide(data-slide-bg="images/background-02-1920x750.jpg" data-preview-bg="images/background-02-1920x750.jpg")
          .swiper-caption.swiper-parallax(data-speed="0.5" data-fade="true")
            .swiper-slide-caption
              .shell
                .range.range-lg-center
                  .cell-lg-12
                    .text-extra-big.text-bold.text-italic.text-uppercase(data-caption-animate="fadeInUp" data-caption-delay="300") never give up
                  .cell-lg-8.offset-top-10
                    h5.hidden.reveal-xs-block.text-light(data-caption-animate="fadeInUp" data-caption-delay="500")
                      | Every bodybuilder requires a lot of dedication and effort to shape his/her body into something to be proud of. We can give you everything you need for it.

                    .offset-top-20.offset-xs-top-50
                      a(href="#" data-waypoint-to="#welcome").btn.btn-danger.btn-anis-effect(data-caption-animate="fadeInUp" data-caption-delay="800")
                        span.btn-text get started

        .swiper-slide(data-slide-bg="images/background-03-1920x750.jpg" data-preview-bg="images/background-03-1920x750.jpg")
          .swiper-caption.swiper-parallax(data-speed="0.5" data-fade="true")
            .swiper-slide-caption
              .shell
                .range.range-lg-center
                  .cell-lg-12
                    .text-extra-big.text-bold.text-italic.text-uppercase(data-caption-animate="fadeInUp" data-caption-delay="300") I can go the distance
                  .cell-lg-8.offset-top-10
                    h5.hidden.reveal-xs-block.text-light(data-caption-animate="fadeInUp" data-caption-delay="500")
                      | Clients of our gym receive not only necessary equipment for their workouts but also friendly support in achieving their number one training goal.

                    .offset-top-20.offset-xs-top-50
                      a(href="#" data-waypoint-to="#welcome").btn.btn-danger.btn-anis-effect(data-caption-animate="fadeInUp" data-caption-delay="800")
                        span.btn-text get started

      .swiper-button.swiper-button-prev.swiper-parallax.mdi.mdi-chevron-left

      .swiper-button.swiper-button-next.swiper-parallax.mdi.mdi-chevron-right

      .swiper-pagination