//- title - page title
//- breacrumbs - an array of {link} object
//- url - address of bg-parallax img
mixin breadcrumb-modern(title, breadcrumbs, url)
  // Modern Breadcrumbs
  section.breadcrumb-modern.rd-parallax.bg-gray-darkest
    div.rd-parallax-layer(data-speed="0.2" data-type="media" data-url=url)
    div.rd-parallax-layer(data-speed="0" data-type="html")
      .shell.section-top-98.section-bottom-34.section-md-bottom-66.section-md-98.section-lg-top-110.section-lg-bottom-41
        h2.veil.reveal-md-block.offset-top-30
          span.big= title
        ul.list-inline.list-inline-dashed
          each link, index in breadcrumbs
            if breadcrumbs[parseInt(index) + 1]
              li
                a(href=link.href)= link.title
            else
              li
                = link.title