include ../elements/_ui-tabs-classic
include ../elements/_widget-form-search
include ../mixins/_rd-navbar-submenu-simple

//- RD Navbar Transparent
//- skin - rd navbar skin (transparent, inverse, default)
//- attrs - additional HTML attributes of rd navbar
//- logo - logo markup (<img/> or text)
//- links - nav links object
mixin rd-navbar-floated(skin, attrs, logo, activeLink, links)
    // RD Navbar Transparent
    .rd-navbar-wrap
      nav&attributes(attrs).rd-navbar.container.rd-navbar-floated(class="#{skin}" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static")
        .rd-navbar-inner
          // RD Navbar Top Panel
          .rd-navbar-top-panel.context-dark.bg-danger
            .left-side
              address.contact-info.text-left
                a(href="callto:#")
                  span.icon.mdi.mdi-cellphone-android
                  span.text-middle 1-800-1324-567

            .center
              address.contact-info.text-left
                a(href="#")
                  span.icon.mdi.mdi-map-marker-radius
                  span.text-middle 2130 Fulton Street San Francisco, CA 94117-1080 USA



            .right-side
              ul.list-inline.list-inline-sm
                li
                  a(href="#" class="fa fa-facebook")
                li
                  a(href="#" class="fa fa-twitter")
                li
                  a(href="#" class="fa fa-google-plus")
                li
                  a(href="#" class="fa fa-youtube")

          // RD Navbar Panel 
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap")
              span
            // RD Navbar Top Panel Toggle
            button.rd-navbar-top-panel-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel")
              span

            //Navbar Brand
            .rd-navbar-brand
              a(href="../index.html") !{logo}

          .rd-navbar-menu-wrap
            .rd-navbar-nav-wrap
              -var tabs = [{obj: cfg.nav.components, columns: 4}]
              -var megamenus = [{obj: cfg.nav.pages, columns: 4}]
              -var type = 'simple'
              -var megamenuColumns = 4

              .rd-navbar-mobile-scroll
                //Navbar Brand Mobile
                .rd-navbar-mobile-brand
                  a(href="index.html") !{logo}

                .form-search-wrap
                  +widget-form-search('form-control-gray-lightest input-sm', "form-label-sm", "rd-navbar-form-search-widget")

                // RD Navbar Nav
                ul.rd-navbar-nav
                  each link, title in links
                    -type = 'simple'
                    li(class=(activeLink.title == link.title) ? 'active' : '')
                      a(href=link.href class=link.icon)
                        span= link.title
                        - if (typeof(link.label) !== 'undefined')
                          span.rd-navbar-label.text-middle.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{link.label}
                      each tab in tabs
                        -
                          if (JSON.stringify(tab.obj) === JSON.stringify(link)){
                            type = 'tabs'
                            if (tab.columns !== 'undefined') megamenuColumns = tab.columns
                          }

                      each megamenu in megamenus
                        -
                          if (JSON.stringify(megamenu.obj) === JSON.stringify(link)){
                            type = 'megamenu'
                            if (megamenu.columns !== 'undefined') megamenuColumns = megamenu.columns
                          }
                      case type
                        when 'tabs'
                          .rd-navbar-megamenu
                            -var tabList = []
                            each title in link.submenu
                              -tabList.push(title.title)
                            if tabList.length > 0
                              +tabs-classic(tabList)
                                each tab in link.submenu
                                  .row
                                    -var columnLength = Object.keys(tab.submenu).length / megamenuColumns

                                    - for (var i = 1; i <= megamenuColumns; i++){
                                      -var j = 0
                                        ul(class='col-lg-' + 12 / megamenuColumns)
                                          each dropdown in tab.submenu
                                            -j++
                                            -if (j <= (i - 1) * columnLength) continue
                                            -if (j > i*columnLength) break
                                            li
                                              a(href=dropdown.href)
                                                span.rd-navbar-icon(class=dropdown.icon)
                                                span.text-middle= dropdown.title
                                                - if (typeof(dropdown.label) !== 'undefined')
                                                  span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{dropdown.label}
                                    -}
                        when 'megamenu'
                          .rd-navbar-megamenu
                            .row
                              -var columnLength = Object.keys(link.submenu).length / megamenuColumns
                              - for (var i = 1; i <= megamenuColumns; i++){
                                -var j = 0
                                  ul(class='col-lg-' + 12 / megamenuColumns)
                                    each dropdown in link.submenu
                                      -j++
                                      -if (j <= (i - 1) * columnLength) continue
                                      -if (j > i*columnLength) break
                                      li
                                        a(href=dropdown.href)
                                          span.rd-navbar-icon(class=dropdown.icon)
                                          span.text-middle= dropdown.title
                                          - if (typeof(dropdown.label) !== 'undefined')
                                            span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{dropdown.label}

                              -}

                        default
                          +rd-navbar-simple-submenu(link)
            //RD Navbar Search
            div.rd-navbar-search.rd-navbar-search-top-panel
              a.rd-navbar-search-toggle.mdi(data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#")
                span
              form(action="search-results.html" method="GET").rd-navbar-search-form.search-form-icon-right.rd-search
                div.form-group
                  label(for="rd-navbar-search-form-input" class="form-label") Type and hit enter...
                  input(class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off")