/*
* Navbar components
*/

// RD Navbar
.rd-navbar {
  display: none;
  background: $navbar-background;
  &:not(.transparent-theme){
    box-shadow: $navbar-shadow;
  }
  &.rd-navbar--is-stuck.transparent-theme {
    box-shadow: $navbar-shadow;
  }
}

// RD Navbar Toggle
.rd-navbar-toggle {
  @include make-toggle(
          "button-lines-cross-2",
          $navbar-min-line-height,
          32px,
          $white
  );
  background-color: transparent;
  border: none;
  &:focus{
    outline: none;
  }
  display: none;

  span:after,
  span:before,
  span{
    height: 4px;
  }
}

// RD Navbar Brand
.rd-navbar-brand {
  display: inline-block;
  .brand-name {
    color: $white;
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .brand-slogan {
  }
}
// RD Navbar Nav
.rd-navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    a{
      font-size: 13px;
      font-weight: 900;
      color: $gray-darker;
      padding: 8px 10px;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      position: relative;
      .label{
        position: absolute;
        right: -12px;
        top: -4px;
      }
    }
    li  a{
      letter-spacing: 0.05em;
    }
  }
  > li > ul > li{
      .icon{
        margin-right: 10px;
        font-size: 18px;
        vertical-align: text-top;
      }
  }
}

// RD Navbar Dropdown
.rd-navbar-dropdown {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

// RD Navbar Search

.rd-navbar:not(.logo-center){

  &.rd-navbar-static,
  &.rd-navbar-fullwidth{

    &.dark-theme{
      .rd-navbar-search-form-input{
        color: $gray-light;
      }
    }
    &.transparent-theme{
      .rd-navbar-search-form{
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }

      &.rd-navbar--is-stuck{
        .rd-navbar-search-form{
          border-bottom: none;
        }
      }
    }

    .rd-navbar-panel{
      transition: .3s;
    }

    .rd-navbar-search-toggle{
      z-index: 200;
    }

    .rd-navbar-search-form{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      @include transform(rotateX(0deg));

      padding: 26px 8.5% 22px 3.9%;

      z-index: 99;


      &-input{
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;

        font-size: 39px;
        color: $gray-light;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        z-index: 99;

        &::-webkit-input-placeholder {
          color: $gray-light;
        }
        &:-moz-placeholder {
          color: $gray-light;
          opacity: 1;
        }
        &::-moz-placeholder {
          color: $gray-light;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: $gray-light;
        }
      }

      &-submit{
        display: none;
      }

      .form-group{
        width: 100%;
        height: 100%;
      }

      label{
        display: block;
        position: absolute;
        top: 18px;
        color: rgba(255,255,255,.5);
        letter-spacing: 0.16em;
        font-size: 15px;
        text-transform: uppercase;
      }
    }

    &.rd-navbar--is-stuck{
      .rd-navbar-search-form{
        padding: 0 10% 0 40px;
        .form-group{
          label{
            display: none;
          }
          input{
            font-size: 29px;
          }
        }
      }
    }

  }
  &.rd-navbar-static,
  &.rd-navbar-fullwidth{
    .rd-navbar-inner{
      &.active{
        .rd-navbar-panel,
        .rd-navbar-nav,
        .rd-navbar-shop{
          visibility: hidden;
          opacity: 0;
        }

        .rd-navbar-live-search-results{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &.rd-navbar-fullwidth{
    .rd-navbar-search{
      &-form{
        padding: 0;

        label{
          top: -12px;
          font-size: 14px;
        }

        &-input{
          font-size: 24px;
        }
      }
    }
  }
}

.rd-navbar-search {
  &-toggle {
    display: inline-block;

    text-align: center;
    font: 400 24px/36px "Material Design Icons";
    line-height: 48px;

    &, &:before, &:after {
      width: 48px;
      height: 48px;
    }

    &:before, &:after {
      position: absolute;
      left: 0;
      top: 0;
      transition: transform .3s;
    }

    &:before {
      content: '\f43b';
      @include transform(scale(1) rotate(0deg));
    }

    .rd-navbar:not(.rd-navbar-fixed) & {
      &:after {
        content: '\f24c';
        transition: .3s all ease;
        @include transform(scale(0) rotate(-90deg));
      }

      &.active {
        &:before {
          @include transform(scale(0) rotate(90deg));
        }

        &:after {
          @include transform(scale(1) rotate(0deg));
        }
      }
    }

    .rd-navbar-fixed &,
    .rd-navbar-fixed &:before {
      width: 48px;
      line-height: 48px;
    }
  }

  &-form-submit {
    @include make-toggle(
            $navbar-search-toggle-preset,
            $navbar-min-line-height,
            $navbar-min-font-size,
            $navbar-panel-color
    );
  }
  .form-group{
    margin-bottom: 0;
  }

  .rd-navbar-search-form-input{
    border: none;
    padding: 11px 40px 11px 14px;
    background-color: $gray-light;
    color: $gray-darker;
    font-size: 15px;

    &:focus,
    &:active{
      outline: none;
    }
  }
  .rd-navbar-search-form-submit{
    background-color: transparent;
    border: none;

    &:focus,
    &:active{
      outline: none;
    }
  }
}

// RD Navbar Live Search Results
.rd-navbar-live-search-results {
  position: absolute;
  left: 4px;
  right: 4px;
  top: calc(100% - 56px);
  font-size: 16px;
  line-height: 34px;
  color: #333;
  background: #FFF;
  box-shadow: $navbar-shadow;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  z-index: 998;

  transition: .4s;

  &.active{
    opacity: 1;
    visibility: visible;
  }

  &.not-empty{
    padding: 16px 8px;
  }

  .search_error{
    margin-left: 10px;
  }

  .search-quick-result {
    padding-left: 8px;
    line-height: 30px;
    letter-spacing: 0.16em;
    margin-left: 12px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #757575;

    &:after{
      content: ':';
    }
  }

  .search_list {
    margin-top: 4px;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;

    li + li {
      margin-top: 2px;
    }

    .result-item{
      p{
        margin-bottom: 0;
      }
    }

    .search_list li + li:last-child {
      margin-top: 8px;
      border-top: 1px solid #EBEBEB;
      padding-top: 7px;
    }
  }

  .search_link {
    display: block;
    padding: 8px;
    color: #757575;
    border-radius: 2px;

    &:hover {
      background: #F7F7F7;
    }

    p {
      margin-top: 0;
      font-size: 16px;
      display: none;
    }
  }

  .search_title {
    color: #212121;
    font-weight: 700;
    font-size: 20px;
  }

  .search_submit {
    display: block;
    text-align: center;
    padding: 4px 8px;
    font-weight: 700;
    color: $brand-primary;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #F7F7F7;

    &:hover{
      background: #F9F9F9;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: $screen-lg-min) {
    .search_link {
      p {
        display: block;
      }
    }
  }
}

.rd-navbar-submenu-toggle{
  cursor: pointer;
}

// RD Megamenu

.rd-navbar-megamenu{
  ul{
    list-style: none;

    li{
      a{
        .icon{
          vertical-align: sub;
          margin-right: 8px;

          &.icon-xxs{
            font-size: 18px;
          }
        }

        color: $white;
      }
    }
  }
}

// Rd navbar toop panel
.rd-navbar-top-panel{
  display: none;
}
.rd-navbar-top-panel-inner{
  position: relative;
  z-index: 2;
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  margin-left: auto;
  margin-right: auto;
  padding: 8px 15px;

  .rd-navbar-sub-menu{
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    li{
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.06em;
      transition: .3s;
      & + li{
        margin-left: 36px;
      }
    }
  }
  .list-sm-inline{
    margin: 0;
    li + li{
      margin-left: 12px;
    }
    .icon-xs{
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
}
.rd-navbar-wrap .rd-navbar{
  &.rd-navbar--is-stuck{
    .rd-navbar-top-panel{
      display: none;
    }
  }
}

// Rd navbar shop

.rd-navbar-shop{
  position: relative;
  z-index: 9;

  vertical-align: middle;
  display: inline-block;
  width: 48px;
  height: 48px;

  line-height: 48px;
  font-size: 22px;
  text-align: center;
  color: $white;

  transition: .3s;
  &:hover{
    color: $brand-primary;
  }
  &:focus{
    outline: 0;
    color: $brand-primary;
  }
}