/*
* Rd Navbar Themes
*/

$rd-navbar-fixed-icons-panel-width: 64px;

.rd-navbar{
  &.light-theme{
    .rd-navbar-toggle span:after, .rd-navbar-toggle span:before, .rd-navbar-toggle span{
      //background-color: $gray-darker;
    }

    .rd-navbar-panel{
      &:before{
        background-color: $white;
      }
    }
    .rd-navbar-nav{
      .rd-navbar-submenu-toggle::after{
        color: $gray-darker;
      }
      //li.active{
      //  .rd-navbar-submenu-toggle::after{
      //    color: $white;
      //  }
      //}
    }

    //&.rd-navbar-fullwidth-search{
    &.rd-navbar{
      .rd-navbar-search{
        .form-group{
          label{
            color: $gray-darker;
          }
        }
        &-form-input{
          color: $gray-darker;
          &::-webkit-input-placeholder {
            color: $gray-darker;
          }
          &:-moz-placeholder {
            color: $gray-darker;
            opacity: 1;
          }
          &::-moz-placeholder {
            color: $gray-darker;
            opacity: 1;
          }
          &:-ms-input-placeholder {
            color: $gray-darker;
          }
        }
      }
    }
  }

  &.dark-theme{
    .rd-navbar-search {
      .rd-navbar-search-form-input{

      }

      .rd-navbar-live-search-results{
        background-color: #212121;

        .search_title{
          color: $gray;
        }

        .search_link{
          &:hover{
            background-color: #1D1D1D;
          }
        }
        .search_submit{
          background-color: $gray-base;

          &:hover{
            background-color: #1D1D1D;
          }
        }
        .search_error{
          color: $gray-dark;
        }
      }
    }
  }

  &.rd-navbar-static{
    top: 0;
    &.light-theme {
      background-color: $white;
      .rd-navbar-nav{
        > li{
          > a{
            color: $gray-darker;
          }
        }
      }
      .rd-navbar-search-toggle{
        color: $gray-darker;
      }
      .rd-navbar-shop,
      & + .rd-navbar-shop{
        color: $gray-darker;
      }
    }
    &.dark-theme {
      background-color: $gray-base;
      .rd-navbar-nav{
        li{
          a{
            color: $white;
          }
        }
      }

      .rd-navbar-search-toggle{
        color: $white;
      }
      .rd-navbar-shop,
      & + .rd-navbar-shop{
        color: $white;
      }
    }

    &.transparent-theme.topbar{
      top: 0;
      .rd-navbar-inner{
        margin-top: 32px;
      }
      &.rd-navbar--is-stuck{
        .rd-navbar-inner {
          margin-top: 20px;
        }
      }
    }
  }

  &.rd-navbar-fullwidth{

    &.light-theme {
      background-color: $white;

      .rd-navbar-nav{
        > li{
          > a{
            color: $gray-darker;
          }
        }
      }

      .rd-navbar-search-toggle{
        color: $gray-darker;
      }

      .rd-navbar-shop,
      & + .rd-navbar-shop{
        color: $gray-darker;
      }
    }

    &.dark-theme {
      background-color: $gray-base;

      .rd-navbar-nav{
        > li{
          > a{
            color: $white;
          }
        }
      }

      .rd-navbar-search-toggle{
        color: $white;
      }

      .rd-navbar-shop,
      & + .rd-navbar-shop{
        color: $white;
      }
    }
  }

  &.rd-navbar-fixed{

    &.dark-theme:not(.fixed-toggle):not(.fixed-icons):not(.sidebar-icons):not(.sidebar-icons){
      .rd-navbar-toggle {
        @include make-toggle(
                $navbar-toggle-preset,
                $navbar-min-line-height,
                $navbar-min-font-size,
                $white
        );
      }
    }

    &.transparent-theme{
      .rd-navbar-nav li.opened > a,
      .rd-navbar-nav li.opened:hover > a{
        background-color: #212121;
      }

      .rd-navbar-nav li.active:hover > a{
        background-color: $brand-primary;
      }
    }



    &.light-theme{
      .rd-navbar-nav{
        background-color: $white;

        li{
          &.active{
            > a{
              background-color: $brand-primary;
              color: $white;
            }
            &:hover{
              > a{
                background-color: $brand-primary;
                color: $white;
              }
            }
          }
          a{
            color: $gray-darker;
          }
          &:hover{
            > a{
              background-color: $gray-lighter;
            }
          }
        }
      }
      .rd-navbar-search-toggle{
        color: $gray-darker;
      }
      .rd-navbar-shop,
      & + .rd-navbar-shop{
        color: $gray-darker;
      }
      .rd-navbar-toggle {
        @include make-toggle(
                $navbar-toggle-preset,
                $navbar-min-line-height,
                $navbar-min-font-size,
                $gray-darker
        );
      }
    }
  }

  &.rd-navbar-sidebar{
    &.light-theme{
      background-color: $white;
      .rd-navbar-toggle {
        //@include make-toggle(
        //    $navbar-toggle-preset,
        //    $navbar-min-line-height,
        //    $navbar-min-font-size,
        //    $white
        //);
      }
    }
  }

  &.navbar-boxed{

    .rd-navbar-top-panel-inner,
    .rd-navbar-inner{
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    &.rd-navbar-static{
      .rd-navbar-search-form{
        padding-left: 1.2%;
      }
    }

    &.rd-navbar-fullwidth{
      .rd-navbar-inner{
        margin: 0;
        padding-bottom: 12px;
      }
      &.rd-navbar--is-stuck{
        .rd-navbar-inner {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }

  &.topbar{
    .rd-navbar-top-panel{
      display: block;
    }
  }

  &.topbar-dark{
    .rd-navbar-top-panel{
      background-color: $gray-base;
      .rd-navbar-sub-menu{
        li{
          a{
            color: $gray-darker;
            transition: .3s;
            &:hover{
              color: $gray;
            }
          }
          &.active{
            a{
              color: $gray;
            }
          }
        }
      }
    }
  }

  &.topbar-light{
    .rd-navbar-top-panel{
      border-bottom: 1px solid #f3f3f3;
      background-color: $white;
      .rd-navbar-sub-menu{
        li{
          a{
            color: $gray;
            transition: .3s;
            &:hover{
              color: $gray-darker;
            }
          }
          &.active{
            a{
              color: $gray-darker;
            }
          }
        }
      }
    }
  }

  &.logo-center{
    background-color: #212121;

    .rd-navbar-nav-wrap{
      background-color: $white;
    }

    &.rd-navbar-fixed{
      .rd-navbar-search-toggle{
        top: 6px;
      }
    }
    &.rd-navbar--is-stuck{
      .rd-navbar-inner {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .rd-navbar-inner{
      margin: 0;
      padding: 0;
      max-width: none;
    }

    &:not(.rd-navbar-fixed) .rd-navbar-panel{
      width: 100%;
      text-align: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 30px 15px;
      @include display-flex();
      @include justify-content(space-between);
      @include align-items(center);
      @include flex-direction(row);
    }

    .rd-navbar-nav-wrap{
      display: block;
      vertical-align: baseline;
    }

    &:not(.rd-navbar-fixed) .rd-navbar-nav-wrap{
      padding: 10px 0;
      text-align: center;
    }

    &:not(.rd-navbar-fixed){
      .rd-navbar-nav{
        padding-left: 15px;
        padding-right: 15px;
      }
      .rd-navbar-nav > li {

        & + li{
          margin-left: 12px;
        }

        > a {
          padding: 9px 12px;
          transition: .2s;
          color: $gray-darker;

          .label{
            right: -6px;
            top: -6px;
          }

          &:after{
            height: 100%;
            left: 0;
            width: 100%;
            z-index: -1;
            opacity: 0;
            border-radius: 4px;
            transition: .2s;
          }

          &:hover{
            color: $white;

            &:after{
              opacity: 1;
            }
          }
        }

        &.active > a{
          color: $white;

          &:after{
            opacity: 1;
          }
        }
      }
    }

    &.rd-navbar-static,
    &.rd-navbar-fullwidth{
      .rd-navbar-search{

        .rd-navbar-search-form{
          position: relative;
          transform: none;
          visibility: visible;
          opacity: 1;
          font-size: 15px;
          z-index: 9;

          label{
            display: none;
          }
        }

        .rd-navbar-search-form-input{
          background-color: $gray-base;
          border: none;
          border-radius: 4px;
          min-width: 270px;
          color: $gray-darker;
          padding: 7px 40px 9px 20px;


          &::-webkit-input-placeholder {color:$gray-darker;}
          &:-ms-input-placeholder      {color:$gray-darker;}
        }

        .rd-navbar-search-toggle{
          display: none;
        }

        .rd-navbar-search-form-submit{
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: 24px;
          color: $gray-darker;
          &:hover{
            color: $gray-dark;
          }
        }
      }

      .rd-navbar-nav > li > .rd-navbar-dropdown,
      .rd-navbar-nav > li > .rd-navbar-dropdown{
        margin-top: 10px;
      }
    }

    .rd-navbar-contact-info{
      z-index: 9;
      margin-bottom: 0;
      .icon{
        margin: 0 5px;
        &.icon-xs{
          font-size: 15px;
        }
      }
      a{
        color: inherit;
        transition: .3s;
        &:hover{
          color: $gray-dark;
        }
      }
    }

    .rd-navbar-shop{
      display: none;
    }

    &.rd-navbar--is-stuck{
      .rd-navbar-panel{
        display: none;
      }
      .rd-navbar-inner{
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &.light-theme{
      background-color: #212121;

      .rd-navbar-nav-wrap{
        background-color: $white;
      }
    }

    &.dark-theme{
      background-color: #212121;

      .rd-navbar-nav-wrap{
        background-color: #191919;
      }
    }
  }

  &.navbar-floated{
    max-width: 1170px;
    top: 31px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: 0s !important;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.25);

    &.rd-navbar-fullwidth{
      top: 0;
      border-radius: 0;

      .rd-navbar-nav-wrap{
        padding-top: 0;
      }
    }

    &.rd-navbar-fixed{
      .rd-navbar-inner {
        padding: 0;
      }

      .rd-navbar-nav-wrap{
        padding-top: 0;
      }
    }

    .rd-navbar-megamenu{
      width: 100%;
      left: 0;
    }
    .rd-navbar-inner{
      padding: 11px 11px 17px 24px;
      margin: 0;
    }

    &.rd-navbar-static{

      &.rd-navbar--is-stuck{
        .rd-navbar-inner{
          padding-top: 1px;
        }
      }


      .rd-navbar-search{
        &-form{
          padding-left: 2.1%;
          padding-right: 15%;

          &-input{
            font-size: 24px;
          }
        }

        label{
          top: 8px;
          font-size: 14px;
        }
      }
    }

    .rd-navbar-nav-wrap{
      padding-top: 9px;
    }

    &.rd-navbar--is-stuck{

      .rd-navbar-inner{
        margin: 0;
      }
    }
  }

  &.sidebar-icons{
    &.light-theme{

      .rd-navbar-nav{
        li.active{
          > a{
            background-color: $brand-primary;
          }
          &:hover{
            > a{
              background-color: $brand-primary;
            }
          }
        }

        li.opened{
          > a{
            background-color: $gray-lighter;
          }
          &:hover{
            > a{
              background-color: $gray-lighter;
            }
          }
        }
      }

      @media (min-width: $screen-md-min) {

        .rd-navbar-nav{

          > li {

            &.active{

              > a{
                background-color: transparent;
                color: $gray-base;
              }

              &:hover{

                > a{
                  background-color: transparent;
                  color: $gray-base;
                }
              }
            }

            &:hover{

              > a{
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    &.dark-theme{
      .rd-navbar-nav{
        li.active{
          > a{
            background-color: #212121;
          }
          &:hover{
            > a{
              background-color: #212121;
            }
          }
        }

        li.opened{
          > a{
            background-color: #212121;
          }
          &:hover{
            > a{
              background-color: #212121;
            }
          }
        }
      }

      @media (min-width: $screen-md-min) {
        .rd-navbar-nav{
          > li{
            > a{
              background-color: transparent;
              color: $gray-darker;
            }

            &:hover{
              > a{
                background-color: transparent;
                color: $white;
              }
            }

            &.active{
              &:hover{
                > a{
                  background-color: transparent;
                  color: $white;
                }
              }
            }

            li.opened{
              > a{
                background-color: transparent;
              }
              &:hover{
                > a{
                  background-color: transparent;
                }
              }
            }

            &.focus{
              > a{
                color: $white;
              }
            }
          }
          .rd-navbar-dropdown {
            li{
              a{
                color: $gray-darker;
              }
              &:hover{
                color: $white;
              }
            }
          }
        }
      }
    }

    .rd-navbar-panel{
      height: 64px;
      width: 100%;
      padding: 0;
    }

    .rd-navbar-toggle{
      z-index: 999;
    }

    .rd-navbar-toggle{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
    }

    .rd-navbar-brand{
      position: absolute;
      left: 0;
      width: 100%;
      display: inline-block;
      margin-top: 0;

      a{
        padding-left: 0;

        img{
          margin-top: 10px;
        }
      }
    }

    .rd-navbar-nav{
      li{
        .icon{
          display: none;
        }
        &.focus{
          .rd-navbar-dropdown,
          .rd-navbar-megamenu{
            display: none;
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }

    .rd-navbar-shop{
      right: $rd-navbar-fixed-icons-panel-width;
      top: 0;

      @include display-flex();
      @include justify-content(center);
      @include align-items(center);
      @include transform(none);

      height: $rd-navbar-fixed-icons-panel-width - 32px;
      width: $rd-navbar-fixed-icons-panel-width - 32px;
      margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

      &:hover{
        color: $brand-primary;
      }

      &:before{
        height: auto;
        width: auto;
        line-height: 1;
        position: static;
      }
    }

    .rd-navbar-shop{
      font-size: 28px;
    }

    .rd-navbar-search{

      &.active{
        .rd-navbar-search-form-input{

        }
      }

      .form-group{
        position: fixed;
        height: 40px;
        right: ($rd-navbar-fixed-icons-panel-width - 40px) / 2;
      }

      &-toggle{
        position: fixed;
        bottom: auto;
        right: 0;
        top: 0;
        padding: 0;

        @include display-flex();
        @include justify-content(center);
        @include align-items(center);

        height: $rd-navbar-fixed-icons-panel-width - 32px;
        width: $rd-navbar-fixed-icons-panel-width - 32px;
        margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

        font-family: "Material Design Icons";

        &:hover{
          color: $brand-primary;
        }

        &:before{
          content: '\f43b';
          font-size: 28px;
          height: auto;
          width: auto;
          line-height: 1;
          position: static;
        }
      }

      &-form{
        top: $rd-navbar-fixed-icons-panel-width;
        height: 64px;
        right: 0;
        left: auto;
        bottom: auto;

        &-input{
          z-index: auto;
          position: static;
          background-color: $white;
        }
        &-submit{
          @include transform(none);
          width: auto;
          height: 40px;
          position: absolute;
          right: 0;
          top: 0;
          line-height: 40px;
        }
      }
    }

    @media (min-width: $screen-md-min) {

      .rd-navbar-panel{
        width: 64px;
        height: 100%;
        padding: 0;
      }

      .rd-navbar-nav-wrap{
        width: 64px;
        position: absolute;
        height: 100vh;
      }

      .rd-navbar-shop{
        font-size: 28px;
      }

      .rd-navbar-nav{
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        overflow: visible;
        width: $rd-navbar-fixed-icons-panel-width;
        height: auto;
        z-index: 1000;

        > li{
          position: relative;

          .rd-navbar-submenu-toggle{
            display: none;
          }

          .icon{
            display: inline-block !important;
          }

          &.focus{
            .rd-navbar-megamenu {
              top: $rd-navbar-fixed-icons-panel-width;
              opacity: 1;
              visibility: visible;
            }
            .rd-navbar-nav-title {
              left: calc(100% + 16px);
              opacity: 1;
              visibility: visible;
            }
            > .rd-navbar-dropdown {
              top: calc(100% + 9px);
              opacity: 1;
              visibility: visible;
            }
            a{
              &:after{
                height: 100%;
                top: 0;
              }
            }
          }

          &.active{
            a:after{
              height: 100%;
              top: 0;
            }
          }

          > .rd-navbar-dropdown{
            position: absolute;
            left: 79px;
            top: calc(100% + 19px);
            height: auto;
            opacity: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0;
            visibility: hidden;
            background-color: #212121;
            overflow: visible;
            transition: .3s;
            min-width: 170px;

            &:before{
              content: "";
              position: absolute;
              top: 0;
              left: 10px;
              transform: translateY(-100%);
              border-style: solid;
              border-width: 0 10px 9px 10px;
              border-color: transparent transparent #212121 transparent;
            }

            li{
              a{
                padding: 11px 25px;
                white-space: nowrap;
                line-height: 1.2;
              }
              &:hover{
                > a{
                  background-color: transparent;
                  color: $white;
                }
              }
              &.focus{
                > .rd-navbar-dropdown {
                  left: calc(100% + 13px);
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            .rd-navbar-dropdown{
              position: absolute;
              top: 0;
              left: calc(100% + 20px);
              height: auto;
              margin: 0;
              min-width: 170px;
              padding-top: 10px;
              padding-bottom: 10px;
              opacity: 0;
              visibility: hidden;
              overflow: visible;
              transition: .3s;
              background-color: #212121;

              &:before{
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                @include transform(translateX(-100%));
                border-style: solid;
                border-width: 10px 9px 10px 0;
                border-color: transparent #212121 transparent transparent;
              }
            }
          }

          .rd-navbar-megamenu{
            position: absolute;
            height: auto;
            top: $rd-navbar-fixed-icons-panel-width + 25px;
            left: $rd-navbar-fixed-icons-panel-width + 15px;
            width: 800px;
            opacity: 0;
            transition: .3s;
            visibility: hidden;
            overflow: visible;

            &:before{
              content: "";
              position: absolute;
              top: 0;
              left: 10px;
              transform: translateY(-100%);
              border-style: solid;
              border-width: 0 10px 9px 10px;
              border-color: transparent transparent #212121 transparent;
            }

            > ul{
              display: table;
              table-layout: fixed;
              padding: 20px 10px;
              background-color: #212121;

              > li {
                display: table-cell;
              }
            }
          }

          > a{
            position: relative;
            padding: 11px;
            text-align: center;
            transition: .3s;

            &:after{
              position: absolute;
              top: 50%;
              left: 0;
              height: 0;
              width: 3px;
              content: '';
              transition: .3s;
              @include bg-variant-custom('.bg-mantis', linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
            }

            .icon{
              font-size: 28px;
              vertical-align: middle;
            }

            .rd-navbar-nav-title{
              position: absolute;
              top: 50%;
              left: calc(100% + 30px);
              transform: translateY(-50%);
              margin-top: 0;
              transition: .3s;
              opacity: 0;
              visibility: hidden;
              background-color: #212121;
              color: $white;
              padding: 3px 32px;
              box-shadow: 0 3px 11px 0 rgba(0,0,0,.25);
              &:before{
                content: "";
                position: absolute;
                top: 50%;
                left: -9px;
                transform: translateY(-50%);
                border-style: solid;
                border-width: 10px 9px 10px 0;
                border-color: transparent #212121 transparent transparent;
              }
            }

            &:hover{
              .rd-navbar-nav-title {
                left: calc(100% + 16px);
                opacity: 1;
                visibility: visible;
              }
            }
          }
          &:hover{
            > a{
              background-color: transparent;

              &:after{
                height: 100%;
                top: 0;
              }
            }
          }
        }
      }

      .rd-navbar-brand{
        display: inline-block;
        width: auto;
        height: 64px;
        padding-left: 0;

        a{
          display: inline-block;
        }
      }

      .rd-navbar-shop{
        right: auto;
        left: 0;
        bottom: 64px;
        top: auto;

        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        @include transform(none);

        height: $rd-navbar-fixed-icons-panel-width - 32px;
        width: $rd-navbar-fixed-icons-panel-width - 32px;
        margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

        &:before{
          height: auto;
          width: auto;
          line-height: 1;
          position: static;
        }
      }

      .rd-navbar-search{

        &.active{
          .rd-navbar-search-form-input{

          }
        }

        .form-group{
          position: fixed;
          bottom: ($rd-navbar-fixed-icons-panel-width - 40px) / 2;
          left: 64px;
          right: initial;

          height: 40px;
        }

        &-toggle{
          position: fixed;
          top: auto;
          bottom: 0;
          left: 0;
          padding: 0;

          @include display-flex();
          @include justify-content(center);
          @include align-items(center);

          height: $rd-navbar-fixed-icons-panel-width - 32px;
          width: $rd-navbar-fixed-icons-panel-width - 32px;
          margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

          font-family: "Material Design Icons";

          &.active{
            &:before{
              @include transform(translate(-50%,-50%) scale(0));
              opacity: 0;
            }
            &:after{
              @include transform(translate(-50%,-50%) scale(1));
              opacity: 1;
            }
          }

          &:hover{
            color: $brand-primary;
          }

          &:before,
          &:after{
            position: absolute;
            top: 50%;
            left: 50%;

            height: auto;
            width: auto;

            font-size: 28px;
            line-height: 1;
            transition: 0.3s;
            transition-delay: 0s;
          }

          &:before{
            content: '\f43b';
            @include transform(translate(-50%,-50%) scale(1));
            opacity: 1;
          }
          &:after{
            content: '\f69a';
            @include transform(translate(-50%,-50%) scale(0));
            opacity: 0;
          }
        }

        &-form{
          left: 64px;
          top: auto;
          height: 64px;
          bottom: 0;
          right: auto;

          &-input{
            z-index: auto;
            position: static;
            background-color: $white;
          }
          &-submit{
            @include transform(none);
            width: auto;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 40px;
          }
        }
      }

      &.rd-navbar-fixed{

        .rd-navbar-toggle{
          display: none;
        }
      }

    }
  }

  &.fixed-icons{
    &.light-theme{

      .rd-navbar-nav{

        > li {

          &.active{

            > a{
              background-color: $gray-lighter;
              color: $gray-base;
            }

            &:hover{

              > a{
                background-color: $gray-lighter;
                color: $gray-base;
              }
            }
          }

          &:hover{

            > a {
              background-color: $gray-lighter;
              color: $gray-base;
            }
          }
        }
      }

      @media (min-width: $screen-md-min) {
        .rd-navbar-nav{

          > li {

            &.active{

              > a{
                background-color: transparent;
                color: $gray-base;
              }

              &:hover{

                > a{
                  background-color: transparent;
                  color: $gray-base;
                }
              }
            }

            &:hover{

              > a{
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    &.dark-theme{

      .rd-navbar-nav{
        li.opened > a{
          background-color: #212121;
          color: $white;
        }

        > li{
          &:hover{
            > a{
              background-color: #212121;
              color: $white;
            }
          }

          &.active,
          &.opened{
            > a{
              background-color: #212121;
              color: $white;
            }
            &:hover{
              > a{
                background-color: #212121;
                color: $white;
              }
            }
          }
          &.focus{
            > a{
              color: $white;
            }
          }
        }
        .rd-navbar-dropdown {
          li{
            a{
              color: $gray-darker;
            }
            &:hover{
              color: $white;
            }
          }
        }
      }

      @media (min-width: $screen-md-min) {
        .rd-navbar-nav{
          > li{
            > a{
              background-color: transparent;
              color: $gray-darker;

              .label{
                position: absolute;
                left: 50%;
                @include transform(translateX(-50%));
              }
            }

            &:hover{
              > a{
                background-color: transparent;
                color: $white;
              }
            }

            &.active{
              > a{
                background-color: transparent;
                color: $white;
              }
              &:hover{
                > a{
                  background-color: transparent;
                  color: $white;
                }
              }
            }
            &.focus{
              > a{
                color: $white;
              }
            }
          }
          .rd-navbar-dropdown {
            li{
              a{
                color: $gray-darker;
              }
              &:hover{
                color: $white;
              }
            }
          }
        }
      }
    }

    .rd-navbar-panel{
      height: 64px;
      width: 100%;
      padding: 0;
    }

    .rd-navbar-toggle{
      z-index: 999;
    }

    .rd-navbar-toggle{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
    }

    .rd-navbar-brand{
      position: absolute;
      left: 0;
      width: 100%;
      display: inline-block;
      margin-top: 0;

      a{
        padding-left: 0;

        img{
          margin-top: 10px;
        }
      }
    }

    .rd-navbar-nav{
      li{
        .icon{
          display: none;
        }

        &.focus{
          .rd-navbar-dropdown,
          .rd-navbar-megamenu{
            display: none;
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }

    .rd-navbar-shop{
      right: $rd-navbar-fixed-icons-panel-width;
      top: 0;

      @include display-flex();
      @include justify-content(center);
      @include align-items(center);
      @include transform(none);

      height: $rd-navbar-fixed-icons-panel-width - 32px;
      width: $rd-navbar-fixed-icons-panel-width - 32px;
      margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

      &:hover{
        color: $brand-primary;
      }

      &:before{
        height: auto;
        width: auto;
        line-height: 1;
        position: static;
      }
    }

    .rd-navbar-shop{
      font-size: 28px;
    }

    .rd-navbar-search{

      &.active{
        .rd-navbar-search-form-input{

        }
      }

      .form-group{
        position: fixed;
        height: 40px;
        right: ($rd-navbar-fixed-icons-panel-width - 40px) / 2;
      }

      &-toggle{
        position: fixed;
        bottom: auto;
        right: 0;
        top: 0;
        padding: 0;

        @include display-flex();
        @include justify-content(center);
        @include align-items(center);

        height: $rd-navbar-fixed-icons-panel-width - 32px;
        width: $rd-navbar-fixed-icons-panel-width - 32px;
        margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

        font-family: "Material Design Icons";

        &:hover{
          color: $brand-primary;
        }

        &:before{
          content: '\f43b';
          font-size: 28px;
          height: auto;
          width: auto;
          line-height: 1;
          position: static;
        }
      }

      &-form{
        top: $rd-navbar-fixed-icons-panel-width;
        height: 64px;
        right: 0;
        left: auto;
        bottom: auto;

        &-input{
          z-index: auto;
          position: static;
          background-color: $white;
        }
        &-submit{
          @include transform(none);
          width: auto;
          height: 40px;
          position: absolute;
          right: 0;
          top: 0;
          line-height: 40px;
        }
      }
    }

    @media (min-width: $screen-md-min) {
      .rd-navbar-nav-wrap{
        height: 64px;
        position: absolute;
        width: 100vh;
      }

      .rd-navbar-nav{
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        overflow: visible;
        height: $rd-navbar-fixed-icons-panel-width;
        width: auto;
        z-index: 1000;

        &:before{
          display: none;
        }

        > li{
          position: relative;
          display: inline-block;
          height: 100%;

          & + li{
            margin-top: 0;
          }

          .icon{
            display: inline-block !important;
          }

          .rd-navbar-submenu-toggle{
            display: none;
          }

          &.active{
            > a{
              background-color: transparent;

              &:after{
                width: 100%;
                left: 0;
              }
            }
          }

          &.focus{
            .rd-navbar-megamenu {
              top: 142px;
              opacity: 1;
              visibility: visible;
            }
            .rd-navbar-nav-title {
              top: calc(100% + 19px);
              opacity: 1;
              visibility: visible;
            }
            > .rd-navbar-dropdown {
              top: 140px;
              opacity: 1;
              visibility: visible;
            }
            a{
              &:after{
                width: 100%;
                left: 0;
              }
            }
          }

          > .rd-navbar-dropdown{
            position: absolute;
            @include transform(translateX(-50%));
            left: 50%;
            top: 120px;
            height: auto;
            opacity: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0;
            visibility: hidden;
            background-color: #212121;
            overflow: visible;
            transition: .3s;
            min-width: 170px;

            &:before{
              content: "";
              position: absolute;
              top: 0;

              @include transform(translate(-50%, -100%));
              left: 50%;
              border-style: solid;
              border-width: 0 10px 9px 10px;
              border-color: transparent transparent #212121 transparent;
            }

            li{
              a{
                text-align: center;
                padding: 11px 25px;
                white-space: nowrap;
                line-height: 1.2;
              }
              &:hover{
                > a{
                  background-color: transparent;
                  color: $white;
                }
              }
              &.focus{
                .rd-navbar-dropdown {
                  left: calc(100% + 13px);
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            .rd-navbar-dropdown{
              position: absolute;
              top: 0;
              left: calc(100% + 20px);
              height: auto;
              margin: 0;
              min-width: 170px;
              padding-top: 10px;
              padding-bottom: 10px;
              opacity: 0;
              visibility: hidden;
              overflow: visible;
              transition: .3s;
              background-color: #212121;

              &:before{
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                @include transform(translateX(-100%));
                border-style: solid;
                border-width: 10px 9px 10px 0;
                border-color: transparent #212121 transparent transparent;
              }
            }
          }

          .rd-navbar-megamenu{
            position: absolute;
            height: auto;
            top: 122px;
            left: 0;
            width: 800px;
            opacity: 0;
            transition: .3s;
            visibility: hidden;
            overflow: visible;

            &:before{
              content: "";
              position: absolute;
              top: 0;
              left: 10px;
              transform: translateY(-100%);
              border-style: solid;
              border-width: 0 10px 9px 10px;
              border-color: transparent transparent #212121 transparent;
            }

            > ul{
              display: table;
              table-layout: fixed;
              padding: 20px 10px;
              background-color: #212121;

              > li {
                display: table-cell;
              }
            }
          }

          > a{
            position: relative;
            padding: 15px 14px;
            text-align: center;
            transition: .3s;

            &:after{
              position: absolute;
              left: 50%;
              bottom: 0;
              top: auto;
              width: 0;
              height: 3px;
              content: '';
              transition: .3s;
              @include bg-variant-custom('.bg-mantis', linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
            }

            .icon{
              font-size: 28px;
              vertical-align: middle;
            }

            .rd-navbar-nav-title{
              position: absolute;
              @include transform(translateX(-50%));
              left: 50%;
              margin-top: 0;
              top: 100%;
              padding: 3px 32px;
              transition: .3s;
              opacity: 0;
              visibility: hidden;
              box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.25);
              color: $white;
              background-color: #212121;

              &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -80%);
                border-style: solid;
                border-width: 0 10px 9px 10px;
                border-color: transparent transparent #212121 transparent;
              }
            }

            &:hover{
              .rd-navbar-nav-title {
                top: calc(100% + 19px);
                opacity: 1;
                visibility: visible;
              }
            }
          }
          &:hover{
            > a{
              background-color: transparent;

              &:after{
                width: 100%;
                left: 0;
              }
            }
          }
        }
      }

      .rd-navbar-brand{
        display: inline-block;
        width: auto;
        height: 64px;
        padding-left: 0;

        a{
          display: inline-block;
        }
      }


      &.rd-navbar-fixed{
        .rd-navbar-toggle{
          display: none;
        }
      }
    }
  }

  &.fixed-toggle{
    box-shadow: 0 3px 0 11px rgba(0,0,0,.25);

    &.light-theme{
      .rd-navbar-toggle {
        position: fixed;
        right: 0;
        top: 0;
        width: $rd-navbar-fixed-icons-panel-width;
        height: $rd-navbar-fixed-icons-panel-width;
      }
      .rd-navbar-nav{
        .rd-navbar-submenu-toggle{
          &:after{
            color: $gray-darker;
          }
        }

        li{

          a{
            color: $gray-darker;
          }

          &:hover{
            a{
              color: $gray-darker;
            }
          }

          &.active{
            > a{
              color: $white;
              background-color: #212121;
            }
            &:hover{
              > a {
                color: $white;
                background-color: #212121;
              }
            }

          }
          &.opened{
            > a{
              background-color: #f2f2f2;
              color: $gray-darker;
            }
          }
        }
      }

      .rd-navbar-toggle{
        span,
        span:before,
        span:after{
          height: 3px;
          border-radius: 0;
        }
      }
      .rd-navbar-shop{
        right: $rd-navbar-fixed-icons-panel-width;
      }

      .rd-navbar-search{
        &-form{
          @media (min-width: $screen-xs-min) {
            pointer-events: all;
            opacity: 1;
            visibility: visible;
          }
          z-index: 1001;

          &.active{
            pointer-events: all;
            opacity: 1;
            visibility: visible;
            @media (min-width: $screen-xs-min) {
              pointer-events: none;
              opacity: 0;
              visibility: hidden;
            }
          }

          &-submit{
            color: $gray-darker;
          }
        }

        .form-group{
          position: fixed;
          height: 40px;
          right: 50%;
          top: $rd-navbar-fixed-icons-panel-width;
          @include transform(translateX(50%));

          @media (min-width: $screen-xs-min) {
            right: ($rd-navbar-fixed-icons-panel-width * 2) + 16px;
            @include transform(none);
            top: 12px;
          }
        }

        .rd-navbar-search-form-input{
          border: none;
          background-color: #f5f5f5;
          color: $gray-darker;
          min-width: 260px;

          &::-webkit-input-placeholder {color: $gray-darker;}
          &:-ms-input-placeholder      {color: $gray-darker;}
        }
      }

      .rd-navbar-search-toggle{
        right: $rd-navbar-fixed-icons-panel-width * 2;
        @media (min-width: $screen-xs-min) {
          display: none;
        }
      }

    }

    &.dark-theme{
      .rd-navbar-panel:before{
        background-color: #212121;
      }
      .rd-navbar-nav{
        > li,
        li{

        }
      }
    }

    .rd-navbar-panel{
      height: 64px;
      width: 100%;
      padding: 0;
    }

    .rd-navbar-search{
      &-toggle{
        font-family: "Material Design Icons";

        &.active{
          &:before{
            @include transform(scale(0));
            opacity: 0;
          }
          &:after{
            @include transform(scale(1));
            opacity: 1;
          }
        }

        &:hover{
          color: $brand-primary;
        }

        &:before,
        &:after{
          position: absolute;
          font-size: 28px;
          height: auto;
          width: auto;
          transition: 0.3s;
          transition-delay: 0s;
          line-height: $rd-navbar-fixed-icons-panel-width - 32px;
        }

        &:before{
          content: '\f43b';
          @include transform(scale(1));
          opacity: 1;
        }
        &:after{
          content: '\f69a';
          @include transform(scale(0));
          opacity: 0;
        }
      }
    }

    .rd-navbar-nav{
      left: auto;
      right: 0;
      width: 279px;
      @include transform(translateX(279px));
      padding-left: 10px;
      padding-right: 10px;

      .rd-navbar-submenu-toggle::after{
        color: $gray-darker;
      }

      > li,
      li{
        a,
        > a{
          color: $gray-darker;

          .icon{
            display: none;
          }
        }

        &:hover{
          > a{
            color: $white;
            background-color: #212121;
          }
        }

        &.active{
          > a{
            color: $white;
            background-color: #212121;
          }
          &.opened{
            > a{
              background-color: #212121;
              color: $white;
            }
          }
        }
        &.opened{
          > a{
            color: $white;
            background-color: #212121;
          }
        }
      }
      &:before{
        height: 64px;
      }
    }

    .rd-navbar-brand{
      display: inline-block;
      width: auto;
      height: 64px;
      padding-left: 0;
      margin-top: 0;

      a{
        display: inline-block;
        padding-left: 0;

        img{
          margin-top: 10px;
        }
      }
    }

    .rd-navbar-shop{
      right: $rd-navbar-fixed-icons-panel-width * 2;
      top: 0;

      @include display-flex();
      @include justify-content(center);
      @include align-items(center);
      @include transform(none);

      height: $rd-navbar-fixed-icons-panel-width - 32px;
      width: $rd-navbar-fixed-icons-panel-width - 32px;
      margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

      font-size: 28px;

      &:hover{
        color: $brand-primary;
      }

      &:before{
        height: auto;
        width: auto;
        line-height: 1;
        position: static;
      }
    }

    .rd-navbar-toggle{
      position: fixed;
      right: 0;
      top: 0;
      width: $rd-navbar-fixed-icons-panel-width;
      height: $rd-navbar-fixed-icons-panel-width;

      &.active{
        span:before{
          top: 0;
        }
        span:after{
          top: 0;
        }
      }

      span,
      span:before,
      span:after{
        height: 3px;
        border-radius: 0;
      }
      span:before{
        top: -7px;
      }
      span:after{
        top: 7px;
      }
    }

    .rd-navbar-search{

      &.active{
        .rd-navbar-search-form-input{

        }
      }

      .form-group{
        position: fixed;
        height: 40px;
        right: ($rd-navbar-fixed-icons-panel-width - 40px) / 2;
      }

      &-toggle{
        position: fixed;
        bottom: auto;
        right: $rd-navbar-fixed-icons-panel-width;
        top: 0;
        padding: 0;

        @include display-flex();
        @include justify-content(center);
        @include align-items(center);

        height: $rd-navbar-fixed-icons-panel-width - 32px;
        width: $rd-navbar-fixed-icons-panel-width - 32px;
        margin: $rd-navbar-fixed-icons-panel-width - (12px * 4);

        font-family: "Material Design Icons";

        &:hover{
          color: $brand-primary;
        }

        &:before{
          content: '\f43b';
          font-size: 28px;
          height: auto;
          width: auto;
          line-height: 1;
          position: static;
        }
      }

      &-form{
        top: $rd-navbar-fixed-icons-panel-width;
        height: 64px;
        right: 0;
        left: auto;
        bottom: auto;

        &-input{
          z-index: auto;
          position: static;
          background-color: $white;
        }
        &-submit{
          @include transform(none);
          width: auto;
          height: 40px;
          position: absolute;
          right: 0;
          top: 0;
          line-height: 40px;
        }
      }
    }

  }

  &.static-position{
    position: relative;
    box-shadow: none;

    .rd-navbar-inner{
      transition-delay: 0s;
    }

    &.rd-navbar--is-stuck{
      position: fixed;
      z-index: 999;
    }
  }
}

@media (min-width: $screen-md-min) {
  .rd-navbar-fixed-min{
    body{
      padding-top: 0;
      padding-left: $rd-navbar-fixed-icons-panel-width;
    }
  }
}
