// Compatibility with Third-Party Scripts
section.section-98.bg-blue-gray.context-dark
  .shell
    h1 Compatibility with Third-Party Scripts
    hr.divider.bg-white
    .range.range-xs-center.offset-top-50
      .cell-md-8
        p.inset-left-7p.inset-right-7p RD Mailform is compatible with third-party scripts. Thanks to such a feature, you can extend its functionality the way you like.
        a(href=cfg.buyLink).btn.btn-lg.btn-default.btn-anis-effect.btn-icon.btn-icon-left.offset-top-41
          span.icon.mdi.mdi-cart-outline
          | Buy intense now