// Get In Touch
section
  .shell
    .range.range-xs-center
      .cell-sm-9.cell-md-8.cell-lg-12
        .range
          .cell-lg-8
            h1.text-between Get In Touch
            hr.divider.bg-mantis
            .text-left.offset-top-30
              p You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form on the right or visit our office personally.
              p Email us with any questions or inquiries or use our contact data. We would be happy to answer your questions.
            // RD Mailform
            form.rd-mailform.text-left.offset-top-50(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .range
                .cell-lg-6
                  .form-group
                    label.form-label.form-label-outside(for="contacts-first-name") First Name
                    input#contacts-first-name.form-control(type="text" name="name" data-constraints="@Required")

                .cell-lg-6.offset-top-20.offset-lg-top-0
                  .form-group
                    label.form-label.form-label-outside(for="contacts-second-name") Second Name
                    input#contacts-second-name.form-control(type="text" name="name" data-constraints="@Required")

                .cell-lg-6.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contacts-email") E-mail
                    input#contacts-email.form-control(type="email" name="email" data-constraints="@Required @Email")

                .cell-lg-6.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contacts-phone") Phone
                    input#contacts-phone.form-control(type="text" name="name" data-constraints="@Required")

                .cell-lg-12.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contact-me-message") Message
                    textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 160px;")
              .range.range-xs-center.range-lg-left.offset-top-30
                .cell-xs-5.cell-sm-4.cell-lg-3
                  .inset-left-50.inset-right-50.inset-xs-left-0.inset-xs-right-0.inset-lg-right-50
                    button(type="submit").btn.btn-block.btn-primary Send
          .cell-lg-4.text-left.offset-top-66.offset-lg-top-0
            div
              p.text-darker.text-uppercase.text-bold follow us
            div.text-subline.offset-top-10
            ul.list-inline.list-inline-sm.list-inline-white.offset-top-30.text-darker
              li.h6.offset-top-0
                span.big
                  a.text-dark(href="#" class="fa fa-facebook")
              li.h6.offset-top-0
                span.big
                  a.text-dark(href="#" class="fa fa-twitter")
              li.h6.offset-top-0
                span.big
                  a.text-dark(href="#" class="fa fa-google-plus")
              li.h6.offset-top-0
                span.big
                  a.text-dark(href="#" class="fa fa-pinterest")
              li.h6.offset-top-0
                span.big
                  a.text-dark(href="#" class="fa fa-vimeo")
              li.h6.offset-top-0
                span.big
                  a.text-dark(href="#" class="fa fa-youtube")
              li.h6.offset-top-0
                span.big
                  a.text-dark(href="#" class="fa fa-linkedin")

            div.offset-top-41
              p.text-darker.text-uppercase.text-bold Phone
            div.text-subline.offset-top-10
            div
              p.offset-top-20
                a(href="callto:#") 1-800-1324-567
            div
              p
                a(href="callto:#") 1-800-9875-321

            div.offset-top-50
              p.text-darker.text-uppercase.text-bold e-mail
            div.text-subline.offset-top-10
            div.offset-top-20
              p
                a.text-primary(href="mailto:#") info@demolink.org

            div.offset-top-50
              p.text-darker.text-uppercase.text-bold shop address
            div.text-subline.offset-top-10
            div.offset-top-20
              p 9870 St Vincent Place, Glasgow, DC 45 Fr 45.

            div.offset-top-50
              p.text-darker.text-uppercase.text-bold Open hours
            div.text-subline.offset-top-10
            div.offset-top-20
              p 9:00–19:00 Mon–Sat
  .offset-top-124
    +rd-map({
      "zoom": "14",
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "dataStyles": [{
        "featureType": "landscape",
        "stylers": [{"saturation": -100}, {"lightness": 60}]
      }, {
        "featureType": "road.local",
        "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
      }, {
        "featureType": "transit",
        "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
      }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
        "featureType": "water",
        "stylers": [{"visibility": "on"}, {"lightness": 30}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#ef8c25"}, {"lightness": 40}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [{"visibility": "off"}]
      }, {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#b6c54c"}, {"lightness": 40}, {"saturation": -40}]
      }, {}]
    },[{
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
    }])