//- Includes
include ../elements/_ui-member-block-type-2

// Who i Am
section.section-98.section-sm-110
  .shell
    h1 Who i Am
    hr.divider.bg-mantis
    .range.range-xs-center.offset-top-20
      .cell-sm-9.cell-md-6
        +member-block-type-2("#", "images/users/user-eugene-newman-140x140.jpg", "Hello! My name is Eugene Newman, <br/> and i'm in love with design", "I am a jack of all trades when it comes to web design, app development and content marketing. With 12 years of experience I am proud to be called a web designer.")
        ul.list-inline.list-inline-lg.list-inline-dashed.list-inline-dashed-wide.list-inline-picton-blue
          li.big
            a.text-bold.text-uppercase.fa-facebook-f(href='#') #[span.veil.reveal-md-inline-block Facebook]
          li.big
            a.text-bold.text-uppercase.fa-twitter(href='#') #[span.veil.reveal-md-inline-block Twitter]
          li.big
            a.text-bold.text-uppercase.fa-instagram(href='#') #[span.veil.reveal-md-inline-block Instagram]