// 200+ PSD Included
section.section-98.section-sm-41.bg-lighter
  .shell
    .range.range-xs-center.text-sm-left
      .cell-sm-10.cell-md-8.cell-lg-6
        .inset-sm-left-30.inset-lg-left-0
          // Unit SM
          .unit.unit-sm.unit-sm-horizontal
            .unit-left
              img.img-responsive.center-block(src="images/features/home-intro-03-99x100.png" width="99" height="100" alt="")
            .unit-body
              .offset-lg-top-10
                h1 200+ PSD Included
              p.offset-top-10 Get all template design sources used in project just for free