// Right Plan
section.section-66.bg-gray-darkest.context-dark
  .shell
    h2 Not Sure Which Plan is Right For You?
    p If you are in doubt of which plan to opt for, subscribe to our newsletter and we will try to help you make the right decision.
    a.btn.btn-primary.btn-icon.btn-icon-left.offset-top-20(href= cfg.nav.pages.submenu.contactUs.href)
      span.icon.mdi.mdi-email-outline
      | Send us a letter