// section compatible facebook scripts
section.section-98.section-sm-top-66.section-sm-bottom-0.bg-lighter
  .shell
    .range
      .cell-lg-6.cell-lg-push-2
        .range.range-xs-center.offset-lg-top-66
          .cell-xs-10.cell-sm-6
            .unit
              .unit-left
                img.img-responsive.center-block(src="images/logos/logo-require-js.png" width="92" height="100" alt="")
              .unit-body
                h4.text-uppercase.text-bold Require.js
                p The script features AMD export support for seamless integration with Require.js.

          .cell-xs-10.cell-sm-6.offset-top-66.offset-sm-top-0
            .unit
              .unit-left
                img.img-responsive.center-block(src="images/logos/logo-jquery.png" width="103" height="100" alt="")
              .unit-body
                h4.text-uppercase.text-bold jQuery 1.11+
                p In order to set up RD Facebook Feed, and have it running properly on your site you will need to have jQuery 1.11+ installed.

      .cell-lg-6.cell-lg-push-1.offset-top-0.offset-sm-top-66.offset-lg-top-0
        .veil.reveal-sm-block(style="margin-right: -87px")
          img.img-responsive.center-block(src="images/features/rd-facebook-feed-02.png" width="667" height="415" alt="")