//- Includes
include ../elements/_ui-rd-parallax
// Complete integration with Charts and Graphs
.bg-gray-base.context-dark.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/backgrounds/background-50-1920x1200.jpg")
  .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
    .bg-overlay-gray-darkest
      section.context-dark
        .shell
          .range
            .range.range-xs-middle.range-xs-center.section-cover.section-110
              .cell-xs-12
                div
                  h1
                    span.big reCAPTCHA
                .range.range-xs-center.offset-top-0
                  .cell-md-8
                    .offset-top-20
                      h4.text-light Say no to spam messages with integrated Google Recapture tool. Now you can simply enable message filtering with one of the most effective spam filters so far and say good bye forever to unsolicited emails.
                .range.range-xs-center.offset-top-20.offset-xs-top-41.offset-md-top-66
                  .cell-xs-5.cell-sm-4.cell-md-3.text-sm-right.inset-sm-left-50
                    a(href=cfg.buyLink).btn.btn-block.btn-primary buy intense now