//Section Contact Info
section.bg-lighter.section-66
  .shell-wide
    .range.range-xs-center.text-sm-left
      .cell-xs-10.cell-sm-8.cell-md-12
        .range.range-xs-center
          .cell-xs-6.cell-md-3.cell-xl-2
            .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
              .unit-left
                span.icon.icon-xs.mdi.mdi-phone.text-primary(style="font-size: 26px")
              .unit-body
                h6 Phone
                .p
                  a.reveal-block(href="callto:1-800-1234-567") 1-800-1234-567
                  a.reveal-block(href="callto:1-800-6547-987") 1-800-6547-987
          .cell-xs-6.cell-md-3.cell-xl-2.offset-top-50.offset-xs-top-0
            .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
              .unit-left
                span.icon.icon-xs.mdi.mdi-email-open.text-primary(style="font-size: 26px")
              .unit-body
                h6 E-mail
                .p
                  a.reveal-block(href="mailto:info@demolink.org") info@demolink.org
          .cell-xs-6.cell-md-3.cell-xl-2.offset-top-50.offset-md-top-0
            .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
              .unit-left
                span.icon.icon-xs.mdi.mdi-map.text-primary(style="font-size: 26px")
              .unit-body
                h6 Address
                address.contact-info 213, New Lenox, Chicago, IL 60606
          .cell-xs-6.cell-md-3.cell-xl-2.offset-top-50.offset-md-top-0
            .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
              .unit-left
                span.icon.icon-xs.mdi.mdi-timelapse.text-primary(style="font-size: 26px")
              .unit-body
                h6 Open Hours
                div
                  p 8:00 – 19:00 Mon – Fri
                p.offset-top-0 9:00 – 17:00 Sat

