// Third-Party Scripts Support
section.section-98.bg-blue-gray.context-dark
  .shell
    .range.range-xs-center.range-xs-middle
      .cell-md-6.cell-lg-5.text-md-left
        h1 Various Menu Types
        hr.divider.hr-md-left-0.bg-white
        p.offset-top-50 With RD Navbar you can create all kind of navigation elements: dropdown, megamenu, tabmenu and a lot more.
        a.btn.btn-lg.btn-default.btn-icon.btn-icon-left.btn-anis-effect.offset-top-10(href= cfg.buyLink)
          span.icon.mdi.mdi-cart-outline
          | Buy intense now
      .cell-md-6.cell-lg-7
        img.img-responsive.veil.reveal-md-block(src="images/features/rd-navbar-02-676x359.png" width="676" height="359" alt="")