//Section Themes Filter
section.section-top-66.section-bottom-34
  .shell
    form.text-left
      h5.text-bold Your filters
      .range.range-xs-center.offset-top-0
        .cell-sm-6.cell-md-4
          .form-group
            label.form-label.form-label-outside(for="form-filter-location") Types:
            select.form-control(id="form-filter-location" name="location" data-minimum-results-for-search="Infinity")
              option(value="1") any
              option(value="2") HTML5 Website Templates
              option(value="3") WordPress Themes
              option(value="4") Joomla Templates
        .cell-sm-6.cell-md-4.offset-top-20.offset-sm-top-0
          .form-group
            label.form-label.form-label-outside(for="form-filter-property-status") Category:
            select.form-control(id="form-filter-property-status" name="property-status" data-minimum-results-for-search="Infinity")
              option(value="1") any
              option(value="2") Business & Services
              option(value="3") Fashion & Beauty
              option(value="4") Real Estate
              option(value="5") Creative
              option(value="6") Corporate
              option(value="7") Specialty Pages
              option(value="8") Retail
              option(value="9") Entertainment
              option(value="10") Personal
        .cell-sm-6.cell-md-4.offset-top-20.offset-md-top-0
          .form-group
            label.form-label.form-label-outside(for="form-filter-property-type") Sort By:
            select.form-control(id="form-filter-property-type" name="property-type" data-minimum-results-for-search="Infinity")
              option(value="1") Newest items
              option(value="2") Trending items
              option(value="3") Best sellers
              option(value="4") Best rated
              option(value="5") Price: low to high
              option(value="6") Price: high to low

        .range-spacer.offset-top-20.veil.reveal-md-flex

        .cell-sm-6.cell-md-6.offset-top-20.offset-md-top-0
          .range
            .cell-sm-6
              .form-group
                label.form-label.form-label-outside(for="form-filter-sorting") Date Range
                select.form-control(id="form-filter-sorting" name="sorting" data-minimum-results-for-search="Infinity")
                  option(value="1") Today (5)
                  option(value="2") Yesterday (4)
                  option(value="2") This Week (4)
                  option(value="2") Last Week (20)
                  option(value="2") This Month (4)
                  option(value="2") Last Month (103)
                  option(value="2") Last 6 Months (709)
                  option(value="2") Last Year (3224)
            .cell-sm-6.offset-top-20.offset-sm-top-0
              .form-group
                label.form-label.form-label-outside(for="form-filter-min-bath") Rating:
                select.form-control(id="form-filter-min-bath" name="min-bath" data-minimum-results-for-search="Infinity")
                  option(value="1") Show all
                  option(value="2") 1 star and higher
                  option(value="3") 2 star and higher
                  option(value="4") 3 star and higher
                  option(value="5") 4 star and higher
        .cell-sm-6.cell-md-3.offset-top-20.offset-md-top-0
          .form-group-multiple
            .form-group
              label.form-label.form-label-outside(for="form-filter-price-from")
                span.veil.reveal-sm-block Price (USD):
                span.veil-sm Price from (USD):
              input#form-filter-price-from.form-control(type="text" name="form-filter-price-from" data-constraints="@Required @IsNumeric")
            .form-group
              label.form-label.form-label-outside(for="form-filter-price-to")  &nbsp;
                span.veil-sm Price to (USD):
              input#form-filter-price-to.form-control(type="text" name="form-filter-price-to" data-constraints="@Required @IsNumeric")
        .cell-sm-6.cell-md-3.offset-top-20.offset-md-top-0
          .range.range-xs-bottom
            .cell-sm-6
              .form-group
                label.form-label.form-label-outside(for="form-filter-min-beds") Sales:
                select.form-control(id="form-filter-min-beds" name="min-beds" data-minimum-results-for-search="Infinity")
                  option(value="1") No sales
                  option(value="2") Low
                  option(value="3") Medium
                  option(value="4") High
                  option(value="5") Top sellers

            .cell-sm-6
              button(type="button").btn.btn-primary.btn-block search
