// About Me
section
  .range.range-xs-center.offset-top-66
    .cell-lg-5.text-lg-right
      img.img-responsive.center-block(src="images/users/user-john-doe-437x437.jpg" width="437" height="437" alt="")
      .range.range-xs-center.offset-top-34
        .cell-sm-8.cell-md-6.cell-lg-12
          .inset-xs-left-80.inset-xs-right-80
            a.btn.btn-lg.btn-block.btn-primary(href= cfg.nav.pages.submenu.contactMe.href) get in touch
    .cell-sm-10.text-left.cell-md-9.offset-top-41.cell-lg-5.offset-lg-top-0
      .inset-sm-left-30
        p Maybe, I am an artist. With a tripod instead of an easel, with a camera instead of brushes, I transmit feelings and emotions in one shot. And one day, opening the album and reviewing pictures, memories begin to emerge in the mind, calling the emotions experienced on the day of shooting. You can feel that a smile appears on the face, and maybe even tears, tears of joy.
        p And you realize that there is something to show our grandchildren proudly saying, "It is Me". This site is a small part of my work, I want to show you. With each pair, with every man, I have shot, watching their emotions, feelings - I was feeling the same and tried to show these feelings in the photos. That is how I see this world. Enjoy watching!
        div.text-left
          p Awards:
        div.offset-top-10
          ul.list.list-unstyled.text-left
            li 2015 – MAGNUM 30 under 30, Winner
            li 2014 – The Other Hundred, 1st Prize
            li 2014 – American Photography 30, Selected Winner
            li 2013 – Leica Oskar Barnack Award, Winner Newcomer
            li 2012 – PDN Photo Annual - Student Work, Winner
            li 2012 – AOP Student Awards, Finalist
        p My work has appeared in printed and online magazines – National Geographic Magazine, The New York Times, GEO Germany, GEO France, Bloomberg Businessweek, Neu Zurcher Zeitung, Leica Fotografie International, Leica M Magazine, NEON, Marie Claire Italy, FOTO8, Reader’s Digest, National Geographic Traveler.