// Our Customers
section.section-98.section-sm-110
  .shell
    h1 Our Customers
    hr.divider.bg-mantis
    .range.range-xs-center.range-lg-middle.offset-top-66
      .cell-sm-10.cell-md-9.cell-lg-12
        .range
          .cell-sm-4.cell-lg-2
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-01-169x68.png' width="169" height="68" alt='')
          .cell-sm-4.cell-lg-2.offset-top-41.offset-sm-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-02-126x68.png' width="126" height="68" alt='')

          .range-spacer.veil.reveal-sm-inline-block.offset-top-41.veil-sm

          .cell-sm-4.cell-lg-2.offset-top-41.offset-sm-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-03-126x100.png' width="126" height="100" alt='')
          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-04-95x101.png' width="95" height="101" alt='')

          .range-spacer.veil.reveal-sm-inline-block.offset-top-41.veil-sm

          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-05-149x102.png' width="149" height="102" alt='')
          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-06-141x88.png' width="141" height="88" alt='')

          .range-spacer.veil.reveal-sm-inline-block.offset-top-41.offset-lg-top-66.veil-sm.reveal-lg-inline-block

          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-07-138x55.png' width="138" height="55" alt='')
          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
            img.img-semi-transparent(src='images/clients/client-08-104x84.png' width="104" height="84" alt='')

          .range-spacer.veil.reveal-sm-inline-block.offset-top-41.veil-sm

          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-09-144x68.png' width="144" height="68" alt='')
          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-10-105x94.png' width="105" height="94" alt='')

          .range-spacer.veil.reveal-sm-inline-block.offset-top-41.veil-sm

          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-11-132x83.png' width="132" height="83" alt='')
          .cell-sm-4.cell-lg-2.offset-top-41.offset-lg-top-0
            a(href='#')
              img.img-semi-transparent(src='images/clients/client-11-132x83.png' width="113" height="85" alt='')