//- Includes
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-isotope
// Portfolio wide 4 columns vertical
section.section-98.section-sm-110
  .shell.shell-wide
    .offset-top-50
      +isotope(['All', 'Gallery 1', 'Gallery 2', 'Gallery 3'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-vertical",
        "reverse": true
      }, "isotope-1", "shell-wide")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 3")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-01.jpg",
              "large": "images/portfolio-wide-3-columns-01.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 3")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-02.jpg",
              "large": "images/portfolio-wide-3-columns-02.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 3")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-03.jpg",
              "large": "images/portfolio-wide-3-columns-03.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 2")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-04.jpg",
              "large": "images/portfolio-wide-3-columns-04.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 2")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-05.jpg",
              "large": "images/portfolio-wide-3-columns-05.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 2")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-06.jpg",
              "large": "images/portfolio-wide-3-columns-06.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 1")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-07.jpg",
              "large": "images/portfolio-wide-3-columns-07.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 1")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-08.jpg",
              "large": "images/portfolio-wide-3-columns-08.jpg"
            })
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="Gallery 1")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "",
              "desc": "",
              "width": 570,
              "height": 380,
              "small": "images/portfolio-wide-3-columns-09.jpg",
              "large": "images/portfolio-wide-3-columns-09.jpg"
            })
