// Layout Based
section.section-98.section-sm-top-110.section-sm-bottom-0
  .shell
    h1 Layout Based
    hr.divider.bg-mantis
    .range.range-xs-center.offset-top-50
      .cell-sm-10.cell-md-8
        p RD Navbar was created for professionals by professionals. So you can dynamically switch between various navigation types you create.
section.offset-sm-top-66(style="overflow: hidden")
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-md-9
        .mock-up-wrapper.veil.reveal-sm-inline-block
          .mock-up-desktop-wrapper.wow.fadeInUpBig(data-wow-duration="1s" data-wow-delay="0s")
            img(src="images/features/rd-navbar-01-812x500.png" width="812" height="500" alt="").mock-up-desktop.img-responsive.element-fullwidth
          span.veil