//- Includes
include ../elements/_widget-twitter
include ../elements/_widget-form-contact
include ../elements/_widget-list-social
include ../elements/_widget-form-subscribe-type-2

// Footer variant 4
footer.section-relative.section-34.page-footer.bg-gray-base.context-dark
  .shell
    .range.range-sm-center.text-lg-left
      .cell-sm-12
        .range.range-xs-center

          .cell-xs-12.cell-md-8.cell-md-push-2.text-md-right
            div
              ul.list-inline.list-inline-dashed.p.text-darker
                li
                  a(href="#") Documentation
                li
                  a(href="#") Plugins
                li
                  a(href="#") Themes
                li
                  a(href="#") Support
                li
                  a(href="#") GitHub

            ul.list-inline.list-inline-white.offset-top-10.text-darker
              li
                a(href="#" class="fa fa-facebook")
              li
                a(href="#" class="fa fa-twitter")
              li
                a(href="#" class="fa fa-google-plus")
              li
                a(href="#" class="fa fa-pinterest")
              li
                a(href="#" class="fa fa-vimeo")
              li
                a(href="#" class="fa fa-youtube")
              li
                a(href="#" class="fa fa-linkedin")
              li
                a(href="#" class="fa fa-github")
              li
                a(href="#" class="fa fa-yahoo")

          .cell-xs-12.cell-md-4.cell-md-push-1.offset-top-34.offset-md-top-0
            // Footer brand
            .footer-brand
              a(href=cfg.nav.home.href)
                | !{cfg.brand.logoInverse}
            p.small.text-darker.offset-top-4
              | &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
              // {%FOOTER_LINK}


