// Mock Up
section(style="overflow: hidden;")
  .mock-up-wrapper.veil.reveal-sm-inline-block
    .mock-up-desktop-wrapper.wow.fadeInUpBig(data-wow-duration="1s" data-wow-delay="0s")
      img(src="images/moqups/moqup-home-desktop.png" width="615" height="508" alt="").mock-up-desktop.img-responsive
    .mock-up-circle.veil.reveal-md-block.wow.zoomIn(data-wow-delay="1.6s")
      img(src="images/moqups/moqup-home-ellipse.png" width="309" height="315" alt="")
    .mock-up-mobile-wrapper.wow.fadeInUp(data-wow-delay="0.9s")
      img(src="images/moqups/moqup-home-mobile.png" width="247" height="470" alt="").mock-up-mobile