// About Us
section.section-98.section-sm-110
  .shell
    .range.range-xs-center
      .cell-xs-10.cell-lg-6.cell-lg-push-2
        img.img-responsive.reveal-inline-block.offset-top-10(src="images/pages/careers-01-960x540.jpg" width=960 height=540 alt="")
      .cell-xs-10.cell-lg-6.text-md-left.inset-md-right-80.cell-lg-push-1.offset-top-50.offset-lg-top-0
        h1 About Us
        hr.divider.hr-lg-left-0.bg-mantis
        .offset-top-30.offset-md-top-50
          p Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.
          p Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.