// Blog Templates
section.section-top-66.section-bottom-85.section-lg-top-110.section-lg-bottom-50.context-dark.bg-mantis
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-lg-8
        img.img-responsive.veil.reveal-sm-inline-block.wow.fadeInLeft(src="images/features/home-intro-11-745x325.png" width="745" height="325" alt="" data-wow-delay="0.6s")
      .cell-sm-8.cell-lg-4.offset-top-0.offset-sm-top-41.offset-lg-top-0.text-lg-left
        .inset-lg-left-20
          h1 Blog Templates
          p Create any kind of blog variations & styles using our well-done Blog templates