// eCommerce Ready
section.section-top-66.section-bottom-85.section-lg-top-34.section-lg-bottom-34
  .shell
    .range.range-xs-center
      .cell-sm-8.cell-lg-7.cell-lg-push-1
        img.img-responsive.veil.reveal-lg-inline-block.wow.fadeInRight(src="images/features/home-intro-12-730x550.png" width="730" height="550" alt="" data-wow-delay="0.6s" style="position: relative; margin-top: -80px;")
        img.img-responsive.veil.reveal-sm-inline-block.veil-lg.wow.fadeIn(src="images/features/home-intro-12-730x550.png" width="730" height="550" alt="" data-wow-delay="0.6s")
      .cell-sm-8.cell-lg-5.cell-lg-pull-1.offset-top-0.offset-sm-top-41.offset-lg-top-0.text-lg-left
        .section-lg-top-66
          .inset-lg-right-50
            h1 eCommerce Ready
            p We have included all you may need to build an Amazing eCommerce Website from a scratch. Create your successful business now!
            ul.list.list-marked
              li Grid View
              li Shopping Cart Page
              li Checkout Page
              li Single Product Page