//- Includes
include  ../elements/_ui-box-icon-type-2
// Section check plugin highlights
section.section-98.section-sm-top-124.section-sm-bottom-0(style="overflow: hidden")
  .shell
    h1 Check Plugin Highlights
    hr.divider.bg-malibu
    .range.range-xs-center.offset-top-66
      .cell-md-6
        +box-icon-type-2("icon-lg icon-circle mdi mdi-settings text-picton-blue", "Full Customization", "text-uppercase offset-sm-top-24", "The script ensures full customization to keep the calendar in line with the overall page design. Feel free to change its styles, set fonts, and arrange elements the way you like.")
      .cell-md-6.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle mdi mdi-calendar-today text-picton-blue", "Built-in Counter", "text-uppercase offset-sm-top-24", "Use a built-in counter to check out how many events are planned for a certain date. This feature will help you keep track of your everyday activities.")
    .offset-top-66.veil.reveal-sm-block
      img.img-responsive.center-block(src="images/features/rd-ev" +
      "ent-calendar-01.jpg" width="770" height="436" alt="").wow.fadeInUp