// Powerful Search Engine
section.section-top-124.section-bottom-85.section-sm-top-124.section-lg-top-34.section-lg-bottom-85(style="box-shadow: 0px -5px 23px 0 rgba(0, 0, 0, 0.15);")
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-lg-7.cell-lg-push-1
        div(style="overflow: hidden; z-index: 1; position: relative; bottom: -40px; margin-bottom: -80px;")
          .mock-up-wrapper.veil.reveal-lg-inline-block
            .wow.fadeInUpBig.shadow-drop-lg(data-wow-duration="1s" data-wow-delay="0s" style="position: absolute; right: -125px; z-index: -1;")
              img.img-responsive(src="images/features/home-intro-17-354x243.jpg" width="354" height="243" alt="")
            .wow.fadeInUpBig.shadow-drop-lg(data-wow-duration="1s" data-wow-delay="0.4s" style="margin-top: 70px; margin-right: 40px;")
              img.img-responsive(src="images/features/home-intro-16-354x243.jpg" width="354" height="243" alt="")
            .mock-up-circle.wow.zoomIn(data-wow-duration="1s" data-wow-delay="1.6s" style="left: -35%; bottom: 50px;")
              img.img-responsive(src="images/features/home-intro-18-245x230.png" width="245" height="230" alt="")
        img.img-responsive.veil.reveal-sm-inline-block.veil-lg.wow.fadeIn(src="images/features/home-intro-14-670x350.png" width="670" height="350" alt="" data-wow-delay="0.6s")
      .cell-sm-8.cell-lg-5.cell-lg-pull-1.offset-top-0.offset-sm-top-41.offset-lg-top-0.text-lg-left
        .section-lg-top-66
          .inset-lg-right-20.inset-lg-left-20
            h1 Powerful Search Engine
            p Get a new kind of experience with our new powerful search engine