//- Includes
include ../elements/_widget-form-search
include ../elements/_widget-flickrfeed
include ../elements/_widget-twitter

// Section Blog Modern
aside.text-left
  // Search Form
  h6.text-uppercase.text-spacing-60 Search
  div.text-subline

  .offset-top-34
    +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-3-form-search-widget")

  // Flickr Feed
  .range.offset-top-41
    .cell-sm-6.cell-lg-12
      h6.text-uppercase.text-spacing-60 Flickr Feed
      div.text-subline

      .offset-top-41
        +widget-flickrfeed('14098790@N07', {"data-image_q": "src"}, 9)

    .cell-sm-6.offset-top-41.offset-sm-top-0.cell-lg-12.offset-lg-top-41
      // Twitter Feed
      h6.text-uppercase.text-spacing-60 Twitter Feed
      div.text-subline

      .offset-top-30
        +widget-twitter({
          "dataTwitterUsername": "templatemonster"
        })