// Event Managing
section.section-top-66.section-bottom-85.section-lg-top-85.section-lg-bottom-0.bg-blue-gray.context-dark
  .shell
    .range.range-xs-center
      .cell-sm-8.cell-lg-8
        div(style="overflow: hidden;")
          img.shadow-drop-lg.img-responsive.veil.reveal-lg-inline-block.wow.fadeInUp(src="images/features/home-intro-13-730x500.jpg" width="730" height="500" alt="" data-wow-delay="0.6s" style="margin-bottom: -75px;")
        img.shadow-drop-lg.img-responsive.center-block.veil.reveal-sm-inline-block.veil-lg.wow.fadeIn(src="images/features/home-intro-13-730x500.jpg" width="730" height="500" alt="" data-wow-delay="0.6s")
      .cell-sm-8.cell-lg-4.offset-top-0.offset-sm-top-41.offset-lg-top-0.text-lg-left
        .section-lg-top-34
          .inset-lg-left-20
            h1 Event Managing
            p Share your public events quick and easy with your customers. Use our extremely customizable event calendar to create your own comps.