//- Includes
include  ../elements/_ui-tabs-classic
include ../elements/_widget-list-social

//Section Login Register
section.section-98.section-sm-110.section-bottom-66
  .shell
    h2.text-bold Sign In
    hr.divider.bg-mantis
    .offset-sm-top-66
      +tabs-classic(['Login', 'Registration'])
        div
          .range.range-xs-center.section-34
            .cell-xs-8.cell-sm-6.cell-md-4
              // RD Mailform
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .form-group
                  label.form-label.form-label-outside(for="form-login-username") Username or e-mail:
                  input#form-login-username.form-control.bg-white(type="text" name="username" data-constraints="@Required")
                .form-group.offset-top-24
                  label.form-label.form-label-outside(for="form-login-password") Password:
                  input#form-login-password.form-control.bg-white(type="text" name="pass" data-constraints="@Required")
                .offset-top-24
                  button(type="submit").btn.btn-primary.btn-block sign in
              .offset-top-30.text-center
                p or enter with
                +widget-list-social([
                  {
                    "icon": "fa fa-facebook",
                    "href": "#"
                  },
                  {
                    "icon": "fa fa-twitter",
                    "href": "#"
                  },
                  {
                    "icon": "fa fa-google-plus",
                    "href": "#"
                  }
                ])

        div
          .range.range-xs-center.section-34
            .cell-xs-8.cell-sm-6.cell-md-4
              // RD Mailform
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .form-group
                  label.form-label.form-label-outside(for="form-register-username") Name:
                  input#form-register-username.form-control.bg-white(type="text" name="name" data-constraints="@Required")
                .form-group.offset-top-24
                  label.form-label.form-label-outside(for="form-register-email") Email:
                  input#form-register-email.form-control.bg-white(type="text" name="email" data-constraints="@Required @Email")
                .form-group.offset-top-24
                  label.form-label.form-label-outside(for="form-register-password") Password:
                  input#form-register-password.form-control.bg-white(type="text" name="pass" data-constraints="@Required")
                .form-group.offset-top-24
                  label.form-label.form-label-outside(for="form-register-confirm-password") Confirm Password:
                  input#form-register-confirm-password.form-control.bg-white(type="text" name="confirmpass" data-constraints="@Required")
                .offset-top-24
                  button(type="submit").btn.btn-primary.btn-block create an account
              .offset-top-30.text-center
                p or enter with
                +widget-list-social([
                  {
                    "icon": "fa fa-facebook",
                    "href": "#"
                  },
                  {
                    "icon": "fa fa-twitter",
                    "href": "#"
                  },
                  {
                    "icon": "fa fa-google-plus",
                    "href": "#"
                  }
                ])