// Section compatible mailform scripts
section.section-98.section-sm-124
  .shell
    .range.range-xs-center
      .cell-xs-10.cell-md-5
        .unit
          .unit-left
            img.img-responsive.center-block(src="images/logos/logo-jquery.png" width=103 height=100 alt="")
          .unit-body
            h4.text-uppercase.text-bold jQuery 1.11+ & jQuery Form 3.51+
            p.inset-left-7p.inset-right-7p Install jQuery 1.11 and & j Query Form 3.51+ before you set up RD Mailform. It will let the script run flawless on your site.

      .cell-xs-10.cell-md-5.offset-top-66.offset-md-top-0
        .unit
          .unit-left
            img.img-responsive.center-block(src="images/logos/logo-js.jpg" width=100 height=100 alt="")
          .unit-body
            h4.text-uppercase.text-bold Custom JS Events
            p.inset-left-7p.inset-right-7p The script is based on a powerful system of custom JS events. With its help, you can easily track different conditions of the form.