//- Includes
include  ../elements/_ui-box-icon-type-2

// Mailform Features
section.section-98.section-sm-124
  .shell
    .range.range-xs-center.range-xs-middle.range-xl-justify
      .cell-sm-9.cell-lg-6.cell-xl-7
        img.img-responsive.veil.reveal-sm-inline-block.shadow-drop-lg(src="images/features/rd-mailform-01-670x467.png" width="670" height="467" alt="")
      .cell-sm-9.cell-lg-6.cell-xl-4.offset-sm-top-66.offset-lg-top-0
        .inset-lg-left-50.inset-xl-left-0
          +box-icon-type-2("icon-lg icon-circle mdi mdi-emoticon material-icons-tag_faces text-picton-blue offset-sm-top-14", "User-Friendly Customization", "text-uppercase offset-sm-top-24", "The script comes with ready-made presets, which will let you customize the form with comfort. The script also provides full customization of an email template.")
          .offset-top-50
            +box-icon-type-2("icon-lg icon-circle mdi mdi-web text-picton-blue offset-sm-top-14", "CSS Stylization", "text-uppercase offset-sm-top-24", "Stylize practically all the form pattern attributes with ease. The script features a fully fledged CSS API built specifically for this purpose.")