//- Includes
include  ../elements/_ui-box-icon-type-2

// Features
section.section-66.section-collar
  .shell
    img.img-responsive.center-block(src='images/moqups/moqup-home-desktop-skewed.png' width=1165 height=365 alt="")
    h2.offset-top-10
      span.big Even More Features Available
  .shell.shell-wide.offset-top-50
    .range
      .cell-sm-6.cell-xl-3
        +box-icon-type-2("text-gray mdi mdi-cellphone-link", "Responsive & Retina", "text-uppercase offset-sm-top-14", "Intense looks simply great on any screen resolution and type. All images are responsive and ultra sharp.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-sm-top-0
        +box-icon-type-2("text-gray mdi mdi-television-guide", "Extensive Docs", "text-uppercase offset-sm-top-14", "Intense has online and easily accesible documentation. Our documentation contains detailed instructions for further template customization and self adaptation.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-play-box-outline", "Video Backgrounds", "text-uppercase offset-sm-top-14", "Intense template includes a powerful background video plugin called RD Video. It supports responsive video layouts and adapts to your internet connection.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-menu", "Powerful Navigation", "text-uppercase offset-sm-top-14", "Powerful and really flexible RD Navbar plugin is included too. Create any type of navigation with our ready-to-go examples and adapt to your needs.")

      // next range
      .range-spacer.veil.reveal-xl-inline-block.offset-top-50.offset-xl-top-50

      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-message-text-outline", "Social Plugins", "text-uppercase offset-sm-top-14", "Feel the power of social integration as you never did before. Integrate facebook blog, twitter, instagram and flickr feeds as a part of your design - styled and optimized.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-vector-combine", "Event Calendar", "text-uppercase offset-sm-top-14", "Manage and share your public events with our RD Calendar plugin. Choose and customize one of our examples.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-bulletin-board", "Photo Gallery", "text-uppercase offset-sm-top-14", "Intense includes a powerful and touch focused powerful and flexible photo gallery. Manage your photos and share them with friends.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-vibrate", "Flex Grid system", "text-uppercase offset-sm-top-14", "Feel the advantages of our custom powerful and flexible CSS Flex Grid System in addition to default Bootstrap Grid. Creating layouts have never been so easy.")

      // next range
      .range-spacer.veil.reveal-xl-inline-block.offset-top-50.offset-xl-top-50

      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-email-outline", "E-mail Forms", "text-uppercase offset-sm-top-14", "Create any kind of contact, booking and subscribe forms with our RD Mailform plugin. All forms are functioning.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-image-filter", "All images Included", "text-uppercase offset-sm-top-14", "We take care of your convenience, so All Images used in template are included for free ($35 Save).")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-content-duplicate", "Sliders and Carousels", "text-uppercase offset-sm-top-14", "Flexible Slider and Carousel plugins are both included in Intense.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-xml", "Full sass support", "text-uppercase offset-sm-top-14", "Intense was completely written with Sass prepocessor. All sources are available too.")

      // next range
      .range-spacer.veil.reveal-xl-inline-block.offset-top-50.offset-xl-top-50

      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-clock", "Clean & nice code", "text-uppercase offset-sm-top-14", "Intense was made with love and attention to details . The code meets the official standard of Bootstrap Code Style Guide and other specifications.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-shuffle", "Tons of variables", "text-uppercase offset-sm-top-14", "Intense components inherit much of their styles from variables, exactly like Bootsrap. Change the values and template adapts.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-emoticon-happy", "2000+ icons", "text-uppercase offset-sm-top-14", "Intense includes more than 2000 awesome, clean and sharp font icons.")
      .cell-sm-6.cell-xl-3.offset-top-50.offset-xl-top-0
        +box-icon-type-2("text-gray mdi mdi-checkbox-blank-outline", "PSD Included", "text-uppercase offset-sm-top-14", "All the Intese PSDs are included for free for your better expirience. ($10 Save)")

section.section-34.section-top-66.context-dark(style="background: #191919 url(images/backgrounds/background-02-481x360.png);")
  a.btn.btn-lg.btn-default.btn-anis-effect(href=cfg.nav.features.submenu.uiKit.href) View all additional features