//- Includes
include ../elements/_ui-thumbnail-josip
include ../elements/_ui-isotope
// Portfolio wide 3 columns vertical
section.section-98.section-sm-110
  .shell.shell-wide
    .offset-top-50
      +isotope(['All', 'Clients', 'Business', 'Marketing'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-vertical",
        "reverse": true
      }, "isotope-1", "shell-wide")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Marketing")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "New Opportunities",
              "description": "UX, Design, Web developoment",
              "thumb": {"src": "images/portfolio/portfolio-02-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-02-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Marketing")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Complex Solution",
              "description": "UX, Design, Web developoment",
              "thumb": {"src": "images/portfolio/portfolio-03-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-03-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Clients")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Various Elements",
              "description": "UX, Design, Web developoment",
              "thumb": {"src": "images/portfolio/portfolio-04-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-04-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Business")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Meaningful Design",
              "description": "UX, Design, Web developoment",
              "thumb": {"src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-05-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Clients")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Made with love",
              "description": "UX, Design, Web developoment",
              "thumb": {"src": "images/portfolio/portfolio-10-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-10-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })
          .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Business")
            +thumbnail-josip({
              "type": "thumbnail",
              "title": "Specially for you",
              "description": "UX, Design, Web developoment",
              "thumb": {"src": "images/portfolio/portfolio-15-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-15-1170x600.jpg", "width": 1170, "height": 600, "alt": ""},
              "btnLink": cfg.nav.portfolio.submenu.singleProject.href,
              "btnClass": "btn-primary",
              "btnText": "detail"
            })