//- Includes
include ../elements/_ui-rd-parallax

section.context-dark
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-33-1920x474.jpg",
    "htmlSpeed": "0"
  })
    .bg-overlay-gray-darkest
      .shell.section-98.section-sm-110
        h1 Limitless Header and Footer Variations
        .range.range-xs-center.offset-top-20
          .cell-sm-10.cell-lg-12
            p Choose from a wide variety of our awesome ready-made Header & Footer styles or just create your own.
        .range.range-xs-center.offset-top-66
          .cell-sm-10.cell-lg-12
            .range.range-xs-center
              .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2
                img.img-responsive.center-block(src="images/features/home-intro-04-150x100.png" width="150" height="100" alt="")
                p Transparent
              .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2.offset-top-66.offset-xs-top-0
                img.img-responsive.center-block(src="images/features/home-intro-05-150x100.png" width="150" height="100" alt="")
                p Background Header
              .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2.offset-top-66.offset-md-top-0
                img.img-responsive.center-block(src="images/features/home-intro-06-150x100.png" width="150" height="100" alt="")
                p Center Aligned

              .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2.offset-top-66.offset-lg-top-0
                img.img-responsive.center-block(src="images/features/home-intro-07-150x100.png" width="150" height="100" alt="")
                p Floating
              .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2.offset-top-66.offset-lg-top-0
                img.img-responsive.center-block(src="images/features/home-intro-08-150x100.png" width="150" height="100" alt="")
                p Left Side-Header
              .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-2.offset-top-66.offset-lg-top-0
                img.img-responsive.center-block(src="images/features/home-intro-09-150x100.png" width="150" height="100" alt="")
                p Fullscreen Overlay