//- Include
include ../elements/_ui-call-to-action-type-2

// Buy Now
section
  +call-to-action-type-2("Intense - exactly what you need", cfg.buyLink, "btn-lg btn-default btn-anis-effect", "mdi mdi-cart-outline", "left", "Buy intense now", "bg-blue-gray")