// Third-Party Scripts Support
section.section-98.section-sm-110.bg-blue-gray.context-dark
  .shell
    h1 Third-Party Scripts Support
    hr.divider.bg-white
    .range.range-xs-center.offset-top-50
      .cell-xs-10.cell-md-6
        p You can endlessly complement the functionality of RD Flickr Feed with the help of third-party plugins.
        a(href=cfg.buyLink).btn.btn-lg.btn-default.btn-anis-effect.btn-icon.btn-icon-left.offset-top-10
          span.icon.mdi.mdi-cart-outline
          | Buy intense now