// 100% GPL
section.section-98.section-sm-124.bg-acapulco.context-dark
  .shell
    .range.range-xs-center
      .cell-lg-5
        img.img-responsive.center-block(src="images/logos/logo-gpl.png" width=369 height=182 alt="")
      .cell-sm-8.cell-md-7.cell-lg-6.offset-top-66.offset-lg-top-0.text-lg-left
        h3 100% GPL
        p Feel free to use RD Mailform without any limits. This GPL licensed script can be installed as many times as you need.
        .range.range-xs-center.range-lg-left.text-center.text-lg-left.offset-top-24
          .cell-xs-6.cell-md-5.cell-lg-6.inset-lg-right-50
            a(href=cfg.buyLink).btn.btn-block.btn-default buy intense now