//- Includes
include ../elements/_ui-rd-parallax

// Complete integration with Twitter
.bg-gray-base.context-dark.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/backgrounds/background-09-1920x1045.jpg")
  .rd-parallax-layer.bg-overlay-gray-darkest(data-speed="0.3", data-type='html' data-md-fade="true")
    .shell-wide
      .range
        .range.range-xs-center.range-xs-middle.section-cover.section-110
          .cell-xs-11
            h1.text-uppercase
              span.big instagram social widget
            h4.text-light.inset-lg-left-100.inset-lg-right-100.veil.reveal-sm-block RD Instagram script allows seamless integration of Instagram social widget into the theme. This provides the needed Instagram functionality right inside the website.

            .range.range-xs-center.offset-top-41
              .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-3.cell-xl-2.text-sm-right.inset-sm-left-50
                a.btn.btn-block.btn-primary(href=cfg.buyLink) buy intense now
              .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-3.cell-xl-2.text-sm-left.inset-sm-right-50.offset-top-20.offset-sm-top-0
                a.btn.btn-block.btn-default(href='#' data-waypoint-to="#instagram-widget") view widget