// Make an Appointment
section.section-98.section-sm-110
  .shell
    h1 Make an Appointment
    hr.divider.bg-mantis
    .range.range-xs-center
      .cell-sm-8.cell-md-7.cell-lg-8
        // RD Mailform
        form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .range
            .cell-lg-6
              .form-group
                label.form-label.form-label-outside(for="make-appointment-name") Name:
                input#make-appointment-name.form-control(type="text" name="name" data-constraints="@Required")
            .cell-lg-6.offset-top-20.offset-lg-top-0
              .form-group
                label.form-label.form-label-outside(for="make-appointment-email") Email:
                input#make-appointment-email.form-control(type="text" name="email" data-constraints="@Required @Email")
            .cell-lg-6.offset-top-20
              .form-group
                label.form-label.form-label-outside(for="make-appointment-date") Date:
                input#make-appointment-date.form-control(type="text" name="date" data-constraints="@Required" data-time-picker="date")
            .cell-lg-6.offset-top-20
              .range.offset-top-0
                .cell-xs-6
                  .form-group 
                    label.form-label.form-label-outside(for="make-appointment-time-start") Required Time Interval Start:
                    input#make-appointment-time-start.form-control(type="text" name="time-start" data-constraints="@Required" data-time-picker="time")
                .cell-xs-6
                  .form-group
                    label.form-label.form-label-outside(for="make-appointment-time-end") Required Time Interval End:
                    input#make-appointment-time-end.form-control(type="text" name="tim-end" data-constraints="@Required" data-time-picker="time")
            .cell-lg-12.offset-top-20
              .form-group
                label.form-label.form-label-outside(for="make-appointment-message") Message:
                textarea#make-appointment-message.form-control(name="message" data-constraints="@Required" style="height: 150px")
          .text-center.text-lg-left.offset-top-30
            button(type="submit").btn.btn-primary Make an appointment