//- Includes
include ../elements/_ui-rd-parallax

// Demo Images Included for Free
section.context-dark
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/features/home-intro-15-1920x592.jpg",
    "htmlSpeed": "0"
  })
    .bg-overlay-gray-darkest
      .shell.section-98.section-sm-110.section-lg-254
        h1 Demo Images Included for Free
        p Save more than $35 on awesome premium images included in demo