// Portfolio Templates
section.section-top-66.section-bottom-85.section-lg-top-34.section-lg-bottom-254
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-lg-8.cell-lg-push-1.text-lg-right
        .mock-up-wrapper.veil.reveal-lg-inline-block(style="margin-top: -65px;")
          .wow.fadeInRight(data-wow-duration="1s" data-wow-delay="0.2s" style="")
            img.img-responsive.shadow-drop-lg(src="images/features/home-intro-24-420x292.jpg" width="420" height="292" alt="")
          .wow.fadeInRight(data-wow-duration="1s" data-wow-delay="0.6s" style="position: absolute; top: 100px; left: -350px;")
            img.img-responsive.shadow-drop-lg(src="images/features/home-intro-23-420x292.jpg" width="420" height="292" alt="")
          .wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1.2s" style="position: absolute; right: 150px; bottom: -222px; z-index: 1; width: 100%;")
            img.img-responsive.shadow-drop-lg(src="images/features/home-intro-22-420x292.jpg" width="420" height="292" alt="")
        img.img-responsive.veil.reveal-sm-inline-block.veil-lg.wow.fadeIn(src="images/features/home-intro-10-820x570.png" width="820" height="570" alt="" data-wow-delay="0.6s")
      .cell-sm-8.cell-lg-4.cell-lg-pull-1.offset-top-0.offset-sm-top-41.offset-lg-top-0.text-lg-left
        .section-lg-top-66
          .inset-lg-right-20
            h1 Portfolio Templates
            p Showcase any of your products or projects with our great selection of Portfolio templates.