//- Includes
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-isotope

// Portfolio Masonry
section.section-98.section-sm-110
  .shell
    +isotope(['All', 'Clients', 'Business', 'Marketing'],{
      "group": "gallery",
      "layout": "masonry",
      "alignClass": "isotope-filters-horizontal"
    }, "isotope-1")
      .row(data-photo-swipe-gallery="gallery")
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter="*")
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-15-270x420.jpg", "width": 270, "height": 420, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-15-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Clients')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-04-270x270.jpg", "width": 270, "height": 270, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-04-570x420.jpg", "width": 570, "height": 420, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Business')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-16-270x270.jpg", "width": 270, "height": 270, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-16-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Marketing')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-10-270x420.jpg", "width": 270, "height": 420, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-10-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-6.isotope-item(data-filter='Business')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": {"src": "images/portfolio/portfolio-18-570x420.jpg", "width": 570, "height": 420, "alt": ""},
            "target": {"src": "images/portfolio/portfolio-18-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Clients')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-06-270x270.jpg", "width": 270, "height": 270, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-06-570x420.jpg", "width": 570, "height": 420, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Clients')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-14-270x270.jpg", "width": 270, "height": 270, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-14-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-6.isotope-item(data-filter='Marketing')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-19-570x270.jpg", "width": 570, "height": 270, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-19-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Clients')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-20-270x270.jpg", "width": 270, "height": 270, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-20-1170x600.jpg", "width": 1170, "height": 600, "alt": "" }
          })
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Marketing')
          +thumbnail-classic({
            "type": "thumbnail",
            "thumb": { "src": "images/portfolio/portfolio-08-270x270.jpg", "width": 270, "height": 270, "alt": "" },
            "target": { "src": "images/portfolio/portfolio-08-570x420.jpg", "width": 570, "height": 420, "alt": "" }
          })