// Section Advanced ui kit
.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/features/ui-kit-01-1920x1078.jpg")
  .rd-parallax-layer(data-speed="0.3", data-type='html' data-fade="true")
    .bg-overlay-gray-darkest.context-dark
      .shell
        .range
          .range.range-xs-middle.range-xs-center.section-cover.section-110
            .cell-xs-12
              h1.text-uppercase
                span.big advanced UI KIT
              .range.range-xs-center.offset-top-41
                .cell-xs-10
                  h4.text-light The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our powerful bootstrap toolkit.
                  .offset-top-41
                    a(href="#" data-waypoint-to="#make-easier-interface").btn.btn-lg.btn-default.btn-primary.btn-anis-effect discover elements