//- Includes
include  ../elements/_ui-box-icon-type-2
// Section Plugin Highlights
section.section-98.section-sm-top-124.section-sm-bottom-0(style="overflow: hidden")
  .shell
    h1 Plugin Highlights
    hr.divider.bg-malibu
    .range.range-xs-center.offset-top-66
      .cell-md-6
        +box-icon-type-2("icon-lg icon-circle mdi mdi-desktop-mac text-picton-blue", "Full-HD Support", "text-uppercase offset-sm-top-24", "Create a really beautiful background video scenes in higher quality. Get the all benefits of Full HD video scenes with RD Background Video.")
      .cell-md-6.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle mdi mdi-wifi text-picton-blue", "Performance optimization", "text-uppercase offset-sm-top-24", "RD Background Video will dynamically adapt to your screen resolution and internet connection to provide you and your customers the best experience.")

    // RD video images
    .offset-top-66(style="overflow: hidden;")
      .mock-up-wrapper.veil.reveal-sm-inline-block
        .mock-up-desktop-wrapper.wow.fadeInUpBig(data-wow-duration="1s" data-wow-delay="0s")
          img(src="images/moqups/moqup-rd-video-desktop-608x500.png" width="608" height="500" alt="").mock-up-desktop.img-responsive
        .mock-up-mobile-wrapper.wow.fadeInUp(data-wow-delay="0.9s")
          img(src="images/moqups/moqup-rd-video-mobile-249x469.png" width="249" height="469" alt="").mock-up-mobile