//- Includes
include  ../elements/_ui-box-icon-type-2
// Section check plugin highlights
section.section-98.section-sm-top-124.section-sm-bottom-0(style="overflow: hidden")
  .shell
    h1 Check Plugin Highlights
    hr.divider.bg-malibu
    .range.range-xs-center.offset-top-66
      .cell-md-6
        +box-icon-type-2("icon-lg icon-circle mdi mdi-border-style text-picton-blue", "Ultimate styling options", "text-uppercase offset-sm-top-24", "You can manage the look as well as what kind of content you would like to the script to display. The settings panel allows you to show the time when a certain post was created, turn on/off logo display, add callback functionality to certain events, etc.")
      .cell-md-6.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle fa fa-facebook text-picton-blue", "Facebook Graph API integration", "text-uppercase offset-sm-top-24", "With its help you will feel the ease of getting data in and out of Facebook. This low-level HTTP-based API allows you to use jQuery data, post new stories, manage ads, share images, etc.")
    .offset-top-66.veil.reveal-sm-block
      img.img-responsive(src="images/features/rd-facebook-feed-01.png" width="1170" height="436" alt="").wow.fadeInUp