//- Includes
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-isotope
// Portfolio classic effect
section.section-98.section-sm-110
  .shell
    .offset-top-34
      +isotope(['All', 'Gallery 1', 'Gallery 2'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-horizontal"
      }, "isotope-1")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "Open Imagination",
              "description": "Your dedicated description goes here",
              "thumb": {"src": "images/portfolio/portfolio-11-570x420.jpg",  "width": 570,  "height": 420, "alt": ""},
              "target": {"href": cfg.nav.portfolio.submenu.singleProject.href}
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "Large Experience",
              "description": "Your dedicated description goes here",
              "thumb": {"src": "images/portfolio/portfolio-10-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"href": cfg.nav.portfolio.submenu.singleProject.href}
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "New Vision",
              "description": "Your dedicated description goes here",
              "thumb": {"src": "images/portfolio/portfolio-13-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"href": cfg.nav.portfolio.submenu.singleProject.href}
            })
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-classic({
              "type": "thumbnail",
              "title": "Good stuff",
              "description": "Your dedicated description goes here",
              "thumb": {"src": "images/portfolio/portfolio-08-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"href": cfg.nav.portfolio.submenu.singleProject.href}
            })
