include ../elements/_widget-post
include ../elements/_widget-form-subscribe
include ../elements/_widget-form-contact
include ../elements/_widget-list-social
include ../elements/_ui-quote-simple-slider

// Default footer
footer.section-relative.section-top-66.section-bottom-34.page-footer.bg-gray-base.context-dark
  .shell
    .range.range-sm-center.text-lg-left
      .cell-sm-12
        .range.range-xs-center
          .cell-xs-10.cell-sm-6.text-xs-left.cell-md-6.cell-lg-4.cell-lg-push-3.cell-md-push-2.cell-lg-preffix-1
            h6.text-uppercase.text-spacing-60.text-center.text-md-left Contact us

            +widget-form-contact()


          .cell-xs-12.offset-top-66.cell-lg-3.cell-lg-push-1.offset-lg-top-0.cell-md-push-3
            // Footer brand
            .footer-brand
              a(href=cfg.nav.home.href)
                | !{cfg.brand.logoInverse}
            p.text-darker.offset-top-4 Feel the power of future

            address.contact-info.offset-top-30.p
              div
                dl
                  dt.text-white Address:
                  dd.text-dark.reveal-lg-block 28 Jackson Blvd Ste #[span.reveal-lg-block 1020 Chicago] #[span.reveal-lg-block IL 60604-2340.]

              div
                dl.offset-top-0
                  dt.text-white Telephone:
                  dd.text-dark
                    a(href='#') +1 800 559 6580
              div
                dl.offset-top-0
                  dt.text-white E-mail:
                  dd.text-dark
                    a(href='mailto:mail@demolink.org') mail@demolink.org

          .cell-xs-10.cell-sm-6.offset-top-66.offset-md-top-0.text-xs-left.cell-md-6.cell-lg-4.cell-lg-push-2.cell-md-push-1
            h6.text-uppercase.text-spacing-60.text-center.text-md-left What people say
            +quote-simple-slider(
              [{
                "title": "Alex Merphy",
                "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
              },
              {
                "title": "July Mao",
                "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
              }
              ], "text-white"
            )

            .offset-top-34.text-xs-center.text-md-left
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                },
                {
                  "icon": "fa fa-linkedin",
                  "href": "#"
                }
              ])



  .shell.offset-top-50
    p.small.text-darker
      | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
      // {%FOOTER_LINK}