// Meet Our Team
section.section-team-custom-effects.section-top-98.section-bottom-66.section-lg-top-110.section-lg-bottom-0
  .shell-fluid.section-relative
    h1 Meet Our Team
    hr.divider.bg-mantis
    .offset-top-66
      .owl-carousel.owl-carousel-classic.owl-carousel-class-light(data-items="1" data-nav="false" data-dots="false" data-nav-custom=".owl-custom-navigation" data-animation-out="fadeOut")
        div
          .range.range-sm-middle.range-condensed.range-xs-center.range-lg-left
            .cell-xs-10.cell-lg-6.cell-xl-5.text-lg-right.text-lg-left.inset-lg-right-50
              img.img-responsive.img-circle.reveal-inline-block.veil-lg(width=140 height=140 alt="" src="images/users/user-milana-stark-140x140.jpg")
              img.img-responsive.veil.reveal-lg-inline-block(width=470 height=320 alt="" src="images/users/user-milana-stark-470x640.png")
              h1.bg-title.veil.reveal-xl-block Milana
                span Stark
            .cell-xs-10.cell-lg-4.cell-xl-3.text-lg-left.offset-top-34.offset-lg-top-0.cell-lg-preffix-1.cell-xl-preffix-2
              .slide-content-animate
                h3 Milana Stark
                p.text-picton-blue Marketing&Sales
                p Milana is our expert in sales and promotion. Her experience of previous work in leading international companies helps us a lot in the development of marketing strategies that are necessary elements of commercial success.
                p She has dreamt about sales and promotion since she joined the Los Angeles University. Her practical knowledge helped her receive an MA in Marketing and Sales. After continuing her practice in other companies both American and European for a few years, she joined Intense as a sales manager.
        div
          .range.range-sm-middle.range-condensed.range-xs-center.range-lg-left
            .cell-xs-10.cell-lg-6.cell-xl-5.text-lg-right.text-lg-left.inset-lg-right-50
              img.img-responsive.img-circle.reveal-inline-block.veil-lg(width=140 height=140  src="images/users/user-johns-doe-140x140.jpg" alt="")
              img.img-responsive.veil.reveal-lg-inline-block(width=470 height=320 alt="" src="images/users/user-john-doe-470x640.png")
              h1.bg-title.veil.reveal-xl-block
                |John
                span Doe
            .cell-xs-10.cell-lg-4.cell-xl-3.text-lg-left.offset-top-34.offset-lg-top-0.cell-lg-preffix-1.cell-xl-preffix-2
              .slide-content-animate
                h3 John Doe
                p.text-picton-blue Art Director, Founder
                p John is the heart and mind of our company. He works with everything concerning design and establishes the positive image of our company. He founded Intense and started to use his creative skills to the company’s success.
                p Mr. Doe often represents Intense in many public presentations and press conferences. However, his main position in our company is closely connected with the management of various departments. He has made a great contribution to our developmental and research strategies.
        div
          .range.range-sm-middle.range-condensed.range-xs-center.range-lg-left
            .cell-xs-10.cell-lg-6.cell-xl-5.text-lg-right.text-lg-left.inset-lg-right-50
              img.img-responsive.img-circle.reveal-inline-block.veil-lg(width=140 height=140 alt="" src="images/users/user-alex-grid-140x140.jpg")
              img.img-responsive.veil.reveal-lg-inline-block(width=470 height=320 alt="" src="images/users/user-alex-grid-470x640.png")
              h1.bg-title.veil.reveal-xl-block
                |Alex
                span Grid
            .cell-xs-10.cell-lg-4.cell-xl-3.text-lg-left.offset-top-34.offset-lg-top-0.cell-lg-preffix-1.cell-xl-preffix-2
              .slide-content-animate
                h3 Alex Grid
                p.text-picton-blue Lead Developer
                p Mr. Grid is not just the Lead Developer of Intense. He is our main expert in everything connected with informational technologies and technical innovations. His work is very important to us.
                p He became a part of Intense team in 2010. Since the first day of his work, Alex introduced new technological solutions and their possible integration into our working process. He also developed many new features of our website, made it look more attractive, and increased its stability.

      .owl-custom-navigation.owl-customer-navigation.offset-top-41.offset-lg-top-0.text-lg-left
        .owl-nav
          .owl-prev.mdi.mdi-chevron-left(data-owl-prev)
          .owl-next.mdi.mdi-chevron-right(data-owl-next)