// Section Make Easier Interface
section.section-98.section-sm-top-124.section-sm-bottom-0#make-easier-interface(style="overflow: hidden")
  .shell
    h1 Make Easier Interface
    hr.divider.bg-malibu
    .range.range-xs-center.offset-top-41.offset-sm-top-66
      .cell-xs-10.cell-sm-9.text-left.text-sm-center
        p Intense provides a poweful and flexible exntended toolkit in addition to basic Bootsrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.
        .offset-top-41
          .group

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.accordions.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.accordions.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.accordions.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.tabs.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.tabs.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.tabs.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.footerWidgets.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.footerWidgets.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.footerWidgets.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.pagination.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.pagination.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.pagination.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.navigation.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.navigation.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.navigation.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.breadcrumbs.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.callToActions.href).btn.btn-sm.btn-danger.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.callToActions.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.callToActions.title

    .offset-top-66.veil.reveal-sm-block
      img.img-responsive.wow.fadeInUp(src="images/features/ui-kit-02-1229x446.png" alt="" width="1229" height="446")
