// Section reCaptcha in action
section.section-98.section-sm-top-110.section-sm-bottom-124
  .shell
    h1 Get it in Action
    hr.divider.bg-mantis
    .range.range-sm-center.offset-top-0
      .cell-sm-8
        // RD Mailform
        form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .range
            .cell-lg-6
              .form-group
                label.form-label.form-label-outside(for="contact-me-name") Name:
                input#contact-me-name.form-control(type="text" name="name" data-constraints="@Required")
            .cell-lg-6.offset-top-20.offset-lg-top-0
              .form-group
                label.form-label.form-label-outside(for="contact-me-email") E-Mail:
                input#contact-me-email.form-control(type="email" name="email" data-constraints="@Required @Email")
            .cell-lg-12.offset-top-20
              .form-group
                label.form-label.form-label-outside(for="contact-me-message") Message:
                textarea#contact-me-message.form-control(name="message" data-constraints="@Required")
            .cell-xs-12.offset-top-30
              //Google captcha
              .form-group.text-left
                .recaptcha#captcha1(data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt")
              // End google captcha
          .group-sm.text-center.text-lg-left.offset-top-30
            button(type="submit").btn.btn-primary Send
            button(type="reset").btn.btn-default Reset