//- Includes
include ../elements/_ui-vacation

// Your Career Starts Here
section.section-66.section-top-50.bg-blue-gray.section-triangle.section-triangle-bottom.context-dark
  .shell
    h2
      span.big  Your Career Starts Here
    p Can't find the job you want? Send your resume to #[a(href="mailto:#") info@demolink.com] , and we'll contact you when a new position opens.

  +triangle-gradient('rgb(109,146,204)', 'rgb(109,146,204)', "0,0 60,0 29,29", "grad3")

section.section-98.section-md-110
  .shell
    .range.range-xs-center
      .cell-sm-6
        +post-vacation("#", "Senior PHP Developer ",[{
          "type": "location",
          "link": "#",
          "text": "New York"
        },
          {
            "type": "work-time",
            "text": "Full Time"
          },
          {
            "type": "date",
            "text": "March 12, 2016"
          }])

      .cell-sm-6.offset-top-30.offset-sm-top-0
        +post-vacation("#", "Middle JS Developer",[{
          "type": "location",
          "link": "#",
          "text": "New York"
        },
          {
            "type": "work-time",
            "text": "Full Time"
          },
          {
            "type": "date",
            "text": "March 10, 2016"
          }])

      .cell-sm-6.offset-top-30
        +post-vacation("#", "Middle Wordpress CMS Developer",[{
          "type": "location",
          "link": "#",
          "text": "New York"
        },
          {
            "type": "work-time",
            "text": "Full Time"
          },
          {
            "type": "date",
            "text": "March 12, 2016"
          }])

      .cell-sm-6.offset-top-30
        +post-vacation("#", "Junior HTML Coder",[{
          "type": "location",
          "link": "#",
          "text": "New York"
        },
          {
            "type": "work-time",
            "text": "Full Time"
          },
          {
            "type": "date",
            "text": "March 17, 2016"
          }])

      .cell-sm-6.offset-top-30
        +post-vacation("#", "Senior Ruby on Rails Developer",[{
          "type": "location",
          "link": "#",
          "text": "New York"
        },
          {
            "type": "work-time",
            "text": "Full Time"
          },
          {
            "type": "date",
            "text": "March 15, 2016"
          }])

      .cell-sm-6.offset-top-30
        +post-vacation("#", "Middle Magento CMS Developer",[{
          "type": "location",
          "link": "#",
          "text": "New York"
        },
          {
            "type": "work-time",
            "text": "Full Time"
          },
          {
            "type": "date",
            "text": "March 21, 2016"
          }])