// Extremely Responsive and Retina
section.section-top-66.section-bottom-85.section-sm-top-110.section-lg-bottom-66.bg-blue-gray.context-dark
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-lg-7.cell-lg-push-1
        img.img-responsive.veil.reveal-sm-inline-block.wow.fadeInRight(src="images/features/home-intro-02-730x380.png" width="730" height="380" alt="" data-wow-delay="0.6s")
      .cell-sm-8.cell-lg-5.cell-lg-pull-1.offset-top-0.offset-sm-top-41.offset-lg-top-0.text-lg-left
        h1 Extremely Responsive and Retina
        p Create Your Own Business, Blog or any kind of activity Quick and Easy with our unbelievable already made niche templates.