// Section Shop Sidebar
aside.text-left
  .range
    .cell-xs-6.cell-lg-12
      // Categories
      h6.text-uppercase.text-spacing-60 Categories
      div.text-subline
      label.checkbox.offset-top-20
        input(name="input-group-category", value="woman", type="checkbox" class="checkbox-custom")
        | Women's Shirts #[span.text-dark (37)]
      label.checkbox
        input(name="input-group-category", value="dresses", type="checkbox" class="checkbox-custom")
        | Dresses #[span.text-dark (211)]
      label.checkbox
        input(name="input-group-category", value="skirts", type="checkbox" class="checkbox-custom")
        | Skirts #[span.text-dark (12)]
      label.checkbox
        input(name="input-group-category", value="coats", type="checkbox" class="checkbox-custom")
        | Coats #[span.text-dark (7)]
      label.checkbox
        input(name="input-group-category", value="top", type="checkbox" class="checkbox-custom")
        | Tops #[span.text-dark (15)]

    .cell-xs-6.cell-lg-12
      // Brands
      h6.offset-top-41.offset-xs-top-0.offset-lg-top-41.text-uppercase.text-spacing-60 Brands
      div.text-subline
      label.checkbox.offset-top-20
        input(name="input-group-brands", value="apc", type="checkbox" class="checkbox-custom")
        | A.P.C. #[span.text-dark (37)]
      label.checkbox
        input(name="input-group-brands", value="armani", type="checkbox" class="checkbox-custom")
        | Armani #[span.text-dark (211)]
      label.checkbox
        input(name="input-group-brands", value="loro", type="checkbox" class="checkbox-custom")
        | Loro #[span.text-dark (12)]
      label.checkbox
        input(name="input-group-brands", value="coat", type="checkbox" class="checkbox-custom")
        | Coat #[span.text-dark (7)]
      label.checkbox
        input(name="input-group-brands", value="topiro", type="checkbox" class="checkbox-custom")
        | Topiro #[span.text-dark (15)]

    .cell-xs-6.cell-lg-12
      // Colors
      h6.offset-top-41.text-uppercase.text-spacing-60 Colors
      div.text-subline
      label.checkbox.offset-top-20
        input(name="input-group-colors", value="blue", type="checkbox" class="checkbox-custom")
        | Blue
      label.checkbox
        input(name="input-group-colors", value="green", type="checkbox" class="checkbox-custom")
        | Green
      label.checkbox
        input(name="input-group-colors", value="gray", type="checkbox" class="checkbox-custom")
        | Gray
      label.checkbox
        input(name="input-group-colors", value="white", type="checkbox" class="checkbox-custom")
        | White
      label.checkbox
        input(name="input-group-colors", value="cyan", type="checkbox" class="checkbox-custom")
        | Cyan

    .cell-xs-6.cell-lg-12
      // Sizes
      h6.offset-top-41.text-uppercase.text-spacing-60 Sizes
      div.text-subline
      label.checkbox.offset-top-20
        input(name="input-group-sizes", value="size-xs", type="checkbox" class="checkbox-custom")
        | Extra Small #[span.text-dark (XS)]
      label.checkbox
        input(name="input-group-sizes", value="size-s", type="checkbox" class="checkbox-custom")
        | Small #[span.text-dark (S)]
      label.checkbox
        input(name="input-group-sizes", value="size-m", type="checkbox" class="checkbox-custom")
        | Medium #[span.text-dark (M)]
      label.checkbox
        input(name="input-group-sizes", value="size-l", type="checkbox" class="checkbox-custom")
        | Large #[span.text-dark (L)]
      label.checkbox
        input(name="input-group-sizes", value="size-xl", type="checkbox" class="checkbox-custom")
        | Extra Large #[span.text-dark (XL)]

  // Price
  //h6.offset-top-41.text-uppercase.text-spacing-60 Price
  //div.text-subline