//Section Get In Touch
section.section-98.section-sm-110
  .shell
    h2.text-bold Get In Touch
    hr.divider.bg-mantis
    .offset-sm-top-66
      .range.range-xs-center
        .cell-xs-10.cell-md-8
          // RD Mailform
          form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .range.range-xs-center
              .cell-sm-6
                .form-group
                  label.form-label(for="git-3-mailform-first-name") First name
                  input#git-3-mailform-first-name.form-control.bg-white(type="text" name="firstname" data-constraints="@Required")
              .cell-sm-6
                .form-group
                  label.form-label(for="git-3-mailform-last-name") Last name
                  input#git-3-mailform-last-name.form-control.bg-white(type="text" name="lastname" data-constraints="@Required")
              .cell-sm-6
                .form-group.offset-sm-top-30
                  label.form-label(for="git-3-mailform-phone") Phone
                  input#git-3-mailform-phone.form-control.bg-white(type="text" name="phone" data-constraints="@Required")
              .cell-sm-6
                .form-group.offset-sm-top-30
                  label.form-label(for="git-3-mailform-email") E-mail
                  input#git-3-mailform-email.form-control.bg-white(type="text" name="email" data-constraints="@Required @Email")
              .cell-sm-12
                .form-group.offset-sm-top-30
                  label.form-label(for="git-3-mailform-message") Message
                  textarea#git-3-mailform-message.form-control.bg-white(name="message" data-constraints="@Required")
            .offset-top-24.text-center
              button(type="submit").btn.btn-primary send message

