//- Includes
include  ../elements/_ui-box-icon-type-4
include ../elements/_ui-rd-parallax

// See in action RD Parallax
section.context-dark
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-01-1920x1275.jpg",
    "htmlSpeed": "0"
  })
    .shell
      .range.range-xs-center.section-top-124.section-bottom-110
        .cell-xs-10.cell-sm-11.cell-lg-12
          h1 See it in Action
          div
            hr.divider.bg-mantis
          .range.range-xs-center
            .cell-sm-6.cell-lg-4
              +box-icon-type-4("icon-outlined icon-pink-filled mdi mdi-format-bold")
                h4.text-uppercase.offset-top-30.text-bold Based on bootstrap 3
                p.inset-left-7p.inset-right-7p.
                  Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap. It gives you confidence in quality and flexibility of the product you buy
            .cell-sm-6.cell-lg-4.offset-top-66.offset-sm-top-0
              +box-icon-type-4("icon-outlined icon-malibu-filled mdi mdi-cube-outline")
                h4.text-uppercase.offset-top-30.text-bold Extended  toolkit
                p.inset-left-7p.inset-right-7p.
                  Intense provides a poweful and flexible exntended toolkit in addition to basic Bootsrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.
            .cell-sm-6.cell-lg-4.offset-top-66.offset-lg-top-0
              +box-icon-type-4("icon-outlined icon-carrot-filled mdi mdi-palette")
                h4.text-uppercase.offset-top-30.text-bold Unlimited skins & colors
                p.inset-left-7p.inset-right-7p.
                  Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts.
            .cell-sm-6.cell-lg-4.offset-top-66
              +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-vector-arrange-below")
                h4.text-uppercase.offset-top-30.text-bold Parallax Effects
                p.inset-left-7p.inset-right-7p.
                  Everyone loves parallax scrolling effects, they are simply beautiful. Intense has advanced parallax options & controls based on flexible and easy-to-use RD Parallax plugin."
            .cell-sm-6.cell-lg-4.offset-top-66
              +box-icon-type-4("icon-outlined icon-blue-gray-filled mdi mdi-share-variant")
                h4.text-uppercase.offset-top-30.text-bold Social Integration
                p.inset-left-7p.inset-right-7p.
                  Intense has full set of social icons and styling options which allow you to share any content the way you wish.
            .cell-sm-6.cell-lg-4.offset-top-66
              +box-icon-type-4("icon-outlined icon-mantis-filled mdi mdi-spellcheck")
                h4.text-uppercase.offset-top-30.text-bold Made for speed
                p.inset-left-7p.inset-right-7p.
                  We know how embarassing and time-consuming can be content loading, so we took care of pages optimization for your smooth expirience.
        .cell-xs-12.offset-top-66
          a(href=cfg.buyLink).btn.btn-lg.btn-default.btn-icon.btn-icon-left
            span.icon.mdi.mdi-cart-outline
            | Buy intense now


