//- Includes
include  ../elements/_ui-box-icon-type-4

// 404
section.context-dark
  .shell
    .range
      .section-110.section-cover.range.range-xs-center.range-xs-middle
        .cell-lg-6
          h3 Sorry, but page was not found
          hr.divider.bg-mantis
          .text-extra-big.text-light 404
          p.offset-top-50 You may have mistyped the address or the page may have moved.
          .group.offset-top-30
            a.btn.btn-icon.btn-icon-left.btn-primary(href= cfg.nav.home.href)
              span.icon.mdi.mdi-arrow-left
              | back to home

            a.btn.btn-icon.btn-icon-left.btn-default(href= cfg.nav.pages.submenu.contactUs.href)
              span.icon.mdi.mdi-email-outline
              | Contact us