// Home Layouts and Demos
section.section-top-66.section-bottom-85.section-lg-top-66.section-lg-bottom-124.bg-lighter
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-lg-8.text-lg-left
        .mock-up-wrapper.veil.reveal-lg-inline-block(style="margin-bottom: 30px;")
          .wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.2s" style="")
            img.img-responsive.shadow-drop-lg(src="images/features/home-intro-21-470x327.jpg" width="470" height="327" alt="")
          .wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.6s" style="position: absolute; top: 85px; right: -250px;")
            img.img-responsive.shadow-drop-lg(src="images/features/home-intro-20-470x327.jpg" width="470" height="327" alt="")
          .wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1.2s" style="position: absolute; right: -95px; bottom: -200px; z-index: 1;")
            img.img-responsive.shadow-drop-lg(src="images/features/home-intro-19-470x327.jpg" width="470" height="327" alt="")
        img.img-responsive.veil.reveal-sm-inline-block.veil-lg.wow.fadeIn(src="images/features/home-intro-01-750x600.png" width="750" height="600" alt="" data-wow-delay="0.6s")
      .cell-sm-8.cell-lg-4.offset-top-0.offset-sm-top-41.offset-lg-top-0.text-lg-left
        .section-lg-top-34
          .inset-lg-right-20
            h1 Home Layouts and Demos
            p Choose from our wide range of predefined Homepage layouts and demos to create your Own Amazing Experience.