//- Includes
include  ../elements/_ui-box-planning-type-4

// Choose Your Plan
section.section-98.section-sm-110
  .shell
    h1 Choose Your Plan
    .divider.bg-mantis
    .range.range-xs-bottom.offset-top-41.range-sm-center
      .cell-md-3
        +box-planning-4("Free", "59", "month", "Sign up", "context-dark bg-mantis")
          ul.list-separated.list-unstyled
            li
              span.text-bold 1GB
              span.text-dark Space amount
            li
              span.text-bold 5
              span.text-dark users
            li
              span.text-bold 5GB
              span.text-dark Bandwidth
            li
              span.text-dark No Support
            li
              span.text-bold 1
              span.text-dark Databases

      .cell-md-3
        +box-planning-4("Starter", "59", "month", "Sign up", "context-dark bg-malibu")
          ul.list-separated.list-unstyled
            li
              span.text-bold 5GB
              span.text-dark Space amount
            li
              span.text-bold 20
              span.text-dark users
            li
              span.text-bold 10GB
              span.text-dark Bandwidth
            li
              span.text-dark No Support
            li
              span.text-bold 1
              span.text-dark Databases

      .cell-md-3
        +box-planning-4("Business", "59", "month", "Sign up", "context-dark bg-saffron", "active")
          ul.list-separated.list-unstyled
            li
              span.text-bold 10GB
              span.text-dark Space amount
            li
              span.text-bold Unlimited
              span.text-dark users
            li
              span.text-bold 30GB
              span.text-dark Bandwidth
            li
              span.text-dark Free Support
            li
              span.text-bold 20
              span.text-dark Databases

      .cell-md-3
        +box-planning-4("Ultimate", "59", "month", "Sign up", "context-dark bg-red")
          ul.list-separated.list-unstyled
            li
              span.text-bold 100GB
              span.text-dark Space amount
            li
              span.text-bold Unlimited
              span.text-dark users
            li
              span.text-bold 60GB
              span.text-dark Bandwidth
            li
              span.text-dark Free support
            li
              span.text-bold Unlimited
              span.text-dark Databases