//- Includes
include  ../elements/_ui-box-icon-type-2
// Section check plugin highlights flickr
section.section-98.section-sm-top-124.section-sm-bottom-0(style="overflow: hidden")
  .shell
    h1 Check Plugin Highlights
    hr.divider.bg-malibu
    .range.range-xs-center.offset-top-66
      .cell-md-6
        +box-icon-type-2("icon-lg icon-circle mdi mdi-border-style text-picton-blue", "Ultimate styling options", "text-uppercase offset-sm-top-24", "You can manage the look as well as what kind of content you would like to the script to display. The settings panel allows you to show the time when a certain post was created, turn on/off logo display, add callback functionality to certain events, etc.")
      .cell-md-6.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle fa fa-flickr text-picton-blue", "Flickr API integration", "text-uppercase offset-sm-top-24", "This plugin is fully integrated with the Flickr API, allowing you to grab various data directly from the Flickr database. The process is automatic and absolutely secure.")
    .offset-top-66.veil.reveal-sm-block
      img.img-responsive(src="images/features/rd-flickr-01.png" width=1170 height=436 alt="").wow.fadeInUp