//- Includes
include ../elements/_ui-rd-parallax
// Section // Bootstrap Components
.shadow-drop-sm
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-05-1920x960.jpg",
    "htmlSpeed": "0"
  })

    section.section-98.section-sm-top-124.section-sm-bottom-0.bg-overlay-white
      .shell
        .range.range-xs-center.range-xs-bottom
          .cell-xs-10
            h1 Bootstrap Components
            hr.divider.bg-mantis
            .text-left.text-sm-center
              .offset-top-66
                p Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap. It gives you confidence in quality and flexibility of the product you buy.
              .group.offset-top-41

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.alerts.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.alerts.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.alerts.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.breadcrumbs.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.breadcrumbs.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.breadcrumbs.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.buttonGroups.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.buttonGroups.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.buttonGroups.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.buttonDropdowns.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.buttonDropdowns.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.buttonDropdowns.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.dropdowns.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.dropdowns.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.dropdowns.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.glyphicons.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.glyphicons.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.glyphicons.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.jumbotron.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.jumbotron.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.jumbotron.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.listGroups.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.listGroups.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.listGroups.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.mediaObjects.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.navs.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.navs.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.navs.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.progressBars.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.progressBars.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.progressBars.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.responsiveEmbed.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.responsiveEmbed.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.responsiveEmbed.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.thumbnails.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.thumbnails.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.thumbnails.title

                a(href=cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                  span.icon(class= cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.icon)
                  = cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.title

            .offset-top-41.veil.reveal-sm-block
              img.img-responsive(src="images/features/ui-kit-06-1012x461.png" alt="" width="1012" height="461")

