// Cross-Browser Support
section.section-98.section-sm-110.bg-lighter
  .shell
    h1 Cross-Browser Support
    hr.divider.bg-mantis
    .range.range-xs-center.offset-top-50
      .cell-sm-10.cell-md-8
        p The script works equally well in all the popular browsers used today. Whether users browse your site via Chrome or Mozilla, the navbar will run and look flawless.
    ul.list-inline.offset-top-41
      li
        img.img-responsive(src="images/logos/logo-firefox.png" width="59" height="60" alt="")
      li
        img.img-responsive(src="images/logos/logo-chrome.png" width="59" height="60" alt="")
      li
        img.img-responsive(src="images/logos/logo-safari.png" width="59" height="60" alt="")
      li
        img.img-responsive(src="images/logos/logo-ie.png" width="59" height="60" alt="")