//- Includes
include  ../elements/_ui-box-planning-type-2

// Choose your Plan
section.section-98.section-sm-110
  .shell-fluid
    h1 Choose your Plan
    hr.divider.bg-mantis
    p Pick the best plan that meets your business needs. A free trial is available to help you with the decision-making.
    a.btn.btn-primary.btn-icon.btn-icon-left.offset-top-20(href="#")
      span.icon.mdi.mdi-download.text-middle
      | Download free Trial

    .range.range-condensed.range-md-center.offset-top-66
      .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2
        +box-planning-2("Starter", "19", "month", "text-picton-blue", "bg-picton-blue", "bg-picton-blue", "Buy now", "btn-picton-blue")
          p.text-light
            small The plan is mainly intended for startups and small businesses.
          ul.list-separated.list-unstyled
            li
              span.text-bold 5GB
              span.text-dark Space amount
            li
              span.text-bold 20
              span.text-dark Users
            li
              span.text-bold 10GB
              span.text-dark Bandwidth
            li
              span.text-dark No support
            li
              span.text-bold 1
              span.text-dark Database

      .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2.offset-top-50.offset-md-top-0
        +box-planning-2("Business", "59", "month", "text-picton-blue", "bg-picton-blue", "bg-picton-blue", "Buy now", "btn-picton-blue", "active")
          p.text-light
            small Perfect for Medium-to-large sized businesses.
          ul.list-separated.list-unstyled
            li
              span.text-bold 10GB
              span.text-dark Space amount
            li
              span.text-bold Unlimited
              span.text-dark  users
            li
              span.text-bold 30GB
              span.text-dark Bandwidth
            li
              span.text-dark Free support
            li
              span.text-bold 20
              span.text-dark Databases

      .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2.offset-top-50.offset-md-top-0
        +box-planning-2("Ultimate", "99", "month", "text-picton-blue", "bg-picton-blue", "bg-picton-blue", "Buy now", "btn-picton-blue")
          p.text-light
            small The plan is best suited for large corporate websites.
          ul.list-separated.list-unstyled
            li
              span.text-bold 100GB
              span.text-dark Space amount
            li
              span.text-bold Unlimited
              span.text-dark  users
            li
              span.text-bold 60GB
              span.text-dark Bandwidth
            li
              span.text-dark Free support
            li
              span.text-bold Unlimited
              span.text-dark Databases