//Swiper
.bg-gray-base.context-dark.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/intros/intro-01-1920x955.jpg")
  .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
    .shell
      .range
        .section-110.section-cover.range.range-md-center.range-md-middle
          .cell-md-12
            h1.text-uppercase.text-ubold.text-spacing-60
              span.big Become our customer

            h4.offset-top-14.offset-sm-top-20.text-light The smartest and most flexible bootstrap template by TemplateMonster you’ve ever seen.
              span.veil.reveal-sm-block Create exactly what you need with our powerful bootstrap toolkit.

            .group.offset-top-14.offset-sm-top-30
              a(href=cfg.nav.pages.submenu.makeAnAppointment.href).btn.btn-primary make an appointment