// Released under GPL license?
section.section-98.section-sm-110.bg-acapulco.context-dark
  .shell
    .range.range-xs-center
      .cell-lg-5
        img.img-responsive.center-block(src="images/logos/logo-gpl.png" width="369" height="182" alt="")
      .cell-lg-6.offset-top-66.offset-lg-top-0.text-lg-left
        h3 100% GPL
        p RD Navbar is released under GPL license. In such a way, you can install the script on all your sites as many times as you want.
        .range.range-xs-center.range-lg-left.text-center.text-lg-left.offset-top-24
          .cell-xs-6.cell-sm-5.cell-md-4.cell-lg-6.inset-lg-right-50
            a(href=cfg.buyLink).btn.btn-block.btn-default.btn-anis-effect buy intense now