//- Includes
include  ../elements/_ui-box-icon-type-2

// Why Choose Us
section.section-top-98.section-sm-top-110.section-sm-bottom-110.section-lg-top-66.section-bottom-98.section-lg-bottom-0.bg-lightest
  .shell
    .range.range-sm-center.range-md-middle
      .cell-lg-5.veil.reveal-lg-inline-block
        img.img-responsive.center-block(width='470', height='770', src='images/pages/about-us-01-470x770.png', alt='')
      .cell-sm-10.cell-lg-5.section-lg-bottom-50
        h1.offset-none Why Choose Us
        hr.divider.bg-mantis
        .offset-top-66.offset-lg-top-50
          +box-icon-type-2("text-gray mdi mdi-monitor", "We use cutting-edge technologies", "text-malibu offset-sm-top-14", "Our team of professional analysts is constantly roaming the web in search of promising techniques, which will make your business better.")
          .offset-top-66.offset-lg-top-34
            +box-icon-type-2("text-gray mdi mdi-newspaper", "We value your time", "text-malibu offset-sm-top-14", "We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. Our team works on your project in multiple threads.")
          .offset-top-66.offset-lg-top-34
            +box-icon-type-2("text-gray mdi mdi-headset", "We provide qualified support", "text-malibu offset-sm-top-14", "Our support team is online 24/7, and is ready to help you with any design - related issue.")