//- Includes
include ../elements/_ui-rd-parallax
// Complete integration with Facebook
.bg-gray-base.context-dark.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/backgrounds/background-13-1920x1078.jpg")
  .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
    .bg-overlay-gray-darkest
      section.context-dark
        .shell
          .range
            .range.range-xs-middle.range-xs-center.section-cover.section-110
              .cell-xs-12
                h1.text-uppercase
                  span.big Easy Integration of calendar with Template Pages
                .range.range-xs-center
                  .cell-xs-10
                    .offset-top-20
                      h4.text-light Easy Integration of calendar with Template Pages
                .range.range-xs-center.offset-top-66
                  .cell-xs-5.cell-sm-4.cell-md-3.text-sm-right.inset-sm-left-50
                    a(href=cfg.buyLink).btn.btn-block.btn-primary buy intense now
                  .cell-xs-5.cell-sm-4.cell-md-3.text-sm-left.inset-sm-right-50
                    a(href="#" data-custom-scroll-to="rd-event-calendar-demo").btn.btn-block.btn-default view widget