// section compatible rd-video scripts
section.section-98.section-md-110.bg-blue-gray.context-dark
  .shell
    .range.range-xs-center
      .cell-md-5
        +box-icon-type-2("icon-lg icon-circle mdi mdi-cellphone-link", "Fully Responsive", "text-uppercase offset-sm-top-24", "Let visitors use the calendar on different devices, be it a HD desktop or mobile phone. Thanks to its fully responsive nature, it can scale down to any viewport automatically.")
      .cell-md-5.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle mdi mdi-code-braces", "Query 1.11+", "text-uppercase offset-sm-top-24", "Before setting up RD Video, you’ll need to install jQuery 1.11+. It will provide an optimal performance of the script on your website.")
    .offset-top-66
      a(href=cfg.buyLink).btn.btn-lg.btn-default.btn-icon.btn-icon-left
        span.icon.mdi.mdi-cart-outline
        | Buy intense now