//- Include
include ../elements/_ui-rd-twitter

// See It In Action
section(id="twitter-widget")
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-07-1920x1998.jpg",
    "htmlSpeed": "0"
  })
    .shell-wide.section-98.section-sm-110
      h1 See It In Action
      hr.divider.bg-mantis
      .range.offset-top-66.range-sm-center.text-sm-left
        .cell-sm-8.cell-lg-12
          +rd-twitter({
            "dataBoxTwitterUserName": "templatemonster",
            "dataBoxTwitterDateFormat": "%d %b %Y",
            "dataBoxTwitterDateHoursr": " hours ago",
            "dataBoxTwitterDateMinutes": " minutes ago"
          })
            .range.range-sm-center
              .cell-lg-4
                a.rd-twitter.shadow-drop-sm(data-twitter-type='tweet', href='#')
                  .unit.unit-sm.unit-sm-horizontal.twitter-unit
                    .unit-left
                      .rd-twitter-avatar
                        img(data-avatar='src', src='images/_blank.png', alt='')
                    .unit-body
                      .rd-twitter-meta
                        .p.big.text-bold(data-user_name='text')
                      .p.small.text-dark.offset-top-4(data-screen_name='text')
                  .rd-twitter-tweet(data-tweet='text')
                  .rd-twitter-img-wrap
                    img.rd-twitter-media(data-media_url='src', src='images/_blank.png', alt='')
                  .rd-twitter-time-wrap
                    .time.p.small.text-dark(data-date='text', data-datetime='datetime')
                .offset-top-30
                  a.rd-twitter.shadow-drop-sm(data-twitter-type='tweet', href='#')
                    .unit.unit-sm.unit-sm-horizontal.twitter-unit
                      .unit-left
                        .rd-twitter-avatar
                          img(data-avatar='src', src='images/_blank.png', alt='')
                      .unit-body
                        .rd-twitter-meta
                          .p.big.text-bold(data-user_name='text')
                        .p.small.text-dark.offset-top-4(data-screen_name='text')
                    .rd-twitter-tweet(data-tweet='text')
                    .rd-twitter-img-wrap
                      img.rd-twitter-media(data-media_url='src', src='images/_blank.png', alt='')
                    .rd-twitter-time-wrap
                      .time.p.small.text-dark(data-date='text', data-datetime='datetime')
              .cell-lg-4
                a.rd-twitter.rd-twitter-compact.shadow-drop-sm(data-twitter-type='tweet', href='#')
                  .unit.unit-sm.unit-sm-horizontal.twitter-unit
                    .unit-left
                      .rd-twitter-avatar
                        img(data-avatar='src', src='images/_blank.png', alt='')
                    .unit-body
                      .rd-twitter-meta
                        .p.big.text-bold(data-user_name='text')
                      .p.small.text-dark.offset-top-4(data-screen_name='text')
                  .rd-twitter-tweet(data-tweet='text')
                  .rd-twitter-time-wrap
                    .time.p.small.text-dark(data-date='text', data-datetime='datetime')
                .offset-top-30
                  a.rd-twitter.shadow-drop-sm(data-twitter-type='tweet', href='#')
                    .unit.unit-sm.unit-sm-horizontal.twitter-unit
                      .unit-left
                        .rd-twitter-avatar
                          img(data-avatar='src', src='images/_blank.png', alt='')
                      .unit-body
                        .rd-twitter-meta
                          .p.big.text-bold(data-user_name='text')
                        .p.small.text-dark.offset-top-4(data-screen_name='text')
                    .rd-twitter-tweet(data-tweet='text')
                    .rd-twitter-img-wrap
                      img.rd-twitter-media(data-media_url='src', src='images/_blank.png', alt='')
                    .rd-twitter-time-wrap
                      .time.p.small.text-dark(data-date='text', data-datetime='datetime')
                .offset-top-30
                  a.rd-twitter.shadow-drop-sm(data-twitter-type='tweet', href='#')
                    .unit.unit-sm.unit-sm-horizontal.twitter-unit
                      .unit-left
                        .rd-twitter-avatar
                          img(data-avatar='src', src='images/_blank.png', alt='')
                      .unit-body
                        .rd-twitter-meta
                          .p.big.text-bold(data-user_name='text')
                        .p.small.text-dark.offset-top-4(data-screen_name='text')
                    .rd-twitter-tweet(data-tweet='text')
                    .rd-twitter-img-wrap
                      img.rd-twitter-media(data-media_url='src', src='images/_blank.png', alt='')
                    .rd-twitter-time-wrap
                      .time.p.small.text-dark(data-date='text', data-datetime='datetime')
              .cell-lg-4
                a.rd-twitter.shadow-drop-sm(data-twitter-type='tweet', href='#')
                  .unit.unit-sm.unit-sm-horizontal.twitter-unit
                    .unit-left
                      .rd-twitter-avatar
                        img(data-avatar='src', src='images/_blank.png', alt='')
                    .unit-body
                      .rd-twitter-meta
                        .p.big.text-bold(data-user_name='text')
                      .p.small.text-dark.offset-top-4(data-screen_name='text')
                  .rd-twitter-tweet(data-tweet='text')
                  .rd-twitter-img-wrap
                    img.rd-twitter-media(data-media_url='src', src='images/_blank.png', alt='')
                  .rd-twitter-time-wrap
                    .time.p.small.text-dark(data-date='text', data-datetime='datetime')
                .offset-top-30
                  a.rd-twitter.shadow-drop-sm(data-twitter-type='tweet', href='#')
                    .unit.unit-sm.unit-sm-horizontal.twitter-unit
                      .unit-left
                        .rd-twitter-avatar
                          img(data-avatar='src', src='images/_blank.png', alt='')
                      .unit-body
                        .rd-twitter-meta
                          .p.big.text-bold(data-user_name='text')
                        .p.small.text-dark.offset-top-4(data-screen_name='text')
                    .rd-twitter-tweet(data-tweet='text')
                    .rd-twitter-img-wrap
                      img.rd-twitter-media(data-media_url='src', src='images/_blank.png', alt='')
                    .rd-twitter-time-wrap
                      .time.p.small.text-dark(data-date='text', data-datetime='datetime')