//- Includes
include ../elements/_ui-box-icon-type-4

// What Do You Get With Intense?
section.section-98.section-sm-110
  .shell
    h2
      span.big  What Do You Get With Intense?
    hr.divider.bg-mantis
    .range.range-xs-center.offset-top-50.offset-top-66
      .cell-sm-7.cell-md-4
        .inset-xs-left-50.inset-xs-right-50.inset-md-left-0.inset-md-right-0
          +box-icon-type-4("icon-red-filled icon-outlined mdi mdi-vector-square")
            h4.offset-top-30.text-bold Advanced UI Kit for Web Developers

      .cell-sm-7.cell-md-4.offset-top-66.offset-md-top-0
        .inset-xs-left-50.inset-xs-right-50.inset-md-left-0.inset-md-right-0.inset-lg-left-50.inset-lg-right-50
          +box-icon-type-4("icon-blue-gray-filled icon-outlined mdi mdi-bulletin-board")
            h4.offset-top-30.text-bold Extended Bootstrap Toolkit

      .cell-sm-7.cell-md-4.offset-top-66.offset-md-top-0
        .inset-xs-left-50.inset-xs-right-50.inset-md-left-0.inset-md-right-0
          +box-icon-type-4("icon-mantis-filled icon-outlined mdi mdi-refresh")
            h4.offset-top-30.text-bold Lifetime Free Updates