//- Includes
include ../elements/_ui-rd-parallax
// Section Choose Your Own Design
+rd-parallax({
  "backgroundSpeed": "0.35",
  "attrType": "media",
  "src": "images/features/ui-kit-03-1920x902.jpg",
  "htmlSpeed": "0"
})
  section.context-dark.section-98.section-124
    .shell
      .range.range-xs-center
        .cell-xs-10.cell-xl-4.text-sm-left
          h1 Choose Your Own Design
          .text-left
            p Choose the appropriate style for your site theme. You can change the style of text, form elements, lists, icons, etc. Also, we took care of the animation elements of the site.
            .group.offset-top-41
              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.dividers.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.dividers.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.dividers.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.typography.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.typography.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.typography.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.formElements.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.formElements.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.formElements.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.testimonials.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.labels.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.labels.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.labels.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.lists.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.lists.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.lists.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.gridSystem.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.gridSystem.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.gridSystem.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.icons.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.icons.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.icons.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.thumbnails.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.thumbnails.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.thumbnails.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.animations.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.animations.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.animations.title

              a(href=cfg.nav.components.submenu.toolkitComponents.submenu.buttons.href).btn.btn-sm.bt-rounded.btn-default.btn-icon.btn-icon-left
                span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.buttons.icon)
                = cfg.nav.components.submenu.toolkitComponents.submenu.buttons.title


        .cell-xs-10.cell-xl-8.offset-sm-top-66.offset-sm-top-0.text-center.text-xl-right
          img.img-responsive.veil.reveal-sm-inline-block(src="images/features/ui-kit-04-731x564.png" alt="" width="731" height="564")
