// Ultimate Styling Options
section.section-98.section-sm-110
  .shell
    h1 Ultimate Styling Options
    hr.divider.bg-mantis
    .range.range-xs-center.offset-top-50
      .cell-sm-10.cell-md-8
        p You are free to opt for any structure and styling options in order to achieve the perfect look and  feel of Twitter feed that would fit your theme's style perfectly.
section(style="overflow: hidden")
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-md-8
        .mock-up-wrapper.veil.reveal-sm-inline-block
          .mock-up-desktop-wrapper.shadow-drop-lg.wow.fadeInUpBig(data-wow-duration="1s" data-wow-delay="0s")
            img(src="images/features/rd-twitter-feed-01.png" width="770" height="614" alt="").mock-up-desktop.img-responsive.element-fullwidth
          span.veil