//- Includes
include ../elements/_ui-media-elements
include ../elements/_ui-thumbnail-zoe
// Section Grow Your Business
section.section-98.section-110
  .shell
    h1 Grow Your Business With Intense
    hr.divider.bg-mantis
    .range.range-sm-center.offset-top-66
      // Simple quote Slider
      .cell-sm-8.cell-md-8.inset-md-right-80
        .owl-carousel.owl-carousel-classic.owl-carousel-class-light.shadow-drop-md(data-items="1" data-nav="false" data-dots="false" data-nav-custom=".owl-custom-navigation")
          div
            +media-elements({
              "type": "video",
              "href": "//www.youtube.com/embed/-AhmuMqZB0s",
              "ratio": "16by9"
            })

          div
            img.img-responsive.element-fullwidth(src="images/portfolio/portfolio-single-01-716x404.jpg" width=716 height=404 alt="")

          div
            img.img-responsive.element-fullwidth(src="images/portfolio/portfolio-single-02-716x404.jpg" width=716 height=404 alt="")

      .cell-sm-8.cell-md-4.text-sm-left.offset-top-34.offset-md-top-0
        h3 Website Design
        p A website is a medium that connects a person with the world of digital data. With its help users can access information, make purchases, communicate with each other, and do loads of other things.
        p Due to the clever marketing strategy and professional web designing, corporations can grow their client base with ease. On the modern market the competition is very tough, so in order to be a success, businesses experiment with multiple strategies with the goal of coming up with the perfect one.
        .owl-custom-navigation.owl-customer-navigation.offset-top-24
          .owl-nav
            .owl-prev.mdi.mdi-chevron-left(data-owl-prev)
            .owl-next.mdi.mdi-chevron-right(data-owl-next)