// Home Intro footer
footer.section-34.page-footer.bg-gray-base.context-dark
  .shell
    .footer-brand
      a(href=cfg.nav.home.href)
        | !{cfg.brand.logoInverse}
    p.small.text-darker
      | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
      // {%FOOTER_LINK}