//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui_accordion-classic

// Faq variant 3
section.section-md-top-110.section-md-bottom-0.section-98
  .shell
    .range.range-xs-center
      .cell-lg-6
        img.img-responsive.veil.reveal-lg-inline-block.offset-lg-top-10(src="images/pages/call-to-action-01-566x548.png" width="566" height="548" alt="")
      .cell-sm-9.cell-md-6.text-left.offset-top-0
        .text-center
          h1 General Questions
          hr.divider.bg-mantis
        .section-top-0.section-sm-top-50.section-sm-bottom-50.offset-top-30.offset-lg-top-0
          +accordion-classic(['Who can take advantage of Intense?', 'How can web developers benefit from Intense?', 'What makes Intense special for web designers?', 'Does Intense have a design for my specific niche?'])
            div
              | Intense is a universal solution for professional developers, designers and end users. This powerful HTML template can be used to build sites of any type, be it a blogger’s resource or professional portfolio. Intense meets all the modern quality standards, which will give you a solid basis to compete with rivals on the web.
            div
              | Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit. Moreover, Intense is based on a CSS Flex grid system and provides full Sass support.
            div
              | Intense offers a huge UI kit for web designers. It includes 150 PSD files, 2000+ font icons, unlimited skins and colors, parallax and hover effects, canvas animations, and much more. All these features can streamline the workflow and turn any project into an eye candy.
            div
              | The package of Intense has child templates intended for a variety of niches. Whether you run a model agency, restaurant or consulting firm, you can choose a ready-made solution for your own business. The number of child themes is constantly growing to embrace a wider range of niches.
// First Lesson - Free
section.bg-gray-base.context-dark
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-44-1920x1024.jpg",
    "htmlSpeed": "0"
  })
    .shell.section-66.context-dark
      h2.text-bold If you have a question please send us a letter
      a(href=cfg.nav.pages.submenu.contactUs.href).btn.btn-icon.btn-icon-left.btn-default.offset-top-20
        span.icon.mdi-email-outline.mdi
        | Contact Us