// Single Project
section.section-98.section-md-110
  .shell-fluid
    h1 Single Project Variant 2
    hr.divider.bg-mantis
    .range.range-xs-center
      .cell-xs-9.cell-xl-9.cell-xl-push-2
        // Swiper
        .swiper-container.swiper-slider(data-height='67%', data-min-height='400px', data-dots="true")
          .swiper-wrapper
            .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/portfolio/portfolio-21-1398x932.jpg' style="background-position: center center")
            .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/portfolio/portfolio-22-1398x932.jpg' style="background-position: center center")
            .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/portfolio/portfolio-23-1398x932.jpg' style="background-position: center center")
          // Swiper Pagination
          .swiper-pagination.swiper-pagination-type-1
      .cell-xl-3.cell-xs-9.inset-xl-left-80.text-left.cell-xl-push-1.offset-top-66.offset-xl-top-0
        .range
          .cell-sm-6.cell-xl-12
            time(datetime="2016-01-01")
              span.icon.icon-xxs.fa.fa-calendar.text-middle.text-picton-blue(style="font-size:18px")
              = " "
              span.text-middle.text-dark February 28, 2016
            h4.offset-top-4 About Project
            p My projects differ in a variety of aspects from works of other photographers. On my website you will not find any ordinary photos and shots that can be characterized as dull and boring. In this project I tried to underline the emotional meaning of love and long-lasting relationship. This project features professional models portraying an initial idea of love and passion in these photos.
          .cell-sm-6.cell-xl-12.offset-top-50.offset-sm-top-0.offset-xl-top-50
            h4 Information
            ul.list.list-marked
              li Canon EOS 5D Mark III
              li Canon EF135mm f/2L USM
              li f/8.0
              li 135.0 mm
              li 1/4000
              li ISO 600
