// Section compatible twitter scripts
section.section-98.section-sm-top-98.section-sm-bottom-0.bg-lighter
  .shell
    .range.range-xs-middle
      .cell-lg-6.cell-lg-push-2
        .range.range-xs-center.section-sm-bottom-50
          .cell-xs-10.cell-sm-6
            .unit
              .unit-left
                img.img-responsive.center-block(src="images/logos/logo-require-js.png" width=92 height=100 alt="")
              .unit-body
                h4.text-uppercase.text-bold Require.js
                p The scripts integrates with Require.js in several easy steps - download the script from GIT, add the HTML markup and Tweet HTML markup.

          .cell-xs-10.cell-sm-6.offset-top-66.offset-sm-top-0
            .unit
              .unit-left
                img.img-responsive.center-block(src="images/logos/logo-jquery.png" width=103 height=100 alt="")
              .unit-body
                h4.text-uppercase.text-bold jQuery 1.11+
                p This is one of the key dependencies of the script.

      .cell-lg-6.cell-lg-push-1.offset-top-0.offset-sm-top-66.offset-lg-top-0
        .veil.reveal-sm-block(style="margin-right: -87px")
          img.img-responsive.center-block(src="images/features/rd-twitter-feed-02.png" width="668" height="377" alt='')