//- Includes
include ../elements/_ui-rd-video

section
  // RD Video
  +rd-video({
    "src": "video/bg-video-3/bg-video-3",
    "imageXS": "16",
    "imageSM": "16",
    "imageMD": "22",
    "imageLG": "41",
    "imageXLG": "41",
    "autoplay": "true",
    "preload": "metadata"
  })
    // RD Parallax
    .rd-parallax(data-on="false" data-md-on="true")
      .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
        section.context-dark.bg-overlay-gray-darkest
          .shell
            .range
              .range.range-xs-middle.range-xs-center.section-cover.section-110
                .cell-xs-12
                  div
                    h1.text-uppercase
                      span.big RD Background Video
                  .range.range-xs-center.offset-top-0
                    .cell-xs-10
                      .offset-top-20
                        h4.text-light Feel the power of our brand new RD Background Video Plugin.
                  .range.range-xs-center.offset-top-0
                    .cell-xs-5.cell-sm-4.cell-md-3.offset-top-41.offset-md-top-66
                      a(href=cfg.buyLink).btn.btn-block.btn-primary buy intense now




