// RD Parallax
.bg-gray-base.context-dark
  // RD Parallax
  .rd-parallax(data-on="false" data-md-on="true")
    .section-cover
      .rd-parallax-layer(data-speed="0.2", data-type="media", data-url="images/backgrounds/background-38-1920x1224.jpg")

      .rd-parallax-layer(data-speed="0.275", data-type='html', data-md-offset="-110px")
        .shell.offset-top-124.offset-md-top-0
          .section-xs-top-50.section-sm-top-66.section-md-top-0
            div
            h1.text-uppercase
              span.big RD Parallax

      .rd-parallax-layer.veil.reveal-md-inline-block(data-speed="0.2", data-type="media", data-url="images/backgrounds/background-37-1920x1224.png")

      .rd-parallax-layer(data-speed='0.333', data-type='html', data-md-offset="-34px", data-lg-offset="-37px", data-xl-offset="-47px")
        .context-dark
          .shell
            .range
              .range.range-xs-middle.range-xs-center.section-30.section-md-0
                .range.range-xs-center
                  .cell-xs-10
                    .offset-top-20
                      h4.text-light Create an awesome and clean parallax scrolling effects with our premium RD Parallax plugin.
                  .cell-xs-5.cell-sm-4.cell-md-3.offset-top-41.offset-md-top-66
                    a(href=cfg.buyLink).btn.btn-block.btn-primary buy intense now



