//How It Works
section
  // RD Parallax
  .rd-parallax.bg-lighter
    .rd-parallax-layer(data-speed='0.45', data-type='media', data-url='images/backgrounds/background-39-1920x705.png')
    .rd-parallax-layer(data-speed='0.3', data-type='media', data-url='images/backgrounds/background-40-1920x705.png')
    .rd-parallax-layer(data-speed='0.2', data-type='media', data-url='images/backgrounds/background-41-1920x705.png')
    .rd-parallax-layer(data-speed='0.07', data-type='html')
      .section-98.section-sm-bottom-50
        .shell
          .range.range-xs-center.range-xs-middle.text-md-left
            .cell-xs-10.cell-sm-8.cell-md-6.cell-lg-4
              h1 How It Works
              div
                hr.divider.bg-mantis.reveal-inline-block
              .offset-top-50
                p Our Fantastic RD Parallax Plugin uses a layer method of parallax effect creation. You can create dozens of layers with any custom content you want.

            .cell-md-4.cell-lg-4
              img.img-responsive.veil.reveal-md-inline-block(src="images/features/rd-parallax-02-372x440.png", width="372", height="440", alt="")