
// Section Choose Your Own Design
section.section-98.section-124
  .shell
    .range.range-xs-center
      .cell-xs-10.cell-xl-4.text-center.text-sm-left.cell-xl-push-2
        h1 Information Flow
        .text-left
          p Content is the most important part of any website. Template components of Intense Theme are designed for perception of information as comfortable. These include sections, infographics, counters, tables, etc.
          .group.offset-top-41

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.tables.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.tables.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.tables.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.pricing.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.pricing.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.pricing.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.mediaElements.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.iconBoxes.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.iconBoxes.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.iconBoxes.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.infographics.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.infographics.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.infographics.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.sections.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.sections.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.sections.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.timers.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.timers.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.timers.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.alerts.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.alerts.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.alerts.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.counters.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.counters.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.counters.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.textRotator.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.textRotator.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.textRotator.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.posts.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.posts.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.posts.title

            a(href=cfg.nav.components.submenu.toolkitComponents.submenu.maps.href).btn.btn-sm.bt-rounded.btn-warning.btn-icon.btn-icon-left
              span.icon(class= cfg.nav.components.submenu.toolkitComponents.submenu.maps.icon)
              = cfg.nav.components.submenu.toolkitComponents.submenu.maps.title

      .cell-xs-10.cell-xl-8.offset-sm-top-66.offset-xl-top-0.inset-xl-right-80.cell-xl-push-1
        img.img-responsive.veil.reveal-sm-inline-block.shadow-drop-md(src="images/features/ui-kit-05-700x478.jpg" alt="" width="700" height="478")

