// Cross-Browser Support
section.section-98.section-sm-66.section-md-bottom-0
  .shell
    .range.range-xs-center.range-xs-middle
      .cell-xs-10.cell-sm-8.cell-md-6
        h1 Cross-Browser Support
        hr.divider.bg-mantis
        p.offset-top-50 TThe script works equally well in all the popular browsers used today. Whether users browse your site via Chrome or Mozilla, the calendar will run and look flawless.
        ul.list-inline.offset-top-50
          li
            img.img-responsive(src="images/logos/logo-firefox.png" width="59" height="60" alt="")
          li
            img.img-responsive(src="images/logos/logo-chrome.png" width="59" height="60" alt="")
          li
            img.img-responsive(src="images/logos/logo-safari.png" width="59" height="60" alt="")
          li
            img.img-responsive(src="images/logos/logo-ie.png" width="59" height="60" alt="")
      .cell-xs-10.cell-sm-8.cell-md-6.veil.reveal-md-block
        img.img-responsive(src="images/features/rd-video-01-440x454.png", width="440", height="454", alt="")
