// Maintenance

include ../elements/_ui-timers
include ../elements/_widget-form-subscribe-type-2

section.section-98.section-sm-124
  .shell
    h1
      span.reveal-block.h3.text-dark We are curently working on.
      | This page will appear in

    hr.divider.divider-md.bg-mantis

    .offset-top-66
      +timer({
        "dataTypeattr": "until",
        "dataTime": "25 Apr 2017",
        "dataFormat": "dhms"
      }, 'countdown-custom countdown-ellipse')

    .range.range-sm-center.offset-top-66
      .cell-sm-8.cell-md-6.cell-lg-4
        small Stay tuned and subscribe to our newsletter
        .offset-top-4
          +widget-form-subscribe-type-2("Type your E-Mail", "form-output-global", "text", true)