//- Includes
include ../elements/_ui-rd-parallax

// Complete integration with Twitter
.bg-gray-base.context-dark.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/backgrounds/background-06-1920x1211.jpg")
  .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
    .bg-overlay-gray-darkest
      .shell-wide
        .range
          .range.range-xs-center.range-xs-middle.section-cover.section-110
            .cell-xs-12
              h1.text-uppercase
                span.big twitter social widget
              h4.text-light.offset-top-0 The script was developed to retrieve all types of data from Twitter through Twitter API.

              .range.range-xs-center.offset-top-66
                .cell-xs-5.cell-sm-4.cell-md-4.cell-xl-2.text-sm-right.inset-sm-left-50
                  a.btn.btn-block.btn-primary(href=cfg.buyLink) buy intense now
                .cell-xs-5.cell-sm-4.cell-md-4.cell-xl-2.text-sm-left.inset-sm-right-50
                  a.btn.btn-block.btn-default(href='#' data-custom-scroll-to="twitter-widget") view widget