//- Includes
include ../elements/_ui-rd-parallax

// Join Our Team
section.context-dark
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/backgrounds/background-04-1920x657.jpg",
    "htmlSpeed": "0"
  })
    .bg-overlay-gray-darkest
      .shell.section-66.context-dark
        h1 Join Our Team
        hr.divider.bg-white
        .range.range-xs-center
          .cell-xs-10.cell-xs-8
            div
              p Take a job opportunity of a lifetime – join the team of Intense. We cherish active tech savvies willing to work on projects of any type and complexity. If you are enthusiastic about tech innovations and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.
            .offset-top-30
              a(href=cfg.nav.pages.submenu.contactUs.href).btn.btn-icon.btn-icon-left.btn-default
                span.icon.mdi-email-outline.mdi
                span Send us a letter
