//- Includes
include  ../elements/_ui-timers
include ../elements/_widget-form-subscribe-type-2

// Coming Soon
section
  .shell
    .range
      .range.range-xs-center.range-xs-middle.section-110.section-cover.context-dark
        .cell-xs-12
          h3.text-center We're getting ready to launch in

          hr.divider.divider-md.bg-mantis

          .offset-top-34
            +timer({
              "dataTypeattr": "until",
              "dataTime": "25 Apr 2017",
              "dataFormat": "dhms"
            }, 'countdown-custom countdown-ellipse')

          p.offset-top-30.offset-sm-top-66 Our website is under construction, we are working very hard to give you the best #[<br class="veil reveal-sm-inline-block">] experience on our new web site.
          .range.range-sm-center.offset-top-24
            .cell-sm-8.cell-md-6.cell-lg-4
              small Stay ready, we`re launching soon
              .offset-top-4
                +widget-form-subscribe-type-2("Type your E-Mail", "form-output-global", "text", true)