//- Includes
include  ../elements/_ui-box-icon-type-4

// Login
section
  .shell
    .range
      .section-110.section-cover.range.range-xs-center.range-xs-middle
        .cell-xs-8.cell-sm-6.cell-md-4
          .panel.section-34.section-sm-41.inset-left-20.inset-right-20.inset-sm-left-20.inset-sm-right-20.inset-lg-left-30.inset-lg-right-30.bg-white.shadow-drop-md

            +box-icon-type-4("icon-lg icon-default mdi mdi-account-multiple-outline")
              .offset-top-24.text-darker.big.text-bold Login to your account
              p.text-extra-small.text-dark.offset-top-4 Enter your credentials below

            // RD Mailform
            form.text-left.offset-top-30(data-form-output="form-output-global", data-form-type='contact', method='post')

              .form-group
                .input-group.input-group-sm
                  span.input-group-addon.input-group-addon-inverse
                    span.input-group-icon.mdi.mdi-account-outline
                  input#login-your-login.form-control(placeholder="Your Login" type="text" name="login" data-constraints="@Required")

              .form-group.offset-top-20
                .input-group.input-group-sm
                  span.input-group-addon.input-group-addon-inverse
                    span.input-group-icon.mdi.mdi-lock-open-outline
                  input#login-your-password.form-control(placeholder="Your Password" type="password" name="password" data-constraints="@Required")

              button(type="submit").btn.btn-sm.btn-icon.btn-block.btn-primary.offset-top-20 Sign In #[span.icon.mdi.mdi-arrow-right-bold-circle-outline]
            .offset-top-30.text-sm-left.text-dark.text-extra-small
              a.text-picton-blue(href="#") Forgot your password?
              .offset-top-0 Haven’t an account? #[a.text-picton-blue(href="#{cfg.nav.pages.submenu.register.href}") Sign up here].