//- Includes
include  ../elements/_ui-box-icon-type-2

// Mailform Features
section.section-98.section-sm-110.shadow-drop-lg(style="position: relative;")
  .shell
    .range.range-xs-center.range-xs-middle.range-xl-justify
      .cell-sm-9.cell-lg-6.cell-xl-7
        img.img-responsive.veil.reveal-sm-inline-block.shadow-drop-lg(src="images/features/rd-mailform-03-670x467.png" width="670" height="467" alt="")
      .cell-sm-9.cell-lg-6.cell-xl-4.offset-sm-top-66.offset-lg-top-0
        .inset-lg-left-50.inset-xl-left-0
          +box-icon-type-2("icon-lg icon-circle mdi mdi-cellphone-link material-icons-tag_faces text-picton-blue offset-sm-top-14", "Fully Responsive", "text-uppercase offset-sm-top-24", "Make use of responsive forms using this plugin. Whether visitors access your site via a desktop or smartphone, they can use your forms on all the devices.")
          .offset-top-50
            +box-icon-type-2("icon-lg icon-circle mdi mdi-grid text-picton-blue offset-sm-top-14", "Modular Structure", "text-uppercase offset-sm-top-24", "RD Mailform and its built-in plugins can be used independently of Intense. The modular structure of this script allows you to integrate it into any other HTML templates.")