// section compatible facebook scripts
section.section-98.section-sm-0.bg-lighter
  .shell
    .range.range-sm-middle
      .cell-lg-6.cell-lg-push-2
        .range.range-xs-center.offset-sm-top-98.offset-lg-top-0
          .cell-xs-10.cell-sm-6
            .unit
              .unit-left
                img.img-responsive.center-block(src="images/logos/logo-require-js.png" width="92" height="100" alt="" )
              .unit-body
                h4.text-uppercase.text-bold Require.js
                p RD Flickr Feed is integrated with Require.js. With it the plugin loads much faster, contributing to the user experience provided by your website.
          .cell-xs-10.cell-sm-6.offset-top-66.offset-sm-top-0
            .unit
              .unit-left
                img.img-responsive.center-block(src="images/logos/logo-jquery.png" width="103" height="100" alt="")
              .unit-body
                h4.text-uppercase.text-bold jQuery 1.11+
                p This plugin requires jQuery 1.11+ to be installed on your website to have it running properly.

      .cell-lg-6.cell-lg-push-1.offset-top-0.offset-sm-top-41.offset-lg-top-0
        .veil.reveal-sm-block
          img.img-responsive.center-block(src="images/features/rd-flickr-02.png" width="570" height="509" alt="")