// Easy Integration of mailform with Template Pages
section.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/intros/intro-07-1920x1078.jpg")
  .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
    .bg-overlay-gray-darkest
      .shell.context-dark
        .range
          .range.range-xs-center.range-xs-middle.section-cover.section-110
            .cell-xs-12
              h1.text-uppercase
                span.big set of form plugins
              h4.text-light.offset-top-0.inset-md-left-80.inset-md-right-80.veil.reveal-sm-block Add a form to any page, where you want to motivate visitors for a contact. Depending on your needs, you can use a contact, subscription or booking form type.

              .range.range-xs-center.offset-top-41
                .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-3.text-sm-right.inset-sm-left-50
                  a.btn.btn-block.btn-primary(href=cfg.buyLink) buy intense now
                .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-3.text-sm-left.inset-sm-right-50.offset-top-20.offset-sm-top-0
                  a.btn.btn-block.btn-default(href='#' data-waypoint-to="#mailform-widget") view widget