//- Includes
include ../elements/_ui-rd-parallax

// Intense is the most powerful Bootstrap theme on TemplateMonster
section.bg-gray-base.context-dark.rd-parallax(data-on="false" data-md-on="true")
  .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/intros/intro-04-1920x955.jpg")
  .rd-parallax-layer.bg-overlay-gray-darkest(data-speed="0.3", data-type='html' data-md-fade="true")
    .shell-wide
      .range
        .range.range-xs-center.range-xs-middle.section-cover.section-110
          .cell-xs-11.cell-lg-8.cell-xl-6
            h1.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.4s") Intense is the most powerful Bootstrap theme on TemplateMonster

            .range.range-xs-center.offset-top-41.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s")
              .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-5.cell-xl-4.text-sm-right
                .inset-lg-left-50
                  a.btn.btn-block.btn-primary.btn-anis-effect(href=cfg.buyLink) buy intense now
              .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-5.cell-xl-4.text-sm-left.offset-top-20.offset-sm-top-0
                .inset-lg-right-50
                  a.btn.btn-block.btn-default(href='#' data-waypoint-to="#section-childs") start a journey