//- Includes
include ../elements/_ui-thumbnail-zoe
include ../elements/_ui-isotope
// Portfolio zoe effects
section.section-98.section-sm-110
  .shell
    .offset-top-34
      +isotope(['All', 'Gallery 1', 'Gallery 2'],{
        "group": "gallery",
        "layout": "fitRows",
        "alignClass": "isotope-filters-horizontal"
      }, "isotope-1")
        .row(data-photo-swipe-gallery="gallery")
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-zoe({
              "type": "thumbnail",
              "title": "Your Title",
              "thumb": {"src": "images/portfolio/portfolio-01-570x420.jpg", "width": 570, "height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-01-570x420.jpg", "width": 570, "height": 420, "alt": ""}
            },
            [{
              "iconClass": "mdi mdi-heart-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-comment-multiple-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-open-in-new",
              "iconHref": cfg.nav.portfolio.submenu.singleProject.href
            }
            ])
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-zoe({
              "type": "thumbnail",
              "title": "Your Title",
              "thumb": {"src": "images/portfolio/portfolio-03-570x420.jpg", "width": 570,"height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-03-570x420.jpg", "width": 570,"height": 420, "alt": ""}
            },
            [{
              "iconClass": "mdi mdi-heart-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-comment-multiple-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-open-in-new",
              "iconHref": cfg.nav.portfolio.submenu.singleProject.href
            }
            ])
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 2")
            +thumbnail-zoe({
              "type": "thumbnail",
              "title": "Your Title",
              "thumb": {"src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570,"height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-05-570x420.jpg", "width": 570,"height": 420, "alt": ""}
            },
            [{
              "iconClass": "mdi mdi-heart-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-comment-multiple-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-open-in-new",
              "iconHref": cfg.nav.portfolio.submenu.singleProject.href
            }
            ])
          .col-xs-12.col-sm-6.isotope-item(data-filter="Gallery 1")
            +thumbnail-zoe({
              "type": "thumbnail",
              "title": "Your Title",
              "thumb": {"src": "images/portfolio/portfolio-07-570x420.jpg", "width": 570,"height": 420, "alt": ""},
              "target": {"src": "images/portfolio/portfolio-07-570x420.jpg", "width": 570,"height": 420, "alt": ""}
            },
            [{
              "iconClass": "mdi mdi-heart-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-comment-multiple-outline",
              "iconHref": "#"
            }, {
              "iconClass": "mdi mdi-open-in-new",
              "iconHref": cfg.nav.portfolio.submenu.singleProject.href
            }
            ])
