// What Wiki Says
section.section-98.section-md-bottom-0
  .shell
    .range.range-xs-center.range-md-reverse.range-xs-middle.text-md-left
      .cell-xs-10.cell-sm-8.cell-md-6.cell-lg-4
        h1 What Wiki Says
        div
          hr.divider.bg-mantis.reveal-inline-block
        .offset-top-50
          p Parallax scrolling is a technique in computer graphics and web design, where background images move by the camera slower than foreground images, creating an illusion of depth in a 2D scene and adding to the immersion.
      .cell-md-4.cell-lg-4
        img.img-responsive.veil.reveal-md-inline-block(src="images/features/rd-parallax-01-372x412.png", width="372", height="412", alt="")
