//- Includes
include ../elements/_ui-media-elements

// About Us
section.section-98.section-md-110
  .shell
    .range.text-lg-left
      .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-push-6
        .shadow-drop-xl
          +media-elements({
            "type": "rd-video-player",
            "ratio": "16by9",
            "href": "video/intense/intense",
            "title": "What can we say about Intense ?",
            "preview": "video/intense/intense-preview.jpg",
            "classes": "play-on-scroll",
            "muted": "true",
            "preload": "false"
          })
      .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-pull-6.offset-top-30.offset-lg-top-0
        .inset-lg-right-20
          h3 About Us
          hr.divider.hr-lg-left-0.bg-blue-gray
          p TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from. Since coming up in May 2002, we've gone partners with Magento, Drupal, WordPress, PrestaShop, Joomla, WooCommerce, and many more. 1 million clients were served during this time. Web templates + installation + hosting + customization + Search Engine Optimization + copywriting — all these services you can always get at TemplateMonster.com. If you're thirsty for knowledge, TemplateMonster blog provides you with the most recent web design news, infographics, freebies, discounts & promos.