//- Includes
include  ../elements/_ui-tabs-classic

//Section Real Estate Agents
section.section-98.section-sm-110.section-bottom-66
  .shell
    h2.text-bold Company
    hr.divider.bg-mantis
    .offset-sm-top-66
      +tabs-classic(['Overview', 'Soul of agency ', 'Team', 'Testimonials'])
        div.text-center.text-md-left
          .range.range-xs-center.section-34
            .cell-sm-6.cell-md-3
              img.img-responsive.reveal-inline-block(src="images/users/user-alex-merphy-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Alex Merphy
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:alex@demolink.org") alex@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-amanda-smith-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Amanda Smith
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:amanda@demolink.org") amanda@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-bernard-show-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Bernard Show
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:bernard@demolink.org") bernard@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-diana-russo-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Diana Russo
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:diana@demolink.org") diana@demolink.org
            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/users/user-eugene-newman-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Eugene Newman
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:eugene@demolink.org") eugene@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/users/user-john-doe-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") John Doe
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:john@demolink.org") john@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/users/user-sam-cole.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Sam Cole
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:sam@demolink.org") sam@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/users/user-july-mao-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") July Mao
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:july@demolink.org") july@demolink.org
        div.text-center.text-md-left
          .range.range-xs-center.section-34
            .cell-sm-6.cell-md-3
              img.img-responsive.reveal-inline-block(src="images/users/user-kira-force-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Kira Force
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:kira@demolink.org") kira@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-amanda-smith-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Amanda Smith
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:amanda@demolink.org") amanda@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-ronald-oswald-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Ronald Oswald
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:ronald@demolink.org") ronald@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-sam-cole-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Sam Cole
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:sam@demolink.org") sam@demolink.org

        div.text-center.text-md-left
          .range.range-xs-center.section-34
            .cell-sm-6.cell-md-3
              img.img-responsive.reveal-inline-block(src="images/users/user-diana-russo-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Diana Russo
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:diana@demolink.org") diana@demolink.org
            .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-eugene-newman-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Eugene Newman
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:eugene@demolink.org") eugene@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-john-doe-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") John Doe
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:john@demolink.org") john@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-sam-cole.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Sam Cole
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:sam@demolink.org") sam@demolink.org
        div.text-center.text-md-left
          .range.range-xs-center.section-34
            .cell-sm-6.cell-md-3
              img.img-responsive.reveal-inline-block(src="images/users/user-alex-merphy-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Alex Merphy
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:alex@demolink.org") alex@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-amanda-smith-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Amanda Smith
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:amanda@demolink.org") amanda@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-bernard-show-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Bernard Show
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:bernard@demolink.org") bernard@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/users/user-diana-russo-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Diana Russo
              address.contact-info.text-md-left
                ul.list-unstyled.p
                  li
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:diana@demolink.org") diana@demolink.org