include ../elements/_ui-box-icon-type-2
// section compatible parallax scripts
section.section-98.section-md-110.bg-blue-gray.context-dark
  .shell
    .range.range-xs-center
      .cell-xs-10.cell-sm-8.cell-md-4
        +box-icon-type-2("icon-lg icon-circle mdi mdi-cellphone-link", "Fully Responsive", "text-uppercase offset-sm-top-24", "Let visitors use the calendar on different devices, be it a HD desktop or mobile phone. Thanks to its fully responsive nature, it can scale down to any viewport automatically.")
      .cell-xs-10.cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle mdi mdi-language-html5", "clean and valid html5/css", "text-uppercase offset-sm-top-24", "Due to clean ansd well commented HTML code you will find it amazingly easy to customize the project and optimise your theme for search engines.")
      .cell-xs-10.cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
        +box-icon-type-2("icon-lg icon-circle mdi mdi-code-braces", "Query 1.11+", "text-uppercase offset-sm-top-24", "Before setting up RD Event Calendar, you’ll need to install jQuery 1.11+. It will provide an optimal performance of the script on your website.")
    .offset-top-66
      a(href=cfg.buyLink).btn.btn-lg.btn-default.btn-icon.btn-icon-left
        span.icon.mdi.mdi-cart-outline
        | Buy intense now