//- Includes
include ../elements/_ui-thumbnail-zoe
include ../elements/_ui-isotope
// Portfolio fullwidth 3 columns
section.section-top-98.section-sm-top-110
  .offset-top-50
    +isotope(['All', 'Design', 'Development', 'Marketing'],{
      "group": "gallery",
      "layout": "fitRows",
      "alignClass": "isotope-filters-horizontal"
    }, "isotope-1")
      .offset-top-30.row.row-condensed(data-photo-swipe-gallery="gallery")
        .col-xs-12.col-sm-4.isotope-item(data-filter="*")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Complex Solutions",
            "thumb": { "src": "images/portfolio/portfolio-14-640x480.jpg", "width": 640, "height": 480, "alt": ""},
            "target": { "src": "images/portfolio/portfolio-14-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-4.isotope-item(data-filter="Design")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Meaningful Design",
            "thumb": { "src": "images/portfolio/portfolio-15-640x480.jpg", "width": 640, "height": 480, "alt": ""},
            "target": { "src": "images/portfolio/portfolio-15-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-4.isotope-item(data-filter="Marketing")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "New Vision",
            "thumb": { "src": "images/portfolio/portfolio-16-640x480.jpg", "width": 640, "height": 480, "alt": ""},
            "target": { "src": "images/portfolio/portfolio-16-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-4.isotope-item(data-filter="Design")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Love Story",
            "thumb": { "src": "images/portfolio/portfolio-17-640x480.jpg", "width": 640, "height": 480, "alt": ""},
            "target": { "src": "images/portfolio/portfolio-17-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-4.isotope-item(data-filter="Development")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Breaking Horizons",
            "thumb": { "src": "images/portfolio/portfolio-18-640x480.jpg", "width": 640, "height": 480, "alt": ""},
            "target": { "src": "images/portfolio/portfolio-18-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])
        .col-xs-12.col-sm-4.isotope-item(data-filter="Development")
          +thumbnail-zoe({
            "type": "thumbnail",
            "title": "Your Specials",
            "thumb": { "src": "images/portfolio/portfolio-11-640x480.jpg", "width": 640, "height": 480, "alt": ""},
            "target": { "src": "images/portfolio/portfolio-11-1170x600.jpg", "width": 1170, "height": 600, "alt": ""}
          },
          [{
            "iconClass": "mdi mdi-heart-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-comment-multiple-outline",
            "iconHref": "#"
          }, {
            "iconClass": "mdi mdi-open-in-new",
            "iconHref": cfg.nav.portfolio.submenu.singleProject.href
          }
          ])