// Third-Party Scripts Support
section.section-98.section-sm-110.bg-blue-gray.context-dark
  .shell
    h1 Third-Party Scripts Support
    hr.divider.bg-white
    .range.range-xs-center.offset-top-50
      .cell-md-8
        p Twitter feed can be integrated with any third-party script like carousel feed display, lightbox functionality support as well as filters and other smart options for better content presentation.
        a(href=cfg.buyLink).btn.btn-lg.btn-default.btn-anis-effect.btn-icon.btn-icon-left.offset-top-10
          span.icon.mdi.mdi-cart-outline
          | Buy intense now