//- Includes
include ../elements/_ui-rd-parallax
// Complete integration with Facebook
+rd-parallax({
  "backgroundSpeed": "0.35",
  "attrType": "media",
  "src": "images/rd-facebook-feed-01.jpg",
  "htmlSpeed": "0"
})
  .shell-wide.context-dark
    .range.range-xs-center.range-xs-middle.section-cover.section-110
      .cell-xs-12
        h1.text-uppercase
          span.big Complete integration with Facebook
        h4.text-light.offset-top-0 By adding RD Facebook Feed to your website, you will get complete integration with Facebook, with all the latest Facebook news being showcased in a concise timeline.
        .group-lg.offset-top-66
          a(href="#").btn.btn-primary buy intense now
          a(href="#").btn.btn-default view widget