// Dedicated 24/7 Support
section.section-98.section-sm-110
  .shell
    .range.range-xs-center
      .cell-sm-10.cell-md-8.cell-lg-6
        span.icon.icon-lg.mdi.mdi-headset
        .offset-top-20
          h1 Dedicated 24/7 Support
          p Our Support Service is always available 24 hours a day, 7 days a week to help you create your own business solution.