//- Includes
include  ../elements/_ui-box-icon-type-4
include ../elements/_ui-rd-parallax

// Section main future
section.context-dark
  section.section-66.section-top-50.bg-mantis.section-triangle.section-triangle-bottom
    .shell
      .range.range-sm-center
        h2
          span.big Take Full Control of Your Site
        .cell-md-8
          p.
            Check out an incredible set of features provided by Intense. We collected all common required features in
            one theme. That makes Intense one of the most awesome themes on the market. Intense allows you to take
            control of almost every element and section of the site.
    +triangle-gradient('rgb(99,189,98)', 'rgb(99,189,98)', "0,0 60,0 29,29", "grad1")
  // RD Parallax
  section
    +rd-parallax({
      "backgroundSpeed": "0.35",
      "attrType": "media",
      "src": "images/backgrounds/background-01-1920x1275.jpg",
      "htmlSpeed": "0"
    })
      .shell
        .range.range-xs-center.section-top-124.section-bottom-110
          .cell-xs-10.cell-sm-11.cell-lg-12
            .range.range-xs-center
              .cell-sm-6.cell-lg-4
                +box-icon-type-4("icon-outlined icon-pink-filled mdi mdi-format-bold")
                  h4.text-uppercase.offset-top-30.text-bold Based on bootstrap 3
                  p.inset-left-7p.inset-right-7p.
                    Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap. It gives you confidence in quality and flexibility of the product you buy
              .cell-sm-6.cell-lg-4.offset-top-66.offset-sm-top-0
                +box-icon-type-4("icon-outlined icon-malibu-filled mdi mdi-cube-outline")
                  h4.text-uppercase.offset-top-30.text-bold Extended  toolkit
                  p.inset-left-7p.inset-right-7p.
                    Intense provides a poweful and flexible exntended toolkit in addition to basic Bootsrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.
              .cell-sm-6.cell-lg-4.offset-top-66.offset-lg-top-0
                +box-icon-type-4("icon-outlined icon-carrot-filled mdi mdi-palette")
                  h4.text-uppercase.offset-top-30.text-bold Unlimited skins & colors
                  p.inset-left-7p.inset-right-7p.
                    Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts.
              .cell-sm-6.cell-lg-4.offset-top-66
                +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-vector-arrange-below")
                  h4.text-uppercase.offset-top-30.text-bold Parallax Effects
                  p.inset-left-7p.inset-right-7p.
                    Everyone loves parallax scrolling effects, they are simply beautiful. Intense has advanced parallax options & controls based on flexible and easy-to-use RD Parallax plugin."
              .cell-sm-6.cell-lg-4.offset-top-66
                +box-icon-type-4("icon-outlined icon-blue-gray-filled mdi mdi-share-variant")
                  h4.text-uppercase.offset-top-30.text-bold Social Integration
                  p.inset-left-7p.inset-right-7p.
                    Intense has full set of social icons and styling options which allow you to share any content the way you wish.
              .cell-sm-6.cell-lg-4.offset-top-66
                +box-icon-type-4("icon-outlined icon-mantis-filled mdi mdi-spellcheck")
                  h4.text-uppercase.offset-top-30.text-bold Made for speed
                  p.inset-left-7p.inset-right-7p.
                    We know how embarassing and time-consuming can be content loading, so we took care of pages optimization for your smooth expirience.
              .cell-sm-6.cell-lg-4.offset-top-66
                +box-icon-type-4("icon-outlined icon-malibu-filled mdi mdi-magnify")
                  h4.text-uppercase.offset-top-30.text-bold Seo optimized
                  p.inset-left-7p.inset-right-7p.
                    Intense was built with care allowing search engines to index the pages of your site correctly to achieve  higher rankings in search results.
              .cell-sm-6.cell-lg-4.offset-top-66
                +box-icon-type-4("icon-outlined icon-carrot-filled mdi mdi-headset")
                  h4.text-uppercase.offset-top-30.text-bold 5 Star Support
                  p.inset-left-7p.inset-right-7p.
                    We know how it feels to need support. We provide qualified 24/7 support to treat you as we would like to be treated.
              .cell-sm-10.cell-lg-4.offset-top-66
                +box-icon-type-4("icon-outlined icon-pink-filled mdi mdi-brush")
                  h4.text-uppercase.offset-top-30.text-bold Advanced UI KIT
                  p.inset-left-7p.inset-right-7p.
                    Intense has dozens of new components and elements built on the same level of quality as Bootstrap elements and highlighted with several example pages.



