include ../elements/_ui-rd-parallax
include ../elements/_ui-quote-simple
include ../elements/_widget-post
include ../elements/_ui-box-comment

// Blog Wide Single post
section.bg-fixed(style="background-image: url(images/backgrounds/background-20-1920x1275.jpg); background-position: right center;")
  .section-split.bg-white
    .inset-left-11p.inset-right-11p.section-98.section-sm-110
      article
        .small.text-uppercase.text-spacing-60.text-picton-blue Web Design
        h3.offset-top-14 Making Money Online with Your Computer Only

        time(datetime="2016-01-01").small February 22, 2015, 18:30

        p.text-left.offset-top-24 Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time. Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.

        p.text-left So, what to begin with? Find your strong points. What are you good at? Are you good at designing? Even if you are able to design only simple logos, you'll be still making money online. And if you are a pro in logo/graphic design, then you'll be making more. There are people looking online for guys like you. We recommend you to take things seriously. Only if you are serious in making money online you'll find the way to make a steady income.

        +quote-simple("I am really happy I’ve purchased a template from TemplateMonster. Congratulations!")

        p.text-left What is the basic necessity to make money online? It’s just a computer and an internet connection. You don't need a tutor for learning to make money online. You'll learn how to do that online for free. Even if everything you can do is typing on your keyboard - there are tons of data entry jobs available online, where no technical skills are needed.


      hr.offset-top-66

      h4.offset-top-66.text-uppercase.text-spacing-120.text-bold Related Posts

      .range.offset-top-34
        .cell-sm-6
          +widget-post(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/14/2015", "Making Money Online with Your Computer Only", {
            "w": 60,
            "h": 60,
            "src": "images/users/user-john-doe-60x60.jpg",
            "alt": ""
          }, "", "text-picton-blue")
          .offset-top-24
            +widget-post(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/18/2015", "Proper Color Solutions For The Office", {
              "w": 60,
              "h": 60,
              "src": "images/users/user-bernard-show-60x60.jpg",
              "alt": ""
            }, "", "text-picton-blue")

        .cell-sm-6.offset-top-24.offset-sm-top-0
          +widget-post(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/9/2015", "Four Types of Verbal Communication", {
            "w": 60,
            "h": 60,
            "src": "images/users/user-sam-cole-60x60.jpg",
            "alt": ""
          },"", "text-picton-blue")

          .offset-top-24
            +widget-post(cfg.nav.blog.submenu.classic.submenu.singlePost.href, "05/21/2015", "Let’s Change the world", {
              "w": 60,
              "h": 60,
              "src": "images/users/user-july-mao-60x60.jpg",
              "alt": ""
            }, "", "text-picton-blue")
      #comments
      hr.offset-top-66

      h4.offset-top-66.text-uppercase.text-spacing-120.text-bold Comments

      .offset-top-41
        //- Comment 1
        +box-comment(
        "box-comment-classic",
        {
          "width": 60,
          "height": 60,
          "src": "images/users/user-alex-merphy-60x60.jpg",
          "alt": "Alex Merphy"
        },
        "Feb 18, 9:14",
        "Alex Merphy",
        "Very smart people working on the project — they provided great insight and brought experience to it. Sales person was very prompt."
        )
          //- Reply 1
          +box-comment(
          "box-comment-classic",
          {
            "width": 60,
            "height": 60,
            "src": "images/users/user-kira-force-60x60.jpg",
            "alt": "Kira Force"
          },
          "Feb 18, 10:13",
          "Kira Force",
          "They have outperformed every expectation we had. The company promised — and delivered with fewer steps and minimal paper."
          )
            //- Reply 2
          +box-comment(
          "box-comment-classic",
          {
            "width": 60,
            "height": 60,
            "src": "images/users/user-eugene-newman-60x60.jpg",
            "alt": "Eugene Newman"
          },
          "Feb 18, 9:14",
          "Eugene Newman",
          "The service is excellent and the personnel I worked with are great. Very responsive team and easy company to work with. I enjoy our partnership."
          )
            //- Comment 2
        +box-comment(
        "box-comment-classic",
        {
          "width": 60,
          "height": 60,
          "src": "images/users/user-diana-russo-60x60.jpg",
          "alt": "Diana Russo"
        },
        "Feb 17, 7:34",
        "Diana Russo",
        "An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!"
        )

      form.rd-mailform.offset-top-41.text-left(data-form-output="form-contact-me", data-form-type='contact', method='post', action='bat/rd-mailform.php')
        .form-group
          label.form-label(for="post-wide-comment-message") Message:
          textarea#post-wide-comment-message.form-control(data-constraints="@Required" style="height: 170px")
        .group-sm.text-left.offset-top-20
          button(type="submit").btn.btn-primary comment



