//- Includes
include ../elements/_ui-counter-type-2

// Who we are?
section.section-98.section-sm-110.bg-gray-darkest.context-dark
  .shell-fluid
    .range.range-sm-center
      .cell-sm-8.cell-md-12
        .range
          .cell-md-3.cell-sm-6
            +counter-type-2("Templates", "mdi mdi-vector-arrange-below text-mantis", {
              "dataTo": "58249",
              "dataSpeed": "3000"
            }, "bg-white")
          .cell-md-3.cell-sm-6.offset-top-66.offset-sm-top-0
            +counter-type-2("Happy Clients", "mdi mdi-account-multiple-outline text-malibu", {
              "dataTo": "246",
              "dataSpeed": "2500",
              "preffix": "K"
            }, "bg-white")
          .cell-md-3.cell-sm-6.offset-top-66.offset-md-top-0
            +counter-type-2("Hours of Coding", "mdi mdi-clock text-neon-carrot", {
              "dataTo": "1200",
              "dataSpeed": "1500"
            }, "bg-white")
          .cell-md-3.cell-sm-6.offset-top-66.offset-md-top-0
            +counter-type-2("Lines of Code", "mdi mdi-code-brackets text-ku-crimson", {
              "dataTo": "834",
              "dataSpeed": "1300",
              "preffix": "K"
            }, "bg-white")
