//- icon - icon class
//- title - box title
//- desc - description of box
mixin box-icon-type-4(icon, title, desc)
  // Icon Box Type 4
  span.icon.icon-circle(class= icon)
  h5.text-bold.text-uppercase= title
  p.text-light= desc