//- Testimonials Slider

mixin testimonials-slider-4(testimonials)
  // Testimonials Slider v.4
  .owl-carousel.owl-carousel-classic.owl-carousel-class-light.owl-carousel-testimonials-3(data-items="1" data-sm-items="2" data-lg-items="3" data-nav="false" data-dots="true" data-margin="50px" )
    each testimonial in testimonials
      div
        blockquote.quote.quote-slider-4.unit.uni-spacing-sm.unit-sm-horizontal
          .unit-left
            img.quote-img.img-circle(width=testimonial.image.width, height=testimonial.image.height, src=testimonial.image.src, alt=testimonial.image.alt)
          .unit-body.text-left
            div
              p
                q= testimonial.q
            p.text-bold.quote-author.offset-top-10.offset-sm-top-4
              cite.text-normal= testimonial.title