include ../elements/_widget-form-contact
include ../elements/_widget-list-social
include ../elements/_ui-quote-simple-slider

// Default footer
footer.section-relative.section-top-66.section-bottom-34.page-footer.bg-gray-base.context-dark
  .shell
    .range.range-sm-center.text-lg-left
      .cell-sm-12
        .range.range-xs-center
          .cell-xs-10.cell-sm-6.text-xs-left.cell-md-6.cell-lg-4.cell-lg-push-3.cell-md-push-2.cell-lg-preffix-1
            h6.text-uppercase.text-spacing-60.text-center.text-md-left Contact us

            +widget-form-contact()


          .cell-xs-12.offset-top-66.cell-lg-3.cell-lg-push-1.offset-lg-top-0.cell-md-push-3
            // Footer brand
            .footer-brand
              a(href="index.html") !{cfg.brand.logo}
            p.text-darker.offset-top-4 !{cfg.brand.slogan}

            address.contact-info.offset-top-30.p
              div
                dl
                  dt.text-white Address:
                  dd.text-dark.reveal-lg-block 28 Jackson Blvd Ste #[span.reveal-lg-block 1020 Chicago] #[span.reveal-lg-block IL 60604-2340.]

              div
                dl.offset-top-0
                  dt.text-white Telephone:
                  dd.text-dark
                    a(href='callto:#') +1 800 559 6580
              div
                dl.offset-top-0
                  dt.text-white E-mail:
                  dd.text-dark
                    a(href='mailto:#') mail@demolink.org

          .cell-xs-10.cell-sm-6.offset-top-66.offset-md-top-0.text-xs-left.cell-md-6.cell-lg-4.cell-lg-push-2.cell-md-push-1
            h6.text-uppercase.text-spacing-60.text-center.text-md-left What people say
            +quote-simple-slider(
              [{
                "title": "Alex Merphy",
                "q": "This is one of the best restaurants I have visited. Everything was excellent. The food was served in a  very creative way. Would recommend to all."
              },
              {
                "title": "July Mao",
                "q": "Your Restaurant is the best family place for me. It is already a tradition for us to visit this place every Friday evening. I really enjoy everything."
              },
              {
                "title": "John Doe",
                "q": "This is where I go every time I feel overwhelmed with nostalgia or just want to taste the real pasta one more time. Highly recommend."
              }
            ], "text-white")

            .offset-top-34.text-xs-center.text-md-left
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                },
                {
                  "icon": "fa fa-linkedin",
                  "href": "#"
                }
              ])



  .shell.offset-top-50
    p.small.text-darker
      | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
      // {%FOOTER_LINK}