//- Includes
include ../elements/_widget-rd-calendar
include ../elements/_widget-event
include ../elements/_widget-flickrfeed

// Section Blog Events
aside.text-left
  .range
    .cell-sm-6.cell-md-12.offset-sm-top-41.offset-md-top-0
      // RD calendar
      +widget-rd-calendar([
        {
          "date": "04/12/2016",
          "time": "8:00 AM",
          "title": "Pitae augue vitae matt",
          "link": "#"
        },
        {
          "date": "04/13/2016",
          "time": "9:00 AM",
          "title": "Pitae augue vitae matt",
          "link": "#"
        }
      ])

    // Recent Events
    .cell-sm-6.cell-md-12.offset-top-41
      h6.text-uppercase.text-spacing-60 Recent Events
      div.text-subline
      .offset-top-34
        +widget-event("#", "January 1 2016", "9:00 PM", "New Year 2016 Party", null)
      .offset-top-30
        +widget-event("#", "January 7 2016", "9:00 PM", "Christmas party ideas", null)
      .offset-top-30
        +widget-event("#", "January 28 2016", "9:00 PM", "St. Patrick's Day Celebration", null)

  // Flickr Feed
  h6.offset-top-41.text-uppercase.text-spacing-60 Flickr Feed
  div.text-subline
  .offset-top-34
    +widget-flickrfeed("tm58888_landscapes", {"data-image_q": "src"}, 9)