//- Includes
include ../elements/_ui-member-block-type-3
include ../elements/_widget-flickrfeed
include ../elements/_widget-form-search
include ../elements/_widget-tags
include ../elements/_widget-twitter

// Section Blog Modern
aside
  +member-block-type-3("images/user-tammy-tran-110x110.jpg", "Tammy Tran", "Handmader",[{
    "iconClass": "mdi mdi-facebook",
    "btnLink": "#"
  },
    {
      "iconClass": "mdi mdi-twitter",
      "btnLink": "#"
    },
    {
      "iconClass": "mdi mdi-google-plus",
      "btnLink": "#"
    }], "All Posts")

  .text-left.offset-top-41
    // Search Form
    h6.text-uppercase.text-spacing-60 Search
    div.text-subline

    .offset-top-34
      +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-2-form-search-widget")

    // Twitter Feed
    h6.offset-top-41.text-uppercase.text-spacing-60 Twitter Feed
    div.text-subline

    .offset-top-34
      +widget-twitter({
        "dataTwitterUsername": "templatemonster"
      })


    .range.offset-top-41
      .cell-xs-6.cell-md-12
        // Category
        h6.text-uppercase.text-spacing-60 Categories
        div.text-subline

        ul.list.list-marked.offset-top-30
          li
            a(href="#") Handmade #[span.text-dark (37)]
          li
            a(href="#") Scrapbooking #[span.text-dark (211)]
          li
            a(href="#") Woodwork #[span.text-dark (12)]
          li
            a(href="#") Textile #[span.text-dark (7)]
          li
            a(href="#") News #[span.text-dark (15)]

      .cell-xs-6.cell-md-12.offset-top-41.offset-xs-top-0.offset-md-top-41
        // Archive
        h6.text-uppercase.text-spacing-60 Archive
        div.text-subline

        ul.list.list-marked.offset-top-30
          li
            a(href="#") January 2016 #[span.text-dark (17)]
          li
            a(href="#") December 2015 #[span.text-dark (121)]
          li
            a(href="#") November 2015 #[span.text-dark (19)]
          li
            a(href="#") October 2015 #[span.text-dark (9)]
          li
            a(href="#") September 2015 #[span.text-dark (25)]

    // Tags
    h6.offset-top-41.text-uppercase.text-spacing-60 Tags
    div.text-subline

    .offset-top-34.context-light
      +widget-tags("btn btn-xs btn-default", [
        {"title": "handmade", "href": "#"},
        {"title": "woodwork", "href": "#"},
        {"title": "news", "href": "#"},
        {"title": "textile", "href": "#"},
        {"title": "scrapbooking", "href": "#"}
      ])