//- Includes
include  ../elements/_ui_accordion-classic
include  ../elements/_ui-tabs-boxed-vertial
include ../elements/_ui-product-grid-type-2
include ../elements/_ui-media-elements

-
  var product = {
  "title": "95 Piece Wood Box Easel Painting Set 12 tubes of Oil Colors",
  "brand": "Brand Name",
  "price": [
  "59.00",
  "34.00"
  ],
  "image": [
  {
  "src": "images/single-product-01-338x338.png",
  "alt": "",
  "extraLarge": "images/shop-product-1-1-extra-large.png",
  "thumb": "images/single-product-01-78x76.png",
  "width": 78, 
  "height": 76
  },
  {
  "src": "images/single-product-02-338x338.png",
  "alt": "",
  "extraLarge": "images/shop-product-1-2-extra-large.png",
  "thumb": "images/single-product-02-78x76.png",
  "width": 78,
  "height": 76
  },
  {
  "src": "images/single-product-03-338x338.png",
  "alt": "",
  "extraLarge": "images/shop-product-1-3-extra-large.png",
  "thumb": "images/single-product-03-78x76.png",
  "width": 78,
  "height": 76
  }
  ],
  "label": {
  "adClass": "label-danger",
  "text": "Sale"
  },
  "reviews": 4,
  "desc": "Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies."
  };




.product.product-single
  .range.range-xs-center
    .cell-sm-8.cell-md-5
      .product-image
        img.img-responsive(src=product.image[0].src alt=product.image[0].alt).product-image-area
        - if (product.image.length)
          ul.product-thumbnails
            each image, index in product.image
              li(data-large-image=image.src class= (index == 0) ? "active" : "")
                img.img-responsive(src=image.thumb alt=image.alt width=image.width height=image.height)

    .cell-sm-12.cell-md-7.text-left.offset-top-66.offset-md-top-0
      // Product Brand
      p.product-brand.text-italic.text-dark= product.brand
      // Product Title
      h3.product-title.offset-top-0.font-default.text-darker.text-regular
        a(href= cfg.nav.shop.submenu.singleProduct.href)= product.title

      // Product Rating
      .product-rating.offset-top-20
        span.mdi.mdi-star
        span.mdi.mdi-star
        span.mdi.mdi-star
        span.mdi.mdi-star-half
        span.mdi.mdi-star-outline
        span.product-review-count.text-dark= product.reviews + " customer reviews"

      +accordion-classic(['Description', 'Composition', 'Delivery & Returns'])
        div
          | If you are into creating handmade artworks, this painting set is what you need to make your handmade ideas look stunning. It can become a perfect present both for a child and an adult. Produced by industry leading art supplies and consumables manufacturer, this set includes a multitude of oil and acrylic colors, pastels, a plastic palette knife, and a sketch paper pad among other items.
        div
          | This painting set contains 12 tubes of Oil Colors, 12 Oil Pastels, Plastic Palette Knife, 3 Assorted Oil Painting Brushes, 2 28"x10" Canvas Panels, 12 tubes of Acrylic Colors, 12 Artist Pastels, 3 Assorted Acrylic Painting Brushes, Palette Knife, Hb Pencil, 12 tubes of Watercolor Paints, 12 Watercolor Pencil Pastels, 3 Assorted Watercolor Brushes, 9"x12" Watercolor Paper Pad, 9"x12" Sketch Paper Pad, Plastic Palette with 6 Wells, Plastic Knife, 2B Pencil, Pencil Sharpener, Pencil Eraser.
        div
          | We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be. If you are not satisfied with the quality of your purchase or single items included in it, you can return your order to us. It is important to preserve the original packaging and any documents you get from your courier.


      // Product price
      .product-price.text-bold.h3.text-darker.text-ubold.offset-top-34
        - if (typeof(product.price) == 'string'){
          span= '$' + product.price
        -}else{
          span.product-price-new= "$" + product.price[1]
          span.product-price-old.text-dark.small= '$' + product.price[0]
        -}

      .offset-top-34

        .form-group.product-number
          label.text-dark Quantity:
          input.form-control.input-sm.form-control-impressed(type="number" data-zeros="true" value="1" min="1" max="20")
        // Product Add To cart
        a(href= cfg.nav.shop.submenu.checkout.href).btn.btn-sm.btn-primary.btn-icon.btn-icon-left.product-btn.offset-top-20.offset-xs-top-0
          span.icon.mdi.mdi-cart-outline
          | Add to Cart


  .offset-top-66
    +tabs-boxed-vertical(['Additional Information', 'Video Review', 'Customer Reviews', 'Comments'])
      div
        | Intense Handmade provides a wide variety of products for sewing, painting, carving, and scrapbooking since 2005. As a trusted partner of many art supplies manufacturers, we also offer our clients painting sets and consumables for them. On our website you can easily find products from US Art Supply, Winson & Newton, Koi, Artist’s Loft, Liquitex, and other renowned companies. We take care of the quality of our products, performing regular checkups of every new item we receive from our partners. It eliminates a possibility of receiving defective goods and guarantees reliability of our services.
        | Painting sets and consumables available on our website allow you to express your creativity without any limitations. When you order them for your handmade craft at Intense, you can be sure in our dedication to supplying you with the products of the highest quality. Our painting sets are offered at prices that even the enthusiasts in handmade craft and design will find affordable. Our company organizes delivery using the facilities of America’s most trusted service – USPS. If you’d like to discuss any aspect of ordering painting sets or other products at our store, feel free to contact our managers.
      div
        +media-elements({
          "type": "video",
          "href": "//www.youtube.com/embed/NN6zt1sF73w",
          "ratio": "16by9"
        })
      div
        h5.text-uppercase 4 Customer Reviews

        // CUSTOMER REVIEWS
        ul.list-unstyled.list-reviews.offset-sm-top-30
          li
            ul.list-inline.list-xs-inline
              li
                span.text-bold.text-uppercase.big John Doe
              li.star-raiting
                span.big
                  span.big
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi.mdi-star-half.text-warning
                    span.mdi.mdi.mdi-star-outline.text-warning
            p.offset-top-10
              | This painting set really helped my kid to implement his drawing ideas into a great artwork that took 1st place in his school’s art contest. All items present in this set are of high quality and are worth money spent on them.

          li.offset-top-30
            ul.list-inline.list-xs-inline
              li
                span.text-bold.text-uppercase.big Alex Ross
              li.star-raiting
                span.big
                  span.big
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
            p.offset-top-10
              | I have just bought this set but I have already appreciated it at its true value. The items available in this painting set are not only worth the money, most of them are also made of eco-friendly materials, and are great for implementing of any handmade ideas.

          li.offset-top-30
            ul.list-inline.list-xs-inline
              li
                span.text-bold.text-uppercase.big Diana Roe
              li.star-raiting
                span.big
                  span.big
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi.mdi-star-outline.text-warning
                    span.mdi.mdi.mdi-star-outline.text-warning
            p.offset-top-10
              | Me and my daughter are often busy with creating handmade decorations for sale when we have some free time. This painting set often helps us to add more creativity to our current handmade cut-outs in comparison with our previous works.

          li.offset-top-30
            ul.list-inline.list-xs-inline
              li
                span.text-bold.text-uppercase.big Sara Cole
              li.star-raiting
                span.big
                  span.big
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi-star.text-warning
                    span.mdi.mdi.mdi-star.text-warning
                    span.mdi.mdi.mdi-star-half.text-warning
            p.offset-top-10
              | I wasn’t really sure whether to buy this set or not, but after I did, I managed to create amazing handmade gifts with its help. This set includes a lot of great instruments suitable not only for handmade but also for any other artistic work including design and modeling.

      div
        h5.text-uppercase Comments

        // CUSTOMER REVIEWS
        ul.list-unstyled.list-reviews.offset-sm-top-30
          li
            div
              p.text-bold.text-uppercase.big John Doe
            p.offset-top-10
              | This painting set really helped my kid to implement his drawing ideas into a great artwork that took 1st place in his school’s art contest. All items present in this set are of high quality and are worth money spent on them.

          li.offset-top-30
            div
              p.text-bold.text-uppercase.big Alex Ross
            p.offset-top-10
              | I have just bought this set but I have already appreciated it at its true value. The items available in this painting set are not only worth the money, most of them are also made of eco-friendly materials, and are great for implementing of any handmade ideas.

        h6.offset-top-41.text-uppercase Leave a comment
        .form-group
          label.form-label.form-label-outside(for="comment-message") Message:
          textarea#comment-message.form-control(data-constraints="@Required" style="height: 170px")
        .group-sm.text-left.offset-top-30
          button(type="submit").btn.btn-sm.btn-primary comment


.offset-top-66
  h1.text-between Related Products
  .range

    .cell-xs-6.cell-sm-4.offset-top-41.offset-xs-top-0
      +product-grid-type-2({
        "title": "Artist Paint Brush Set Nylon Hair Oil Painting Supplies",
        "link": cfg.nav.shop.submenu.singleProduct.href,
        "brand": null,
        "price": [
          "219.00",
          "124.00"
        ],
        "image": [
          {
            "src": "images/product-02-232x229.png",
            "width": 232,
            "height": 229,
            "alt": ""
          },
          {
            "src": "images/product-02-232x229.png",
            "width": 232,
            "height": 229,
            "alt": ""
          },
          {
            "src": "images/product-02-232x229.png",
            "width": 232,
            "height": 229,
            "alt": ""
          }
        ]
      })
    .cell-xs-6.cell-sm-4.offset-top-41.offset-xs-top-0
      +product-grid-type-2({
        "title": "Castle Art Supplies Acrylic Paint Set Pack of 12 Colors",
        "link": cfg.nav.shop.submenu.singleProduct.href,
        "brand": null,
        "price": "289.00",
        "image": [
          {
            "src": "images/product-03-217x215.png",
            "width": 217,
            "height": 215,
            "alt": ""
          },
          {
            "src": "images/product-03-217x215.png",
            "width": 217,
            "height": 215,
            "alt": ""
          }, {
            "src": "images/product-03-217x215.png",
            "width": 217,
            "height": 215,
            "alt": ""
          }
        ]
      })
    .cell-xs-6.cell-sm-4.offset-top-41.offset-sm-top-0
      +product-grid-type-2({
        "title": "Color Set Marco Renoir Fine Art Drawing Oil Base Pencils",
        "link": cfg.nav.shop.submenu.singleProduct.href,
        "brand": null,
        "price": [
          "189.00",
          "219.00"
        ],
        "image": [
          {
            "src": "images/product-04-229x223.png",
            "width": 229,
            "height": 223,
            "alt": ""
          },
          {
            "src": "images/product-04-229x223.png",
            "width": 229,
            "height": 223,
            "alt": ""
          },
          {
            "src": "images/product-04-229x223.png",
            "width": 229,
            "height": 223,
            "alt": ""
          }
        ]
      })