// Swiper
section.section-relative
  .swiper-container.swiper-slider(data-loop="true" data-autoplay="true" data-slide-effect="fade" data-height="100vh" data-dragable="false" data-min-height="480px" data-dots="true")
    .swiper-wrapper
      .swiper-slide.swiper-slide-overlay-disable.swiper-slide-center(data-slide-bg='images/home-01-1920x1028.jpg')
      .swiper-slide.swiper-slide-overlay-disable.swiper-slide-center(data-slide-bg='images/home-02-1920x1028.jpg')
      .swiper-slide.swiper-slide-overlay-disable.swiper-slide-center(data-slide-bg='images/home-03-1920x1028.jpg')
    // Swiper Pagination
    .swiper-pagination.swiper-pagination-type-2
  .section-center-absolute
    .text-extra-big.text-white.font-accent Unique creations
    h5.text-regular.text-white.offset-top-10 For Unique Occasions
    .shell.offset-top-41.offset-sm-top-66
      .range.range-xs-center
        .cell-sm-6.cell-md-5.cell-lg-4.cell-xl-5
          a.btn.btn-block.btn-primary.btn-ellipse(href= cfg.nav.shop.href) shop now
        .cell-sm-6.cell-md-5.cell-lg-4.cell-xl-5.offset-top-20.offset-sm-top-0
          a.btn.btn-block.btn-default.btn-ellipse.btn-anis-effect(href= cfg.nav.blog.href) view blog