// Artists Rating
section.section-top-98.section-sm-110.bg-lighter
  .shell
    h1.text-between Artists Rating
    .range.range-xs-center
      .cell-md-10.cell-lg-12
        .range.text-sm-left
          .cell-xs-6.cell-lg-4
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
              .unit-left
                img(src="images/user-tiffany-harper-120x120.jpg" width="120" height="120" alt="Tiffany Harper")
              .unit-body
                div
                  h5.text-primary
                    a(href="#") Tiffany Harper
                div.offset-top-10
                  .text-dark.offset-top-0 Scrapbooking, polymer clay
                .offset-top-14
                  .icon.icon-xxs.mdi.mdi-trending-up.text-dark.text-middle
                  span.text-darkest.text-middle.inset-left-10 1806.98
          .cell-xs-6.cell-lg-4.offset-top-41.offset-xs-top-0
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
              .unit-left
                img(src="images/user-marie-myers-120x120.jpg" width="120" height="120" alt="Marie Myers")
              .unit-body
                div
                  h5.text-primary
                    a(href="#") Marie Myers
                div.offset-top-10
                  .text-dark.offset-top-0 Scrapbooking, polymer clay
                .offset-top-14
                  .icon.icon-xxs.mdi.mdi-trending-up.text-dark.text-middle
                  span.text-darkest.text-middle.inset-left-10 1687.54
          .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
              .unit-left
                img(src="images/user-hannah-sandoval-120x120.jpg" width="120" height="120" alt="Hannah Sandoval")
              .unit-body
                div
                  h5.text-primary
                    a(href="#") Hannah Sandoval
                div.offset-top-10
                  .text-dark.offset-top-0 Scrapbooking, polymer clay
                .offset-top-14
                  .icon.icon-xxs.mdi.mdi-trending-up.text-dark.text-middle
                  span.text-darkest.text-middle.inset-left-10 1387.54

          // Next Range
          .range-spacer.veil.reveal-lg-block.offset-top-50

          .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
              .unit-left
                img(src="images/user-amy-perry-120x120.jpg" width="120" height="120" alt="Amy Perry")
              .unit-body
                div
                  h5.text-primary
                    a(href="#") Amy Perry
                div.offset-top-10
                  .text-dark.offset-top-0 Scrapbooking, polymer clay
                .offset-top-14
                  .icon.icon-xxs.mdi.mdi-trending-up.text-dark.text-middle
                  span.text-darkest.text-middle.inset-left-10 1106.98
          .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
              .unit-left
                img(src="images/user-gloria-warren-120x120.jpg" width="120" height="120" alt="Gloria Warren")
              .unit-body
                div
                  h5.text-primary
                    a(href="#") Gloria Warren
                div.offset-top-10
                  .text-dark.offset-top-0 Scrapbooking, polymer clay
                .offset-top-14
                  .icon.icon-xxs.mdi.mdi-trending-up.text-dark.text-middle
                  span.text-darkest.text-middle.inset-left-10 987.54
          .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
              .unit-left
                img(src="images/user-sarah-graham-120x120.jpg" width="120" height="120" alt="Sarah Graham")
              .unit-body
                div
                  h5.text-primary
                    a(href="#") Sarah Graham
                div.offset-top-10
                  .text-dark.offset-top-0 Scrapbooking, polymer clay
                .offset-top-14
                  .icon.icon-xxs.mdi.mdi-trending-up.text-dark.text-middle
                  span.text-darkest.text-middle.inset-left-10 887.54

    .range.range-xs-center.offset-top-66
      .cell-xs-10.cell-sm-6.cell-md-5.cell-lg-4.inset-left-50.inset-xs-left-80.inset-right-50.inset-xs-right-80
        a(href="#").btn.btn-block.btn-default.btn-ellipse view all members