//
// RD Navbar Default First level of Menu
// --------------------------------------------------

%rd-navbar-default-menu-first-lvl {
  .rd-navbar-nav {
    @include clearfix;
    > li {
      float: left;
      position: relative;
      > a {
        @extend %rd-navbar-default-link-font;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0.06em;

        > .rd-navbar-label {
          position: absolute;
          margin: -10px 0 0 -15px;
        }
      }

      &.rd-navbar--has-megamenu {
        position: static;
      }

      + li {
        margin-left: 45px;
      }
    }

    li.focus {
      > .rd-navbar-dropdown, > .rd-navbar-megamenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown li > a {
  font-size: 14px;
}

.rd-navbar-default.rd-navbar-transparent.rd-navbar-static .rd-navbar-nav li {
  &.active > a, &.focus > a, > a:hover {
    color: $brand-primary;
  }
}

//
// Dark Theme
// --------------------------------------------------

%rd-navbar-default-menu-first-lvl-dark {
  .rd-navbar-nav {
    > li {
      a {
        color: $rd-navbar-dark-menu-first-lvl-list-item-link-color;
      }
    }
  }
}

//
// Light Theme
// --------------------------------------------------

%rd-navbar-default-menu-first-lvl-light {
  .rd-navbar-nav {
    > li {
      a {
        color: $rd-navbar-light-menu-first-lvl-list-item-link-color;
      }
    }
  }
}