extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-post-modern
include ../elements/_ui-pagination-bootstrap

//-Title
block title
  title= cfg.nav.advice.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.advice,
    cfg.nav
    )

    // Breadcrumbs
    section
      +rd-parallax({
        "backgroundSpeed": "0.25",
        "attrType": "media",
        "src": "images/background-03-1920x447.jpg",
        "htmlSpeed": "0",
        "fade": "false"
      })
        .shell
          .range
            .range.range-xs-middle.range-xs-center.section-41.section-sm-50.section-md-66.context-dark
              .cell-xs-12
                div
                  h1.text-capitalize
                    span.big
                      | Advice
                .offset-top-10
                  ul.list-inline.list-inline-dashed.text-italic.p
                    li
                      a(href="index.html") Home
                    li
                      | Advice

  // Page Contents
  main.page-content.section-98.section-sm-top-110.section-sm-bottom-124
    .shell
      .range.range-xs-center
        .cell-xs-10.cell-sm-8.cell-md-8
          .range
            .cell-md-6
              +post-modern("advice-single.html", "", "2 days ago", "The Truth About Money", [
                {"title": "Books", "href": "#"}],
              {
                "type": "thumbnail",
                "thumb": {"src": "images/post-09-370x321.jpg", "width": 370, "height": 321, "alt": ""},
                "target": {"href": "advice-single.html"}
              })
                p The Truth About Money, 1th Edition is a comprehensive, practical, "how-to" manual on financial planning, is one of the most highly acclaimed books in the personal finance field. You'll discover everything you need to know about investments, insurance, long-term care, planning for retirement, buying and selling your home, getting out of debt, how to pay for college, weddings and cars, and much more.
              .offset-top-41.offset-md-top-30
                +post-modern("advice-single.html", "", "2 days ago", "Listen to The Truth About Retirement with John Doe", [
                  {"title": "article", "href": "#"}],
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/post-11-370x230.jpg", "width": 370, "height": 321, "alt": ""},
                  "target": {"href": "advice-single.html"}
                })
                  p John gives you comprehensive, educational advice that is both entertaining and useful. The most important chart on Retirement investing you`ll ever see.

            .cell-md-6.offset-top-41.offset-md-top-0
              +post-modern("advice-single.html", "", "2 days ago", "The Expert Opinion: Help With IRA Rollovers", [
                {"title": "article", "href": "#"}],
              {
                "type": "thumbnail",
                "thumb": {"src": "images/post-10-370x230.jpg", "width": 370, "height": 321, "alt": ""},
                "target": {"href": "advice-single.html"}
              })
                p A new, taxpayer-unfriendly rule regarding IRA rollovers took effect as the calendar rolled over to a new year. Starting on Jan. 1, 2015, if an IRA rollover occurs from one IRA, the IRA owner can’t do another rollover from any IRA for a 12-month period.  To give you some perspective, let’s look at what’s changed and what it means for IRA owners.
              .offset-top-41.offset-md-top-30
                +post-modern("advice-single.html", "", "2 days ago", "More Than 100 Financial Planners, One Philosophy", [
                  {"title": "video", "href": "#"}],
                {
                  "type": "thumbnail",
                  "thumb": {"src": "images/post-12-370x230.jpg", "width": 370, "height": 321, "alt": ""},
                  "target": {"href": "advice-single.html"}
                })
                  p All of our planners believe that everyone, rich or not so rich, deserves great financial advice and planning services.
          .offset-top-66.text-md-left
            +pagination-bootstrap('pagination-sm', 1, [{}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {"href": "#"}, {"href": "#"})
        .cell-xs-10.cell-md-4.offset-top-66.offset-md-top-0
          include ../sections/_section-sidebar



  // Page Footer
  include ../sections/_section-footer-default