extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-rd-map

//-Title
block title
  title= cfg.nav.contacts.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.contacts,
    cfg.nav
    )

    // Breadcrumbs
    section
      +rd-parallax({
        "backgroundSpeed": "0.25",
        "attrType": "media",
        "src": "images/background-03-1920x447.jpg",
        "htmlSpeed": "0",
        "fade": "false"
      })
        .shell
          .range
            .range.range-xs-middle.range-xs-center.section-41.section-sm-50.section-md-66.context-dark
              .cell-xs-12
                div
                  h1.text-capitalize
                    span.big
                      | Contacts
                .offset-top-10
                  ul.list-inline.list-inline-dashed.text-italic.p
                    li
                      a(href="index.html") Home
                    li
                      | Contacts

  // Page Contents
  main.page-content
    //Get In Touch
    section.section-98.section-sm-top-110.section-sm-bottom-124
      .shell
        .range.range-xs-center
          .cell-xs-10.cell-sm-8.cell-md-8.text-md-left
            h1 Get In Touch
            div
              hr.divider.divider-lg.bg-mantis.reveal-inline-block
            .offset-top-30.offset-md-top-66
              p You can contact me any way that is convenient for you. I am available 24/7 via fax, email or telephone. You can also use a quick contact form located on this page to ask a question about my services and projects I work on. I would be happy to answer your questions or offer any help.
            .offset-top-50
              // RD Mailform
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .range.range-xs-center
                  .cell-sm-6
                    .form-group
                      label.form-label.form-label-outside.form-label-size-lg.form-label-size-lg(for="git-3-mailform-first-name") First name
                      input#git-3-mailform-first-name.form-control(type="text" name="firstname" data-constraints="@Required")
                  .cell-sm-6
                    .form-group
                      label.form-label.form-label-outside.form-label-size-lg(for="git-3-mailform-last-name") Last name
                      input#git-3-mailform-last-name.form-control(type="text" name="lastname" data-constraints="@Required")
                  .cell-sm-12
                    .form-group.offset-sm-top-20
                      label.form-label.form-label-outside.form-label-size-lg(for="git-3-mailform-email") E-mail
                      input#git-3-mailform-email.form-control(type="text" name="email" data-constraints="@Required @Email")
                  .cell-sm-12
                    .form-group.offset-sm-top-20
                      label.form-label.form-label-outside.form-label-size-lg(for="git-3-mailform-message") Message
                      textarea#git-3-mailform-message.form-control(name="message" data-constraints="@Required")
                  .cell-sm-12.offset-top-30.text-center.text-md-left
                    button(type="submit", style="width:166px;").btn.btn-primary send
          .cell-xs-10.cell-md-4.offset-top-66.offset-md-top-0
            // Sidebar
            aside.text-left
              .inset-md-left-50.inset-lg-left-74
                div
                  h5.text-darker Social
                div.text-subline.offset-top-10
                ul.list-inline.list-inline-sm.list-inline-white.offset-top-30.text-darker
                  li.h6.offset-top-0
                    span.big
                      a.text-dark(href="#" class="fa fa-facebook")
                  li.h6.offset-top-0
                    span.big
                      a.text-dark(href="#" class="fa fa-twitter")
                  li.h6.offset-top-0
                    span.big
                      a.text-dark(href="#" class="fa fa-google-plus")
                  li.h6.offset-top-0
                    span.big
                      a.text-dark(href="#" class="fa fa-youtube")

                div.offset-top-41
                  h5.text-darker Phone
                div.text-subline.offset-top-10
                .p.unit.unit-spacing-xs.unit-horizontal.offset-top-24
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-cellphone-android.text-primary
                  .unit-body
                    a(href="callto:#") 1-800-1234-567

                div.offset-top-41
                  h5.text-darker Address
                div.text-subline.offset-top-10
                .p.unit.unit-spacing-xs.unit-horizontal.offset-top-24
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-map-marker.text-primary
                  .unit-body
                    address
                      | 4578 Marmora St, San Francisco D04 89GR

                div.offset-top-41
                  h5.text-darker Open Hours
                div.text-subline.offset-top-10
                .p.unit.unit-spacing-xs.unit-horizontal.offset-top-24
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-clock.text-primary
                  .unit-body
                    address
                      | Monday–Friday: 9:00am–6:00pm
                      br
                      | Saturday: 10:00am–4:00pm
                      br
                      | Sunday: 10:00am–1:00pm

                .range.range-xs-center.offset-top-50
                  .cell-xs-10.cell-sm-6.cell-md-12
                    a(href="make-an-appointment.html").btn.btn-block.btn-warning BOOK AN APPOINTMENT
    // Section RD Google map
    section
      +rd-map({
        "zoom": "14",
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "dataStyles": [
          {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [{"lightness": 100}, {"visibility": "simplified"}]
          }, {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [{"visibility": "on"}, {"color": "#C6E2FF"}]
          }, {
            "featureType": "poi",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#C5E3BF"}]
          }, {"featureType": "road", "elementType": "geometry.fill", "stylers": [{"color": "#D1D1B8"}]}
          ]
      },[{
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
      }])

  // Page Footer
  include ../sections/_section-footer-default