extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-post-modern
include ../elements/_ui-pagination-bootstrap

//-Title
block title
  title Make An Appointment

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    '',
    cfg.nav
    )

    // Breadcrumbs
    section
      +rd-parallax({
        "backgroundSpeed": "0.25",
        "attrType": "media",
        "src": "images/background-03-1920x447.jpg",
        "htmlSpeed": "0",
        "fade": "false"
      })
        .shell
          .range
            .range.range-xs-middle.range-xs-center.section-41.section-sm-50.section-md-66.context-dark
              .cell-xs-12
                div
                  h1.text-capitalize
                    span.big
                      | Make an Appointment
                .offset-top-10
                  ul.list-inline.list-inline-dashed.text-italic.p
                    li
                      a(href="index.html") Home
                    li
                      | Free Consultation

  // Page Contents
  main.page-content
    include ../sections/_section-calendar
    // Have a Question?
    section.section-bottom-66.section-top-34.section-lg-top-98.section-lg-bottom-124
      .shell
        h1 Have a Question?
        div
          hr.divider.divider-lg.bg-mantis
        .offset-top-41.offset-md-top-66
          .range.range-xs-center
            .cell-xs-10.cell-md-8
              // RD Mailform
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .range.range-xs-center
                  .cell-sm-6
                    .form-group
                      label.form-label.form-label-outside.form-label-size-lg.form-label-size-lg(for="git-3-mailform-first-name") First name
                      input#git-3-mailform-first-name.form-control(type="text" name="firstname" data-constraints="@Required")
                  .cell-sm-6
                    .form-group
                      label.form-label.form-label-outside.form-label-size-lg(for="git-3-mailform-last-name") Last name
                      input#git-3-mailform-last-name.form-control(type="text" name="lastname" data-constraints="@Required")
                  .cell-sm-12
                    .form-group.offset-sm-top-20
                      label.form-label.form-label-outside.form-label-size-lg(for="git-3-mailform-email") E-mail
                      input#git-3-mailform-email.form-control(type="text" name="email" data-constraints="@Required @Email")
                  .cell-sm-12
                    .form-group.offset-sm-top-20
                      label.form-label.form-label-outside.form-label-size-lg(for="git-3-mailform-message") Message
                      textarea#git-3-mailform-message.form-control(name="message" data-constraints="@Required")
                  .offset-top-30.text-center
                    button(type="submit", style="width:270px;").btn.btn-lg.btn-primary submit



  // Page Footer
  include ../sections/_section-footer-default