include ../elements/_ui-tabs-classic
include ../elements/_widget-form-search
include ../mixins/_rd-navbar-submenu-simple

//- RD Navbar Transparent
//- skin - rd navbar skin (transparent, inverse, default)
//- attrs - additional HTML attributes of rd navbar
//- logo - logo markup (<img/> or text)
//- links - nav links object
mixin rd-navbar-top-panel(skin, attrs, logo, activeLink, links)
    // RD Navbar Transparent
    .rd-navbar-wrap
      nav&attributes(attrs).rd-navbar.rd-navbar-top-panel(class="#{skin}" data-lg-stick-up-offset="79px" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static")
        .container
          .rd-navbar-inner

            .rd-navbar-top-panel
              .left-side
                ul.list-inline.list-inline-sm.list-inline-white.text-darker
                  li
                    a.text-dark(href="#" class="fa fa-facebook")
                  li
                    a.text-dark(href="#" class="fa fa-twitter")
                  li
                    a.text-dark(href="#" class="fa fa-google-plus")
                  li
                    a.text-dark(href="#" class="fa fa-youtube")
                  li
                    a.text-dark(href="#" class="fa fa-linkedin")

              .center
                address.contact-info.text-left
                  span
                    span.icon.mdi.mdi-map-marker
                    a(href="#").text-middle.p.text-dark 4578 Marmora St, San Francisco D04 89GR



              .right-side
                address.contact-info.text-left
                  span
                    span.icon.mdi.mdi-cellphone-android
                    a.text-middle.p.text-bold.text-dark(href="callto:#") 1-800-1234-567
                    =' '
                    span.p.text-info.text-middle Call me please!



            // RD Navbar Panel
            .rd-navbar-panel
              // RD Navbar Toggle
              button.rd-navbar-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap")
                span
              // RD Navbar Top Panel Toggle
              button.rd-navbar-top-panel-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel")
                span

              //Navbar Brand
              .rd-navbar-brand
                a(href="../index.html") !{logo}

            .rd-navbar-menu-wrap
              .rd-navbar-nav-wrap
                -var tabs = [cfg.nav.components]
                -var megamenus = [cfg.nav.pages]
                -var type = 'simple'

                .rd-navbar-mobile-scroll
                  //Navbar Brand Mobile
                  .rd-navbar-mobile-brand
                    a(href="../index.html") !{logo}

                  // RD Navbar Nav
                  ul.rd-navbar-nav
                    each link, title in links
                      -type = 'simple'
                      li(class=(activeLink.title == link.title) ? 'active' : '')
                        a(href=link.href class=link.icon)
                          span= link.title
                          - if (typeof(link.label) !== 'undefined')
                            span.rd-navbar-label.text-middle.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{link.label}
                        each tab in tabs
                          - if (JSON.stringify(tab) === JSON.stringify(link) ) type = 'tabs'

                        each megamenu in megamenus
                          -if (JSON.stringify(megamenu) === JSON.stringify(link) ) type = 'megamenu'

                        case type
                          when 'tabs'
                            .rd-navbar-megamenu
                              -var tabList = []
                              each title in link.submenu
                                -tabList.push(title.title)
                              if tabList.length > 0
                                +tabs-classic(tabList)
                                  each tab in link.submenu
                                    .row
                                      -var megamenuColumns = 4
                                      -var columnLength = Object.keys(tab.submenu).length / megamenuColumns

                                      - for (var i = 1; i <= megamenuColumns; i++){
                                        -var j = 0
                                          ul(class='col-md-' + 12 / megamenuColumns)
                                            each dropdown in tab.submenu
                                              -j++
                                              -if (j <= (i - 1) * columnLength) continue
                                              -if (j > i*columnLength) break
                                              li
                                                a(href=dropdown.href)
                                                  span.rd-navbar-icon(class=dropdown.icon)
                                                  span.text-middle= dropdown.title
                                                  - if (typeof(dropdown.label) !== 'undefined')
                                                    span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{dropdown.label}
                                      -}
                          when 'megamenu'
                            .rd-navbar-megamenu
                              .row
                                -var megamenuColumns = 4
                                -var columnLength = Object.keys(link.submenu).length / megamenuColumns
                                - for (var i = 1; i <= megamenuColumns; i++){
                                  -var j = 0
                                    ul(class='col-md-' + 12 / megamenuColumns)
                                      each dropdown in link.submenu
                                        -j++
                                        -if (j <= (i - 1) * columnLength) continue
                                        -if (j > i*columnLength) break
                                        li
                                          a(href=dropdown.href)
                                            span.rd-navbar-icon(class=dropdown.icon)
                                            span.text-middle= dropdown.title
                                            - if (typeof(dropdown.label) !== 'undefined')
                                              span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{dropdown.label}

                                -}

                          default
                            +rd-navbar-simple-submenu(link)

