//
// Comment Boxes
// --------------------------------------------------

// Base styles
// -------------------------
.list-comments{

}

// Classic Comments
// -------------------------
.list-comments-classic{

}

// Boxed Comments
// -------------------------
.list-comments-boxed{

}

// Outbox Comments
// -------------------------
.list-comments-outlined{

}
