//
// Dividers
// --------------------------------------------------


// Hr
// --------------------------------------------------

.hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  padding: 0;
  height: 1px;
  background: $gray-lighter;
}

.hr-dashed{
  height: 0;
  border-bottom: 1px dashed $gray;
  background-color: transparent;
}

.hr-gradient{
  @include divider-gradient($white, $gray);
}


// Text Subline
// --------------------------------------------------

.text-subline {
  position: relative;
  height: 1px;
  padding: 0;
  border: none;
  background: $gray;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 40px;
    background: $gray-base;
  }
}


// Divider
// --------------------------------------------------

// Base Styles

.divider{
  margin: 27px auto 34px;
  border: none;
  padding: 0;
  width: 40px;
  height: 2px;
  background: $gray;
}

.divider-vertical {
  width: 2px;
  height: 20px;
  background: $gray;
}

// Sizing

.divider-sm{
  width: 30px;
}

.divider-lg{
  width: 60px;
  height: 3px;
}

// Styles

@include indent-responsive(hr, null, (margin-left, margin-right), (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl), auto);
@include indent-responsive(hr, left, margin-left, (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl), 0);
@include indent-responsive(hr, right, margin-right, (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl), 0);