//
// Icons
// --------------------------------------------------

// Base styles
// -------------------------

.icon {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 54px;
  line-height: 56px;
  font-style: normal;

  &:before {
    display: inline-block;
    position: relative;
  }
}

a.icon{
  transition: .3s;
}


// Icon shapes
// -------------------------

.icon-rect,
.icon-circle,
.icon-rounded,
.icon-outlined{
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 32px;
  border: 2px solid;
}

.icon-circle{
  border-radius: 50%;
}

.icon-rounded{
  border-radius: $border-radius-base;
}

.icon-outlined{
  position: relative;
  &, &:after{
    border-radius: 50%;
  }

  &:after{
    content: '';
    position: absolute;
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    border: 2px solid $gray-lighter;
  }
}

// Icon sizes
// -------------------------
.icon-xxs {
  font-size: 24px;
  line-height: 24px;

  &.icon-rect,
  &.icon-rounded,
  &.icon-circle,
  &.icon-outlined{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}

.icon-xs {
  font-size: 32px;
  line-height: 32px;

  &.icon-rect,
  &.icon-rounded,
  &.icon-circle,
  &.icon-outlined{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
  }
}

.icon-sm {
  font-size: 42px;
  line-height: 42px;

  &.icon-rect,
  &.icon-rounded,
  &.icon-circle,
  &.icon-outlined{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
  }
}

.icon-lg {
  font-size: 72px;
  line-height: 72px;

  &.icon-rect,
  &.icon-rounded,
  &.icon-circle,
  &.icon-outlined{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
  }
}

.icon-xlg {
  font-size: 96px;
  line-height: 96px;

  &.icon-rect,
  &.icon-rounded,
  &.icon-circle,
  &.icon-outlined{
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
  }
}

// Icon Appearance
// -------------------------

.icon-default{
  color: $gray-darker;
  border-color: $gray;
}

.icon-darker{
  color: $gray-darker;
  border-color: $gray-darker;
}

.icon-primary{
  color: $brand-primary;
  border-color: $brand-primary;
}

.icon-deluge{
  color: $brand-deluge;
  border-color: $brand-deluge;
}

.icon-picton-blue{
  color: $brand-picton-blue;
  border-color: $brand-picton-blue;
}

.icon-success{
  color: $brand-success;
  border-color: $brand-success;
}

.icon-warning{
  color: $brand-warning;
  border-color: $brand-warning;
}

.icon-danger{
  color: $brand-danger;
  border-color: $brand-danger;
}

.icon-info{
  color: $brand-info;
  border-color: $brand-info;
}

%icon-filled{
  color: $white;
  border: none;
}

.icon-darker-filled{
  @extend %icon-filled;
  background: $gray-darker;
}

.icon-darkest-filled{
  @extend %icon-filled;
  background: $gray-darkest;
}

.icon-shark-filled{
  @extend %icon-filled;
  @include bg-variant-custom(linear-gradient(45deg, $gray-base 0%, $gray-darker 100%));
}

.icon-mantis-filled{
  @extend %icon-filled;
  @include bg-variant-custom(linear-gradient(45deg, $brand-primary 0%, $brand-picton-blue 100%));
}

.icon-pink-filled{
  @extend %icon-filled;
  @include bg-variant-custom(linear-gradient(45deg, $brand-deluge 0%, $brand-butterfly-bush 100%));
}

.icon-malibu-filled{
  @extend %icon-filled;
  @include bg-variant-custom(linear-gradient(45deg, $brand-butterfly-bush 0%, $brand-iceberg 100%));
}

.icon-carrot-filled{
  @extend %icon-filled;
  @include bg-variant-custom(linear-gradient(45deg, $brand-warning 0%, $brand-neon-carrot 100%));
}

.icon-red-filled{
  @extend %icon-filled;
  @include bg-variant-custom(linear-gradient(45deg, $brand-danger 0%, $brand-ku-crimson 100%));
}

.icon-blue-gray-filled{
  @extend %icon-filled;
  @include bg-variant-custom(linear-gradient(45deg, $brand-deluge 0%, $brand-butterfly-bush 100%));
}

// Additional icon sizes for icon fonts
// -------------------------

.icon {

  &.icon-xs{
    &.mdi-monitor{
      font-size: 28px;
    }

  }

  &.icon-sm{
    &.mdi-monitor{
      font-size: 36px;
    }
    &.mdi-code-brackets,
    &.mdi-clock,
    &.mdi-vector-arrange-below{
      font-size: 45px;
    }

  }

  &.icon-lg{

  }

  &.icon-xl{

  }
}

.icon-rect,
.icon-circle,
.icon-rounded,
.icon-outlined{

  &.mdi-vector-arrange-below,
  &.mdi-share-variant,
  &.mdi-magnify,
  &.mdi-monitor{
    font-size: 36px;
  }
  &.mdi-brush{
    font-size: 38px;
  }
  &.mdi-cube-outline,
  &.mdi-palette{
    font-size: 40px;
  }
  &.mdi-format-bold,
  &.mdi-spellcheck,
  &.mdi-rocket,
  &.mdi-xml{
    font-size: 42px;
  }


  &.icon-xs{

  }

  &.icon-sm{

  }

  &.icon-lg{

  }

  &.icon-xl{

  }
}

// Fonts List Icon
// -------------------------

a{
  &.icon-rect,
  &.icon-circle,
  &.icon-outlined,
  &.icon-rounded{
    &.fa-facebook:hover{
      color: $white;
      background: #0956b5;
    }

    &.fa-twitter:hover{
      color: $white;
      background: #28d4f9;
    }

    &.fa-google-plus:hover{
      color: $white;
      background: #f96a23;
    }

    &.fa-linkedin:hover{
      color: $white;
      background: #0E7EB5;
    }

    &.fa-500px:hover{
      color:$white;
      background: #bebebe;
    }

    &.fa-behance:hover{
      background: #64aae1;
      color:$white;
    }
  }
}

// Fonts List Icon
// -------------------------

.fontawesome-icon-list {
  text-align: left;
  .icon-list-item {
    i {
      padding-right: 15px;
      font-size: 22px;
      line-height: 22px;
      float: left;
    }
    padding: 15px 0 15px 20px;
    font-size: 18px;
    line-height: 18px;
    border-radius: $border-radius-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: $brand-primary;
      color: $white;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

      i {
        @include transform (scale(1.5));
      }
    }
  }
}

