//
// Custom Thumbnails
// --------------------------------------------------

// Base styles
// -------------------------
%thumbnail {
  &,
  > figure {
    position: relative;
    display: block;
  }

  img,
  figure img {
    width: 100%;
    height: auto;
    transition: .35s;
    will-change: transform;
  }

  figure figcaption,
  figcaption {
    position: absolute;
  }
}

// Bootstrap Thumbnail
// -------------------------
.thumbnail {
  transition: .3s;
  border: none;
  box-shadow: $shadow-area-md;
}

a.thumbnail:hover {
  box-shadow: $shadow-area-lg;
}

// Thumbnail Classic
// -------------------------
.thumbnail-classic {
  @extend %thumbnail;

  > img,
  > figure > img {
    box-shadow: 0 0 0 0 nth($shadow-area-md, 5);
  }

  > figure figcaption,
  > figcaption {
    top: 50%;
    left: 0;
    right: 0;
    padding: $thumbnail-classic-figcaption-padding;
    @include transform(translateY(-50%));
    @include transition(0.3s all ease);
  }

  &-title {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    z-index: 9;
    padding: $thumbnail-classic-title-padding;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: $thumbnail-classic-title-background;
    box-shadow: $thumbnail-classic-title-box-shadow;
    @include transform(translateY(-50%));
    @include transition(0.3s all ease);
  }

  &-desc {
    padding: $thumbnail-classic-desc-padding;
    opacity: 0;
    color: $thumbnail-classic-desc-color;
    background: $thumbnail-classic-desc-background;
    box-shadow: $thumbnail-classic-desc-box-shadow;
    @include transform(scale(0.9));
    @include transition(0.3s all ease);
  }

  &:hover {
    z-index: 1;
    > img,
    > figure > img {
      box-shadow: $thumbnail-classic-hover-box-shadow;
      @include transform(scale(1.05));
      will-change: contents;
    }

    > figure figcaption,
    > figcaption {
      margin-top: 30px;
    }

    .thumbnail-classic-title{
      margin-bottom: 14px;
      top: 0;
    }

    .thumbnail-classic-desc {
      opacity: 1;
      @include transform(scale(1));
    }
  }

}

// Thumbnail Zoe
// -------------------------

.thumbnail-zoe {
  @extend %thumbnail;
  box-shadow: $shadow-area-sm;
  &,
  > figure {
    overflow: hidden;
  }
  @include transition(0.3s box-shadow ease);

  figcaption {
    width: 100%;
    top: auto;
    bottom: 0;
    height: 60px;
    padding-left: 1.3em;
    padding-right: 1.3em;
    background: $white;
  }

  &-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 25px;
    font-weight: 700;
  }

  .list-inline {
    text-align: center;
    margin-top: 20px;
    li {
      vertical-align: middle;
      a {
        @include transition (0.3s all ease);
        &:hover {
          color: $brand-picton-blue;
        }
      }
      & + li {
        margin-left: 8px;
      }
    }
  }

  &:hover {
    .list-inline li,
    .thumbnail-zoe-title,
    figcaption {
      @include transform(translate3d(0, 0, 0));
    }

    .thumbnail-zoe-title {
      @include transition-delay (0.05s);
    }

    .list-inline li:nth-child(3) {
      @include transition-delay (0.1s);
    }

    .list-inline li:nth-child(2) {
      @include transition-delay (0.15s);
    }

    .list-inline li:first-child {
      @include transition-delay (0.2s);
    }
  }

  @media (min-width: $screen-lg-min) {

    box-shadow: none;

    .list-inline li,
    .thumbnail-zoe-title,
    figcaption {
      @include transition (transform 0.3s);
      @include transform(translate3d(0, 200%, 0));
    }
    figcaption {
      height: 75px;
    }
    .list-inline {
      float: right;
      margin-top: 26px;
    }

    &:hover {
      box-shadow: $shadow-area-sm;
      img,
      figure > img {
        @include transform(translate3d(0, -40px, 0));
      }
    }
  }
}

// Thumbnail Winston
// -------------------------

.thumbnail-winston {

  @extend %thumbnail;

  figure figcaption,
  figcaption {
    position: static;
    width: 100%;
  }

  &-title {
    text-align: center;
    font-weight: 300;
    padding: 20px 5px;
    margin-bottom: 0;
    color: $white;
    background: $gray-darkest;
    @include transition (transform 0.35s, opacity 0.35s);
  }

  p {
    display: inline-block;
    margin: 0 0 0.55em;
    padding: 0.4em 1em;
    text-transform: none;
    font-weight: 500;
    background: $white;
    @include transition (transform 0.35s, opacity 0.35s);

    &:first-child {
      transition-delay: 0s;
    }

    &:nth-of-type(2) {
      transition-delay: 0.05s;
    }

    &:nth-of-type(3) {
      transition-delay: 0.1s;
    }
  }

  &:hover {
    p,
    .thumbnail-winston-title {
      opacity: 1;
      @include transform(translate3d(0, 0, 0));
    }
  }

  @media (min-width: $screen-lg-min) {
    &,
    > figure {
      overflow: hidden;
    }

    figure figcaption,
    figcaption {
      position: absolute;
      top: 15%;
      left: 6%;
      width: auto;
    }
    p {
      opacity: 0;
      @include transform(translate3d(-360px, 0, 0));
    }
    &-title {
      text-align: left;
      margin-bottom: 18px;
      padding: 0.1em 0.5em;
      opacity: 0;
      @include transform (translate3d(0, -360px, 0));
    }
  }
}

// Thumbnail Josip
// -------------------------
.thumbnail-josip {
  @extend %thumbnail;

  figcaption {
    position: static;
    height: 60px;
    width: 100%;
    padding: 3px 5%;
    text-transform: none;
    text-align: left;
    background: $gray-darkest;
    vertical-align: middle;
    @include transition (0.3s, opacity 0.1s 0.3s);
    backface-visibility: hidden;
  }
  &-title, p {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
  }
    &-title{
      color: $white;
    }
  &:hover {
    figcaption {
      opacity: 1;
      @include transform (translateY(0px));
      @include transition (transform 0.3s, opacity 0.1s);
    }
  }

  @media (min-width: $screen-md-min) {
    &,
    > figure {
      overflow: hidden;
    }

    figcaption {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      opacity: 0;
      height: 85px;
      padding: 17px 5%;
      @include transform (translateY(100%));
    }
    &:hover {
      img {
        @include transform (translateY(-40px));
      }
    }
  }
}

// Thumbnail Janes
// -------------------------

.thumbnail-janes {
  @extend %thumbnail;
  box-shadow: $shadow-area-md;
  @include transition (box-shadow 0.4s);

  &,
  > figure {
    overflow: hidden;
  }

  figcaption {
    position: static;
    padding: 20px;
    top: 0;
    left: 0;
    background: $white;
    text-align: left;
    height: 100%;
    backface-visibility: hidden;
    @include transition (transform 0.3s)
  }
  p {
    margin-top: 5px;
    margin-bottom: 10px;
    max-height: 50px;
    overflow: hidden;
  }

  &:hover {
    figcaption {
      opacity: 1;
      @include transform (translateX(0));
    }
  }

  @media (min-width: $screen-lg-min) {
    box-shadow: none;
    figcaption {
      position: absolute;
      padding: 25px 30px 30px 30px;
      width: 101%;
      @include transform (translateX(-100%));
    }
    p {
      max-height: 75px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &:hover {
      box-shadow: $shadow-area-md;
      img {
        @include transform (translateX(25%));
      }
    }
  }
  @media (min-width: $screen-xl-min) {
    figcaption {
      width: 50%;
    }
    p {
      max-height: none;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }
}

// Thumbnail Apollo
// -------------------------

.thumbnail-apollo {

  @extend %thumbnail;
  box-shadow: $shadow-area-md;

  figcaption {
    position: static;
    padding: 15px 20px 10px;
    text-align: left;
    transition: .3s;
    @include transition-delay (0.2s);
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
    max-height: 45px;
    overflow: hidden;
  }

  .icon-xxs {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $screen-sm-min) {
    box-shadow: none;

    img {
      opacity: 1;
      @include transition (opacity 0.35s, transform 0.35s);
      @include transform (scale3d(1.05, 1.05, 1));
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      content: '';
      @include transition (transform 0.6s);
      @include transform (scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -110%, 0));
    }

    &:hover {
      img {
        opacity: 0.5;
        @include transform (scale3d(1, 1, 1));
      }
      figcaption {
        opacity: 1;
      }
      &:before {
        @include transform (scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0));
      }
    }

    &,
    figure {
      overflow: hidden;
      background: $brand-picton-blue;
    }

    figcaption {
      position: absolute;
      padding: 0 8%;
      margin-top: 0;
      top: 50%;
      color: $white;
      opacity: 0;
      @include transform (translateY(-50%));
    }
    p {
      max-height: none;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }
}

