//
// Variables
// --------------------------------------------------

@import "bootstrap/variables";

//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:               #110a06;
$gray-darkest:            #140f0c;
$gray-darker:             #333333;
$gray-dark:               #858585;
$gray:                    #ececec;
$gray-light:              #f2f2f2;
$gray-lighter:            #f5f5f5;
$gray-lightest:           #f9f9f9;

$brand-primary:           #f14814;
$brand-deluge:            #55bbeb;

$brand-success:           #abcc37;
$brand-info:              #79ccf2;
$brand-warning:           #f5bf2f;
$brand-danger:            #f54b0f;

// Derivatives colors
$brand-butterfly-bush:    #4472EC;
$brand-picton-blue:       #ffad1e;

$brand-dollar-bill:       #84c450;
$brand-neon-carrot:       #F3A43D;
$brand-ku-crimson:        #e50a0a;
$brand-iceberg:           #64aae1;


$white: #fff;

//== Scaffolding
//
//## Settings for some of the most global styles.

$content-bg:            $white;
$header-bg:             $white;
$footer-bg: 			      $gray-base;

//** Background color for `<body>`.
$body-bg:               $gray-base;

//** Background color for `<main>`.
$main-bg:               $white;

//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            inherit;
//** Link hover color set via `darken()` function.
$link-hover-color:      inherit;
//** Link hover decoration.
$link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// Import fonts


$font-family-sans-serif:  "Raleway", sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base:        $font-family-sans-serif;
$font-family-accent:      "Dancing Script", cursive;


// Template width (w/o units)
$template-width:          1920;

// Template width var for resizing
$template-width-min:      ($template-width+1)*1px;
$layout-boxed-width:      1920px;


// Base FZ & LH (w/o units)
$base-text-size:          15;
$base-lh-size:            24;

$base-vm-size:            (($base-text-size*100)/$template-width)*1vw;


$font-size-base:          $base-text-size * 1px;
$font-size-large:         ceil(($font-size-base * 1.0625)); // ~17px
$font-size-small:         ceil(($font-size-base * 0.9375)); // ~15px

$font-weight-base:        400;

//PSD FZ headers /FOR EDIT (w/o units)
$Size-h1:                 45;
$Size-h2:                 38;
$Size-h3:                 30;
$Size-h4:                 24;
$Size-h5:                 22;
$Size-h6:                 17;

//PSD LH headers /FOR EDIT (w/o units)
$Lh-h1:                   54;
$Lh-h2:                   45;
$Lh-h3:                   36;
$Lh-h4:                   30;
$Lh-h5:                   27;
$Lh-h6:                   25;


//Calculating FZ headers
$font-size-h1:            $Size-h1*1px;
$font-size-h2:            $Size-h2*1px;
$font-size-h3:            $Size-h3*1px;
$font-size-h4:            $Size-h4*1px;
$font-size-h5:            $Size-h5*1px;
$font-size-h6:            $Size-h6*1px;



//** line-height for headers /FOR EDIT
// $font-lh-h_: floor((PSD l-h / $font-size-h1));

$font-lh-h1:              ($Lh-h1 / $Size-h1);
$font-lh-h2:              ($Lh-h2 / $Size-h2);
$font-lh-h3:              ($Lh-h3 / $Size-h3);
$font-lh-h4:              ($Lh-h4 / $Size-h4);
$font-lh-h5:              ($Lh-h5 / $Size-h5);
$font-lh-h6:              ($Lh-h6 / $Size-h6);

$line-height-base:        ($base-lh-size / $base-text-size); // lh/fz-base
// TODO QA *1px
$line-height-computed:    $base-lh-size*1px;

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    400;
$headings-line-height:    1.1;
$headings-color:          $gray-darker;

//== Shadows
//
//##

$shadow-area-ambient: 0px 0px 1px 0 rgba(0, 0, 0, 0.15);
$shadow-area-xxs: 1px 1px 1px rgba(0, 0, 0, 0.15);
$shadow-area-xs: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
$shadow-area-sm: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
$shadow-area-md: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
$shadow-area-lg: 0 5px 23px 0 rgba(0, 0, 0, 0.15);
$shadow-area-xl: 0 12px 36px 0 rgba(0, 0, 0,.15);
$shadow-area-variant-2:         0 0px 20px 2px rgba(0, 0, 0,.1);

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$icon-font-path: "../fonts/";

//** File name for all font files.
$icon-font-name:           "glyphicons-halflings-regular";
$icon-font-awesome:        "fontawesome-webfont";
$icon-material-design:     "materialdesignicons-webfont";

//** Element ID within SVG icon file.
$icon-font-svg-id:         "glyphicons_halflingsregular";
$icon-font-awesome-id:     "fontawesomeregular";
$icon-material-design-id:  "materialdesigniconsregular";

//** Icons font family options
$icon-font-material-design: "Material Design Icons";
$icon-font-fontawesome:     "FontAwesome";


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     9px;
$padding-base-horizontal:   16px;


$padding-large-vertical:    17px;
$padding-large-horizontal:  24px;

$padding-small-vertical:    7px;
$padding-small-horizontal:  12px;

$padding-xs-vertical:       6px;
$padding-xs-horizontal:     16px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;

$border-width-base: 2px;
$border-width-large: 4px;
$border-width-small: 1px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $white;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5;
$table-bg-active:               $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            #ddd;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-size:   14px;
$btn-lh-size:     28px;
$btn-font-weight: 700;

$btn-font-size-large: 17px;
$btn-lh-size-large: 32px;
$btn-font-weight-large: $btn-font-weight;

$btn-font-size-small: 12px;
$btn-lh-size-small: 24px;
$btn-font-weight-small: $btn-font-weight;

$btn-font-size-xs: 12px;
$btn-lh-size-xs: 20px;
$btn-font-weight-xs: $btn-font-weight;

//== Forms
//
//##

//** Form Control color options
$input-bg:                       transparent;
$input-bg-disabled:              $gray-lighter;
$input-color:                    $gray-darkest;
$input-border:                   $gray;

//** Form Control text styling options
$input-font-size:                13px;

//** Form Control border radius
$input-border-radius:            $border-radius-base;
$input-border-radius-large:      $border-radius-large;
$input-border-radius-small:      $border-radius-small;

//** Border color for inputs on focus
$input-border-focus:             $gray;

//** Placeholder color options
$input-color-placeholder:        $input-color;
$input-color-placeholder-focus:  $brand-picton-blue;

//** Form Control sizing options
$input-height-base:              $btn-lh-size + ($padding-base-vertical + $border-width-base)*2;
$input-height-large:             $btn-lh-size-large + ($padding-large-vertical + $border-width-base)*2;
$input-height-small:             $btn-lh-size-small + ($padding-small-vertical + $border-width-small)*2;

//** Form Group spacing options
$form-group-margin-bottom:       10px;

//** Legend styling options
$legend-color:                   $gray-dark;
$legend-border-color:            $gray-lighter;

//** Input Group Addon styling options
$input-group-addon-color:        $white;
$input-group-addon-bg:           $gray-darkest;
$input-group-addon-border-color: $gray-darkest;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;

//** Checkbox custom styling options
$checkbox-icon:                   "\f222";
$checkbox-icon-font:              $icon-font-material-design;
$checkbox-checked-color:          $gray-darker;

//** Radio custom styling options
$radio-checked-color:             $gray-darker;


//== Dropdowns
//

//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff;

//** Divider color for between dropdown items.
$dropdown-divider-bg:            $gray;

//** Dropdown link text color.
$dropdown-link-color:            $gray-darker;

//** Hover color for dropdown links.
$dropdown-link-hover-color:      $gray-darker;

//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $gray-lighter;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color;

//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-dark;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           $gray-darker;

//== Select
//
$dropdown-arrow-color: $input-color-placeholder;
$clear-selection-color: $dropdown-arrow-color;
$select-dropdown-icon: '\f236';
$select-dropdown-icon-family: $icon-font-material-design;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// Extra Large screen / 4k desktop
$screen-xl:                  1800px;
$screen-xl-min:              $screen-xl;
$screen-xl-desktop:          $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);

$medias: (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl);

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1170px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


//== Navbar
//
//##

// $navbar-font-size: 16;
// $navbar-lh-size: 18;

// Basics of a navbar
$navbar-height:                    52px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             $gray-darker;
$navbar-default-bg:                $white;

// Navbar links
$navbar-default-link-color:                $gray-darker;
$navbar-default-link-hover-color:          $gray-darker;
$navbar-default-link-hover-bg:             $gray-lighter;
$navbar-default-link-active-color:         $white;
$navbar-default-link-active-bg:            $brand-primary;
$navbar-default-link-disabled-color:       $gray;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #888;
$navbar-default-toggle-border-color:       #ddd;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-darker;
$navbar-inverse-bg:                         $gray-darkest;

// Inverted navbar links
$navbar-inverse-link-color:                 $white;
$navbar-inverse-link-hover-color:           $white;
$navbar-inverse-link-hover-bg:              $gray-base;
$navbar-inverse-link-active-color:          $white;
$navbar-inverse-link-active-bg:             $brand-primary;
$navbar-inverse-link-disabled-color:        $gray-darker;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          $white;
$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          10px 18px;
$nav-link-hover-bg:                         $gray-lightest;

$nav-disabled-link-color:                   $gray;
$nav-disabled-link-hover-color:             $gray;

//== Tabs
$nav-tabs-border-color:                     $gray;

$nav-tabs-link-hover-border-color:          $gray-lightest;

$nav-tabs-active-link-hover-bg:             $white;
$nav-tabs-active-link-hover-color:          $gray-darker;
$nav-tabs-active-link-hover-border-color:   $gray;

$nav-tabs-justified-link-border-color:            $gray;
$nav-tabs-justified-active-link-border-color:     $white;

//== Pills
$nav-pills-border-radius:                   $border-radius-small;
$nav-pills-active-link-hover-bg:            $brand-primary;
$nav-pills-active-link-hover-color:         $white;


//== Pagination
//
//##

$pagination-color:                     $gray-darker;
$pagination-bg:                        transparent;
$pagination-border:                    $gray;

$pagination-hover-color:               $white;
$pagination-hover-bg:                  $gray-darkest;
$pagination-hover-border:              $gray-darkest;

$pagination-active-color:              $white;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;

$pagination-disabled-color:            $gray;
$pagination-disabled-bg:               transparent;
$pagination-disabled-border:           $gray;


//== Pager
//
//##

$pager-bg:                             $pagination-bg;
$pager-border:                         $pagination-border;
$pager-border-radius:                  $border-radius-small;

$pager-hover-color:                    $pagination-hover-color;
$pager-hover-bg:                       $pagination-hover-bg;
$pager-hover-border:                   $pagination-hover-border;

$pager-active-bg:                      $pager-hover-bg;

$pager-disabled-color:                 $pagination-disabled-color;
$pager-disabled-bg:                    $pagination-disabled-bg;
$pager-disabled-border:                $pagination-disabled-border;


//== Jumbotron
//
//##

$jumbotron-padding:              38px;
$jumbotron-color:                inherit;
$jumbotron-bg:                   $gray-darkest;
$jumbotron-heading-color:        inherit;
$jumbotron-font-size:            16px;
$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-dollar-bill;
$state-success-bg:               $brand-success;
$state-success-border:           $brand-success;

$state-info-text:                $brand-iceberg;
$state-info-bg:                  $brand-info;
$state-info-border:              $brand-info;

$state-warning-text:             $brand-neon-carrot;
$state-warning-bg:               $brand-warning;
$state-warning-border:           $brand-warning;

$state-danger-text:              $brand-ku-crimson;
$state-danger-bg:                $brand-danger;
$state-danger-border:            $brand-danger;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:           200px;
//** Tooltip text color
$tooltip-color:               #fff;
//** Tooltip background color
$tooltip-bg:                  #000;
$tooltip-opacity:             .9;

//** Tooltip arrow width
$tooltip-arrow-width:         5px;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff;
//** Popover maximum width
$popover-max-width:                   276px;
//** Popover border color
$popover-border-color:                rgba(0,0,0,.2);
//** Popover fallback border color
$popover-fallback-border-color:       #ccc;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%);

//** Popover arrow width
$popover-arrow-width:                 10px;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1);
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05);
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%);


//== Labels
//
//##

//** Default label background color
$label-default-bg:            $gray;
//** Primary label background color
$label-primary-bg:            $brand-primary;
//** Success label background color
$label-success-bg:            $brand-success;
//** Info label background color
$label-info-bg:               $brand-info;
//** Warning label background color
$label-warning-bg:            $brand-warning;
//** Danger label background color
$label-danger-bg:             $brand-danger;
//** Deluge label background color
$label-deluge-bg:             $brand-deluge;

//** Default label text color
$label-color:                 #fff;
//** Default text color of a linked label
$label-link-hover-color:      #fff;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px;

//** Padding applied to the modal title
$modal-title-padding:         15px;
//** Modal title line-height
$modal-title-line-height:     $line-height-base;

//** Background color of modal content area
$modal-content-bg:                             #fff;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999;

//** Modal backdrop background color
$modal-backdrop-bg:           #000;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5;
//** Modal header border color
$modal-header-border-color:   #e5e5e5;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color;

$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px;
$alert-border-radius:         $border-radius-base;
$alert-link-font-weight:      bold;

$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;


//== Progress bars
//
//##

//** Progress bar sizing options
$progress-font-weight: 700;
$progress-font-size: 13px;
$progess-height: 20px;

//** Background color of the whole progress component
$progress-bg:                 #f5f5f5;

//** Progress bar text color
$progress-bar-color:          #fff;

//** Variable for setting rounded corners on progress bar.
$progress-border-radius:      $border-radius-base;

//** Default progress bar color
$progress-bar-bg:             $brand-primary;

//** Success progress bar color
$progress-bar-success-bg:     $brand-success;

//** Warning progress bar color
$progress-bar-warning-bg:     $brand-warning;

//** Danger progress bar color
$progress-bar-danger-bg:      $brand-danger;

//** Info progress bar color
$progress-bar-info-bg:        $brand-info;

//** Dark progress bar color
$progress-bar-dark-bg:        $gray-darkest;

//== List group
//
//##

//** Background color on `.list-group-item`
$list-group-bg:                 $white;

//** `.list-group-item` border color
$list-group-border:             $gray;

//** List group border radius
$list-group-border-radius:      $border-radius-small;

//** Background color of single list items on hover
$list-group-hover-bg:           $gray-lightest;

//** Text color of active list items
$list-group-active-color:       $white;

//** Background color of active list items
$list-group-active-bg:          $brand-primary;

//** Border color of active list elements
$list-group-active-border:      $brand-primary;

//** Text color for content within active list items
$list-group-active-text-color:  $white;

//** Text color of disabled list items
$list-group-disabled-color:      $gray-light;

//** Background color of disabled list items
$list-group-disabled-bg:         $gray-lighter;

//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color;

$list-group-link-color:         #555;
$list-group-link-hover-color:   $list-group-link-color;
$list-group-link-heading-color: #333;


//== Panels
//
//##

$panel-bg:                    #fff;
$panel-body-padding:          15px;
$panel-heading-padding:       10px 15px;
$panel-footer-padding:        $panel-heading-padding;
$panel-border-radius:         $border-radius-base;

//** Border color for elements within panels
$panel-inner-border:          #ddd;
$panel-footer-bg:             #f5f5f5;

$panel-default-text:          $gray-darker;
$panel-default-border:        #ddd;
$panel-default-heading-bg:    $gray-lighter;

$panel-primary-text:          #fff;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          $state-success-text;
$panel-success-border:        $state-success-border;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $state-info-border;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $state-warning-text;
$panel-warning-border:        $state-warning-border;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $state-danger-border;
$panel-danger-heading-bg:     $state-danger-bg;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:                               0;
//** Thumbnail background color
$thumbnail-bg:                                    $body-bg;
//** Thumbnail border radius
$thumbnail-border-radius:                         $border-radius-base;
//** Custom text color for thumbnail captions
$thumbnail-caption-color:                         $text-color;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:                       20px;
//** Thumbnail Classic
$thumbnail-classic-figcaption-padding:            20px;
$thumbnail-classic-hover-box-shadow:              $shadow-area-lg;
//** thumbnail classic title
$thumbnail-classic-title-background:              $white;
$thumbnail-classic-title-box-shadow:              $shadow-area-md;
$thumbnail-classic-title-padding:                 12px;
//** thumbnail classic description
$thumbnail-classic-desc-color:                    $white;
$thumbnail-classic-desc-background:               $gray-darkest;
$thumbnail-classic-desc-padding:                  6px;
$thumbnail-classic-desc-box-shadow:               $shadow-area-md;
//** Thumbnail Zoe
$thumbnail-zoe-figcaption-background:             $white;
$thumbnail-zoe-title-list-hover-color:            $brand-picton-blue;
//** Thumbnail Winston
$thumbnail-winston-title-background:              $gray-darkest;
$thumbnail-winston-title-color:                   $white;
$thumbnail-winston-title-padding:                 20px 5px;
//** 1200
$thumbnail-winston-title-lg-padding:              .1em .5em;
//** left items of thumbnail winston
$thumbnail-winston-left-items-background:         $white;
$thumbnail-winston-left-items-padding:            0.4em 1em;
$thumbnail-winston-left-items-offsets:            0 0 0.55em;
//** Thumbnail Josip
$thumbnail-josip-figcaption-background:           $gray-darkest;
$thumbnail-josip-figcaption-width:                100%;
$thumbnail-josip-figcaption-height:               60px;
$thumbnail-josip-figcaption-padding:              3px 5%;
//** 992
$thumbnail-josip-figcaption-md-height:            85px;
$thumbnail-josip-figcaption-md-padding:           17px 5%;
//** thumbnail josip title
$thumbnail-josip-title-color: $white;
//** Thumbnail Janes
$thumbnail-janes-figcaption-background:           $white;
$thumbnail-janes-figcaption-padding:              20px;
//** 1200
$thumbnail-janes-figcaption-lg-padding:           25px 30px 30px 30px;
$thumbnail-janes-figcaption-lg-hover-box-shadow:  $shadow-area-md;
//** Thumbnail Apollo
$thumbnail-apollo-figcaption-padding:             15px 20px 10px;
$thumbnail-apollo-color:                          $white;
$thumbnail-apollo-hover-overlay:                  $brand-picton-blue;
$thumbnail-apollo-padding:                        0 8%;


//== Wells
//
//##

$well-bg:                     #f5f5f5;
$well-border:                 darken($well-bg, 7%);


//== Badges
//
//##

$badge-color:                 $white;
//** Linked badge text color on hover
$badge-link-hover-color:      $white;
$badge-bg:                    $brand-primary;

//** Badge text color in active nav link
$badge-active-color:          $brand-primary;
//** Badge background color in active nav link
$badge-active-bg:             $white;

$badge-font-weight:           bold;
$badge-font-size:             12px;
$badge-line-height:           1;
$badge-border-radius:         10px;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
$breadcrumb-bg:                 #f5f5f5;
//** Breadcrumb text color
$breadcrumb-color:              #ccc;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $gray-light;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "/";


//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

$carousel-control-color:                      #fff;
$carousel-control-width:                      15%;
$carousel-control-opacity:                    .5;
$carousel-control-font-size:                  20px;

$carousel-indicator-active-bg:                #fff;
$carousel-indicator-border-color:             #fff;

$carousel-caption-color:                      #fff;


//== Close
//
//##

$close-font-weight:           bold;
$close-color:                 #000;
$close-text-shadow:           0 1px 0 #fff;


//== Code
//
//##

$code-color:                  #c7254e;
$code-bg:                     #f9f2f4;

$kbd-color:                   #fff;
$kbd-bg:                      #333;

$pre-bg:                      #f5f5f5;
$pre-color:                   $gray-dark;
$pre-border-color:            #ccc;
$pre-scrollable-max-height:   340px;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px;
//** Text muted color
$text-muted:                  $gray;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light;
//** Headings small color
$headings-small-color:        $gray-light;
//** Blockquote small color
$blockquote-small-color:      $gray-light;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25);
//** Blockquote border color
$blockquote-border-color:     $gray-lighter;
//** Page header border color
$page-header-border-color:    $gray-lighter;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal;
//** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint:    $grid-float-breakpoint;
//** Horizontal line color.
$hr-border:                   $gray-lighter;





//== Flex Grid system
//
//##
$shell-width: 300px;
$shell-xs-width: 480px;
$shell-sm-width: 750px;
$shell-md-width: 970px;
$shell-lg-width: 1200px;
$shell-xl-width: 1800px;

$range-ws: 50px;
$range-ws-sm: 30px;
$range-ws-lg: 66px;

$cell-count: 12;
$cell-spacing: 30px;
$cell-spacing-narrow: 10px;

//== Stepper
//
//##

$stepper-arrow-color: $gray-dark;
$stepper-arrow-color-hover: $gray-darker;
$stepper-arrow-icon-font: $icon-font-material-design;
$stepper-arrow-icon-up: "\f238";
$stepper-arrow-icon-down: "\f237";

//== Stepper type 2
//
//##

$stepper-type-2-arrow-color: $gray;
$stepper-type-2-arrow-color-hover: $gray-dark;
$stepper-type-2-arrow-icon-font: $icon-font-material-design;
$stepper-type-2-arrow-icon-up: "\f504";
$stepper-type-2-arrow-icon-down: "\f465";

//== Quotes
//
//##

$quote-braces-icon: "\f373";
$quote-braces-font: $icon-font-material-design;
$quote-braces-color: $gray-lighter;

//== RD Video Player
//
//##
$rd-video-player-controls-color: $white;

//== RD Audio Player
//
//##
$rd-audio-player-controls-color: $gray-darker;



//== Toolbar Shop
//
//##

$toolbar-shop-bg: $gray-lightest;
$toolbar-shop-grid-icon: "\f661";
$toolbar-shop-list-icon: "\f660";
$toolbar-shop-icon-color: $gray-darker;
$toolbar-shop-icon-color-active: $brand-primary;


//== Page loader variant 1
//
//##
$page-loader-v-1-bg: $gray-base;

//== RD calendar
//
//##

$rd-calendar-shadow:                                            $shadow-area-md;
$rd-calendar-max-width:                                         270px;
$rd-calendar-background:                                        $white;
//** head
$rd-calendar-head-padding:                                      18px 30px;
$rd-calendar-head-background:                                   $brand-primary;
$rd-calendar-head-text-size:                                    24px;
$rd-calendar-head-text-color:                                   $white;
$rd-calendar-head-text-weight:                                  400;
//** month
$rd-calendar-month-size:                                        24px;
$rd-calendar-month-weight:                                      400;
$rd-calendar-month-color:                                       $white;
//** controls
$rd-calendar-controls-font:                                     400 24px/38px $icon-font-material-design;
$rd-calendar-controls-color:                                    $white;
//** controls next
$rd-calendar-controls-next-content:                             '\f238';
$rd-calendar-controls-next-position-right:                      13px;
//** controls prev
$rd-calendar-controls-prev-content:                             '\f237';
$rd-calendar-controls-prev-position-left:                       13px;
//** controls close icon
$rd-calendar-controls-close-content:                            '\f24c';
$rd-calendar-controls-close-position-top:                       13px;
$rd-calendar-controls-close-position-right:                     15px;
$rd-calendar-controls-close-size:                               18px;
$rd-calendar-controls-close-line-height:                        20px;
//** events
$rd-calendar-events-position-top:                               40px;
$rd-calendar-events-padding:                                    10px 20px 15px;
$rd-calendar-events-background:                                 $white;
$rd-calendar-events-border-radius:                              $border-radius-small;
$rd-calendar-events-shadow:                                     $shadow-area-sm;
$rd-calendar-events-border:                                     3px solid $brand-picton-blue;
//** event title
$rd-calendar-events-title-color:                                $gray-darker;
//** event + event
$rd-calendar-events-between-border:                             1px solid $gray-light;
$rd-calendar-events-between-offset:                             5px;
//** table
$rd-calendar-table-border-spacing:                              10px;
//** table th
$rd-calendar-table-th-color:                                    $gray-dark;
$rd-calendar-table-th-padding:                                  5px 0;
$rd-calendar-table-th-size:                                     13px;
$rd-calendar-table-th-weight:                                   700;
//** table date (td)
$rd-calendar-table-td-width:                                    24px;
$rd-calendar-table-td-height:                                   24px;
$rd-calendar-table-td-size:                                     13px;
$rd-calendar-table-td-weight:                                   700;
$rd-calendar-table-td-color:                                    $gray-darker;
$rd-calendar-table-border-radius:                               50%;
//** table date (td) today
$rd-calendar-table-td-today-background:                         $brand-primary;
$rd-calendar-table-td-today-color:                              $white;
//** table date (td) has events
$rd-calendar-table-td-has-event-after-background:               $brand-picton-blue;
$rd-calendar-table-td-has-event-hover-color:                    $white;
$rd-calendar-table-td-has-event-today-hover-background:         $brand-picton-blue;
//** full-width calendar
$rd-calendar-fullwidth-max-width:                               370px;
//** controls
$rd-calendar-fullwidth-controls-color:                          $gray-darker;
//** controls close icon`
$rd-calendar-fullwidth-controls-close-position-top:             3px;
$rd-calendar-fullwidth-controls-close-position-right:           1px;
//** table th
$rd-calendar-fullwidth-table-th-color:                          $gray-dark;
$rd-calendar-fullwidth-table-th-padding-left:                   15px;
$rd-calendar-fullwidth-table-th-size:                           22px;
//** table date (td)
$rd-calendar-fullwidth-table-td-border-radius:                  $border-radius-base;
$rd-calendar-fullwidth-table-td-padding-bottom:                 9%;
$rd-calendar-fullwidth-table-td-background:                     $white;
$rd-calendar-fullwidth-table-td-box-shadow:                     $shadow-area-md;
//** table date (td) today
$rd-calendar-fullwidth-table-td-today-background:               transparent;
$rd-calendar-fullwidth-table-td-today-color:                    $gray-darker;
$rd-calendar-fullwidth-table-td-today-border:                   2px solid $gray-darker;
//** table date (div inside td)
$rd-calendar-fullwidth-table-date-width:                        40px;
$rd-calendar-fullwidth-table-date-height:                       40px;
$rd-calendar-fullwidth-table-date-size:                         22px;
$rd-calendar-fullwidth-table-date-line-height:                  38px;
$rd-calendar-fullwidth-table-date-weight:                       700;
$rd-calendar-fullwidth-table-date-position-top:                 10px;
$rd-calendar-fullwidth-table-date-position-left:                10px;
//** table date (td) has events
$rd-calendar-fullwidth-table-td-has-event-today-border-color:   $white;
//** 1800
$rd-calendar-fullwidth-xl-border-spacing:                       20px;
