//
// Posts
// --------------------------------------------------

// Post Common Styles
// --------------------------------------------------

.post {
  &-meta {
    .icon-xxs {
      font-size: 18px;
    }
  }

  &-title + &-meta {
    margin-top: 8px;
  }
}

// Post default
// --------------------------------------------------

.post-default {
  .post-controls {
    margin-bottom: 0;
  }

  .post-controls + .post-title {
    margin-top: 8px;
  }
}

// Post widget
// --------------------------------------------------

.widget-post {
  display: block;

  > a {
    display: inline-block;

    &:hover {
      time {
        @include transform(translate(10px, -1px));
      }

      h6 {
        color: $brand-picton-blue;
      }
    }
  }

  h6,
  time {
    transition: .3s;
  }

  .post-meta {
    .icon-xxs {
      font-size: 14px;
    }

    time {
      display: inline-block;
      font-size: 12px;
      @include transform(translate(0, -1px));
    }
  }

  & + .widget-post {
    margin-top: 16px;
  }
}

// Post Wide
// --------------------------------------------------

.post-wide {
  .post-content {
    padding-top: 41px;
  }

  @media (min-width: $screen-xl-min) {
    .post-body {
      height: $post-wide-body-xl-height;
      overflow: auto;
    }

    &-horizontal {
      .post-media {
        padding-right: 20px;
      }

      .post-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .post-content {
        margin-top: 0;
        padding: $post-wide-body-xl-padding;
        border-top: $post-wide-body-xl-border-top;
        border-bottom: $post-wide-body-xl-border-bottom;
      }
    }
  }
}

.mobile, .tablet {
  .post-wide-horizontal .thumbnail-classic:hover > figure > img {
    @include transform(scale(1));
  }
}

// Post Boxed
// --------------------------------------------------

.post-boxed {
  position: relative;

  .post-media {
    background: $post-boxed-media-background;

    img {
      width: 100%;
      height: auto;
      transition: .3s;
      will-change: opacity;
    }
  }

  .post-media + .post-content {
    margin-top: 24px;
  }

  .post-tags {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    z-index: 1;
  }

  &:hover {
    .post-media {
      img {
        opacity: .8;
      }
    }
  }

  @media (max-width: $screen-sm-min - 1) {
    .post-title {
      h3 {
        font-weight: 700;
        font-size: 17px;
        line-height: 1.5;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .post-title {
      position: relative;
      max-height: 74px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    .post-media + .post-content {
      margin-top: 0;
    }

    .post-content {
      padding: 0;
      color: $post-boxed-content-sm-color;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include gradient-directional($gray-base, transparent, 0deg);
    }

    .post-body {
      position: absolute;
      right: 30px;
      left: 35px;
      bottom: 28px;
      z-index: 1;
    }
  }
}

// Post Modern
// --------------------------------------------------

.post-modern {
  box-shadow: $post-modern-box-shadow;

  .post-inset,
  .post-content {
    padding: $post-modern-content-padding;
  }

  .post-content {
    background: $white;
  }

  .post-inset {
    padding-bottom: 0;
  }

  li {
    vertical-align: middle;
  }
}

// Box shadow fix for IE Edge
.ie-edge .post-modern {
  box-shadow: $post-modern-box-shadow;
}

// Post Timeline (horizontal "divider")
// --------------------------------------------------

.post-timeline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -33px;
    left: auto;
    right: 0;
    height: 1px;
    width: 100%;
    background: $post-timeline-border-color;
  }

  & + .post-timeline {
    margin-top: 66px;

    @media (min-width: $screen-sm-min) {
      margin-top: 40px;
    }
  }

  @media (min-width: $screen-sm-min) {
    &:first-child {
      position: relative;
      padding-top: 40px;

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: 0;
        width: 86.5%;
        height: 1px;
        background: $post-timeline-border-color;
      }

      &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 14px;
        width: 47px;
        height: 1px;
        background: $post-timeline-border-color;
      }
    }

    & + .post-timeline {
      border-top: 1px solid $post-timeline-border-color;
      padding-top: 50px;
    }

    & + .post-timeline {
      border: none;

      &:before {
        top: 0;
        width: 86.5%;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    &:before {
      top: -25px;
    }
  }
}

// delete first blog divider
.blog-archive-year:first-child {
  .post-timeline:first-child:before,
  .post-timeline:first-child:after {
    display: none;
  }

  .post-timeline:first-child {
    padding-top: 0;
  }
}

// Post Modern Timeline
// --------------------------------------------------

.post-modern-timeline {
  position: relative;

  .post-author {
    margin-top: 30px;
  }

  .post-author-img,
  .post-author-name {
    display: inline-block;
  }

  .post-author-img {
    padding-right: 10px;
  }

  & + .post-modern-timeline {
    margin-top: 34px;
  }

  @media (min-width: $screen-md-min) {
    & + .post-modern-timeline {
      &:before {
        position: absolute;
        bottom: 100%;
        width: 1px;
        height: 34px;
        content: '';
        background: $post-modern-timeline-sm-border-color;
      }
    }

    &:after {
      position: absolute;
      top: 77px;
      bottom: 0;
      width: 1px;
      content: '';
      background: $post-modern-timeline-sm-border-color;
    }

    .post-author-img {
      width: 45px;
      height: 45px;
    }

    .post-author-name {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      transition: .3s;
      visibility: hidden;
      opacity: 0;
      padding: $post-modern-timeline-sm-author-name-padding;
      font-size: $post-modern-timeline-sm-author-name-size;
      color: $post-modern-timeline-sm-author-name-color;
      white-space: nowrap;
      background: $post-modern-timeline-sm-author-name-background;
      border-radius: $border-radius-small;
    }

    .post-author {
      position: absolute;
      top: 0;
      margin-top: 22px;

      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
        height: 12px;
        width: 1px;
        background: $post-modern-timeline-sm-border-color;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        width: 22px;
        height: 1px;
        background: $post-modern-timeline-sm-border-color;;
      }

      &:hover {
        .post-author-name {
          @include transform(translateX(0));
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &:first-child {
      .post-author:before {
        display: none;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &-left {
    @media (min-width: $screen-md-min) {
      margin-left: 100px;

      &:before,
      &:after {
        left: -65px;
      }

      .post-author {
        right: 100%;
        margin-right: 42px;

        &:before {
          left: 22px;
        }

        &:after {
          left: 100%;
          margin-left: 10px;
        }
      }

      .post-author-name {
        right: 100%;
        margin-right: 10px;
        @include transform(translateX(-10px));

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -4px;
          left: 100%;
          @include triangle(right, 4px, 8px, $gray-darkest);
        }
      }
    }
  }

  &-right {
    @media (min-width: $screen-md-min) {
      margin-right: 100px;

      &:before,
      &:after {
        right: -65px;
      }

      .post-author {
        left: 100%;
        margin-left: 42px;

        &:before {
          right: 22px;
        }

        &:after {
          right: 100%;
          margin-right: 10px;
        }
      }

      .post-author-name {
        left: 100%;
        margin-left: 10px;
        @include transform(translateX(-10px));

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -4px;
          right: 100%;
          @include triangle(left, 4px, 8px, $gray-darkest);
        }
      }
    }
  }
}

.post-modern-timeline-date {
  display: block;
  margin: $post-modern-timeline-date-offsets;
  font-size: $post-modern-timeline-date-size;
  font-weight: $post-modern-timeline-date-weight;
  overflow: hidden;

  time {
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      height: 1px;
      width: 2000px;
      background: $gray;
    }

    &:before {
      right: 100%;
      margin-right: 30px;
    }

    &:after {
      left: 100%;
      margin-left: 30px;
    }
  }

  @media (min-width: $screen-md-min) {
    time:before,
    time:after {
      display: none;
    }
  }
}

// Post Event
// --------------------------------------------------

.post-event {
  position: relative;

  .post-meta {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    width: 50px;
    text-align: center;

    &-day {
      background: $post-event-meta-day-background;
      display: block;
      height: $post-event-meta-day-height;
      font-size: $post-event-meta-day-size;
      line-height: $post-event-meta-day-line-height;
      border-radius: $post-event-meta-day-border-radius;
      box-shadow: $post-event-meta-day-box-shadow;
    }

    &-month {
      display: block;
      height: $post-event-meta-month-height;
      margin-top: 5px;
      font-size: $post-event-meta-month-size;
      line-height: $post-event-meta-month-line-height;
      background: $post-event-meta-month-background;
      border-radius: $border-radius-small;
      box-shadow: $post-event-meta-month-box-shadow;
    }
  }

  &.post-event-right {
    .post-meta {
      left: auto;
      top: 10px;
      right: 10px;
    }
  }

  @media (min-width: $screen-sm-min) {
    padding-left: 100px;

    .post-meta {
      width: $post-event-meta-month-sm-width;
      left: 0;
      top: 0;
      right: auto;

      &-day {
        height: $post-event-meta-day-sm-height;
        line-height: $post-event-meta-day-sm-line-height;
      }

      &-month {
        font-size: $post-event-meta-month-sm-size;
        height: $post-event-meta-month-sm-height;
        line-height: $post-event-meta-month-sm-line-height;
      }
    }

    &.post-event-right {
      padding-left: 0;
      padding-right: 100px;

      .post-meta {
        left: auto;
        top: 0;
        right: 0;
      }
    }
  }
}

// Post Event Type 2
// --------------------------------------------------

.post-event-type-2 {
  position: relative;
  display: inline-block;
  max-width: $post-event-type-2-max-width;

  .post-meta {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 2;
    padding: $post-event-type-2-post-meta-padding;
    text-align: center;
    background: $post-event-type-2-post-meta-background;

    &-day {
      display: block;
      font-size: $post-event-type-2-post-meta-day-font-size;
      line-height: $post-event-type-2-post-meta-day-line-height;
    }

    &-month {
      display: block;
      font-size: $post-event-type-2-post-meta-month-font-size;
      line-height: $post-event-type-2-post-meta-month-line-height;
    }

    &-time {
      font-size: $post-event-type-2-post-meta-time-font-size;
      line-height: inherit;
    }
  }

  .post-media {
    display: inline-block;

    a {
      position: relative;
      display: block;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        background: $post-event-type-2-overlay-background;
        transition: .3s opacity ease;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $post-event-type-2-post-media-icon-width;
        height: $post-event-type-2-post-media-icon-height;
        font-size: $post-event-type-2-post-media-icon-font-size;
        line-height: $post-event-type-2-post-media-icon-line-height;
        opacity: 0;
        color: $post-event-type-2-post-media-icon-color;
        @include transform(translate(-50%, 100%));
        transition: .3s all ease;
      }
    }

    &:hover {
      a {
        &:before {
          opacity: 1;
        }
        .icon {
          opacity: 1;
          @include transform(translate(-50%, -50%));
        }
      }
    }
  }
}

// Post Vacation
// --------------------------------------------------

.post-vacation {
  display: block;
  padding: $post-vacation-padding;
  background: $post-vacation-background;
  box-shadow: $post-vacation-box-shadow;
  @include transition(0.35s all ease);

  h3 {
    @include transition(0.35s all ease);
  }

  &:hover {
    background: $post-vacation-hover-background;

    h3 {
      color: $white;
    }
  }
}

// Widget Event
// --------------------------------------------------

.widget-event {
  display: block;

  h6 {
    @include transition(0.35s all ease);
  }

  > a {
    display: inline-block;

    &:hover {
      h6 {
        color: $brand-picton-blue;
      }
    }
  }

  .post-meta {
    .icon-xxs {
      font-size: 14px;
    }

    time {
      display: inline-block;
      font-size: $widget-event-meta-time-size;
    }
  }

  & + .widget-event {
    margin-top: 16px;
  }
}


// News Post
// --------------------------------------------------

.news-post {
  .post-meta {
    margin-bottom: -25px;
  }

  @media (min-width: $screen-xs-min) {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      height: 100%;
      margin-top: 30px;
      margin-left: 19px;
      border-left: 1px solid darken($brand-lilac, 10%);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    .post-meta {
      margin-bottom: 0;
    }
  }
}