//- Inclides
include ../elements/_ui-rd-parallax

// Owl Carousel
section.context-dark
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/background-01-1920x955.jpg",
    "htmlSpeed": "0"
  })
    .bg-overlay-info

      .owl-carousel.owl-carousel-default.veil-md-owl-dots.veil-owl-nav.reveal-md-owl-nav.inset-left-7p.inset-right-7p(data-items="1" data-nav="true" data-dots="true" data-nav-class='["owl-prev mdi mdi-chevron-left", "owl-next mdi mdi-chevron-right"]')
        div
          .shell.section-98.section-lg-top-34.section-lg-bottom-0
            .range.range-xs-center.range-xs-middle
              .cell-lg-6
                img.img-responsive.veil.reveal-lg-block(src="images/home-01-563x616.png" width="563" height="616" alt="")
              .cell-xs-10.cell-lg-6.text-lg-left
                blockquote.quote
                  h2 “We'll do our best to deliver the best possible healthcare and customer service to you!”
                  .unit.unit-lg.unit-lg-horizontal.unit-spacing-xs.offset-top-20
                    .unit-left
                      hr.divider.bg-white.veil.reveal-lg-inline-block(style="margin-bottom: 3px;")
                    .unit-body
                      div
                        h5 Dr. Mark Hoffman
                      .offset-top-10
                        p(style="color: #e8e8e8;") Founder & head of Intense Dental Clinic
                .group.group-xl.offset-top-20.offset-xs-top-50
                  a.btn.btn-primary(href="#") BOOK AN APPOINTMENT
                  a.btn.btn-default(href="#") More Info
        div
          .shell.section-98.section-lg-top-98.section-lg-bottom-0
            .range.range-xs-center.range-xs-middle
              .cell-lg-6
                img.img-responsive.veil.reveal-lg-block(src="images/home-02-673x488.png" width="673" height="488" alt="")
              .cell-xs-10.cell-lg-6.text-lg-left
                h2 We strive to provide a relaxed atmosphere
                p(style="color: #e8e8e8;") If you would like to improve, enhance, or protect your smile, please do not hesitate to contact us today.
                div.offset-top-20
                  span.icon.icon-xxs.mdi.mdi-cellphone-android.text-middle.inset-right-10
                  span.h6
                    a.text-middle.p(href="callto:#") 1-800-1234-567
                .group.group-xl.offset-top-20.offset-xs-top-50
                  a.btn.btn-primary(href="#") BOOK AN APPOINTMENT
                  a.btn.btn-default(href="#") More Info

        div
          .shell.section-98.section-lg-top-34.section-lg-bottom-0
            .range.range-xs-center.range-xs-middle
              .cell-lg-6
                img.img-responsive.veil.reveal-lg-block(src="images/home-03-363x606.png" width="363" height="606" alt="")
              .cell-xs-10.cell-lg-6.text-lg-left
                blockquote.quote
                  h2 “We'll do our best to deliver the best possible healthcare and customer service to you!”
                  .unit.unit-lg.unit-lg-horizontal.unit-spacing-xs.offset-top-20
                    .unit-left
                      hr.divider.bg-white.veil.reveal-lg-inline-block(style="margin-bottom: 3px;")
                    .unit-body
                      div
                        h5 Dr. Mark Hoffman
                      .offset-top-10
                        p(style="color: #e8e8e8;") Founder & head of Intense Dental Clinic
                .group.group-xl.offset-top-20.offset-xs-top-50
                  a.btn.btn-primary(href="#") BOOK AN APPOINTMENT
                  a.btn.btn-default(href="#") More Info