// Get in Touch
section
  .shell
    h2.text-bold
      span.h6.reveal-block.text-uppercase.text-regular.font-default.text-spacing-120.text-primary contact me
      | Get in Touch
    .range.range-sm-center.offset-top-50
      .cell-sm-6
        img.img-circle(src='images/users/user-john-doel-130x130.jpg', width='130', height='130' alt='')
        p.offs.offset-top-30 You can contact me any way that is convenient for you. Feel free to suggest your idea or ask a question. Email me with any questions or inquiries or use my contact data. I will be happy to answer your questions.
        h4.text-bold.text-darker.offset-top-30
          span.p
            a(href="mailto:#") mail@demolink.org

  // Contact Form
  .shell.offset-top-98.offset-md-top-110
    h2.text-bold
      span.h6.reveal-block.text-uppercase.text-regular.font-default.text-spacing-120.text-primary contact form
      | Send me a message
    .range.range-sm-center
      .cell-sm-8
        // RD Mailform
        form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .range
            .cell-lg-6
              .form-group
                label.form-label.form-label-outside(for="contact-me-name") Name:
                input#contact-me-name.form-control(type="text" name="name" data-constraints="@Required")
            .cell-lg-6.offset-top-20.offset-lg-top-0
              .form-group
                label.form-label.form-label-outside(for="contact-me-email") E-Mail:
                input#contact-me-email.form-control(type="email" name="email" data-constraints="@Required @Email")
            .cell-lg-12.offset-top-20.offset-lg-top-30
              .form-group
                label.form-label.form-label-outside(for="contact-me-message") Message:
                textarea#contact-me-message.form-control(name="message" data-constraints="@Required")
          .group-sm.text-center.text-lg-left.offset-top-30
            button(type="submit").btn.btn-primary Send
            button(type="reset").btn.btn-default Reset