include ../elements/_widget-form-subscribe

// Default footer
footer.section-relative.section-top-66.section-bottom-34.page-footer
  .shell
    .range.range-sm-center.text-md-left
      .cell-sm-8.cell-md-12
        .range.range-xs-center
          .cell-md-5.cell-md-push-2
            h6.text-uppercase.text-spacing-60.font-default Newsletter
            p Keep up with our always upcoming  programs and latest news. Enter your e-mail and subscribe to our newsletter.
            .offset-top-30
              +widget-form-subscribe("Type your E-Mail", "form-subscribe-footer")

          .cell-md-4.offset-top-50.offset-md-top-0.cell-md-push-3.cell-lg-3.cell-lg-preffix-1
            ul.list.list-unstyled.address.contact-info.text-left
              li
                .unit.unit-spacing-xxs.unit-horizontal
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-phone.text-primary.text-middle
                  .unit-body
                    a.text-middle(href="callto:#") 1-800-1234-567
              li
                .unit.unit-spacing-xxs.unit-horizontal
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-map-marker-radius.text-primary.text-middle
                  .unit-body
                    a.text-middle(href=cfg.nav.contacts.href) 2130 Fulton Street, San Francisco, CA 94117-1080 USA
              li
                .unit.unit-spacing-xxs.unit-horizontal
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-clock.text-primary.text-middle
                  .unit-body
                    span.text-middle Mon–Sat: 7:00am–8:00pm

          .cell-md-3.offset-top-50.offset-md-top-0.cell-md-push-1
            // Footer brand
            .footer-brand
              a(href="index.html")
                | !{cfg.brand.logo}
            ul.list-inline.list-inline-xxs.reveal-inline-block.offset-top-34.post-meta.text-dark.list-inline-primary
              li
                a(href="#")
                  span.icon.icon-xxs.fa-facebook
              li
                a(href="#")
                  span.icon.icon-xxs.fa-twitter
              li
                a(href="#")
                  span.icon.icon-xxs.fa-google-plus
              li
                a(href="#")
                  span.icon.icon-xxs.fa-youtube-play
              li
                a(href="#")
                  span.icon.icon-xxs.fa-instagram


  .shell.offset-top-50
    p.small.text-darker
      | #{cfg.brand.name} &copy; #[span(id="copyright-year")]. #[a(href="#") Privacy Policy]
      // {%FOOTER_LINK}