extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-parallax
include  ../elements/_ui-box-icon-type-2
include  ../elements/_ui-rd-map
include ../elements/_ui-vacation
//-Title
block title
  title= cfg.nav.about.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.about,
    cfg.nav
    )
  // Page Content
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-01-1920x718.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-66.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1.text-bold
                span.big About us
            div.pull-md-right.offset-sm-top-10.offset-md-top-41
              ul.p.list-inline.list-inline-dashed
                li.text-safety-orange
                  a(href= cfg.nav.home.href) Home
                li About us

    // Welcome to Intense
    section.section-md-top-124.section-md-bottom-0.section-98
      .shell
        .range.range-xs-center
          .cell-xs-10.cell-md-6.cell-md-push-2
            img.img-responsive.reveal-inline-block.offset-top-10(src="images/about-01-570x320.jpg" width=570 height=320 alt="")
          .cell-xs-10.cell-md-6.text-md-left.inset-md-right-80.cell-md-push-1.offset-top-50.offset-md-top-0
            h1.text-bold.text-primary A few words about us
            .offset-top-30.offset-md-top-50
              p Intense is dedicated to providing a wide variety of childcare services to parents and their children. We are also increasing the skills and basic knowledge of your children as well as preparing them for further education at school. With our childcare services, you can be sure your child will not be bored but will have a great interest in the surrounding world.

            .offset-top-20.offset-md-top-30
              a(href=cfg.nav.faq.href).btn.btn-safety-orange learn more

        .range.range-xs-center.range-md-left
          .cell-xs-10.cell-md-6.inset-md-left-30
            img.img-responsive.veil.reveal-md-inline-block(src="images/about-02-463x762.jpg" width=463 height=762 alt="")
          .cell-xs-10.cell-md-5.text-md-left.offset-top-20.offset-md-top-66
            .text-center
              h1.text-bold.text-primary Advantages
              +svg-divider("bg-primary", "71", "13")
            .offset-top-50
              +box-icon-type-2("icon-md mdi mdi-food-apple text-safety-orange", "Healthy Meals", "font-default text-bold text-primary offset-md-top-14", "We cooperate with leading suppliers of kids’ food and that’s why you can be sure of its superior quality and variety.")
            .offset-top-50.offset-md-top-30
              +box-icon-type-2("icon-md mdi mdi-school text-safety-orange", "Learning & Fun", "font-default text-bold text-primary offset-md-top-14", "Our programs comprise learning with elements of entertainment, making it easier for your child to learn and master the new material.")
            .offset-top-50.offset-md-top-30
              +box-icon-type-2("icon-md mdi mdi-verified text-safety-orange", "Child Safety", "font-default text-bold text-primary offset-md-top-14", "We pay a lot of attention to the safety of your children - from the first to the last lesson as well as entertainment activities.")

    // Our Teachers
    section.section-98.section-sm-110.section-bottom-66.bg-lightest
      .shell
        h1.text-bold.text-primary Our Teachers
        +svg-divider("bg-primary", "71", "13")
        .range.range-xs-center
          .cell-xs-10.cell-sm-8
            p When it comes to teachers, our standards are as high as yours. At Intense, child care and education are provided by highly trained, dedicated professionals who know how to make the learning process fun and effective.
        .offset-sm-top-66.text-center.text-md-left
          .range.range-xs-center.section-34
            .cell-sm-6.cell-md-3
              img.img-responsive.reveal-inline-block(src="images/about-03-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Ashley Mason
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:ashley@demolink.org") ashley@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/about-04-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Alisa Myers
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:alisa@demolink.org") alisa@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/about-05-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Shirley Vasquez
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:shirley@demolink.org") shirley@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/about-06-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Terry Sandoval
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:terry@demolink.org") terry@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/about-07-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Randy Schneider
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:randy@demolink.org") randy@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/about-08-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Olivia Marshall
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:olivia@demolink.org") olivia@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/about-09-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Alex Nelson
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:alex@demolink.org") alex@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50
              img.img-responsive.reveal-inline-block(src="images/about-10-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Maria George
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:maria@demolink.org") maria@demolink.org

    // Your Career Starts Here
    section.section-98.section-sm-110
      .shell
        h1.text-bold.text-primary Your Career Starts Here
        +svg-divider("bg-primary", "71", "13")
        .range.range-xs-center
          .cell-xs-10.cell-sm-8
            p Can't find the job you want? Send your resume to info@demolink.org , and we'll contact you when a new position opens.
        .range.range-xs-center.offset-top-66
          .cell-sm-6
            +post-vacation("#", "Senior Teacher ",[{
              "type": "location",
              "link": "#",
              "text": "New York"
            },
              {
                "type": "work-time",
                "text": "Full Time"
              },
              {
                "type": "date",
                "text": "March 9, 2016"
              }])

          .cell-sm-6.offset-top-30.offset-sm-top-0
            +post-vacation("#", "Security Employee",[{
              "type": "location",
              "link": "#",
              "text": "New York"
            },
              {
                "type": "work-time",
                "text": "Full Time"
              },
              {
                "type": "date",
                "text": "March 10, 2016"
              }])

          .cell-sm-6.offset-top-30
            +post-vacation("#", "Teacher Assistant",[{
              "type": "location",
              "link": "#",
              "text": "New York"
            },
              {
                "type": "work-time",
                "text": "Full Time"
              },
              {
                "type": "date",
                "text": "March 10, 2016"
              }])

          .cell-sm-6.offset-top-30
            +post-vacation("#", "Teacher",[{
              "type": "location",
              "link": "#",
              "text": "New York"
            },
              {
                "type": "work-time",
                "text": "Full Time"
              },
              {
                "type": "date",
                "text": "March 17, 2016"
              }])

          .cell-sm-6.offset-top-30
            +post-vacation("#", "Kindergarten Director",[{
              "type": "location",
              "link": "#",
              "text": "New York"
            },
              {
                "type": "work-time",
                "text": "Full Time"
              },
              {
                "type": "date",
                "text": "March 15, 2016"
              }])

          .cell-sm-6.offset-top-30
            +post-vacation("#", "Secretary",[{
              "type": "location",
              "link": "#",
              "text": "New York"
            },
              {
                "type": "work-time",
                "text": "Full Time"
              },
              {
                "type": "date",
                "text": "March 21, 2016"
              }])

    // First Lesson - Free
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-02-1920x748.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-66.context-dark
          h1.text-bold First Lesson is Free
          .range.range-xs-center.offset-top-20
            .cell-xs-10.cell-xs-8
              div
                p We provide a free lesson opportunity from any program for everyone who would like to try our services for their children.
              .offset-top-30
                a(href=cfg.nav.contacts.href).btn.btn-icon.btn-icon-left.btn-default Send us a letter
                  span.icon.mdi-email-outline.mdi

    // Map
    +rd-map({
      "zoom": "14",
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "dataStyles": [{
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [{"color": "#e9e9e9"}, {"lightness": 17}]
      }, {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [{"color": "#f5f5f5"}, {"lightness": 20}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
      }, {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
      }, {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
      }, {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [{"color": "#f5f5f5"}, {"lightness": 21}]
      }, {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [{"color": "#dedede"}, {"lightness": 21}]
      }, {
        "elementType": "labels.text.stroke",
        "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
      }, {
        "elementType": "labels.text.fill",
        "stylers": [{"saturation": 36}, {"color": "#333333"}, {"lightness": 40}]
      }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [{"color": "#f2f2f2"}, {"lightness": 19}]
      }, {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#fefefe"}, {"lightness": 20}]
      }, {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [{"color": "#fefefe"}, {"lightness": 17}, {"weight": 1.2}]
      }]
    },[{
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
    }])
  // Page Footer
  include ../sections/_section-footer-default


