extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-parallax
include  ../elements/_ui-box-icon-type-2
include  ../elements/_ui-rd-map
include ../elements/_ui-vacation
//-Title
block title
  title= cfg.nav.contacts.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.contacts,
    cfg.nav
    )
  // Page Content
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-01-1920x718.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-66.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1.text-bold
                span.big Contact Us
            div.pull-md-right.offset-sm-top-10.offset-md-top-41
              ul.p.list-inline.list-inline-dashed
                li.text-safety-orange
                  a(href= cfg.nav.home.href) Home
                li Contact Us

    // Contact Us
    section.section-98.section-md-110.text-lg-left#form-child-care
      .shell
        .range.range-xs-center.range-xs-center
          .cell-lg-4
            h1.text-uppercase.text-bold.text-primary How to Find us
            address.contact-info.offset-top-50
              p.h6.text-uppercase.text-bold.text-safety-orange.font-default.offset-top-20 Intense Office
              p 9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.
              dl
                dt Telephone
                dd
                  a(href='callto:#') +1 800 603 6035
              dl
                dt E-mail:
                dd
                  a(href='mailto:#') mail@demolink.org
            address.contact-info.offset-top-50
              p.h6.text-uppercase.text-bold.text-safety-orange.font-default Open Hours
              dl.offset-top-20
                dt.text-bold Mornings:
                dd 8 am – 12 pm
              dl
                dt.text-bold Afternoons:
                dd 1 pm – 5 pm
              dl
                dt.text-bold Full Day:
                dd 8 am – 5 pm

          .cell-sm-8.offset-top-66.offset-lg-top-0
            h1.text-uppercase.text-bold.text-primary Get in touch
            // RD Mailform
            form.rd-mailform.text-left.offset-top-50(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .range
                .cell-lg-6
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-name") Name:
                    input#contact-us-name.form-control(type="text" name="name" data-constraints="@Required")
                .cell-lg-6.offset-top-20.offset-lg-top-0
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-email") E-Mail:
                    input#contact-us-email.form-control(type="email" name="email" data-constraints="@Required @Email")
                .cell-lg-12.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-message") Message:
                    textarea#contact-us-message.form-control(name="message" data-constraints="@Required")
              .group-sm.text-center.text-lg-left.offset-top-30
                button(type="submit").btn.btn-primary Send
                button(type="reset").btn.btn-default Reset

    // First Lesson - Free
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-02-1920x748.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-66.context-dark
          h1.text-bold Get a Free Lesson
          .range.range-xs-center.offset-top-20
            .cell-xs-10.cell-xs-8
              div
                p The free lesson is a perfect opportunity for your kid to enjoy our programs, including learning and entertaining activities.
              .offset-top-30
                a(href="#" data-waypoint-to="#form-child-care").btn.btn-icon.btn-icon-left.btn-default Send us a letter
                  span.icon.mdi-email-outline.mdi

    // Map
    +rd-map({
      "zoom": "14",
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "dataStyles": [{
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [{"color": "#e9e9e9"}, {"lightness": 17}]
      }, {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [{"color": "#f5f5f5"}, {"lightness": 20}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
      }, {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
      }, {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
      }, {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
      }, {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [{"color": "#f5f5f5"}, {"lightness": 21}]
      }, {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [{"color": "#dedede"}, {"lightness": 21}]
      }, {
        "elementType": "labels.text.stroke",
        "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
      }, {
        "elementType": "labels.text.fill",
        "stylers": [{"saturation": 36}, {"color": "#333333"}, {"lightness": 40}]
      }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [{"color": "#f2f2f2"}, {"lightness": 19}]
      }, {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#fefefe"}, {"lightness": 20}]
      }, {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [{"color": "#fefefe"}, {"lightness": 17}, {"weight": 1.2}]
      }]
    },[{
      "dataX": "-73.9874068",
      "dataY": "40.643180",
      "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
    }])
  // Page Footer
  include ../sections/_section-footer-default


