extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-parallax
include  ../elements/_ui-box-icon-type-4
include  ../elements/_ui-rd-map
include ../elements/_ui-vacation
include ../elements/_ui-thumbnail-terry
include ../elements/_ui-box-planning-type-2
//-Title
block title
  title= cfg.nav.programs.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.programs,
    cfg.nav
    )
  // Page Content
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-01-1920x718.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-66.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1.text-bold
                span.big Early Preschool
            div.pull-md-right.offset-sm-top-10.offset-md-top-41
              ul.p.list-inline.list-inline-dashed
                li.text-safety-orange
                  a(href= cfg.nav.home.href) Home
                li.text-safety-orange
                  a(href= cfg.nav.programs.href) Programs
                li Early Preschool

    // Welcome to Intense
    section.section-md-bottom-0.section-66
      .shell
        .range.range-xs-center.range-md-middle
          .cell-xs-10.cell-md-6.text-md-left
            h1.text-bold.text-primary We channel energy into learning and fun

            .offset-top-30.offset-md-top-50
              p Toddler classrooms feature our exclusive, milestone-focused approach, Learn from the Start™. This curriculum was developed by our educational experts to focus on the key developmental milestones specific to infants and toddlers.
              p We emphasize your child’s development, rather than specific age, because all children grow and learn at their own pace, and in their own unique way. Learning experiences are designed to address the individual needs of each child, in each classroom.
            .offset-top-20.offset-md-top-30
              a(href=cfg.nav.contacts.href).btn.btn-safety-orange Get in Touch
          .cell-xs-10.cell-md-6
            img.img-responsive.veil.reveal-md-inline-block.offset-top-10(src="images/single-program-01-573x517.jpg" width=573 height=517 alt="")

    // Our Teachers
    section.section-98.section-sm-110.section-bottom-66.bg-lightest
      .shell
        h1.text-bold.text-primary Teachers
        +svg-divider("bg-primary", "71", "13")
        .range.range-xs-center
          .cell-xs-10.cell-sm-8
            p Our teachers are highly qualified specialists that know what modern children need. We hire teachers with experience from 5 or more years, making sure their qualification is enough for teaching children aged at 2 and up.
        .offset-sm-top-66.text-center.text-md-left
          .range.range-xs-center.section-34

            .cell-sm-6.cell-md-3
              img.img-responsive.reveal-inline-block(src="images/about-08-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Olivia Marshall
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:olivia@demolink.org") olivia@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
              img.img-responsive.reveal-inline-block(src="images/about-04-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Alisa Myers
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:alisa@demolink.org") alisa@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/about-09-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Alex Nelson
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:alex@demolink.org") alex@demolink.org

            .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
              img.img-responsive.reveal-inline-block(src="images/about-06-270x270.jpg" width=270 height=270 alt="")
              .text-md-left.offset-top-14
                div
                  h5.text-bold.text-safety-orange.font-default
                    a(href="#") Terry Sandoval
              address.contact-info.text-md-left.post-meta.offset-top-10
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle.text-dark
                    a.reveal-inline-block.text-middle.inset-left-10(href="mailto:terry@demolink.org") terry@demolink.org

    // Choose your Plan
    section.section-98.section-sm-110
      .shell
        h1.text-bold.text-primary Choose your Plan
        +svg-divider("bg-primary", "71", "13")
        .range.range-xs-center.offset-top-34.offset-sm-top-66
          .cell-xs-10.cell-sm-8
            p The pricing plans listed below fully reflect the variety of our learning programs and all included activities. If you would like to find out more about any of these plans, feel free to contact our managers using our website.
      .shell-fluid.offset-top-66
        .range.range-condensed.range-md-center
          .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2
            +box-planning-2("Starter", "19", "month", null , "bg-deluge", null, "Buy now", "btn-default")
              p.text-light
                small This plan is a perfect option for parents looking for affordable child care.
              ul.list-separated.list-unstyled
                li
                  span 8 am - 12 Noon Care
                li
                  span Without Meals
                li
                  span Science Classes
                li
                  span 1 Educators
                li
                  span.text-dark Personal Program

          .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2.offset-top-50.offset-md-top-0
            +box-planning-2("Basic", "59", "month", "text-safety-orange", "bg-safety-orange", "bg-safety-orange", "Buy now", "btn-safety-orange", "active")
              p.text-light
                small The Basic plan gives your kid everything necessary for his/her learning.
              ul.list-separated.list-unstyled
                li
                  span 8 am - 12 Noon Care
                li
                  span 3 Meals a Day
                li
                  span Science Classes
                li
                  span 2 Educators
                li
                  span.text-dark Personal Program

          .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2.offset-top-50.offset-md-top-0
            +box-planning-2("Pro", "99", "month", null, "bg-deluge", null, "Buy now", "btn-default")
              p.text-light
                small The Pro plan includes all activities necessary for your child’s upbringing.
              ul.list-separated.list-unstyled
                li
                  span 8 am - 12 Noon Care
                li
                  span 4 Meals a Day
                li
                  span Science Classes
                li
                  span 3 Educators
                li
                  span.text-dark Personal Program


    // First Lesson - Free
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-02-1920x748.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-66.context-dark
          h1.text-bold Have a question?
          .range.range-xs-center.offset-top-20
            .cell-xs-10.cell-xs-8
              div
                p If you would like to discuss details of a certain plan or program, email us and we will gladly answer all your questions.
              .offset-top-30
                a(href=cfg.nav.contacts.href).btn.btn-icon.btn-icon-left.btn-default
                  span.icon.mdi-email-outline.mdi
                  span Send us a letter

  // Page Footer
  include ../sections/_section-footer-default


