//
// Custom Radio
// --------------------------------------------------

// Base styles
// --------------------------------------------------

input.mfRadio__input {
  width: 14px;
  height: 14px;
  margin-top: ($line-height-computed - 14px)/2;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $gray-lighter;
  border-radius: 50%;
  padding: 3px;
  border: none;
  outline: none;
  background-clip: content-box;
  box-shadow: inset $shadow-area-xxs, inset 0 0 0 3px $gray-lighter;

  &:focus{
    outline: none;
  }

  &:checked{
    background-color: $gray-darker;
  }

  ::-moz-focus-inner{
    border: none;
  }
 & + span{
   margin-left: 10px;
 }
}