//
// RD Video Player
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.rd-video-player {
  cursor: none;
  position: relative;
  > * {
    z-index: 1;
  }

  &.playlist-show {
    video {
      opacity: .5;
    }
    .rd-video-playlist {
      opacity: 1;
      visibility: visible;
    }
  }

  video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    .desktop &::-webkit-media-controls {
      display: none !important;
    }
    .desktop &::-webkit-media-controls-enclosure {
      display: none !important;
    }
  }

  &.hovered {
    cursor: default;
  }
  // video muted
  &.muted .rd-video-volume:before {
    content: '\f66e';
  }

  // state loading
  &.state-loading .rd-video-wrap:before, &.state-loading .rd-video-preloader {
    opacity: 1;
    visibility: visible;
  }

  // state playing
  &.state-playing .rd-video-controls, &.state-playing .rd-video-top-controls {
    opacity: 0;
    visibility: hidden;
  }

  // video play pause hover
  &.state-playing .rd-video-play-pause:before {
    content: '\f4d3';
  }

  &.hovered .rd-video-controls, &.hovered .rd-video-top-controls {
    opacity: 1;
    visibility: visible;
  }

  // video fullscreen
  &.fullscreen {
    .rd-video-fullscreen:before {
      content: '\f389';
    }

    .rd-video-controls, .rd-video-top-controls, .rd-video-playlist {
      z-index: 2147483647;
    }
  }
}

// Title styles
// --------------------------------------------------

.rd-video-title {
  float: left;
  font-size: 13px;
  font-weight: 700;
  color: #FFF;
}

// Video volume bar
// --------------------------------------------------
.rd-video-volume-bar {
  background: $white;
  position: relative;
  cursor: pointer;

  .current {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    @include bg-variant-custom(linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
    z-index: 0;
  }
}

// Video wrap
// --------------------------------------------------

.rd-video-wrap {
  position: relative;
  background: $gray-darkest;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba($gray-darkest, 0.7) no-repeat;
    transition: .4s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
  }
}

.rd-video-icon {
  font-size: 16px;
  line-height: 16px;
  @media (min-width: $screen-sm-min) {
    font-size: 18px;
    line-height: 18px;
  }
}

// Video Play pause
// --------------------------------------------------
.rd-video-play-pause {
  position: relative;
  font-size: 20px;

  &.has-controls{
    margin: 0 5px;
    width: 28px;
    height: 28px;
    line-height: 24px;
    border-radius: 50%;
    border: 2px solid rgba($white, 0.5);

  }
  @media (min-width: $screen-sm-min) {
    font-size: 24px;
    &.has-controls{
      margin: 0;
      width: 36px;
      height: 36px;
      line-height: 32px;
    }
  }
}

@include sprite-animation();

// Video preloader
// --------------------------------------------------
.rd-video-preloader {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/preloader.png) no-repeat center center;
  background-position: -648px 0;
  animation: 0.7s sprite-animation steps(12) infinite;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: .4s all ease;
  z-index: 6;
}

// Video time
// --------------------------------------------------
.rd-video-duration, .rd-video-current-time {
  font-size: 13px;
  font-style: italic;
}

.rd-video-duration, .rd-video-time-divider {
  display: none;
  @media (min-width: $screen-xs) {
    display: inline-block;
  }
}
.rd-video-time-divider{
  margin: 0 3px;
}

// Video progress bar
// --------------------------------------------------
.rd-video-progress-bar {
  position: relative;
  width: 100%;
  height: 8px;
  margin: 0 10px 0 10px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    right: 0;
    background: #FFF;
  }

  .current {
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;
    @include bg-variant-custom(linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
    z-index: 0;
  }
  @media (min-width: $screen-sm-min) {
    margin: 0 17px 0 18px;
  }
}

// Desktop Styles
.desktop .rd-video video::-webkit-media-controls, .desktop .rd-video video::-webkit-media-controls-enclosure {
  display: none !important;
}

// Video Volume
// --------------------------------------------------

.rd-video-volume {
  // video volume wrap
  &-wrap {
    position: relative;
    margin-left: 16px;
    display: none;

    &.hover .rd-video-volume-bar-wrap {
      visibility: visible;
      opacity: 1;
    }
    .desktop & {
      @include display-flex();
      @include flex(0 0 auto);
    }
  }

  // video volume bar wrap
  &-bar-wrap {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    text-align: center;
  }

  // video volume bar vertical
  &-bar-vertical {
    width: 4px;
    height: 70px;
    display: inline-block;
  }

  // video volume bar horizontal
  &-bar-horizontal {
    width: 100px;
    height: 10px;
  }
}

// video fullscreen
.rd-video-fullscreen {
  float: right;
  font-size: 24px;
  @media (min-width: $screen-xs) {
    font-size: 20px;
  }
}

// Controls
// --------------------------------------------------

.rd-video-controls {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 10px 10px;
  transition: .3s all ease;
  z-index: 3;
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);

  bottom: 0;
  will-change: opacity;

  @include bg-variant-custom(linear-gradient(0deg, rgba($gray-darker, 0.4) 0%, rgba($gray-darker, 0.2) 40%, transparent 100%));

  a {
    color: $rd-video-player-controls-color;
  }
  > * {
    @include flex(0 1 auto);
    @include align-items(center);
    @include justify-content(space-between);
  }
  &-buttons{
    @include flex(0 0 auto);
  }
  > .rd-video-time {
    @include flex(0 0 auto);
    color: $rd-video-player-controls-color;
  }

}

// Video Top Controls
// --------------------------------------------------
.rd-video-top-controls {
  position: absolute;
  padding: 10px 10px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  transition: 0.3s all ease;
  color: $rd-video-player-controls-color;
  will-change: opacity;
  @include bg-variant-custom(linear-gradient(0deg, transparent 0%, rgba($gray-darker, 0.2) 60%, rgba($gray-darker, 0.4) 100%));

  @media (min-width: $screen-xs) {
    padding: 23px 30px;
  }
}

// Video Prev
// --------------------------------------------------
.rd-video-prev {
  transform: rotate(180deg);
}

// Video Preview
// --------------------------------------------------
.rd-video-preview {
  position: absolute;
  -webkit-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
  z-index: 1;
  transition: .3s all ease;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

// Video Playlist
// --------------------------------------------------
.rd-video-playlist {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  list-style-type: none;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
  li {
    opacity: .7;
    transition: .3s opacity ease;
    will-change: opacity;
    &:hover {
      opacity: 1;
    }

    p {
      text-align: center;
      color: #FFF;
      font-weight: 700;
      font-size: 13px;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      display: none;
    }

    img {
      backface-visibility: hidden;
      width: 100%;
    }

    &.video-active {
      opacity: 1;
    }
  }
  @media (min-width: $screen-md) {

    li {
      margin-top: 25px;
      p {
        display: block;
      }
    }

  }
}