//
// RD Navbar Sidebar Fixed Panel
// --------------------------------------------------

%rd-navbar-sidebar-fixed-panel{

  .rd-navbar-panel{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 16;
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    padding: 4px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .rd-navbar-brand {
    text-align: center;
    img{
      width: 80%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .rd-navbar-search-toggle{
    @include toggle-icons-via-rotation(48px, 28px, $gray-darker, '\f43b', '\f250');
  }

  .rd-navbar-toggle {
    position: fixed;
    z-index: 17;
    left: 0;
    top: 0;
    @extend %rd-navbar-transition;
  }


  @media (min-width: $screen-lg) {
    .rd-navbar-panel{
      @include flex-direction(column);
      width: $rd-navbar-sidebar-fixed-panel-width;
      height: 100vh;
      padding: 0;
    }
    .rd-navbar-toggle{
      position: static;
      padding: 0;
      margin-top: 8px;
      background: none;
      border: none;
      outline: none;
    }
    .rd-navbar-search{
      padding-bottom: 8px;
    }
    .rd-navbar-brand {

      @include transform(rotate(-90deg));
      img{
        width: auto;
        max-width: none;
      }
    }
  }
}

//
// Dark Theme
// ------------------------------------

%rd-navbar-sidebar-fixed-panel-dark{
  .rd-navbar-panel {
    background: $gray-base;
  }
  .rd-navbar-toggle {
    @include toggle-lines-to-arrow(48px, 24px, $white);
  }
}

//
// Light Theme
// --------------------------------------------------

%rd-navbar-sidebar-fixed-panel-light{
  .rd-navbar-panel {
    background: $white;
    box-shadow: $shadow-area-md;
  }
  .rd-navbar-toggle {
    @include toggle-lines-to-arrow(48px, 24px, $gray-darker);
  }
}





