//- Post Boxed
//- url - expanded post link
//- date - date of publishment
//- title - post title
//- author - authors name
//- tags - array of {link}
//- image - {image} object

mixin post-boxed(url, date, title, author, tags, image)
  // Post Boxed
  a.reveal-block(href= url)
    div.post.post-boxed
      // Post media
      header.post-media
        img.img-responsive(width=image.width, height=image.height, src=image.src, alt=image.alt)

      // Post content
      section.post-content.text-left
        if tags
          .post-tags.group-xs
            each tag in tags
              span.label-custom.label-lg-custom.label-primary= tag.title

        .post-body
          // Post Title
          .post-title
            h4.text-regular= title

          .post-meta.small
            ul.list-inline.list-inline-sm.p
              li.text-italic.text-middle by&nbsp;
                 span.text-warning= author
              li
                span.text-middle.icon-xxs.mdi.mdi-clock
                time.text-italic.text-warning.text-middle(datetime="2016-01-01")= date