//- title - page title
//- breacrumbs - an array of {link} object
//- url - address of bg-parallax img
mixin breadcrumb-modern(title, breadcrumbs, url)
  // Modern Breadcrumbs
  section.breadcrumb-modern.rd-parallax.bg-gray-darkest.context-dark
    div.rd-parallax-layer(data-speed="0.2" data-type="media" data-url=url)
    div.rd-parallax-layer(data-speed="0" data-type="html")
      .bg-overlay-gray-darkest
        .shell.section-34.section-sm-50.section-md-110
          .text-extra-big.font-accent.veil.reveal-md-block
            span.big= title
          ul.list-inline.list-inline-dashed.p.offset-top-0
            each link, index in breadcrumbs
              if breadcrumbs[parseInt(index) + 1]
                li
                  a.small(href=link.href)= link.title
              else
                li
                  = link.title
          block