//- Classic Pagination
//- active - active index of pagination
//- index - an array of {link} for indexes
//- prev - prev button {link}
//- next - next button {link}


mixin pagination-classic(active, indexes, prev, next)
  // Classic Pagination
  nav
    ul.pagination-classic
      //- Previous
      if prev
        li
          a(href=prev.href)= prev.title

      //- Indexes
      each index, i in indexes
        li(class= i === active - 1 ? "active" : "")
          a(href=index.href)= i + 1

      //- Next
      if next
        li
          a(href=next.href)= next.title

  //// Classic Pagination
  //ul.pagination-classic
  //  li.previous
  //    a.btn.btn-default(href='#' class= size)= nameListPrev
  //  each val, index in amountList
  //    - var isActive = (index == active - 1)? "active": ""
  //    - var isHidden = (index > 2)? "veil reveal-xs-inline-block": ""
  //    li(class="#{isHidden} #{isActive}")
  //      a.btn.btn-default(href='#' class="#{size}" )= val
  //  li.next
  //    a.btn.btn-default(href='#' class= size)= nameListNext