//- tabId - id of tabs
//- tabObject - object of tabs
mixin tabs-bootstrap(tabId, tabObject)
  // Bootstrap Tabs
  ul.tabs.nav.nav-tabs(role="tablist", id="#{tabId}")
    - var openClass = '';
    - for (var i = 0; i < tabObject.length; i++)
      - openClass = ''
      - if(i == 0)
        - openClass = 'active';
      li(role="presentation" class=openClass): a(href="##{tabObject[i].tabId}" role="tab")= tabObject[i].title
  div.tab-content.tab-conten-vert.offset-top-30.text-sm-left
    - for (var i = 0; i < tabObject.length; i++)
      - openClass = ''
      - if(i == 0)
        - openClass = 'active in';
      .tab-pane.fade(role="tabpanel" id="#{tabObject[i].tabId}" class=openClass) !{tabObject[i].description}