//- Post Widget
//- url - expanded post link
//- date - date of publishment
//- title - post title
//- image - post image

mixin widget-post(url, date, title, image, aClass)
  // Post Widget
  article.post.widget-post.text-left(class= aClass)
    a(href=url)
      div.unit.unit-horizontal.unit-spacing-xs.unit-middle
        if image
          .unit-left
            img.img-circle(width=image.w, height=image.h, src=image.src, alt=image.alt)
        .unit-body
          .post-meta
            span.icon-xxs.text-primary.mdi.mdi-arrow-right
            time(datetime="2016-01-01")= date
          .post-title
            h6.text-regular= title