//- Subscribe Form Widget
//- holder - input placeholder
//- id - id of form output element
//- external - true if form output element is an external element
mixin widget-form-subscribe-type-2(holder, id, type, external)
  form.rd-mailform(data-form-output=id, data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
    .form-group
      .input-group.input-group-sm
        input.form-control(placeholder=holder, type="email", data-constraints="@Required @Email", name="email")
        span.input-group-btn
          if type === "text"
            button(type="submit").btn.btn-sm.btn-primary Subscribe
          else
            button(type="submit").btn.btn-sm.btn-primary.btn-icon
              span.icon.mdi.mdi-send

    if !external
      .form-output(id=id)