extends  ../_skeleton

//- Includes
include  ../elements/_ui-tabs-classic
include  ../elements/_ui-rd-parallax
include ../elements/_widget-list-social
include ../elements/_ui-rd-map

//-Title
block title
  title= cfg.nav.contacts.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.contacts,
    cfg.nav
    )

    //- Section header
    section.rd-parallax.context-dark
      div.rd-parallax-layer(data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg")
      div.rd-parallax-layer(data-speed="0" data-type="html")
        .shell.section-top-34.section-sm-top-98.section-bottom-34
          div
            h1.text-bold Contacts
          ul.list-inline.list-inline-dashed.p.text-light.breadcrumb-modern.offset-top-10.offset-sm-top-66
            li.active
              a(href="./") Home
            li  Contacts

  // Page Contents
  main.page-content

    //Section Contact Info
    section.bg-lighter.section-66
      .shell-wide
        .range.range-xs-center.text-sm-left
          .cell-xs-10.cell-sm-8.cell-md-12
            .range.range-xs-center
              .cell-xs-6.cell-md-3.cell-xl-2
                .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
                  .unit-left
                    span.icon.icon-xs.mdi.mdi-phone.text-primary(style="font-size: 26px")
                  .unit-body
                    h6 Phones
                    .p
                      a.reveal-block(href="callto:1-800-1234-567") 1-800-1234-567
                      a.reveal-block(href="callto:1-800-6547-987") 1-800-6547-987
              .cell-xs-6.cell-md-3.cell-xl-2.offset-top-50.offset-xs-top-0
                .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
                  .unit-left
                    span.icon.icon-xs.mdi.mdi-email-open.text-primary(style="font-size: 26px")
                  .unit-body
                    h6 E-mail
                    .p
                      a.reveal-block(href="mailto:info@demolink.org") info@demolink.org
              .cell-xs-6.cell-md-3.cell-xl-2.offset-top-50.offset-md-top-0
                .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
                  .unit-left
                    span.icon.icon-xs.mdi.mdi-map.text-primary(style="font-size: 26px")
                  .unit-body
                    h6 Address
                    address.contact-info 213, New Lenox, Chicago, IL 60606
              .cell-xs-6.cell-md-3.cell-xl-2.offset-top-50.offset-md-top-0
                .unit.unit-spacing-xs.unit-sm.unit-sm-horizontal
                  .unit-left
                    span.icon.icon-xs.mdi.mdi-timelapse.text-primary(style="font-size: 26px")
                  .unit-body
                    h6 Open Hours
                    div
                      p 8:00 – 19:00 Mon – Fri
                    p.offset-top-0 9:00 – 17:00 Sat

    //Section Get In Touch
    section.section-98.section-sm-110
      .shell
        h2.text-bold Get In Touch
        hr.divider.bg-saffron
        .offset-sm-top-66
          .range.range-xs-center
            .cell-xs-10.cell-md-8
              // RD Mailform
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .range.range-xs-center
                  .cell-sm-6
                    .form-group
                      label.form-label(for="mailform-first-name") First name
                      input#mailform-first-name.form-control.bg-white(type="text" name="username" data-constraints="@Required")
                  .cell-sm-6
                    .form-group
                      label.form-label(for="mailform-last-name") Last Name
                      input#mailform-last-name.form-control.bg-white(type="text" name="username" data-constraints="@Required")
                  .cell-sm-6
                    .form-group.offset-sm-top-30
                      label.form-label(for="mailform-phone") Phone
                      input#mailform-phone.form-control.bg-white(type="text" name="username" data-constraints="@Required")
                  .cell-sm-6
                    .form-group.offset-sm-top-30
                      label.form-label(for="mailform-email") E-mail
                      input#mailform-email.form-control.bg-white(type="text" name="username" data-constraints="@Required")
                  .cell-sm-12
                    .form-group.offset-sm-top-30
                      label.form-label(for="mailform-message") Message
                      textarea#mailform-message.form-control.bg-white(name="message" data-constraints="@Required")
                .offset-top-24.text-center
                  button(type="submit").btn.btn-primary send message
    section
      .rd-google-map
        #rd-google-map.rd-google-map__model-mod-1(data-zoom= 14, data-x= -73.9874068, data-y= 40.643180, data-styles= [{
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [{"color": "#444444"}]
        }, {
          "featureType": "administrative.locality",
          "elementType": "labels",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [{"color": "#f2f2f2"}, {"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [{"visibility": "simplified"}, {"saturation": "-65"}, {"lightness": "45"}, {"gamma": "1.78"}]
        }, {
          "featureType": "poi",
          "elementType": "labels",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "poi",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "road",
          "elementType": "all",
          "stylers": [{"saturation": -100}, {"lightness": 45}]
        }, {
          "featureType": "road",
          "elementType": "labels",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "road",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "road.highway",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "road.arterial",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [{"saturation": "-33"}, {"lightness": "22"}, {"gamma": "2.08"}]
        }, {
          "featureType": "transit.station.airport",
          "elementType": "geometry",
          "stylers": [{"gamma": "2.08"}, {"hue": "#ffa200"}]
        }, {
          "featureType": "transit.station.airport",
          "elementType": "labels",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "transit.station.rail",
          "elementType": "labels.text",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "transit.station.rail",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "simplified"}, {"saturation": "-55"}, {"lightness": "-2"}, {"gamma": "1.88"}, {"hue": "#ffab00"}]
        }, {
          "featureType": "water",
          "elementType": "all",
          "stylers": [{"color": "#bbd9e5"}, {"visibility": "simplified"}]
        }])
        ul.rd-google-map__locations
            li(data-x= -73.9874068, data-y= 40.643180)
              p 9870 St Vincent Place, Glasgow

  // Page Footer
  include ../sections/_section-footer-default
