extends  ../_skeleton

//- Includes
include  ../elements/_ui-tabs-horizontal-dashed
include  ../elements/_ui-thumbnail-terry
include  ../elements/_ui-rd-parallax
include  ../elements/_ui-box-icon-type-4
include  ../elements/_ui-testimonials-slider-4

//-Title
block title
  title= cfg.brand.name

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.home,
    cfg.nav
    )

  // Page Contents
  main.page-content
    //Section Search form
    section.context-dark
      // Swiper
      .swiper-container.swiper-slider(data-height='33%', data-min-height='600px', data-dots="true")
        .swiper-wrapper
          .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/slide-01-1920x640.jpg' style="background-position: center center")
          .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/slide-02-1920x640.jpg' style="background-position: center center")
          .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/slide-03-1920x640.jpg' style="background-position: center center")
        .swiper-caption-wraper
          .shell.section-41
            .range.range-xs-center
              h1.text-bold Professional realtor works for you
              .cell-xs-10.cell-md-7.cell-lg-6
                .offset-top-24.offset-md-top-50.text-left
                  +tabs-horizontal-dashed(['sale ', 'rent', 'commercial'])
                    div.offset-md-top-10
                      form
                        .group-sm.group-top
                          .group-item.element-fullwidth(style="max-width: 390px")
                            .form-group
                              label.form-label.rd-input-label(for="home-tabs1-search-form-input") Search by City or Address:
                              input.form-control#home-tabs1-search-form-input(type="text" name="s" autocomplete="off")
                          button(type="button").btn.btn-primary.element-fullwidth(style="max-width: 120px") search
                    div.offset-md-top-10
                      form
                        .group-sm.group-top
                          .group-item.element-fullwidth(style="max-width: 390px")
                            .form-group
                              label.form-label.rd-input-label(for="home-tabs2-search-form-input") Search by  Address or City:
                              input.form-control#home-tabs2-search-form-input(type="text" name="s" autocomplete="off")
                          button(type="button").btn.btn-primary.element-fullwidth(style="max-width: 120px") search
                    div.offset-md-top-10
                      form
                        .group-sm.group-top
                          .group-item.element-fullwidth(style="max-width: 390px")
                            .form-group
                              label.form-label.rd-input-label(for="home-tabs3-search-form-input") Search by City or Address:
                              input.form-control#home-tabs3-search-form-input(type="text" name="s" autocomplete="off")
                          button(type="button").btn.btn-primary.element-fullwidth(style="max-width: 120px") search

        // Swiper Pagination
        .swiper-pagination.swiper-pagination-type-2

    //Section thumbnails terry
    section.section-34
      .shell-fluid
        .range.range-xs-center
          .cell-xs-8.cell-sm-6.cell-lg-3
            +thumbnail-terry({
              "type": "thumbnail",
              "title": "With Swimming Pool ",
              "description": "32 properties",
              "thumb": {"src": "images/home-img-01-442-280.jpg", "width": 442, "height": 280, "alt": ""},
              "target": {"href": "#"},
              "btnLink": cfg.nav.catalog.href,
              "btnClass": "btn-primary",
              "btnText": "choose an apartment"
            })

          .cell-xs-8.cell-sm-6.cell-lg-3.offset-top-30.offset-sm-top-0
            +thumbnail-terry({
              "type": "thumbnail",
              "title": "Cozy Houses",
              "description": "54 properties",
              "thumb": {"src": "images/home-img-02-442-280.jpg", "width": 442, "height": 280, "alt": ""},
              "target": {"href": "#"},
              "btnLink": cfg.nav.catalog.href,
              "btnClass": "btn-primary",
              "btnText": "choose an apartment"
            })

          .cell-xs-8.cell-sm-6.cell-lg-3.offset-top-30.offset-lg-top-0
            +thumbnail-terry({
              "type": "thumbnail",
              "title": "Studio Apartments",
              "description": "32 properties",
              "thumb": {"src": "images/home-img-03-442-280.jpg", "width": 442, "height": 280, "alt": ""},
              "target": {"href": "#"},
              "btnLink": cfg.nav.catalog.href,
              "btnClass": "btn-primary",
              "btnText": "choose an apartment"
            })

          .cell-xs-8.cell-sm-6.cell-lg-3.offset-top-30.offset-lg-top-0
            +thumbnail-terry({
              "type": "thumbnail",
              "title": "Luxury Houses",
              "description": "19 properties",
              "thumb": {"src": "images/home-img-04-442-280.jpg", "width": 442, "height": 280, "alt": ""},
              "target": {"href": "#"},
              "btnLink": cfg.nav.catalog.href,
              "btnClass": "btn-primary",
              "btnText": "choose an apartment"
            })

    //Section Recent Properties
    section.section-bottom-98.section-top-34.section-md-bottom-110.section-md-top-66
      .shell
        h2.text-bold Recent Properties
        hr.divider.bg-saffron
        .range
          .cell-sm-6.cell-md-4
            img.img-responsive.reveal-inline-block(src="images/home-img-05-370x250.jpg" width=370 height=250 alt="")
            .text-sm-left.offset-top-24
              div
                h5.text-bold.text-primary
                  a(href= "single-property-page.html") AVA Nob Hill
              h6.offset-top-10  $1199.00/mon
              ul.list-inline.list-inline-dotted.text-dark
                li 1200 sq ft
                li 4 bedrooms
                li 2 bathrooms
              div
                p AVA Nob Hill includes studios and 1 and 2 bedroom apartments that feature an urban-inspired design that extends beyond your walls and throughout the entire community.

          .cell-sm-6.cell-md-4.offset-top-66.offset-sm-top-0
            img.img-responsive.reveal-inline-block(src="images/home-img-06-370x250.jpg" width=370 height=250 alt="")
            .text-sm-left.offset-top-24
              div
                h5.text-bold.text-primary
                  a(href="single-property-page.html") Ashton San Francisco
              h6.offset-top-10  $1595.00/mon
              ul.list-inline.list-inline-dotted.text-dark
                li 1200 sq ft
                li 2 bedrooms
                li 2 bathrooms
              div
                p Ashton San Francisco offers luxury apartments, eco-friendly features, and remarkable on-site resident amenities. Enjoy premier services and access to our state-of-the-art fitness center, clubhouse, business center, and outdoor fire pit lounge.

          .cell-sm-6.cell-md-4.offset-top-66.offset-md-top-0
            img.img-responsive.reveal-inline-block(src="images/home-img-07-370x250.jpg" width=370 height=250 alt="")
            .text-sm-left.offset-top-24
              div
                h5.text-bold.text-primary
                  a(href="single-property-page.html") The Presidio Residences
              h6.offset-top-10  $2699.00/mon
              ul.list-inline.list-inline-dotted.text-dark
                li 2200 sq ft
                li 4 bedrooms
                li 3 bathrooms
              div
                p The Presidio Residences offer a unique opportunity to live in a national park setting and enjoy quiet neighborhoods, convenient location, beautiful open spaces, and outstanding recreational amenities.

          .cell-sm-6.cell-md-4.offset-top-66
            img.img-responsive.reveal-inline-block(src="images/home-img-08-370x250.jpg" width=370 height=250 alt="")
            .text-sm-left.offset-top-24
              div
                h5.text-bold.text-primary
                  a(href="single-property-page.html") Alchemy by Alta
              h6.offset-top-10  $1199.00/mon
              ul.list-inline.list-inline-dotted.text-dark
                li 1200 sq ft
                li 4 bedrooms
                li 2 bathrooms
              div
                p One month FREE on select apartment homes for a limited time.

          .cell-sm-6.cell-md-4.offset-top-66
            img.img-responsive.reveal-inline-block(src="images/home-img-09-370x250.jpg" width=370 height=250 alt="")
            .text-sm-left.offset-top-24
              div
                h5.text-bold.text-primary
                  a(href="single-property-page.html") Avalon at Mission Bay
              h6.offset-top-10  $1595.00/mon
              ul.list-inline.list-inline-dotted.text-dark
                li 1200 sq ft
                li 2 bedrooms
                li 2 bathrooms
              div
                p Avalon at Mission Bay located in San Francisco near the San Francisco Caltrain Station offers thoughtfully designed studio, 1, 2 and 3 bedroom apartments and town homes.

          .cell-sm-6.cell-md-4.offset-top-66
            img.img-responsive.reveal-inline-block(src="images/home-img-10-370x250.jpg" width=370 height=250 alt="")
            .text-sm-left.offset-top-24
              div
                h5.text-bold.text-primary
                  a(href="single-property-page.html") Bayside Village Apartments
              h6.offset-top-10  $2699.00/mon
              ul.list-inline.list-inline-dotted.text-dark
                li 2200 sq ft
                li 4 bedrooms
                li 3 bathrooms
              div
                p Pick your pleasure from a vantage point that puts all the best of the city's lively South Beach neighborhood within easy reach.
        .offset-top-50
          a(href= cfg.nav.catalog.href).btn.btn-primary view all properties

    //Section Real Estate Tools and Resources
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-01-1920x768.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-98.section-sm-110
          h2.text-bold Real Estate Tools and Resources
          hr.divider.bg-saffron
          .range.range-xs-center.offset-top-66
            .cell-sm-4
              +box-icon-type-4("mdi mdi-comment-text-outline icon-carrot-filled", "more listings", "Check up to 40% more houses for sale. See pictures of your new life at a new place. See maps, markets, etc.")
            .cell-sm-4.offset-top-66.offset-sm-top-0
              +box-icon-type-4("mdi mdi-star icon-carrot-filled", "top-rated agents", "All our real estate agents are professionals in your neighborhood, which are ready to help you find your new home.")
            .cell-sm-4.offset-top-66.offset-sm-top-0
              +box-icon-type-4("mdi mdi-domain icon-carrot-filled", "home estimates", "Wanna know how much your new home will cost? See estimates for any neighborhood and check prices for similar homes.")

    //Section Real Estate Agents
    section.section-98.section-md-110
      .shell
        h2.text-bold Real Estate Agents
        hr.divider.bg-saffron
        .range.range-xs-center.offset-top-66
          .cell-sm-6.cell-md-3
            .member-block-type-6
              img.img-responsive.reveal-inline-block(src="images/users/user-ashley-mason-270x270.jpg" width=270 height=270 alt="")
              .text-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Ashley Mason
              address.contact-info.text-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:ashley@demolink.org") ashley@demolink.org

          .cell-sm-6.cell-md-3.offset-top-50.offset-sm-top-0
            .member-block-type-6
              img.img-responsive.reveal-inline-block(src="images/users/user-russel-myers-270x270.jpg" width=270 height=270 alt="")
              .text-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Russell Myers
              address.contact-info.text-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:russell@demolink.org") russell@demolink.org

          .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .member-block-type-6
              img.img-responsive.reveal-inline-block(src="images/users/user-shirley-vasques-270x270.jpg" width=270 height=270 alt="")
              .text-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Shirley Vasquez
              address.contact-info.text-left
                ul.list-unstyled.p
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li.reveal-block
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:shirley@demolink.org") shirley@demolink.org

          .cell-sm-6.cell-md-3.offset-top-50.offset-md-top-0
            .member-block-type-6
              img.img-responsive.reveal-inline-block(src="images/users/user-terry-sandoval-270x270.jpg" width=270 height=270 alt="")
              .text-left.offset-top-20
                div
                  h5.text-bold.text-primary
                    a(href="team-member.html") Terry Sandoval
              address.contact-info.text-left
                ul.list-unstyled.p
                  li
                    span.icon.icon-xxs.mdi.mdi-phone.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                  li
                    span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                    = " "
                    a.reveal-inline-block.text-middle(href="mailto:terry@demolink.org") terry@demolink.org

        .offset-top-66
          a(href= cfg.nav.about.href).btn.btn-primary view all agents

    //Section Testimonials
    section.section-98.section-md-110.bg-lighter
      .shell
        h2.text-bold Testimonials
        hr.divider.bg-saffron
        .offset-top-66
          +testimonials-slider-4([{
            "image": {
              "width": 80,
              "height": 80,
              "src": "images/users/user-lisa-evans-80x80.jpg",
              "alt": "Lisa Evans"
            },
            "title": "Lisa Evans",
            "q": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!"
          },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-nicholas-lane-80x80.jpg",
                "alt": "Nicholas Lane"
              },
              "title": "Nicholas Lane",
              "q": "I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered."
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-ethan-dean-80x80.jpg",
                "alt": "Ethan Dean"
              },
              "title": "Ethan Dean",
              "q": "Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever. Thank you a thousand times."
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-lisa-evans-80x80.jpg",
                "alt": "Lisa Evans"
              },
              "title": "Lisa Evans",
              "q": "Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!"
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-nicholas-lane-80x80.jpg",
                "alt": "Nicholas Lane"
              },
              "title": "Nicholas Lane",
              "q": "I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered."
            },
            {
              "image": {
                "width": 80,
                "height": 80,
                "src": "images/users/user-ethan-dean-80x80.jpg",
                "alt": "Ethan Dean"
              },
              "title": "Ethan Dean",
              "q": "Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.Thank you a thousand "
            }])
    //Section Real Estate Tools and Resources
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/bg-02-1920x855.jpg",
        "htmlSpeed": "0"
      })
        .shell.section-98.section-sm-110
          h2.text-bold Get In Touch
          hr.divider.bg-saffron
          .range.range-xs-center.offset-top-66
            .cell-sm-8
              // RD Mailform
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .range
                  .cell-lg-6
                    .form-group
                      label.form-label(for="real-estate-first-name") First name:
                      input#real-estate-first-name.form-control(type="text" name="name" data-constraints="@Required")
                  .cell-lg-6.offset-top-24.offset-lg-top-0
                    .form-group
                      label.form-label(for="real-estate-last-name") Last name:
                      input#real-estate-last-name.form-control(type="text" name="last_name" data-constraints="@Required")
                  .cell-lg-6.offset-top-24
                    .form-group
                      label.form-label(for="real-estate-phone") Phone:
                      input#real-estate-phone.form-control(type="text" name="phone" data-constraints="@Required")
                  .cell-lg-6.offset-top-24
                    .form-group
                      label.form-label(for="real-estate-mail") E-mail:
                      input#real-estate-mail.form-control(type="email" name="email" data-constraints="@Required @Email")
                  .cell-lg-12.offset-top-24
                    .form-group
                      label.form-label(for="contact-me-message") Message:
                      textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 150px")
                .offset-top-30.text-center
                  button(type="submit").btn.btn-primary send message

  // Page Footers
  include ../sections/_section-footer-default
