extends  ../_skeleton

//- Includes
include  ../elements/_ui-tabs-classic
include  ../elements/_ui-rd-parallax
include ../elements/_widget-list-social

//-Title
block title
  title= "Login / Register"

//- Page
block page
  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    "",
    cfg.nav
    )

  // Page Head
  header.page-head
    //- Section header
    section.rd-parallax.context-dark
      div.rd-parallax-layer(data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg")
      div.rd-parallax-layer(data-speed="0" data-type="html")
        .shell.section-top-34.section-sm-top-98.section-bottom-34
          div
            h1.text-bold Login / Register
          ul.list-inline.list-inline-dashed.p.text-light.breadcrumb-modern.offset-top-10.offset-sm-top-66
            li.active
              a(href="./") Home
            li  Login Register

  // Page Contents
  main.page-content

    //Section Sign In
    section.section-98.section-sm-110.section-bottom-66
      .shell
        h2.text-bold Sign In
        hr.divider.bg-saffron
        .offset-sm-top-66
          +tabs-classic(['Login', 'Registration'])
            div
              .range.range-xs-center.section-34
                .cell-xs-8.cell-sm-6.cell-md-4
                  // RD Mailform
                  form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                    .form-group
                      label.form-label.form-label-outside(for="form-login-username") Username or e-mail:
                      input#form-login-username.form-control.bg-white(type="text" name="username" data-constraints="@Required")
                    .form-group.offset-top-24
                      label.form-label.form-label-outside(for="form-login-password") Password:
                      input#form-login-password.form-control.bg-white(type="text" name="pass" data-constraints="@Required")
                    .offset-top-24
                      button(type="submit").btn.btn-primary.btn-block sign in
                  .offset-top-30
                    p or enter with
                    +widget-list-social([
                      {
                        "icon": "fa fa-facebook",
                        "href": "#"
                      },
                      {
                        "icon": "fa fa-twitter",
                        "href": "#"
                      },
                      {
                        "icon": "fa fa-google-plus",
                        "href": "#"
                      }
                    ])

            div
              .range.range-xs-center.section-34
                .cell-xs-8.cell-sm-6.cell-md-4
                  // RD Mailform
                  form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                    .form-group
                      label.form-label.form-label-outside(for="form-register-username") Name:
                      input#form-register-username.form-control.bg-white(type="text" name="name" data-constraints="@Required")
                    .form-group.offset-top-24
                      label.form-label.form-label-outside(for="form-register-email") Email:
                      input#form-register-email.form-control.bg-white(type="text" name="email" data-constraints="@Required @Email")
                    .form-group.offset-top-24
                      label.form-label.form-label-outside(for="form-register-password") Password:
                      input#form-register-password.form-control.bg-white(type="text" name="pass" data-constraints="@Required")
                    .form-group.offset-top-24
                      label.form-label.form-label-outside(for="form-register-confirm-password") Confirm Password:
                      input#form-register-confirm-password.form-control.bg-white(type="text" name="confirmpass" data-constraints="@Required")
                    .offset-top-24
                      button(type="submit").btn.btn-primary.btn-block sign in
                  .offset-top-30
                    p or enter with
                    +widget-list-social([
                      {
                        "icon": "fa fa-facebook",
                        "href": "#"
                      },
                      {
                        "icon": "fa fa-twitter",
                        "href": "#"
                      },
                      {
                        "icon": "fa fa-google-plus",
                        "href": "#"
                      }
                    ])

  // Page Footer
  include ../sections/_section-footer-default
