extends  ../_skeleton

//- Includes
include  ../elements/_ui-pagination-classic

//-Title
block title
  title Team member

//- Page
block page

  // Page Head
  header.page-head

    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.about,
    cfg.nav
    )

    //- Section header
    section.rd-parallax.context-dark
      div.rd-parallax-layer(data-speed="0.2" data-type="media" data-url="images/bg-header-1920x362.jpg")
      div.rd-parallax-layer(data-speed="0" data-type="html")
        .shell.section-top-34.section-sm-top-98.section-bottom-34
          div
            h1.text-bold About Agency
          ul.list-inline.list-inline-dashed.p.text-light.breadcrumb-modern.offset-top-10.offset-sm-top-66
            li.active
              a(href="./") Home
            li
              a(href="about.html") About
            li  Team member

  // Page Contents
  main.page-content

    //Section Shirley Vasquez
    section.section-98.section-sm-110.bg-lighter
      .shell
        h3.text-bold Shirley Vasquez
        hr.divider.bg-saffron
        .offset-sm-top-66
          .range
            .cell-sm-4
              img.img-responsive.reveal-inline-block(src="images/users/user-shirley-vasques-370x370.jpg" width=370 height=370 alt="")
              a(href= cfg.nav.submit.href style="max-width: 370px").btn.btn-block.btn-primary.offset-top-34.reveal-inline-block make an appointment
              .offset-top-34
                address.contact-info.text-md-left
                  ul.list-unstyled.p
                    li.reveal-block
                      span.icon.icon-xxs.mdi.mdi-phone.text-middle
                      = " "
                      a.reveal-inline-block.text-middle(href="callto:1-800-7650-986") 1-800-7650-986
                    li.reveal-block
                      span.icon.icon-xxs.mdi.mdi-email-open.text-middle
                      = " "
                      a.reveal-inline-block.text-middle(href="mailto:russell@demolink.org") russell@demolink.org
            .cell-sm-8
              .inset-md-left-50
                .row
                  .col-xs-6.col-md-4
                    .unit.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        span.icon.icon-sm.mdi.mdi-clipboard-check.text-mantis
                      .unit-body.text-sm-left
                        div
                          h2.text-bold 582
                        p.text-light.offset-top-0
                          span.big.text-uppercase recent deals
                  .col-xs-6.col-md-4
                    .unit.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        span.icon.icon-sm.mdi.mdi-domain.text-malibu
                      .unit-body.text-sm-left
                        div
                          h2.text-bold 1844
                        p.text-light.offset-top-0
                          span.big.text-uppercase properties
                .text-left.offset-top-50
                  p With a strong background and many years of experience in interior design, Shirley is renowned in the industry for her dedicated, honest, and forward approach, winning the confidence of clients quickly and establishing successful working relations.
                  p Ms. Vasquez has a solid reputation of a professional who is an approachable and trustworthy real estate agent. She understands the importance of building long-term relationships and has a genuine passion for helping people achieve their real estate goals and expectations. Since Shirley has joined our team, her skills acquired during her work as a remodeling expert helped her a lot in her current work as a real estate agent and property manager. She knows every single detail of the house or apartment she offers. Moreover, Shirley can give you additional support or advice on selecting a home just for you.
                  p Vasquez always desired to work in the company that would care about the place where modern citizens live. Now she is confident that her current job is an ideal place to improve her communication skills and professional development as a real estate agent while being a part of a solid team.
                  p Shirley Vasquez is more than just an agent for our company. With every house sold and property managed, she tries to achieve a higher level of real estate services provided on behalf of Intense agency. Her contribution to the development of our company can hardly be overestimated.

    //Section Filter Form
    section.section-98.section-sm-110
      .shell
        h3.text-bold Shirley Vasquez’s Properties
        hr.divider.bg-saffron
        .offset-sm-top-66
          .range.range-xs-center
            .cell-xs-10.cell-sm-6.cell-md-4.cell-md-push-2
              // RD Mailform
              form.rd-mailform.text-left.bg-lighter.well-lg(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                h5.text-bold Properties Filter
                .form-group
                  label.form-label.form-label-outside(for="form-filter-location") Location:
                  select.form-control(id="form-filter-location" name="location" data-minimum-results-for-search="Infinity")
                    option(value="1") any
                    option(value="2") San Francisco
                    option(value="3") New York
                    option(value="4") Las Vegas
                .form-group.offset-top-20
                  label.form-label.form-label-outside(for="form-filter-property-status") Property Status:
                  select.form-control(id="form-filter-property-status" name="property-status" data-minimum-results-for-search="Infinity")
                    option(value="1") any
                    option(value="2") Sale
                    option(value="3") Rent
                    option(value="4") Commercial

                .form-group.offset-top-20
                  label.form-label.form-label-outside(for="form-filter-property-type") Property Type:
                  select.form-control(id="form-filter-property-type" name="property-type" data-minimum-results-for-search="Infinity")
                    option(value="1") any
                    option(value="2") Apartment
                    option(value="3") Office
                    option(value="4") Hotel
                .range.offset-top-20
                  .cell-md-6
                    .form-group
                      label.form-label.form-label-outside(for="form-filter-min-beds") Min Beds:
                      select.form-control(id="form-filter-min-beds" name="min-beds" data-minimum-results-for-search="Infinity")
                        option(value="1") any
                        option(value="2") 1
                        option(value="3") 2
                        option(value="4") 3
                        option(value="5") 4

                  .cell-md-6.offset-top-20.offset-md-top-0
                    .form-group
                      label.form-label.form-label-outside(for="form-filter-min-bath") Min Bath:
                      select.form-control(id="form-filter-min-bath" name="min-bath" data-minimum-results-for-search="Infinity")
                        option(value="1") any
                        option(value="2") 1
                        option(value="3") 2
                        option(value="4") 3

                .form-group-multiple.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="form-filter-price-from")
                      span.veil.reveal-sm-block Price (USD):
                      span.veil-sm Price from (USD):
                    input#form-filter-price-from.form-control.bg-white(type="text" name="phone" data-constraints="@Required")
                  .form-group
                    label.form-label.form-label-outside(for="form-filter-price-to")  &nbsp;
                      span.veil-sm Price to (USD):
                    input#form-filter-price-to.form-control.bg-white(type="text" name="phone" data-constraints="@Required")

                .form-group-multiple.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="form-filter-area-from")
                      span.veil.reveal-sm-block Area (Sq Ft):
                      span.veil-sm Area from (Sq Ft):
                    input#form-filter-area-from.form-control.bg-white(type="text" name="phone" data-constraints="@Required")
                  .form-group
                    label.form-label.form-label-outside(for="form-filter-area-to")  &nbsp;
                      span.veil-sm Area to (Sq Ft):
                    input#form-filter-area-to.form-control.bg-white(type="text" name="phone" data-constraints="@Required")

                .offset-top-30.text-center
                  button(type="submit").btn.btn-primary.btn-block apply filter

            .cell-md-8.cell-md-push-1.offset-top-66.offset-md-top-0
              .range
                .cell-sm-6
                  img.img-responsive.reveal-inline-block(src="images/home-img-05-370x250.jpg" width=370 height=250 alt="")
                  .text-sm-left.offset-top-24
                    div
                      h5.text-bold.text-primary
                        a(href="single-property-page.html") AVA Nob Hill
                    h6.offset-top-10  $1199.00/mon
                    ul.list-inline.list-inline-dotted.text-dark
                      li 1200 sq ft
                      li 4 bedrooms
                      li 2 bathrooms
                    div
                      p AVA Nob Hill includes studios and 1 and 2 bedroom apartments that feature an urban-inspired design that extends beyond your walls and throughout the entire community.

                .cell-sm-6.offset-top-66.offset-sm-top-0
                  img.img-responsive.reveal-inline-block(src="images/home-img-06-370x250.jpg" width=370 height=250 alt="")
                  .text-sm-left.offset-top-24
                    div
                      h5.text-bold.text-primary
                        a(href="single-property-page.html") Ashton San Francisco
                    h6.offset-top-10  $1595.00/mon
                    ul.list-inline.list-inline-dotted.text-dark
                      li 1200 sq ft
                      li 2 bedrooms
                      li 2 bathrooms
                    div
                      p Ashton San Francisco offers luxury apartments, eco-friendly features, and remarkable on-site resident amenities. Enjoy premier services and access to our state-of-the-art fitness center, clubhouse, business center, and outdoor fire pit lounge.

                .cell-sm-6.offset-top-66
                  img.img-responsive.reveal-inline-block(src="images/home-img-07-370x250.jpg" width=370 height=250 alt="")
                  .text-sm-left.offset-top-24
                    div
                      h5.text-bold.text-primary
                        a(href="single-property-page.html") The Presidio Residences
                    h6.offset-top-10  $2699.00/mon
                    ul.list-inline.list-inline-dotted.text-dark
                      li 2200 sq ft
                      li 4 bedrooms
                      li 3 bathrooms
                    div
                      p The Presidio Residences offer a unique opportunity to live in a national park setting and enjoy quiet neighborhoods, convenient location, beautiful open spaces, and outstanding recreational amenities.

                .cell-sm-6.offset-top-66
                  img.img-responsive.reveal-inline-block(src="images/home-img-08-370x250.jpg" width=370 height=250 alt="")
                  .text-sm-left.offset-top-24
                    div
                      h5.text-bold.text-primary
                        a(href="single-property-page.html") Alchemy by Alta
                    h6.offset-top-10  $1199.00/mon
                    ul.list-inline.list-inline-dotted.text-dark
                      li 1200 sq ft
                      li 4 bedrooms
                      li 2 bathrooms
                    div
                      p One month FREE on select apartment homes for a limited time.

                .cell-sm-6.offset-top-66
                  img.img-responsive.reveal-inline-block(src="images/home-img-09-370x250.jpg" width=370 height=250 alt="")
                  .text-sm-left.offset-top-24
                    div
                      h5.text-bold.text-primary
                        a(href="single-property-page.html") Avalon at Mission Bay
                    h6.offset-top-10  $1595.00/mon
                    ul.list-inline.list-inline-dotted.text-dark
                      li 1200 sq ft
                      li 2 bedrooms
                      li 2 bathrooms
                    div
                      p Avalon at Mission Bay located in San Francisco near the San Francisco Caltrain Station offers thoughtfully designed studio, 1, 2 and 3 bedroom apartments and town homes.

                .cell-sm-6.offset-top-66
                  img.img-responsive.reveal-inline-block(src="images/home-img-10-370x250.jpg" width=370 height=250 alt="")
                  .text-sm-left.offset-top-24
                    div
                      h5.text-bold.text-primary
                        a(href="single-property-page.html") Bayside Village Apartments
                    h6.offset-top-10  $2699.00/mon
                    ul.list-inline.list-inline-dotted.text-dark
                      li 2200 sq ft
                      li 4 bedrooms
                      li 3 bathrooms
                    div
                      p Pick your pleasure from a vantage point that puts all the best of the city's lively South Beach neighborhood within easy reach.

              .offset-top-66.text-center
                +pagination-classic(1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {
                  "title": "Prev",
                  "href": "#"
                }, {"title": "Next", "href": "#"})


  // Page Footer
  include ../sections/_section-footer-default
