mixin triangle-gradient(startColor, endColor, size, id)
  svg.svg-triangle-bottom(xmlns='http://www.w3.org/2000/svg', version='1.1')
    defs
      lineargradient(id=id x1='0%', y1='0%', x2='100%', y2='0%')
        stop(offset='0%', style='stop-color:#{startColor};stop-opacity:1')
        stop(offset='100%', style='stop-color:#{endColor};stop-opacity:1')
    polyline(points= size, fill='url(##{id})')
