/*
* Fullwidth Layout
*/

$navbar-fullwidth-nav-color: $navbar-nav-color;
$navbar-fullwidth-nav-background: $navbar-nav-background;
$navbar-fullwidth-nav-hover-color: $navbar-nav-hover-color;
$navbar-fullwidth-nav-hover-background: $navbar-nav-hover-background;
$navbar-fullwidth-nav-active-color: $navbar-nav-active-color;
$navbar-fullwidth-nav-active-background: $navbar-nav-active-background;

.rd-navbar.rd-navbar-fullwidth {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  display: block;

  // RD Navbar Panel
  .rd-navbar-panel{
    text-align: center;
    padding: 24px 0;
  }

  .rd-navbar-inner{
    padding: 12px 40px 12px 40px;
  }

  .rd-navbar-nav-wrap{
    display: flex;
    position: relative;
    padding-top: 0;

    .rd-navbar-megamenu{
      left: 0;
      right: 0;
    }
  }

  // RD Navbar Nav
  .rd-navbar-nav {
    width: calc(100% - 96px);
    display: table;
    table-layout: fixed;

    > li {
      display: table-cell;
      vertical-align: middle;
      height: 48px;

      > .rd-navbar-dropdown{
        margin-left: -45px;
      }

      > a {
        display: inline-block;
        text-align: center;
        padding: 10px;
      }
    }
  }

  // RD Navbar States
  &.rd-navbar--is-stuck {
    //@include transform(translateY(-120px));
    .rd-navbar-inner{
      padding-top: 10px;
    }

    .rd-navbar-panel{
      display: none;
    }
  }

  .rd-navbar-fullwidth--visible{
    display: block;
  }

  .rd-navbar-fullwidth--hidden{
    display: none;
  }

  .rd-navbar-megamenu {
    width: 100%;
  }
}