//
// RD Navbar Default Mobile Search
// --------------------------------------------------

%rd-navbar-default-mobile-search{
  .form-search-input {
    border: none;
  }
}

//
// Dark Theme
// --------------------------------------------------
%rd-navbar-default-mobile-search-dark{
  .form-search-wrap {
    .form-group {
      .form-label, .form-lable.focus {
        color: $gray-dark;
      }
    }
  }

  .form-search-submit {
    color: $gray-darker;
  }

  .form-search-input {
    background: $gray-darkest;
    color: $white;
  }
}

//
// Light Theme
// --------------------------------------------------
%rd-navbar-default-mobile-search-light{
  .form-search-wrap {
    .form-group {
      .form-label, .form-lable.focus {
        color: $gray-dark;
      }
    }
  }

  .form-search-submit {
    color: $gray-darker;
  }

  .form-search-input {
    background: $gray-lightest;
    color: $gray-darkest;
  }
}
