extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-rd-parallax
include ../elements/_ui-post-wide-vertical
include ../elements/_ui-pagination-bootstrap
include ../elements/_widget-flickrfeed
include ../elements/_widget-form-search
include ../elements/_widget-tags
include ../elements/_widget-twitter

//-Title
block title
  title= cfg.nav.blog.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.blog,
    cfg.nav
    )

  // Page Contents
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-03-1920x640.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-85.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1 News
            div.pull-md-right.offset-sm-top-10.offset-md-top-20
              ul.p.list-inline.list-inline-dashed
                li
                  a(href= cfg.nav.home.href) Home
                li News

    // Blog
    section.section-top-98.section-sm-top-110
      .shell
        .range.range-md-center.range-xl-justify.range-lg-right
          .cell-md-8
            +post-wide-vertical(cfg.nav.blog.submenu.blogPost.href, "15 Feb 2016", "First Signs of Gum Disease", "John Doe",
            [{"title": "Dental News", "href": "#"}],
            19, 87,
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog-04-770x430.jpg", "width": 770, "height": 430, "alt": ""},
              "target": {"href": cfg.nav.blog.submenu.blogPost.href}
            })
              p If you have been told you have periodontal (gum) disease, you’re not alone. Many adults in the U.S. currently have some form of the disease that can often be dangerous.

            .offset-top-66
              +post-wide-vertical(cfg.nav.blog.submenu.blogPost.href, "15 Feb 2016", "Basic Dental Care", "John Doe",
              [{"title": "Dental News", "href": "#"}],
              19, 87,
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog-05-770x430.jpg", "width": 770, "height": 430, "alt": ""},
                "target": {"href": cfg.nav.blog.submenu.blogPost.href}
              })
                p Today we would like to speak about basic dental care, a set of procedures which involves brushing and flossing your teeth regularly, as well as visiting your local dentist regularly.

            .offset-top-66
              +post-wide-vertical(cfg.nav.blog.submenu.blogPost.href, "15 Feb 2016", "Dry Mouth", "John Doe",
              [{"title": "Dental News", "href": "#"}],
              19, 87,
              {
                "type": "thumbnail",
                "thumb": {"src": "images/blog-06-770x430.jpg", "width": 770, "height": 430, "alt": ""},
                "target": {"href": cfg.nav.blog.submenu.blogPost.href}
              })
                p Dry mouth is a syndrome of saliva lack in your mouth. It happens when a mouth gets dry and uncomfortable. Fortunately, many treatments can help against it.

            .offset-top-66
              +pagination-bootstrap('pagination-md', 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {"href": "#"}, {"href": "#"})

          .cell-md-4.offset-top-66.offset-md-top-0.inset-lg-left-80
            // Section Blog Aside
            aside.text-left
              // Search Form
              h5 Search
              div.text-subline

              .offset-top-34
                +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-2-form-search-widget")

              .range.offset-top-41
                .cell-xs-6.cell-md-12
                  // Category
                  h5 Categories
                  div.text-subline

                  ul.list.list-marked.offset-top-30
                    li
                      a(href="#") Medicine #[span.text-dark (17)]
                    li
                      a(href="#") Dental Care #[span.text-dark (121)]
                    li
                      a(href="#") News #[span.text-dark (19)]
                    li
                      a(href="#") Services #[span.text-dark (9)]
                    li
                      a(href="#") Doctors #[span.text-dark (25)]

                .cell-xs-6.cell-md-12.offset-top-41.offset-xs-top-0.offset-md-top-41
                  // Archive
                  h5 Archive
                  div.text-subline

                  ul.list.list-marked.offset-top-30
                    li
                      a(href="#") January 2016 #[span.text-dark (17)]
                    li
                      a(href="#") December 2015 #[span.text-dark (121)]
                    li
                      a(href="#") November 2015 #[span.text-dark (19)]
                    li
                      a(href="#") October 2015 #[span.text-dark (9)]
                    li
                      a(href="#") September 2015 #[span.text-dark (25)]

              // Tags
              h6.offset-top-45 Tags
              div.text-subline

              .offset-top-34.context-light
                +widget-tags("btn btn-xs btn-default", [
                  {"title": "medicine", "href": "#"},
                  {"title": "dental", "href": "#"},
                  {"title": "news", "href": "#"},
                  {"title": "clinic", "href": "#"},
                  {"title": "dental care", "href": "#"}
                ])

    section.shell-wide.offset-top-124
      hr.hr.bg-gray


  // Page Footer
  include ../sections/_section-footer