extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_widget-flickrfeed
include ../elements/_widget-form-search
include ../elements/_widget-tags
include ../elements/_widget-twitter
include ../elements/_widget-post
include ../elements/_ui-box-comment

//-Title
block title
  title= cfg.nav.blog.submenu.blogPost.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.blog.submenu.blogPost,
    cfg.nav
    )

  // Page Contents
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-03-1920x640.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-85.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1 Various Dental Implants
            div.pull-md-right.offset-sm-top-10.offset-md-top-20
              ul.p.list-inline.list-inline-dashed
                li
                  a(href= cfg.nav.home.href) Home
                li
                  a(href= cfg.nav.blog.href) News
                li Various Dental Implants

    // Blog Single Post
    section.section-top-98.section-sm-top-110.text-left
      .shell
        .range.range-md-center.range-lg-right
          .cell-md-8.inset-md-right-30
            img.img-responsive.offset-top-30(src="images/blog-05-770x430.jpg" width="770" height="430" alt="")
            p.offset-top-30 Dental implants  are the main way to get fixed any kind of broken teeth or tooth by replacing or covering it up. The importance in dental medicine cannot be underestimated.
            p Thus, the overall reasons for installing an implant in the first place can vary starting with any periodontal disease and to an injury of some kind. Oftentimes injuries can be affecting the overall wholeness and visual appeal for smile's look.
            p All in all using crowns to cover damaged teeth, bridges of 3 or more crowns or any kind of another implant for your teeth has lots of advantages, including but not limited to such ones:
            p #[span.text-bold Improved appearance.] The permanency of how a good quality implants look like works for better visual appearance.
            p #[span.text-bold Improved speech.] Those dentures that do not fit very good in your mouth can cause the teeth and/or implants to slip within the mouth leading to mumbling talk and even slurring words during speaking. High-quality dental implants ensure that you will be speaking without worrying about such side effects.
            p #[span.text-bold Improved comfort.] Unlike removable dentures, permanent dental implants will help it feel easier and even more importantly natural for you.

            img.img-responsive.offset-top-30(src="images/blog-07-770x430.jpg" width="770" height="430" alt="")
            p.offset-top-30 #[span.text-bold Easier eating.] If a denture slides in mouth, chewing can become a bigger problem than it should be. But with dental implants functioning just like your own teeth, will allow you to eat any favorite foods.
            p #[span.text-bold Improved self-esteem.] Your sincere wide smile will become natural for you again using the permanent, high-quality implants and dentures.
            p #[span.text-bold Improved oral health.] Differentiating with the bridges that use another teeth for fixation in your mouth, permanent implants do not. Because nearby teeth are not reduced to support the implant, more of your own teeth are left in place. It will surely improve a long-term oral health of yours.
            p #[span.text-bold Durability.] Permanent implants will be lasting for many long years in the case of it being even of a median quality, and sometimes for a lifetime in case, the product is of a high quality.
            p #[span.text-bold Convenience.] No more adhesives will be required to keep the implants in place. Also, the inconvenience of removing an implant will be far gone with permanent teeth implants.

            p.text-dark Post by: John Doe on 15 Feb 2016 in #[a(href="#") Dental News]

            .offset-top-50
              +widget-tags("btn btn-xs btn-default", [
                {"title": "medicine", "href": "#"},
                {"title": "dental", "href": "#"}
              ])

            hr.hr.bg-gray.offset-top-66

            h4.offset-top-66.text-uppercase.text-spacing-120.text-center Related Posts

            .range.offset-top-41.range-sm-center
              .cell-sm-10.cell-md-12
                .range
                  .cell-sm-6
                    +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/14/2015", "Avoiding Bad Breath", {
                      "w": 60,
                      "h": 60,
                      "src": "images/post-01-60x60.jpg",
                      "alt": ""
                    }, "")
                    .offset-top-24
                      +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/18/2015", "First signs of Gum Disease", {
                        "w": 60,
                        "h": 60,
                        "src": "images/post-03-60x60.jpg",
                        "alt": ""
                      }, "")

                  .cell-sm-6.offset-top-24.offset-sm-top-0
                    +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/9/2015", "Basic Dental Care 101", {
                      "w": 60,
                      "h": 60,
                      "src": "images/post-02-60x60.jpg",
                      "alt": ""
                    },"")

                    .offset-top-24
                      +widget-post(cfg.nav.blog.submenu.blogPost.href, "05/21/2015", "Teeth Grinding", {
                        "w": 60,
                        "h": 60,
                        "src": "images/post-04-60x60.jpg",
                        "alt": ""
                      }, "")

            hr.hr.bg-gray.offset-top-66

            h4.offset-top-66.text-uppercase.text-spacing-120.text-center Comments
            .offset-top-41

            //- Comment 1
            +box-comment(
            "box-comment-boxed",
            {
              "width": 60,
              "height": 60,
              "src": "images/user-july-mao-60x60.jpg",
              "alt": "July Mao"
            },
            "Feb 18, 9:14",
            "July Mao",
            "Thank you for such an interesting article! I have always been wondering what implants will fit me better, and you have finally dispelled my doubts."
            )
              //- Reply 1
              +box-comment(
              "box-comment-boxed",
              {
                "width": 60,
                "height": 60,
                "src": "images/user-john-doe-60x60.jpg",
                "alt": "John Doe"
              },
              "Feb  16, 7:46 PM",
              "John Doe",
              "Glad you liked my article. You should know that the type of required implants depends on your dental health level and your financial resources."
              )

            //- Comment 2
            +box-comment(
            "box-comment-boxed",
            {
              "width": 60,
              "height": 60,
              "src": "images/user-alisa-milano-60x60.jpg",
              "alt": "Diana Russo"
            },
            "Feb  16, 7:42 PM",
            "Alisa Milano",
            "I didn’t know permanent implants have so many advantages. It seems to me that it is the most convenient and affordable way of broken teeth replacement."
            )
            h5.text-center.offset-top-66.text-uppercase.text-spacing-120.text-bold Leave a comment
            form.rd-mailform.offset-top-0.text-left(data-form-output="form-contact-me", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .form-group
                label.form-label.form-label-outside(for="comment-message") Message:
                textarea#comment-message.form-control(data-constraints="@Required" style="height: 170px")
              .group-sm.text-left.offset-top-30
                button(type="submit").btn.btn-sm.btn-info comment

          .cell-md-4.offset-top-66.offset-md-top-0.inset-lg-left-80
            // Section Blog Aside
            aside.text-left
              // Search Form
              h5 Search
              div.text-subline

              .offset-top-34
                +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-2-form-search-widget")

              .range.offset-top-41
                .cell-xs-6.cell-md-12
                  // Category
                  h5 Categories
                  div.text-subline

                  ul.list.list-marked.offset-top-30
                    li
                      a(href="#") Medicine #[span.text-dark (17)]
                    li
                      a(href="#") Dental Care #[span.text-dark (121)]
                    li
                      a(href="#") News #[span.text-dark (19)]
                    li
                      a(href="#") Services #[span.text-dark (9)]
                    li
                      a(href="#") Doctors #[span.text-dark (25)]

                .cell-xs-6.cell-md-12.offset-top-41.offset-xs-top-0.offset-md-top-41
                  // Archive
                  h5 Archive
                  div.text-subline

                  ul.list.list-marked.offset-top-30
                    li
                      a(href="#") January 2016 #[span.text-dark (17)]
                    li
                      a(href="#") December 2015 #[span.text-dark (121)]
                    li
                      a(href="#") November 2015 #[span.text-dark (19)]
                    li
                      a(href="#") October 2015 #[span.text-dark (9)]
                    li
                      a(href="#") September 2015 #[span.text-dark (25)]

              // Tags
              h6.offset-top-45 Tags
              div.text-subline

              .offset-top-34.context-light
                +widget-tags("btn btn-xs btn-default", [
                  {"title": "medicine", "href": "#"},
                  {"title": "dental", "href": "#"},
                  {"title": "news", "href": "#"},
                  {"title": "clinic", "href": "#"},
                  {"title": "dental care", "href": "#"}
                ])

    section.shell-wide.offset-top-124
      hr.hr.bg-gray


    // Page Footer
    include ../sections/_section-footer