extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include  ../elements/_ui-rd-map

//-Title
block title
  title= cfg.nav.contacts.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.contacts,
    cfg.nav
    )

  // Page Contents
  main.page-content
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-03-1920x640.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-85.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1 Contacts
            div.pull-md-right.offset-sm-top-10.offset-md-top-20
              ul.p.list-inline.list-inline-dashed
                li
                  a(href= cfg.nav.home.href) Home
                li Contacts
    // Get In Touch
    section.section-top-98.section-sm-top-110
      .shell
        .range.range-xs-center
          .cell-sm-9.cell-md-8.cell-lg-12
            .range
              .cell-lg-8.text-left
                h1 Get In Touch
                // RD Mailform
                form.rd-mailform.text-left.offset-top-50(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                  .range
                    .cell-lg-6
                      .form-group
                        label.form-label.form-label-outside(for="contacts-first-name") First Name
                        input#contacts-first-name.form-control(type="text" name="name" data-constraints="@Required")

                    .cell-lg-6.offset-top-20.offset-lg-top-0
                      .form-group
                        label.form-label.form-label-outside(for="contacts-second-name") Second Name
                        input#contacts-second-name.form-control(type="text" name="name" data-constraints="@Required")

                    .cell-lg-6.offset-top-20
                      .form-group
                        label.form-label.form-label-outside(for="contacts-email") E-mail
                        input#contacts-email.form-control(type="email" name="email" data-constraints="@Required @Email")

                    .cell-lg-6.offset-top-20
                      .form-group
                        label.form-label.form-label-outside(for="contacts-phone") Phone
                        input#contacts-phone.form-control(type="text" name="name" data-constraints="@Required")

                    .cell-lg-12.offset-top-20
                      .form-group
                        label.form-label.form-label-outside(for="contact-me-message") Message
                        textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 160px;")
                  .range.range-xs-center.range-lg-left.offset-top-30
                    .cell-xs-5.cell-sm-4
                      .inset-left-50.inset-right-50.inset-xs-left-0.inset-xs-right-0.inset-lg-right-50
                        button(type="submit").btn.btn-block.btn-primary Send
              .cell-lg-4.text-left.offset-top-66.offset-lg-top-0.inset-lg-left-80
                div
                  h5 Phone
                div.offset-top-14.text-subline.offset-top-10
                div.offset-top-20
                  span.icon.icon-xxs.mdi.mdi-cellphone-android.text-middle.text-info.inset-right-10
                  a.text-middle.p(href="callto:#") 1-800-1234-567

                div.offset-top-66
                  h5 Address
                div.offset-top-14.text-subline.offset-top-10
                .unit.unit-horizontal.unit-spacing-xxs.offset-top-20
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-map-marker.text-middle.text-info.inset-right-10
                  .unit-body
                    a(href="#").text-middle.p 4578 Marmora St, San Francisco D04 89GR

                div.offset-top-66
                  h5 Open hours
                div.offset-top-14.text-subline.offset-top-10
                .unit.unit-horizontal.unit-spacing-xxs.offset-top-20
                  .unit-left
                    span.icon.icon-xxs.mdi.mdi-clock.text-middle.text-info.inset-right-10
                  .unit-body
                    div
                      p Monday–Friday: 9:00am–6:00pm
                    div
                      p Saturday: 10:00am–4:00pm
                    div
                      p Sunday: 10:00am–1:00pm
                .text-center.offset-top-66.inset-lg-right-50
                  a.btn.reveal-lg-block.btn-primary(href=cfg.nav.schedule.href) BOOK AN APPOINTMENT

      .offset-top-124
        +rd-map({
          "zoom": "14",
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "dataStyles": [{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#C6E2FF"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#C5E3BF"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#D1D1B8"}]}]
        },[{
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
        }])


  // Page Footer
  include ../sections/_section-footer