extends  ../_skeleton

//- Includes
include ../elements/_ui-media-elements
include ../elements/_ui-thumbnail-zoe
include  ../elements/_ui-box-icon-type-3
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-testimonials-type-1
include ../elements/_ui-rd-parallax
include ../elements/_ui-post-wide-vertical
include  ../elements/_ui-rd-map
include  ../elements/_ui-page-loader-variant-1

//-Title
block title
  title= cfg.brand.name

//- Page
block page

  +page-loader-1("<img width='329' height='67' src='images/logo-big.png' alt=''/>")

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
      cfg.brand.logoInverse,
      cfg.nav.home,
      cfg.nav
    )
    //- RD Navbar
    include ../sections/_section-swiper
    
  // Page Contents
  main.page-content
    // Welcome to Intense
    section.section-98.section-sm-110
      .shell
        .range.range-xs-center.range-xs-middle
          // Simple quote Slider
          .cell-sm-9.cell-lg-6.cell-lg-push-6
            .owl-carousel.owl-carousel-classic.owl-carousel-class-light.shadow-drop-md(data-items="1" data-nav="false" data-dots="false" data-nav-custom=".owl-custom-navigation")
              div
                +media-elements({
                  "type": "video",
                  "href": "//www.youtube.com/embed/o6-Iui7NQj8",
                  "ratio": "16by9"
                })

              div
                img.img-responsive.element-fullwidth(src="images/home-05-525x350.jpg" width=525 height=350 alt="")

              div
                img.img-responsive.element-fullwidth(src="images/home-04-525x350.jpg" width=525 height=350 alt="")
          .cell-sm-9.cell-lg-6.cell-lg-pull-6.text-lg-left.offset-top-66.offset-lg-top-0.inset-lg-right-30
            h1 Welcome to Intense
            hr.divider.bg-mantis.hr-lg-left-0

            p.offset-top-50.text-sm-left Dr. Mark Hoffman's dental clinic welcomes you! We're glad you decided to become our customer for resolving your dental health concerns.

            p.text-sm-left Our main long-term goal is always achieving complex results for your dental health. But in the process, we also keep the focus on giving you the best customer service. We're always making our dental office as safe place as possible!
            .owl-custom-navigation.owl-customer-navigation.offset-top-24
              .owl-nav
                .owl-prev.mdi.mdi-chevron-left(data-owl-prev)
                .owl-next.mdi.mdi-chevron-right(data-owl-next)

    // Why choose Intense?
    section.section-98.section-sm-110.bg-polar
      .shell
        h1 Why choose Intense?
        hr.divider.bg-mantis
        .range.range-xs-center.text-md-left.offset-top-50.offset-lg-top-66
          .cell-sm-9.cell-md-4.cell-md-preffix-0
            +box-icon-type-3("icon-xs text-info mdi mdi-monitor", "APPOINTMENT", "text-uppercase text-bold", "The first step towards a beautiful, healthy smile is to schedule an appointment. Please contact our office by phone or complete the appointment request form.")
          .cell-sm-9.cell-md-4.cell-md-preffix-0.offset-top-50.offset-md-top-0
            +box-icon-type-3("icon-xs text-info mdi mdi-coin", "THE BEST PRICES ", "text-uppercase text-bold", "Excellent care and high quality implant teeth at a price that any one can afford , making dental implant costs more accessible. Finally, great quality with a great price!")
          .cell-sm-9.cell-md-4.cell-md-preffix-0.offset-top-50.offset-md-top-0
            +box-icon-type-3("icon-xs text-info mdi mdi-magnify", "EXPERTISE", "text-uppercase text-bold", "Our team of more than 20 professionals have trained in the UK and abroad, creating a highly skilled, friendly and multi-lingual team to best serve our patients’ needs.")

    // Our Services
    section.section-98.section-sm-top-110.section-sm-bottom-124
      .shell.shell-wide
        h1 Our Services
        hr.divider.bg-mantis
        p.offset-top-50 We’re pleased to offer a wide range of dental services
        .range.range-xs-center.offset-top-66.text-sm-left
          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-01-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) General and Preventive Care
          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3.offset-top-50.offset-sm-top-0
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-02-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) Cosmetic Dentistry

          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3.offset-top-50.offset-xl-top-0
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-03-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) Restorative Dentistry

          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3.offset-top-50.offset-xl-top-0
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-04-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) Additional Treatments


          // next range
          .range-spacer.veil.reveal-xl-inline-block.offset-top-66

          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3.offset-top-50.offset-xl-top-0
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-05-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) Orthodontics

          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3.offset-top-50.offset-xl-top-0
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-06-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) Pediatric Dentistry

          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3.offset-top-50.offset-xl-top-0
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-07-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) Dentures & Denture Repair

          .cell-xs-10.cell-sm-6.cell-lg-5.cell-xl-3.offset-top-50.offset-xl-top-0
            +thumbnail-classic({
              "type": "thumbnail",
              "thumb": {"src": "images/service-08-420x310.jpg", "width": 420, "height": 310, "alt": ""},
              "target": {"href": cfg.nav.services.submenu.singleService.href}
            })
            h5.text-info
              a(href=cfg.nav.services.submenu.singleService.href) Diagnostics

        .range.range-xs-center
          .cell-xs-8.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
            .inset-left-20.inset-right-20.inset-xl-left-50.inset-xl-right-50
              a.btn.btn-block.btn-primary(href=cfg.nav.services.href) view all services

    section.shell-wide
      hr.hr.bg-gray

    // Testimonials
    section.section-98.section-sm-110
      .shell
        h1 Testimonials
        hr.divider.bg-mantis
        .range.range-xs-center.offset-top-66
          .cell-sm-9.cell-md-4
            +testimonials-type-1(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-alex-ross-80x80.jpg",
              "alt": ""
            },
            "Alex Ross",
            "Ceo/Founder at demolink.com",
            "Just a quick note to say thank you so much for the care you took over my appointment today. I am very grateful for your high standard of care."
            )
          .cell-sm-9.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-1(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-john-more-80x80.jpg",
              "alt": ""
            },
            "john more",
            "Ceo/Founder at demolink.com",
            "I needed clarification after the appointment and felt at ease to email him and received a fast response."
            )
          .cell-sm-9.cell-md-4.offset-top-41.offset-md-top-0
            +testimonials-type-1(
            {
              "width": 80,
              "height": 80,
              "src": "images/user-alisa-milano-80x80.jpg",
              "alt": ""
            },
            "alisa milano",
            "Ceo/Founder at demolink.com",
            "Thank you so much for fitting us in today, don't know what we'd have done without you. My daughter is quite timid, but your doctor was brilliant with her."
            )

    // How we can help?
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-02-1920x955.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-top-66.section-bottom-66.section-lg-bottom-0
            .range.range-xs-center.range-xs-middle
              .cell-sm-10.cell-md-11.cell-lg-4.text-sm-left.section-lg-bottom-85
                h1 We can help you!
                h5.text-regular.offset-top-50 We offer a wide range of procedures to help you get that perfect smile.
                a.btn.btn-primary.offset-top-10(href=cfg.nav.schedule.href) BOOK AN APPOINTMENT
              .cell-lg-4
                img.veil.reveal-lg-block(src="images/home-06-332x418.png" width="332" height="418" alt="")

    // Featured News
    section.section-top-98.section-sm-top-110
      .shell.shell-wide
        h1 Featured News
        hr.divider.bg-mantis
        .range.range-xs-center

          .cell-xs-9.cell-lg-4
            +post-wide-vertical(cfg.nav.blog.submenu.blogPost.href, "15 Feb 2016", "First Signs of Gum Disease", "John Doe",
            [{"title": "Dental News", "href": "#"}],
            19, 87,
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog-01-570x320.jpg", "width": 700, "height": 395, "alt": ""},
              "target": {"href": cfg.nav.blog.submenu.blogPost.href}
            })
              p If you have been told you have periodontal (gum) disease, you’re not alone. Many adults in the U.S. currently have some form of the disease that can often be dangerous.

          .cell-xs-9.cell-lg-4.offset-top-66.offset-lg-top-0
            +post-wide-vertical(cfg.nav.blog.submenu.blogPost.href, "15 Feb 2016", "Basic Dental Care", "John Doe",
            [{"title": "Dental News", "href": "#"}],
            19, 87,
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog-02-570x320.jpg", "width": 700, "height": 395, "alt": ""},
              "target": {"href": cfg.nav.blog.submenu.blogPost.href}
            })
              p Today we would like to speak about basic dental care, a set of procedures which involves brushing and flossing your teeth regularly, as well as visiting your local dentist regularly.

          .cell-xs-9.cell-lg-4.offset-top-66.offset-lg-top-0
            +post-wide-vertical(cfg.nav.blog.submenu.blogPost.href, "15 Feb 2016", "Dry Mouth", "John Doe",
            [{"title": "Dental News", "href": "#"}],
            19, 87,
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog-03-570x320.jpg", "width": 700, "height": 395, "alt": ""},
              "target": {"href": cfg.nav.blog.submenu.blogPost.href}
            })
              p Dry mouth is a syndrome of saliva lack in your mouth. It happens when a mouth gets dry and uncomfortable. Fortunately, many treatments can help against it.

        .range.range-xs-center.offset-top-66
          .cell-xs-8.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
            .inset-left-20.inset-right-20.inset-xl-left-50.inset-xl-right-50
              a.btn.btn-block.btn-primary(href=cfg.nav.blog.href) view all news

    section.offset-top-124
      +rd-map({
        "zoom": "14",
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "dataStyles": [{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#C6E2FF"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#C5E3BF"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#D1D1B8"}]}]
      },[{
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
      }])

  // Page Footer
  include ../sections/_section-footer