extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-table-bootstrap
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-testimonials-type-1

//-Title
block title
  title Single Service

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.services.submenu.link1,
    cfg.nav
    )
    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-03-1920x640.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-85.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1 Cosmetic Dental Care
            div.pull-md-right.offset-sm-top-10.offset-md-top-20
              ul.p.list-inline.list-inline-dashed
                li
                  a(href= cfg.nav.home.href) Home
                li
                  a(href= cfg.nav.aboutUs.href) Service
                li Cosmetic dental care

  // Page Content
  main.page-content

    // About the Service
    section.section-98.section-sm-110
      .shell
        .range.range-xs-center

          .cell-md-6.cell-md-push-2
            // owl carousel
            .owl-carousel.owl-carousel-default.owl-carousel-class-light(data-loop="false" data-items="1" data-dots="true" data-mouse-drag="false" data-nav="false")
              .text-center
                img.img-responsive.reveal-inline-block(src="images/single-service-img-01-570x320.jpg" width=570 height=320 alt="")
              .text-center
                img.img-responsive.reveal-inline-block(src="images/single-service-img-02-570x320.jpg" width=570 height=320 alt="")
              .text-center
                img.img-responsive.reveal-inline-block(src="images/single-service-img-03-570x320.jpg" width=570 height=320 alt="")

          .cell-md-6.cell-md-push-1.text-md-left
            h3 About the Service
            .offset-top-14.offset-md-top-50
              p There might be situations when a cosmetic dental care may be required.
              p For example, if you've chipped off a small fraction of your enamel.  In such a case that teeth damage can be repaired easily with a special filling. If a front tooth is affected or the damaged area can be seen when you smile, a more complex, "bonding", the procedure might be employed. Using a tooth-colored composite material called resin.
              p Dental Filling and Bonding are quite simple dental procedures.  Usually they do not require numbing or any kind of anesthesia applied.
              p Just with the help of bonding and adhering materials, the damaged tooth area can be easily visually fixed.


    // Price List
    section.section-98.section-sm-110.bg-polar
      .shell
        h1 Price List
        hr.divider.bg-mantis
        .offset-top-50.offset-lg-top-66
          +table-bootstrap([
            ['#', 'Service', 'Description', 'Price'],
            ['1','Teeth Whitening', 'A relatively inexpensive way to brighten your smile, whitening teeth can be accomplished at home or in the dentist clinic.','$99.00'],
            ['2','Composite Bonding', 'A tooth-colored composite resin attached to the teeth can improve the appearance and strength of chipped teeth.','$129.00'],
            ['3','Porcelain & Composite Veneers', 'Designed to substitute for tooth enamel, veneers are hard, thin shells of tooth-colored material that can mask a variety of dental imperfections.','$248.00'],
            ['4','Porcelain Crowns', 'Heavily damaged teeth can be covered with natural-looking porcelain crowns, which replace more natural tooth structure than veneers.','$198.00'],
            ['5','Porcelain Bridgework', 'A missing tooth can be replaced with porcelain bridgework that is attached to the natural teeth on either side of the space.','$324.00'],
            ['6','Dental Implants', 'Usually made of titanium, an implant is used to replace the root portion of a missing tooth.','$564.00']
          ], 'table-striped')

    // Call to action
    section.section-66.bg-malibu.context-dark
      .shell
        .range.range-xs-center.range-xs-middle
          .cell-sm-7.text-sm-left
            h5 For more information about our dental services or to book an appointment, please, contact us
          .cell-sm-3
            a(href= cfg.nav.schedule.href).btn.btn-primary BOOK AN APPOINTMENT

    // Other Services
    section.section-98.section-sm-110
      .shell-wide
        h1 Other Services
        hr.divider.bg-mantis
        .offset-top-50.offset-sm-top-66
          // owl carousel
          .owl-carousel.owl-carousel-default.owl-carousel-class-light(data-loop="false" data-items="1" data-sm-items="2" data-dots="true" data-mouse-drag="false" data-md-items="4" data-nav="false" data-margin="30px")
            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-01-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) General and Preventive Care

            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-06-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) Pediatric Dentistry

            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-03-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) Restorative Dentistry

            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-04-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) Additional Treatments

            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-05-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) Orthodontics

            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-02-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) Cosmetic Dentistry

            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-07-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) Dentures & Denture Repair

            div
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/service-08-420x310.jpg", "width": 420, "height": 310, "alt": ""},
                "target": {"href": cfg.nav.services.submenu.singleService.href}
              })
              h5.text-left.text-info
                a(href=cfg.nav.services.submenu.singleService.href) Diagnostic






    // Testimonials
    section.section-98.section-sm-110.bg-polar
      .shell
        h1 Testimonials
        hr.divider.bg-mantis
        .range.range-xs-center.offset-top-66
            .cell-sm-8.cell-md-4
              +testimonials-type-1(
              {
                "width": 80,
                "height": 80,
                "src": "images/user-alex-ross-80x80.jpg",
                "alt": ""
              },
              "Alex Ross",
              "Ceo/Founder at demolink.com",
              "Just a quick note to say thank you so much for the care you took over my appointment today. I am very grateful for your high standard of care."
              )
            .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
              +testimonials-type-1(
              {
                "width": 80,
                "height": 80,
                "src": "images/user-john-more-80x80.jpg",
                "alt": ""
              },
              "john more",
              "Manager at Demonlink.Org",
              "I needed clarification after the appointment and felt at ease to email him and received a fast response."
              )
            .cell-sm-8.cell-md-4.offset-top-41.offset-md-top-0
              +testimonials-type-1(
              {
                "width": 80,
                "height": 80,
                "src": "images/user-alisa-milano-80x80.jpg",
                "alt": ""
              },
              "alisa milano",
              "Sales Manager at Demolink.Org",
              "Thank you so much for fitting us in today, don't know what we'd have done without you. My daughter is quite timid, but your doctor was brilliant with her."
              )

  // Page Footer
  include ../sections/_section-footer