extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax

//-Title
block title
  title Team Member

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.services.submenu.link1,
    cfg.nav
    )

    // Breadcrumbs
    section.context-dark
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-03-1920x640.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-info
          .shell.section-34.section-sm-85.text-md-left
            div.veil.reveal-sm-block.reveal-md-inline-block
              h1 Team Member Page
            div.pull-md-right.offset-sm-top-10.offset-md-top-20
              ul.p.list-inline.list-inline-dashed
                li
                  a(href= cfg.nav.home.href) Home
                li
                  a(href= cfg.nav.aboutUs.href) About Us
                li Team Member Page
  // Page Contents
  main.page-content

    // Dr. Mark Hoffman
    section.section-98.section-sm-110
      .shell
        .range.range-xs-center
          .cell-xs-10.cell-md-12
            .range.range-xs-center
              .cell-md-4
                img.img-responsive.reveal-inline-block(src="images/user-mark-hoffman-370x370.jpg" alt="")
              .cell-md-8.text-md-left.offset-top-34.offset-md-top-0.inset-md-left-50
                h3 Dr. Mark Hoffman
                p
                  span.small.text-dark MBBS, DCH, DRCOG, MRCGP
                .offset-top-20.offset-md-top-41
                  p Our clinic's Chief Medical, Dr. Mark Hoffman has been working in this field of medical specialization since 2002. He obtains his chief position at our clinic since 2010. Most of all he loves to see you walk in with a concern and walk out with a bright wide smile!
                  p Dr. Mark Hoffman graduated from Loma Linda Dental School, receiving his DDS and additionally attended a university residency at UIC, receiving a degree in Prosthodontics and Implant Technology.
                  p His expertise covers many specialized dental services: both regular cleaning and deep cleaning. All of which help in maintaining healthy gums and teeth, surgical and routine extractions, and oral health treatment planning. Dr. Hoffman's main objective for all our patients is quite simple - learning about your dental health concerns! And of course providing all customers with remarkable dental care!

    // Certification
    section.section-98.section-sm-110.bg-polar
      .shell
        h1 Certification
        hr.divider.bg-mantis
        .range.text-md-left.offset-top-50.offset-lg-top-66
          // owl carousel
          .owl-carousel.owl-carousel-default.owl-carousel-class-light(data-loop="false" data-items="1" data-xs-items="2" data-sm-items="3" data-dots="true" data-mouse-drag="false" data-md-items="4" data-lg-items="6" data-nav="false")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")
            .text-center
              img.img-responsive.reveal-inline-block(src="images/sertificate-01-170x230.jpg" width=170 height=230 alt="")

    // Send Me a Message
    section.section-98.section-sm-top-110.section-sm-bottom-124
      .shell
        h1 Send Us a Message
        hr.divider.bg-mantis
        .range.range-xs-center.offset-top-50.offset-lg-top-66
          .cell-xs-10.cell-sm-8
            // RD Mailform
            form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .range
                .cell-lg-6
                  .form-group
                    label.form-label.form-label-outside(for="contact-me-name") First Name
                    input#contact-me-name.form-control(type="text" name="name" data-constraints="@Required")
                .cell-lg-6.offset-top-20.offset-lg-top-0
                  .form-group
                    label.form-label.form-label-outside(for="contact-me-phone") Last Name
                    input#contact-me-phone.form-control(type="text" name="phone" data-constraints="@Required")
                .cell-lg-12.offset-top-20.offset-lg-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contact-me-email") E-mail
                    input#contact-me-email.form-control(type="email" name="email" data-constraints="@Required @Email")
                .cell-lg-12.offset-top-20.offset-lg-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contact-me-message") Message
                    textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 150px")
              .range.range-xs-center.offset-top-30
                .cell-xs-4.cell-sm-3
                  button(type="submit").btn.btn-block.btn-primary send
    .shell-wide
      hr.bg-gray-darker




  // Page Footer
  include ../sections/_section-footer