//
// Responsive unit
// --------------------------------------------------

@include unit-responsive($medias, 20px, 30px);

.unit-spacing-xxs{
  @include unit-spacing($medias, 0px, 5px);
}

.unit-spacing-xs{
  @include unit-spacing($medias, 7px, 15px);
}
.unit-spacing-sm{
  @include unit-spacing($medias, 20px);
}

.unit-spacing-lg{
  @include unit-spacing($medias, 40px);
}






