/*
* Sidebar Layout
*/

.rd-navbar-sidebar {
  //position: static;
  //width: auto;
  //height: auto;
  display: block;
  //padding: 0;

  // Inner-2 variant

  transition: .4s;
  @include transform(translateX(-$navbar-nav-min-width));
  overflow: visible;

  position: fixed;
  width: 280px;
  height: 100%;
  left: 0;
  top: 0;
  //overflow-y: auto;
  //overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  line-height: 34px;
  color: #9b9b9b;
  background: $white;
  box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.25);
  z-index: 998;
  padding: 10px;

  &.active{
    @include transform(translateX(0));
  }

  &:before,
  &:after{
    display: block;
    content: '';
    height: 56px;
  }

  &:before{
    height: 36px;
  }

  .rd-navbar-toggle{
    display: inline-block;
    position: absolute;
    left: 315px;
    top: 30px;
    z-index: 999;
    transition: .4s;

    span:after,
    span:before,
    span{
      height: 4px;
    }
  }

  .rd-navbar-nav{
    text-align: left;

    li{

      a{
        padding-left: 14px;

        .label{
          right: auto;
          left: 14px;
        }
      }

      &:hover{
        > a{
          background-color: $gray-light;
          color: $gray-darker;
        }
      }

      &.active{
        > a{
          background-color: #212121;
          color: $white;
        }

        &:hover{
          > a{
            background-color: #212121;
            color: $white;
          }
        }
      }
    }

    &-wrap{
      @include display-flex();
      @include flex-direction(column-reverse);
    }

    .rd-navbar-megamenu{
      margin-top: 6px;

      .rd-material-tabs{
        .rd-material-tabs__list .rd-material-tab.rd-material-tab-active a,
        .rd-navbar-wrap .rd-material-tabs__list
        .rd-material-tab a:hover{
          color: #454343;
          background: #E6E6E6;
          -webkit-text-fill-color: initial;
          -webkit-background-clip: initial;
        }
        .rd-material-tabs__list{
          .rd-material-tab a:hover{
            color: #454343;
            background: #E6E6E6;
            -webkit-text-fill-color: initial;
            -webkit-background-clip: initial;
          }
        }
      }


      .rd-material-tabs__list{
        border-bottom: 1px solid #E4E4E4;
      }

      .rd-material-tab{
        display: block;
        margin-top: 0;
        //max-height: 200px;
        //overflow-y: auto;

        &-active{
          > a{
            color: #313131;
            background: #E6E6E6;
          }
        }

        > a{
          padding: 2px;
          color: #454343;

          text-align: left;
          background-color: #F3F3F3;
          padding-left: 12px;
        }

        a{
          color: $gray-darker;
        }
      }
    }
  }
  .rd-navbar-nav {
    li {

      .rd-navbar-dropdown,
      .rd-navbar-megamenu {
        transition: opacity 0.3s, height 0.4s ease;
        opacity: 0;
        height: 0;
        overflow: hidden;
      }

      &.opened {

        > a{
          background-color: $gray-light;
        }

        > .rd-navbar-dropdown,
        > .rd-navbar-megamenu {
          opacity: 1;
          height: auto;
        }
        > .rd-navbar-submenu-toggle {
          color: $gray-darker;
          &::after {
            @include transform (rotate(180deg));
          }
        }
      }
    }
  }

  // RD Navbar Toggle
  .rd-navbar-submenu-toggle {
    &::after {
      cursor: pointer;
      content: '\f236';
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      bottom: 4px;
      text-align: center;
      height: 40px;
      @include justify-content(center);
      @include align-items(center);
      @include display-flex();
      font: 400 24px Material Design Icons;
      z-index: 2;
      transition: .3s;
    }
  }

  // RD Navbar Brand
  .rd-navbar-brand {
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    margin-bottom: 25px;

    .brand-name {
      font-size: 30px;
    }
  }

  // RD Navbar Search
  .rd-navbar-search {
    position: relative;
    margin-top: 32px;
    margin-bottom: 16px;

    &-toggle {
      display: none;
    }

    .rd-navbar-search-form-input{
      width: 100%;
      padding: 5px 40px 5px 12px;
      border: none;
      background-color: $gray-light;
      color: $gray-darker;
      line-height: 2;
    }
    .rd-navbar-search-form-submit{
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      line-height: 1;
      width: auto;
      height: auto;
      transition: .3s;
      color: $gray-darker;

      &:hover{
        color: #000;
      }
    }

    label {
      display: none;
    }

    &.active {
      .rd-navbar-search-form-input {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // RD Navbar Live Search Results
  .rd-navbar-live-search-results {
    @include transform(translateY(30px));

    &.active {
      @include transform(translateY(0));
    }

    .search_link {
      p {
        display: none;
      }
    }
  }

  // RD Navbar Collapse
  .rd-navbar-collapse-items {
    top: 0;
    left: 0;
    padding-top: 45px;
    @include transform(scale(.7));
    @include transform-origin(0% 0%);
    opacity: 0;
    visibility: hidden;
  }

  .rd-navbar-collapse {
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    z-index: 1;

    &.active {
      .rd-navbar-collapse-items {
        opacity: 1;
        visibility: visible;
        @include transform(scale(1));
      }
    }
  }

  // RD Navbar States
  .rd-navbar-sidebar--visible {
    display: block;
  }

  .rd-navbar-sidebar--hidden {
    display: none;
  }
  & + .rd-navbar-shop{
    position: fixed;
    top: auto;
    right: 30px;
    bottom: 30px;
    width: 64px;
    height: 64px;
    display: inline-block;
    @extend .bg-shark;
    line-height: 64px;
    font-size: 32px;
    border-radius: 50%;
    z-index: 99;
    &:hover{
      color: $white;
    }
  }

}
