/*
* Fixed Layout
*/

$navbar-fixed-height: $navbar-min-height;
$navbar-fixed-line-height: $navbar-min-line-height;
$navbar-fixed-font-size: $navbar-min-font-size;

$navbar-fixed-panel-color: $navbar-panel-color;
$navbar-fixed-panel-background: $gray-base;
$navbar-fixed-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.25);


.rd-navbar-fixed-linked{
  body{
    padding-top: 56px;
  }
}

.rd-navbar.rd-navbar-fixed {
  display: block;

  // RD Navbar Brand
  .rd-navbar-brand {
    position: relative;
    @include display-flex();
    @include justify-content(flex-start);
    @include align-items(center);
    width: calc(100% - #{$navbar-fixed-line-height*2 + ($navbar-fixed-height - $navbar-fixed-line-height)/2*2});

    margin-top: -10px;

    a{
      padding-left: 8px;
      z-index: 1001;

      img{
        margin-top: 0 !important;
      }
    }

    @media (min-width: $screen-xs-min) {
      @include justify-content(center);

      a{
        padding-left: 0;
      }
    }

    .brand-name {
      display: inline-block;
      font-size: 20px;
      line-height: $navbar-fixed-line-height;
    }

    .brand-slogan {
      display: none;
    }
  }
  // RD Navbar Top Panel
  &.topbar{
    .rd-navbar-top-panel {
      display: none;
    }
  }

  // RD contact info
  .rd-navbar-contact-info{
    display: none;
  }

    // RD Navbar Panel
  .rd-navbar-panel {
    @include display-flex();
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
    height: $navbar-fixed-height;
    color: $navbar-fixed-panel-color;
    z-index: 999;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      box-shadow: $navbar-fixed-shadow;
      background: $navbar-fixed-panel-background;
    }
  }

  // RD Navbar Toggle
  .rd-navbar-toggle {
    display: inline-block;
  }

  // RD Navbar Collapse
  .rd-navbar-collapse {
    right: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
    z-index: 1000;

    &-items {
      top: 100%;
      right: 0;
      margin-top: 8px;
      @include transform(translateY(30px));
      opacity: 0;
      visibility: hidden;
    }

    &.active {
      .rd-navbar-collapse-items {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
      }
    }
  }

  // RD Navbar Search
  .rd-navbar-search {
    &-form, &-toggle {
      right: 50px;
    }
    &-toggle{
      color: $white;

      &:hover{
        color: $brand-primary;
      }
    }
    &-form, .rd-navbar-live-search-results {
      position: fixed;
      margin-right: 0;
      margin-left: auto;
    }

    .rd-navbar-live-search-results {
      top: $navbar-fixed-height;


      @include transform(translateY(-100%));

      &.active{
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
      }
    }

    &-form {
      top: 0;
      z-index: 1000;
      left: 58px;
      right: 0;
      height: $navbar-fixed-height;
      visibility: hidden;
      opacity: 0;

      label{
        display: none;
      }

      &-input {
        padding: 9px 40px 11px 14px;
        height: $navbar-fixed-height - 16px;
        border: 1px solid #C3C3C3;
        position: relative;
        top: 8px;
        right: 4px;
        background: $gray-lighter;
        transition: .3s all ease;
        z-index: 1;
        width: 100%;

        input {
          display: block;
          width: 100%;
          padding: 0 $navbar-fixed-line-height 0 20px;
          height: $navbar-fixed-line-height - 8;
          font-size: 16px;
          line-height: 34px;
          color: $navbar-fixed-panel-color;
          background: $gray-lighter;
        }
      }

      &-submit {
        position: absolute;
        top: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
        right: 4px;
        z-index: 9;
        background-color: transparent;
        border: none;
        &:focus{
          outline: none;
        }

      }
    }

    &-toggle {
      &.active {
        .rd-navbar-search-form{
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
      }
    }

    &.active {
      .rd-navbar-search-form {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        z-index: 1001;
      }
    }

    @media (min-width: $screen-md-min) {
      &-form, .rd-navbar-live-search-results {
        max-width: 340px;
      }

      .rd-navbar-live-search-results {
        right: 4px;
      }
    }

    @media (min-width: $screen-xs-min) {
      .rd-navbar-brand {
        .brand-name {
          font-size: $navbar-fixed-font-size;
        }
      }
    }
  }

  // RD Navbar Nav
  .rd-navbar-nav {
    @include transform(translateX(-$navbar-nav-min-width));
    text-align: left;

    background-color: $navbar-fixed-panel-background;

    li {
      a{
        color: $gray-light;

        .label{
          right: auto;
          top: -2px;
          left: 8px;
        }
      }
      &.active{
        > a{
          background-color: $brand-primary;
        }
      }
      &:hover{
        > a{
          color: $navbar-nav-hover-color;
          background: $navbar-nav-active-background;
        }
      }

      .rd-navbar-dropdown,
      .rd-navbar-megamenu {
        transition: opacity 0.3s, height 0.4s ease;
        opacity: 0;
        height: 0;
        overflow: hidden;
      }

      .rd-navbar-megamenu{
        margin-top: 6px;

        .rd-material-tab{
          display: block;
          margin-top: 0;

          > a{
            padding: 2px;
          }
        }
      }

      &.opened {
        > .rd-navbar-dropdown,
        > .rd-navbar-megamenu {
          opacity: 1;
          height: auto;
        }
        > a {
          background-color: $gray-lighter;
        }
        > .rd-navbar-submenu-toggle {
          color: #fff;
          &::after {
            @include transform (rotate(180deg));
          }
        }
      }

    }

    .rd-navbar-submenu-toggle {
      &::after {
        content: '\f236';
        position: absolute;
        top: 22px;
        right: 0;
        color: $gray-darker;
        margin-top: -22px;
        width: 45px;
        height: 40px;
        font-family: "Material Design Icons";
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        transition: 0.4s all ease;
        z-index: 2;
      }
    }
  }

  // Hybrid Styles
  .rd-navbar-collapse,
  .rd-navbar-search-toggle {
    position: fixed;
    top: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
    height: $navbar-fixed-line-height;
    z-index: 1000;

    background-color: transparent;
    border: none;
    &:focus{
      outline: none;
    }

  }

  // Rd navbar search
  .rd-navbar-shop,
  & + .rd-navbar-shop{
    position: fixed;
    right: 2px;
    top: 4px;
    z-index: 1000;
  }

  // RD Navbar States
  &.active {
    .rd-navbar-nav {
      @include transform(translateX(0));
    }
  }

  &.rd-navbar--on-search {
    @media (max-width: 1199px) {
      .brand-name {
        opacity: 0;
        visibility: hidden;
        @include transform(scale(0.7));
      }
    }
  }

  &.rd-navbar--is-clone {
    display: none;

    .rd-navbar-panel {
      @include transform(translateY(-110%));
    }

    &.rd-navbar--is-stuck {
      .rd-navbar-panel {
        @include transform(translateY(0));
      }
    }
  }

  .rd-navbar-fixed--visible {
    display: block;
  }

  .rd-navbar-fixed--hidden {
    display: none;
  }
}