//-title - box title
//-price - box-price
//-period - box period
//-state - active/not
//- btnText - button text
mixin box-planning-2(title, price, period, titleStyle, svgStyle, dividerStyle, btnText, btnStyle, state)
  // Planning Box type 2
  .box-planning.box-planning-type-2(class=(state != null ? 'active' : ''))
    .box-planning-label
      svg.box-planning-svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 76.5 76.5', enable-background='new 0 0 76.5 76.5', xml:space='preserve')
        path(d='M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3\
            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3\
            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2\
            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z' class=svgStyle)
      span.text-bold Most <br> Popular
    h2.font-default.text-ubold= title
    p.h1.plan-price.font-default(class=titleStyle)
      sup.big $
      = price
      sup.text-dark
        = " /"
        = period
    hr.divider(class= dividerStyle)
    block
    a.btn.btn-block(href="#" class= btnStyle)= btnText

