include ../elements/_ui-tabs-classic
include ../elements/_widget-form-search
include ../mixins/_rd-navbar-submenu-simple

//- RD Navbar Transparent
//- skin - rd navbar skin (transparent, inverse, default)
//- attrs - additional HTML attributes of rd navbar
//- logo - logo markup (<img/> or text)
//- links - nav links object
mixin rd-navbar-top-panel(skin, attrs, logo, activeLink, links)
    // RD Navbar Transparent
    .rd-navbar-wrap
      nav&attributes(attrs).rd-navbar.rd-navbar-top-panel(class="#{skin}" data-lg-stick-up-offset="79px" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static")
        .rd-navbar-inner
          .rd-navbar-top-panel
            .container
              .left-side
                address.contact-info.text-left
                  span.p
                    span.icon.mdi.mdi-phone.text-primary.text-middle
                    a.text-middle(href="callto:#") 1-800-1234-567
                  span.p
                    span.icon.mdi.mdi-map-marker-radius.text-primary.text-middle
                    a.text-middle(href=cfg.nav.contacts.href) 2130 Fulton Street, San Francisco, CA 94117-1080 USA
              .right-side.offset-top-4.offset-lg-top-0.text-center
                .contact-info.text-left.reveal-inline-block
                  span.p
                    span.icon.mdi.mdi-clock.text-primary.text-middle
                    span.text-middle Mon–Sat: 7:00am–8:00pm
                ul.list-inline.list-inline-xs.reveal-inline-block.inset-lg-left-80.text-middle
                  li
                    a(href="#")
                      span.icon.fa-facebook
                  li
                    a(href="#")
                      span.icon.fa-twitter
                  li
                    a(href="#")
                      span.icon.fa-google-plus
                  li
                    a(href="#")
                      span.icon.fa-youtube-play
                  li
                    a(href="#")
                      span.icon.fa-instagram
          .container.section-relative
            // RD Navbar Panel
            .rd-navbar-panel
              // RD Navbar Toggle
              button.rd-navbar-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap")
                span
              // RD Navbar Top Panel Toggle
              button.rd-navbar-top-panel-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel")
                span
              //Navbar Brand
              .rd-navbar-brand
                a.veil.reveal-lg-block(href="../index.html") !{logo}
                a.reveal-inline-block.veil-lg(href="../index.html") !{cfg.brand.logoHorizontal}
            .rd-navbar-menu-wrap
              .rd-navbar-nav-wrap
                -var tabs = [cfg.nav.components]
                -var megamenus = [cfg.nav.pages]
                -var type = 'simple'

                .rd-navbar-mobile-scroll
                  //Navbar Brand Mobile
                  .rd-navbar-mobile-brand
                    a.reveal-inline-block(href="../index.html") !{logo}

                  .form-search-wrap
                    +widget-form-search('form-control-gray-lightest input-sm', "form-label-sm", "rd-navbar-form-search-widget")

                  // RD Navbar Nav
                  ul.rd-navbar-nav
                    each link, title in links
                      -type = 'simple'
                      li(class=(activeLink.title == link.title) ? 'active' : '')
                        a(href=link.href class=link.icon)
                          span= link.title
                          - if (typeof(link.label) !== 'undefined')
                            span.rd-navbar-label.text-middle.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{link.label}
                        each tab in tabs
                          - if (JSON.stringify(tab) === JSON.stringify(link) ) type = 'tabs'

                        each megamenu in megamenus
                          -if (JSON.stringify(megamenu) === JSON.stringify(link) ) type = 'megamenu'

                        case type
                          when 'tabs'
                            .rd-navbar-megamenu
                              -var tabList = []
                              each title in link.submenu
                                -tabList.push(title.title)
                              if tabList.length > 0
                                +tabs-classic(tabList)
                                  each tab in link.submenu
                                    .row
                                      -var megamenuColumns = 4
                                      -var columnLength = Object.keys(tab.submenu).length / megamenuColumns

                                      - for (var i = 1; i <= megamenuColumns; i++){
                                        -var j = 0
                                          ul(class='col-md-' + 12 / megamenuColumns)
                                            each dropdown in tab.submenu
                                              -j++
                                              -if (j <= (i - 1) * columnLength) continue
                                              -if (j > i*columnLength) break
                                              li
                                                a(href=dropdown.href)
                                                  span.rd-navbar-icon(class=dropdown.icon)
                                                  span.text-middle= dropdown.title
                                                  - if (typeof(dropdown.label) !== 'undefined')
                                                    span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{dropdown.label}
                                      -}
                          when 'megamenu'
                            .rd-navbar-megamenu
                              .row
                                -var megamenuColumns = 4
                                -var columnLength = Object.keys(link.submenu).length / megamenuColumns
                                - for (var i = 1; i <= megamenuColumns; i++){
                                  -var j = 0
                                    ul(class='col-md-' + 12 / megamenuColumns)
                                      each dropdown in link.submenu
                                        -j++
                                        -if (j <= (i - 1) * columnLength) continue
                                        -if (j > i*columnLength) break
                                        li
                                          a(href=dropdown.href)
                                            span.rd-navbar-icon(class=dropdown.icon)
                                            span.text-middle= dropdown.title
                                            - if (typeof(dropdown.label) !== 'undefined')
                                              span.rd-navbar-label.label-custom.label-danger.label-xs-custom.label-rounded-custom.label #{dropdown.label}

                                -}

                          default
                            +rd-navbar-simple-submenu(link)

              //RD Navbar Search
              div.rd-navbar-search
                a.rd-navbar-search-toggle.mdi(data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#")
                  span
                form(action="search-results.html" method="GET").rd-navbar-search-form.search-form-icon-right.rd-search
                  div.form-group
                    label(for="rd-navbar-search-form-input" class="form-label") Type and hit enter...
                    input(class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off")