//
// RD Navbar Components
// --------------------------------------------------

// Link font
%rd-navbar-default-link-font{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

// Dropdown Link
%rd-navbar-default-dropdown-link{
  li {
    position: relative;
    > a {
      @extend  %rd-navbar-default-link-font;
      display: block;
      padding: 8px 30px 8px 20px;
      > span{
        vertical-align: middle;
      }
    }
    .rd-navbar-label{
      margin-left: 5px;
    }
    .rd-navbar-icon{
      margin-right: 10px;
      font-size: 18px;
      line-height: 24px;
      vertical-align: middle;
    }
  }
}

// Has-Dropdown Link arrow
%rd-navbar-default-dropdown-link-arrow{
    content: '\f238';
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 13px;
    font-size: 22px;
    line-height: 34px;
    font-family: 'Material Design Icons';
    transition: .3s all ease;
    @include transform(translateY(-50%));
}

// Static layout dropdown
%rd-navbar-default-dropdown{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  transition: .3s all ease;
  padding: 0;
  text-align: left;
  width: 240px;
  box-shadow: $shadow-area-xs;
  z-index: 1;
  .rd-navbar-dropdown{
    left: 100%;
    top: -1px;
    margin: 0;
    z-index: 2;
  }
  .rd-navbar-dropdown .rd-navbar-dropdown{
    z-index: 3;
  }
  &.rd-navbar-open-left, &.rd-navbar-open-left .rd-navbar-dropdown{
    right: 100%;
    left: auto;
  }
}

// Active link style 1
%rd-navbar-default-active-1{
    > a:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      right: 50%;
      height: 2px;
      margin-top: 4px;
      @include bg-variant-custom(linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
      transition: .3s all ease;
    }
    &.active > a, &.focus > a {
      &:after {
        left: 0;
        right: 0;
      }
    }
}

// Menu 1 lvl style 1
%rd-navbar-default-menu-style{
  > li {
    float: left;
    position: relative;
    > a {
      @extend %rd-navbar-default-link-font;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0.06em;
      > .rd-navbar-label{
        position: absolute;
        margin: -10px 0 0 -15px;
      }
    }



    + li {
      margin-left: 37px;
    }
  }
}

// Dropdown appearance
%rd-navbar-default-dropdown-appear{
  li.focus {
    > .rd-navbar-dropdown, > .rd-navbar-megamenu {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Megamenu additional styles
%rd-navbar-default-megamenu{
  padding: 15px;
  max-width: 1900px;
  margin-left: auto;
  width: auto;
  box-shadow: $shadow-area-xs;
}

// Cart dropdown styles
%rd-navbar-default-cart-dropdown{
  left: auto;
  right: 0;
  padding: 13px 15px 15px;
  box-shadow: $shadow-area-xs;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}

// Search default lg
%rd-navbar-default-search-lg{
  .rd-navbar-search {
    display: inline-block;
    &.active .rd-navbar-search-form {
      opacity: 1;
      visibility: visible;
    }
  }

  .rd-navbar-search-form {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 15%;
    right: 12%;
    z-index: 2;
    bottom: 0;
    transition: .3s all ease;
    .form-group, input {
      height: 100%;
    }

    .form-label {
      font-size: 18px;
      padding-left: 4%;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      left: 8px;
      &.focus {
        font-size: 14px;
        top: -6px;
      }
    }

    .rd-navbar-search-form-input {
      height: 100%;
      font-size: 18px;
      border: none;
      text-transform: uppercase;
      font-weight: 900;
    }

  }

  @media (min-width: $screen-lg-min){
    .rd-navbar-search-form {
      left: 0;
      right: 0;
      .form-label {
        font-size: 32px;
        padding-left: 85px;
        left: 16px;
        &.focus {
          font-size: 18px;
          top: 10px;
        }
      }
    }
  }
}


// Default mobile cart toggle and dropdown appearance
%rd-navbar-default-cart{
  .rd-navbar-cart {
    position: fixed;
    width: 48px;
    line-height: 48px;
    text-align: center;
    z-index: 16;
  }

  .rd-navbar-cart-dropdown {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    padding: 70px 15px 0;
    bottom: 0;
    z-index: 15;
    max-height: 100%;
    overflow-y: auto;
    box-shadow: $shadow-area-xs;
    @include transform(translateX(105%));
    @extend %rd-navbar-transition;
    &.active {
      @include transform(translateX(0));
    }
  }
}

// Default cart dropdown styles
%rd-navbar-cart-products{
  .rd-navbar-list-products {
    padding-left: 0;
    max-height: calc(100% - 120px);
    overflow-y: auto;
    padding-bottom: 10px;
    li {
      position: relative;
      padding: 0 15px 15px 0;
      @include clearfix;
    }
  }

  .rd-navbar-product-image {
    float: left;
    margin-right: 10px;
    border-radius: $border-radius-small;
  }

  .rd-navbar-product-caption {
    overflow: hidden;
  }

  .rd-navbar-product-remove {
    position: absolute;
    right: 0;
    top: 3px;
    font-size: 12px;
    color: $gray-dark;
    &:hover {
      color: $white;
    }
  }

  .rd-navbar-product-title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .rd-navbar-product-price {
    font-size: 12px;
    margin-top: 5px;
  }

  .rd-navbar-cart-total {
    position: relative;
    margin-top: 20px;
  }

  .rd-navbar-cart-total-title {
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 75px;
    margin-bottom: 24px;
  }

  .rd-navbar-cart-total-price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
  }
}

// Default mobile aside block (without padding)
%rd-navbar-default-mobile-aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  bottom: 0;
  z-index: 15;
  box-shadow: $shadow-area-xs;
  @include transform(translateX(-105%));
  @extend %rd-navbar-transition;
}

%rd-navbar-defaul-mobile-scroll{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

// Default mobile menu
%rd-navbar-default-mobile-menu{

  .rd-navbar-nav {
    padding: 0;
    margin-top: 15px;
    >li:last-child{
      margin-bottom: 10px;
    }
    li {
      float: none;
      + li {
        margin-top: 5px;
      }
      a {
        @extend %rd-navbar-default-link-font;
        cursor: pointer;
        display: block;
        padding: 8px 30px 8px 15px;
      }
      .rd-navbar-label{
        margin-left: 5px;
      }
      .rd-navbar-icon {
        margin-right: 5px;
        vertical-align: middle;
        font-size: 20px;
      }
      &.opened {
        > .rd-navbar-submenu-toggle:before {
          content: '\f239';
        }
      }

      .resp-tab-active {
        > .resp-arrow:before {
          content: '\f239';
        }
      }
    }
  }

  .rd-navbar-submenu {
    position: relative;
  }

  .rd-navbar-submenu-toggle, .responsive-tabs .resp-accordion .resp-arrow {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Material Design Icons';
    transition: .3s all ease;
    &:before {
      content: '\f236';
      display: block;
      vertical-align: middle;
    }
  }

  .rd-navbar-dropdown, .rd-navbar-megamenu {
    display: none;
    padding: 5px 0;
    > li {
      > a {
        padding-left: 25px;
      }
      .rd-navbar-dropdown > li {
        > a {
          padding-left: 35px;
        }
        .rd-navbar-dropdown > li > a {
          padding-left: 45px;
        }
      }
    }
  }

  .rd-navbar-megamenu {
    .responsive-tabs .resp-accordion {
      padding-left: 25px;
    }
    .resp-tab-content ul > li > a {
      padding-left: 35px;
    }
    .resp-tab-content {
      padding: 0 10px;
    }
  }

  .rd-navbar-submenu.opened {
    > .rd-navbar-dropdown, > .rd-navbar-megamenu {
      display: block;
    }
  }


}


