//
// Search Results
// --------------------------------------------------

// Base styles
// -------------------------
.search_list{
  text-align: left;
  padding-left: 0;
  font-size: 18px;
  list-style-type: none;
}

.result-item{
  margin-left: 20px;
  padding-left: 20px;
  list-style-type: decimal;

  color: $gray-dark;
  >*{
    color: $gray-darker;
  }

  +.result-item{
    margin-top: 41px;
  }
  @media (min-width: $screen-sm-min) {
    padding-left: 40px;
  }
}

.search_title{
  color: $gray-base;

}

.match{
  color: $brand-picton-blue;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: $font-size-small;
  em{
    font-style: normal;
  }
}

.search{
  background: $brand-success;
}