//- Include
include ../elements/_widget-rd-calendar
// See It In Action
+rd-parallax({
  "backgroundSpeed": "0.35",
  "attrType": "media",
  "src": "images/backgrounds/background-05-1920x960.jpg",
  "htmlSpeed": "0"
})
  section.bg-overlay-white(id="rd-event-calendar-demo")
    .shell-wide.section-top-98.section-bottom-34.section-lg-top-110.section-lg-bottom-0
      h1 Calendar
      div
        hr.divider.divider-lg.bg-mantis
      .offset-top-50
        .rd-calendar-fullwidth
          +widget-rd-calendar([
            {
              "date": "04/06/2016",
              "time": "10:00 am",
              "title": "International Conference",
              "link": "#",
              "bg": "bg-chestnut-roze context-dark"
            },
            {
              "date": "04/17/2016",
              "time": "10:00 am",
              "title": "International Conference Day 2",
              "link": "#",
              "bg": "bg-chestnut-roze context-dark"
            },
            {
              "date": "04/19/2016",
              "time": "9:00 AM",
              "title": "Opening of the exhibition",
              "link": "#",
              "bg": "bg-mantis context-dark"
            },
            {
              "date": "04/28/2016",
              "time": "6:00 pm",
              "title": "Exhibition closing",
              "link": "#",
              "bg": "bg-mantis context-dark"
            },
            {
              "date": "04/29/2016",
              "time": "9:00 AM",
              "title": "Family breakfast",
              "link": "#",
              "bg": "bg-mantis context-dark"
            },

            {
              "date": "05/05/2016",
              "time": "10:00 am",
              "title": "International Conference",
              "link": "#",
              "bg": "bg-chestnut-roze context-dark"
            },
            {
              "date": "05/16/2016",
              "time": "10:00 am",
              "title": "International Conference",
              "link": "#",
              "bg": "bg-mantis context-dark"
            },
            {
              "date": "05/17/2016",
              "time": "10:00 am",
              "title": "International Conference Day 2",
              "link": "#",
              "bg": "bg-chestnut-roze context-dark"
            },
            {
              "date": "05/19/2016",
              "time": "9:00 AM",
              "title": "Opening of the exhibition",
              "link": "#",
              "bg": "bg-mantis context-dark"
            },
            {
              "date": "05/28/2016",
              "time": "6:00 pm",
              "title": "Exhibition closing",
              "link": "#",
              "bg": "bg-chestnut-roze context-dark"
            },
            {
              "date": "05/23/2016",
              "time": "9:00 AM",
              "title": "Family breakfast",
              "link": "#",
              "bg": "bg-mantis context-dark"
            }
          ])
