include ../elements/_widget-post
include ../elements/_widget-form-contact
include ../elements/_widget-list-social

// Default footer
footer.section-relative.section-top-66.section-bottom-34.page-footer.bg-gray-base.context-dark
  .shell
    .range.range-sm-center.text-lg-left
      .cell-sm-8.cell-md-12
        .range.range-xs-center
          .cell-xs-10.cell-sm-8.text-xs-left.cell-md-5.cell-lg-4.cell-lg-push-3
            h6.text-uppercase.text-spacing-60.text-center.text-md-left Contact us

            +widget-form-contact()

          .cell-xs-10.cell-sm-8.offset-top-66.cell-md-5.cell-md-preffix-1.offset-md-top-0.text-md-left.cell-lg-4.cell-lg-push-2.cell-lg-preffix-0
            h6.text-uppercase.text-spacing-60.text-center.text-md-left Latest from the blog

            .offset-top-30
              +widget-post(
                "advice-single.html",
                "05/14/2015",
                "Financial Planning",
                {
                  "src": "images/post-01-60x60.jpg",
                  "w": "60",
                  "h": "60",
                  "alt": ""
                },
                "",
                "text-primary"
              )
              +widget-post(
                "advice-single.html",
                "05/14/2015",
                "Investment Management",
                {
                  "src": "images/post-02-60x60.jpg",
                  "w": "60",
                  "h": "60",
                  "alt": ""
                },
                "",
                "text-primary"
              )
              +widget-post(
                "advice-single.html",
                "05/14/2015",
                "Personal Finances",
                {
                  "src": "images/post-03-60x60.jpg",
                  "w": "60",
                  "h": "60",
                  "alt": ""
                },
                "",
                "text-primary"
              )


          .cell-xs-12.offset-top-66.cell-lg-4.cell-lg-push-1.offset-lg-top-0
            // Footer brand
            .footer-brand
              a(href="index.html")
                | !{cfg.brand.logo}
            p.text-darker.text-italic.offset-top-4 Financial Advisor

            .range.range-xs-center.offset-top-30.text-xs-left
              .cell-xs-4.cell-xs-preffix-1.cell-md-3.cell-md-preffix-3.cell-lg-6.cell-lg-preffix-0
                address.contact-info
                  dl
                    dt.text-white.text-bold Address:
                    dd.text-dark.reveal-lg-block
                      | 28 Jackson Blvd Ste
                      br
                      | 1020 Chicago
                      br
                      | IL 60604-2340.
              .cell-xs-4.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-6.cell-lg-preffix-0.offset-top-0
                address.contact-info.p
                  dl
                    dt.text-white.text-bold.offset-top-10.offset-xs-top-0 Phone
                    dd.text-dark
                      a(href="callto:#") +1 800 559 6580
                    dt.text-white.offset-top-10.text-bold E-mail:
                    dd.text-dark
                      a(href="mailto:#") mail@demolink.org

            .offset-top-30
              +widget-list-social([
                {
                  "icon": "fa fa-facebook",
                  "href": "#"
                },
                {
                  "icon": "fa fa-twitter",
                  "href": "#"
                },
                {
                  "icon": "fa fa-google-plus",
                  "href": "#"
                },
                {
                  "icon": "fa fa-linkedin",
                  "href": "#"
                }
              ])

  .shell.offset-top-50
    p.small.text-darker
      | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="#") Privacy Policy]
      // {%FOOTER_LINK}