//- Includes
include ../elements/_widget-flickrfeed
include ../elements/_widget-form-search
include ../elements/_widget-tags
include ../elements/_widget-twitter

// Sidebar
aside.text-left
    .inset-md-left-50.inset-lg-left-74
      // Search Form
      .text-bold.text-darker Search
      div.text-subline.offset-top-10

      .offset-top-34
        +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-2-form-search-widget")

      .range.offset-top-66
        .cell-xs-6.cell-md-12.cell-md-push-1
          // Archive
          .text-bold.text-darker Archive
          div.text-subline.offset-top-10

          ul.list.list-marked.offset-top-30
            li
              a(href="#") January 2016 #[span.text-dark (17)]
            li
              a(href="#") December 2015 #[span.text-dark (121)]
            li
              a(href="#") November 2015 #[span.text-dark (19)]
            li
              a(href="#") October 2015 #[span.text-dark (9)]
            li
              a(href="#") September 2015 #[span.text-dark (25)]

        .cell-xs-6.cell-md-12.offset-top-66.offset-xs-top-0.offset-md-top-41.cell-md-push-3
          // Category
          .text-bold.text-darker Categories
          div.text-subline.offset-top-10

          ul.list.list-marked.offset-top-30
            li
              a(href="#") Financial #[span.text-dark (17)]
            li
              a(href="#") Prediction #[span.text-dark (121)]
            li
              a(href="#") Advice #[span.text-dark (19)]
            li
              a(href="#") Investment #[span.text-dark (9)]
            li
              a(href="#") Help #[span.text-dark (25)]

        .cell-xs-12.offset-top-66.cell-md-push-2
          // Category
          .text-bold.text-darker Tags
          div.text-subline.offset-top-10

          .offset-top-34
            +widget-tags("btn btn-xs btn-default", [
              {"title": "Financial planning", "href": "#"},
              {"title": "Economics", "href": "#"},
              {"title": "business philosophy", "href": "#"},
            ])
