//
// Custom form styles
// --------------------------------------------------

.rd-mailform {
  position: relative;
}

// Normalize non-controls
// --------------------------------------------------

label {
  margin-bottom: 10px;
  font-weight: 400;
}

// Common form controls
// --------------------------------------------------

.input-sm,
.input-lg,
.form-control {
  font-size: $input-font-size;

  &, &:focus {
    box-shadow: none;
  }
}

textarea.form-control {
  height: $textarea-default-height;
  min-height: $textarea-default-min-height;
  max-height: $textarea-default-max-height;
  resize: vertical;
}

.form-control {
  -webkit-appearance: none;
  line-height: $input-height-base - ($padding-base-vertical + $border-width-base)*2;

  &:focus {
    outline: 0;
  }
}

.input-sm {
  line-height: $input-height-small - ($padding-small-vertical + $border-width-small)*2;
}

.input-lg {
  line-height: $input-height-large - ($padding-large-vertical + $border-width-base)*2;
}

// Form Controls Appearance
//
.form-control-rect {
  border-radius: 0;
}

.form-control-ellipse {
  &.form-control {
    border-radius: $input-height-base / 2;
  }

  &.form-control-sm {
    border-radius: $input-height-small / 2;
  }

  &.form-control-lg {
    border-radius: $input-height-large / 2;
  }
}

.form-control-impressed {
  background: $input-impressed-bg;
  border: none;

  &, &:focus {
    box-shadow: inset $shadow-area-xxs;
  }

  // change validation bg

  &.form-validation-inside + .form-validation {
    background: $input-impressed-bg;
  }
}

// Form groups
// -------------------------

.form-group {
  position: relative;
}

.form-group-multiple {
  @include display-flex();
  @include justify-content(center);

  @include flex-direction(column);
  .form-group {
    width: 100%;
    margin-bottom: 0;
    & + .form-group {
      position: relative;
      margin-top: 20px;
    }
  }
  @media (min-width: $screen-xs-min) {
    @include flex-direction(row);
    @include align-items(baseline);
    .form-group {
      & + .form-group {
        margin-left: 30px;
        margin-top: 0;
        position: relative;
        &:before {
          content: "–";
          position: absolute;
          bottom: 15px;
          left: -20px;
          margin-top: -1px;
        }
      }
    }
  }
}
// Form labels
// -------------------------

.form-label {
  position: absolute;
  top: $form-label-position-top;
  left: $padding-base-horizontal;
  font-size: $input-font-size;
  color: $input-color-placeholder;
  pointer-events: none;
  z-index: 9;
  transition: .3s;
  @include transform(translateY(-50%));
  @include transform-origin(0 0);

  &.focus {
    color: $input-color-placeholder-focus;
    top: $form-label-focus-position-top;
    @include transform(scale(.8) translateY(0));
  }

  &.auto-fill {
    color: $input-color;
  }
}

.form-label-sm {
  top: $form-label-sm-position-top;
  left: $padding-small-horizontal;

  &.focus {
    top: $form-label-sm-focus-position-top;
  }
}

.form-label-lg {
  top: $form-label-lg-position-top;
  left: $padding-large-horizontal;

  &.focus {
    top: $form-label-lg-focus-position-top;
  }
}

.form-label-outside {
  @media (min-width: $screen-sm-min) {
    position: static;
    &, &.focus, &.auto-fill {
      @include transform(none);
      color: $input-color-placeholder;
      font-size: $input-font-size;
    }
  }
}

.form-label-outside {
  &.form-label-size-lg {
    font-size: $input-font-size * 1.2;
  }
  &.form-label-size-sm {
    font-size: $input-font-size * 0.8;
  }
}

// Form validation
// -------------------------
.form-validation {
  position: absolute;
  top: $form-validation-position-top;
  left: 0;
  font-size: $form-validation-size;
  line-height: $form-validation-line-height;
  margin-top: $form-validation-offset-top;
  transition: .3s;

  .form-validation-inside + & {
    top: $form-validation-inside-position-top;
    margin-top: 0;
    left: $form-validation-inside-position-left;
    background: $form-validation-inside-bg;
    z-index: 10;
  }
}

.form-control-feedback {
  font-size: $form-control-feedback-size;
}


// Form-in-process
// -------------------------

.form-in-process {
  cursor: wait;

  button,
  textarea,
  select,
  input{
    pointer-events: none;
  }
}

// Error Styling
//
.has-error {
  @include form-control-validation-custom($state-danger-text, $state-danger-bg, $state-danger-bg);
}

// Success Styling
//
.has-success {
  @include form-control-validation-custom($state-success-text, $state-success-bg, $state-success-bg);
}

// Warning Styling
//
.has-warning {
  @include form-control-validation-custom($state-warning-text, $state-warning-bg, $state-warning-bg);
}

// Info Styling
//
.has-info {
  @include form-control-validation-custom($state-info-text, $state-info-bg, $state-info-bg);
}

.has-feedback .form-label ~ .form-control-feedback {
  top: 0;

  @media (min-width: $screen-sm-min) {
    top: 34px;
  }
}

.has-feedback .input-sm ~ .form-control-feedback {
  width: $input-height-small;
  height: $input-height-small;
  line-height: $input-height-small;
}

.has-feedback .form-control {
  padding-right: $form-control-feedback-padding-right;
}

.has-feedback .form-control.input-sm {
  padding-right: $form-control-sm-feedback-padding-right;
}

.has-feedback .form-control.input-lg {
  padding-right: $form-control-lg-feedback-padding-right;
}

// Form output
// -------------------------

#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  visibility: hidden;
  @include transform(translateX(-500px));
  transition: .3s all ease;
  z-index: 9999999;
  &.active {
    @include transform(translateX(0));
    visibility: visible;
  }

  @media (min-width: $screen-xs) {
    left: 30px;
  }
}

.form-output {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: $form-validation-size;
  line-height: $form-validation-line-height;
  margin-top: 2px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &.error {
    color: $form-validation-error-color;
  }
  &.success {
    color: $form-validation-success-color;
  }
}

// Radio and Checkbox Custom
// -------------------------

// Base Styles
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
  opacity: 0;

  &, &-dummy {
    position: absolute;
    width: $radio-input-width;
    height: $radio-input-height;
    margin-left: -20px;
    margin-top: ($line-height-computed - $radio-input-height)/2;
    outline: none;
    cursor: pointer;
  }

  &-dummy {
    pointer-events: none;
    background: $gray-lighter;
    box-shadow: inset $shadow-area-xxs;

    &:after {
      position: absolute;
      opacity: 0;
    }
  }

  &:focus {
    outline: none;
  }
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
  opacity: 1;
}

// Custom Radio Styles
//
.radio,
.radio-inline {
  .radio-custom-dummy {
    border-radius: 50%;

    &:after {
      content: '';
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background: $radio-checked-color;
      border-radius: 50%;
    }
  }
}

// Custom Checkbox Styles
//
.checkbox,
.checkbox-inline {
  padding-left: 20px;
  .checkbox-custom-dummy {
    pointer-events: none;
    border-radius: $border-radius-small;
    margin-left: 0;
    left: 0;

    &:after {
      content: $checkbox-icon;
      font-family: $checkbox-icon-font;
      font-size: 20px;
      line-height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      color: $checkbox-checked-color;
    }
  }
}

// Search Form
// -------------------------
.form-search {
  position: relative;

  .form-group {
    margin-bottom: 0;
  }
}

.form-search-submit {
  position: absolute;
  font-size: $form-search-btn-size;
  right: 8px;
  top: 0;
  bottom: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  color: $form-search-btn-color;
  transition: .3s all ease;
  &:hover, &:focus {
    color: $form-search-btn-focus-color;
    outline: none;
  }
}

.form-search-label {
  color: $form-search-label-color;
}

.form-search-input {
  padding-right: $form-search-input-padding-right;
  color: $form-search-input-color;
}




