extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.blog.submenu.wide.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.blog,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.wide.title,
  cfg.nav.blog.submenu.wide.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.wide.title,
      "href": cfg.nav.blog.submenu.wide.href
    },
    3: {
      "title": cfg.nav.blog.submenu.wide.submenu.leftSidebar.title,
      "href": cfg.nav.blog.submenu.wide.submenu.leftSidebar.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    .shell-wide
      .range.range-xs-center
        .cell-md-8.cell-lg-6.cell-md-push-2
          .inset-left-0.inset-lg-left-20
            include ../sections/_section-blog-wide-vertical
        .cell-md-4.cell-lg-3.cell-xl-2.cell-md-push-1.offset-top-66.offset-md-top-0
          include ../sections/_section-blog-sidebar-variant-1

  // Page Footers
  include ../sections/_section-footer-default