extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.blog.submenu.timeline.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.blog,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.timeline.title,
  cfg.nav.blog.submenu.timeline.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.timeline.title,
      "href": cfg.nav.blog.submenu.timeline.href
    },
    3: {
      "title": cfg.nav.blog.submenu.timeline.submenu.rightSidebar.title,
      "href": cfg.nav.blog.submenu.timeline.submenu.rightSidebar.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-top-110.section-sm-bottom-124
    .shell
      .range.range-sm-center.range-lg-left
        .cell-md-9.cell-lg-8.inset-md-right-30
          include ../sections/_section-blog-timeline
        .cell-md-3.cell-lg-3.offset-top-66.offset-md-top-0
          include ../sections/_section-blog-sidebar-variant-2

  // Page Footers
  include ../sections/_section-footer-default