extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.blog.submenu.timeline.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.blog,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.timeline.title,
  cfg.nav.blog.submenu.timeline.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.timeline.title,
      "href": cfg.nav.blog.submenu.timeline.href
    },
    3: {
      "title": cfg.nav.blog.submenu.timeline.submenu.noSidebar.title,
      "href": cfg.nav.blog.submenu.timeline.submenu.noSidebar.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    section
      .shell
        .range.range-xs-center
          .cell-md-10.cell-lg-8
            include ../sections/_section-blog-timeline

  // Page Footers
  include ../sections/_section-footer-default