extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
    cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.title,
    "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.icon,
    {
      0: {
        "title": cfg.nav.home.title,
        "href": cfg.nav.home.href
      },
      1: {
        "title": cfg.nav.components.title,
        "href": cfg.nav.components.href
      },
      2: {
        "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.title,
        "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.wells.href
      }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    // Wells
    section
      .shell
        h1 Wells
        hr.divider.bg-mantis

        h3.offset-top-66 Default well
        p Use the well as a simple effect on an element to give it an inset effect.

        .range.range-xs-center.offset-top-41
          .cell-md-6
            .well Look, I'm in a well!

        h3.offset-top-66 Optional classes
        p Control padding and rounded corners with two optional modifier classes.

        .range.range-xs-center.offset-top-41
          .cell-md-6
            .well.well-lg Look, I'm in a well!
            .well.well-sm.offset-top-20 Look, I'm in a well!

  // Page Footers
  include ../sections/_section-footer-default