extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )
  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.title,
  "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.labels.href
    }
  })
  // Page Content
  main.page-content.section-98.section-sm-124
    .shell
      h1 Labels
      p Add various labels to your content
      hr.divider.bg-mantis

      .offset-top-66
        .range.text-lg-left.range-sm-center
          .cell-sm-6.cell-md-4
            h1
              span Heading 1 #[span.label.label-default New]
            h2
              span Heading 2 #[span.label.label-default New]
            h3
              span Heading 3 #[span.label.label-default New]
            h4
              span Heading 4 #[span.label.label-default New]
            h5
              span Heading 5 #[span.label.label-default New]
            h6
              span Heading 6 #[span.label.label-default New]

      h3.offset-top-66 Available variations
      p Add any of the below mentioned modifier classes to change the appearance of a label.
      .range.range-sm-center.offset-top-41
        .cell-sm-6
          .group-sm
            span.label.label-default Default
            span.label.label-primary Primary
            span.label.label-deluge Deluge
            span.label.label-success Success
            span.label.label-warning Warning
            span.label.label-danger Danger
            span.label.label-info Info
  // Page Footer
  include ../sections/_section-footer-default

