extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-table-bootstrap

//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.title,
  "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.panels.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    // Panels
    section
      .shell
        h1 Panels
        p While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.
        hr.divider.bg-mantis

        .range.range-xs-center.offset-top-41
          .cell-md-7
            h3.offset-top-30 Basic example
            p By default, all the #[code .panel] does is apply some basic border and padding to contain some content.
            .panel.panel-default.text-left
              .panel-body
                | Basic panel example

        // Panel with heading
        .range.range-xs-center.offset-top-41
          .cell-md-7
            h3.offset-top-30 Panel with heading
            p Easily add a heading container to your panel with #[code .panel-heading]. You may also include any #[code &lt;h1&gt;-&lt;h6&gt;] with a #[code .panel-title]  #[code &lt;h1&gt;-&lt;h6&gt;] are overridden by #[code .panel-heading]
            p For proper link coloring, be sure to place links in headings within
              code .panel-title
            .panel.panel-default.text-left
              .panel-heading Panel heading without title
              .panel-body
                | Panel content
            .panel.panel-default.text-left
              .panel-heading
                h3.panel-title Panel title
              .panel-body
                | Panel content

        // Panel with footer
        .range.range-xs-center.offset-top-41
          .cell-md-7
            h3.offset-top-30 Panel with footer
            p Wrap buttons or secondary text in #[code .panel-footer] Note that panel footers #[code span.text-bold] do not inherit colors and borders when using contextual variations as they are not meant to be in the foreground.
            .panel.panel-default.text-left
              .panel-body
                | Panel content
              .panel-footer Panel footer

        // Contextual alternatives
        .range.range-xs-center.offset-top-41
          .cell-md-7
            h3.offset-top-30 Contextual alternatives
            p Like other components, easily make a panel more meaningful to a particular context by adding any of the contextual state classes.
            .panel.panel-primary.text-left
              .panel-heading
                h3.panel-title Panel title
              .panel-body  Panel content

            .panel.panel-success.text-left
              .panel-heading
                h3.panel-title.text-white Panel title
              .panel-body  Panel content

            .panel.panel-info.text-left
              .panel-heading
                h3.panel-title.text-white Panel title
              .panel-body  Panel content

            .panel.panel-warning.text-left
              .panel-heading
                h3.panel-title.text-white Panel title
              .panel-body  Panel content

            .panel.panel-danger.text-left
              .panel-heading
                h3.panel-title.text-white Panel title
              .panel-body  Panel content

        // With tables
        .range.range-xs-center.offset-top-41
          .cell-md-7
            h3.offset-top-30 With tables
            p Add any non-bordered #[code .table] within a panel for a seamless design. If there is a #[code .panel-body], we add an extra border to the top of the table for separation.
            .panel.panel-default.text-left
              // Default panel contents
              .panel-heading Panel heading
              .panel-body
                p Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
              // Table
              +table-bootstrap([
                ['#', 'First Name', 'Last Name', 'Username'],
                ['1', 'Mark', 'Otto', '@mdo'],
                ['2', 'Jacob', 'Thornton', '@fat'],
                ['3', 'Larry', 'the Bird', '@twitter']
              ], 'table-striped')

            p If there is no panel body, the component moves from panel header to table without interruption.

            .panel.panel-default.text-left
              // Default panel contents
              .panel-heading Panel heading
              // Table
              +table-bootstrap([
                ['#', 'First Name', 'Last Name', 'Username'],
                ['1', 'Mark', 'Otto', '@mdo'],
                ['2', 'Jacob', 'Thornton', '@fat'],
                ['3', 'Larry', 'the Bird', '@twitter']
              ], 'table-striped')

        // With list groups
        .range.range-xs-center.offset-top-41
          .cell-md-7
            h3.offset-top-30 With list groups
            p Easily include full-width list groups within any panel.

            .panel.panel-default.text-left
              // Default panel contents
              .panel-heading Panel heading
              .panel-body
                p Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
              // List group
              ul.list-group
                li.list-group-item Cras justo odio
                li.list-group-item Dapibus ac facilisis in
                li.list-group-item Morbi leo risus
                li.list-group-item Porta ac consectetur ac
                li.list-group-item Vestibulum at eros

  // Page Footers
  include ../sections/_section-footer-default