extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.title,
  "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.inputGroups.href
    }
  })



  // Page Content
  main.page-content.section-98.section-sm-124
    .shell
      h1 Button dropdowns
      p.inset-left-7p.inset-right-7p  Extend form controls by adding text or buttons before, after, or on both sides of any text-based #[code &lt;input&gt;]. Use #[code .input-group] with an #[code .input-group-addon] or #[code .input-group-btn] to prepend or append elements to a single #[code .form-control].
      hr.divider.bg-mantis

      // Basic example
      h3.offset-top-66 Basic example
      p.inset-left-7p.inset-right-7p Place one add-on or button on either side of an input. You may also place one on both sides of an input.

      .range.range-sm-center.offset-top-41
        .cell-sm-6
          .form-group
            .input-group
              span#basic-addon1.input-group-addon @
              input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')

          .form-group.offset-top-20
            .input-group
              input.form-control(type='text', placeholder="Recipient's username", aria-describedby='basic-addon2')
              span#basic-addon2.input-group-addon @example.com

          .form-group.offset-top-20
            .input-group
              span.input-group-addon $
              input.form-control(type='text', aria-label='Amount (to the nearest dollar)')
              span.input-group-addon .00

          .form-group.text-left.offset-top-20
            label(for='basic-url') Your vanity URL
            .input-group
              span#basic-addon3.input-group-addon https://example.com/users/
              input#basic-url.form-control(type='text', aria-describedby='basic-addon3')

      // Sizing example
      h3.offset-top-66 Sizing
      p.inset-left-7p.inset-right-7p Add the relative form sizing classes to the #[code .input-group] itself and contents within will automatically resize—no need for repeating the form control size classes on each element.

      .range.range-sm-center.offset-top-41
        .cell-sm-6
          .form-group
            .input-group
              span#basic-addon4.input-group-addon @
              input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')

          .form-group.offset-top-20
            .input-group.input-group-sm
              span#basic-addon5.input-group-addon @
              input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')

      // Button addons
      h3.offset-top-66 Button addons
      p.inset-left-7p.inset-right-7p Buttons in input groups are a bit different and require one extra level of nesting. Instead of #[code .input-group-addon], you'll need to use #[code .input-group-btn] to wrap the buttons. This is required due to default browser styles that cannot be overridden.

      .range.range-sm-center.offset-top-41
        .cell-sm-6
          .form-group
            .input-group.input-group-sm
              input.form-control(type='text', placeholder='Search for...')
              span.input-group-btn
                button.btn.btn-sm.btn-default(type='button') Go!

      // Button addons
      h3.offset-top-66 Multiple buttons
      p.inset-left-7p.inset-right-7p While you can only have one add-on per side, you can have multiple buttons inside a single #[code .input-group-btn]

      .range.range-sm-center.offset-top-41
        .cell-sm-6
          .form-group
            .input-group.input-group-sm
              span.input-group-btn
                  button.btn.btn-sm.btn-default(type='button')
                    span.glyphicon.glyphicon-bold
                  button.btn.btn-sm.btn-default(type='button')
                    span.glyphicon.glyphicon-italic
              input.form-control(type='text')







  // Page Footer
  include ../sections/_section-footer-default