extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.title,
  "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.pageHeader.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    // Page header
    section
      .shell
        h1 Page header
        hr.divider.bg-mantis

        .range.range-xs-center.offset-top-41
          .cell-md-8
            p A simple shell for an h1 to appropriately space out and segment sections of content on a page. It can utilize the
              code h1
              | 's default
              code small
              | element, as well as most other components (with additional styles).

            .page-header
              h1 Example page header #[small.text-gray.reveal-block.reveal-sm-inline-block.offset-top-10.offset-sm-top-0 Subtext for header]

  // Page Footers
  include ../sections/_section-footer-default