extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-pager-bootstrap
include ../elements/_ui-pagination-bootstrap

//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )
  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.title,
  "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.pagination.href
    }
  })
  // Page Content
  main.page-content.section-98.section-sm-124
    .shell
      .range.range-md-center
        .cell-md-8
          h1 Pagination
          p Provide pagination links for your site or app with the multi-page pagination component, or the simpler pager alternative.
          hr.divider.bg-mantis

          .offset-top-66
            h3 Default pagination
            p Simple pagination inspired by Rdio, great for apps and search results. The large block is hard to miss, easily scalable, and provides large click areas.

          .offset-top-41
            +pagination-bootstrap(null, null, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], {"href": "#"}, {"href": "#"})

          .offset-top-66
            h3 Disabled and active states
            p Links are customizable for different circumstances. Use #[code .disabled] for unclickable links and #[code .active] to indicate the current page.

          .offset-top-41
            +pagination-bootstrap(null, 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], null, {"href": "#"})

          .offset-top-66
            h3 Sizing
            p Fancy larger or smaller pagination? Add #[code .pagination-lg] or #[code .pagination-sm] for additional sizes.

          .offset-top-41
            +pagination-bootstrap("pagination-lg", 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], null, {"href": "#"})
          .offset-top-20
            +pagination-bootstrap(null, 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], null, {"href": "#"})
          .offset-top-20
            +pagination-bootstrap("pagination-sm", 1, [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}], null, {"href": "#"}) h1

    .shell.offset-top-110
      .range.range-md-center
        .cell-md-8
          h1 Pager
          p Quick previous and next links for simple pagination implementations with light markup and styles. It's great for simple sites like blogs or magazines.
          hr.divider.bg-mantis

          .offset-top-66
            h3 Default example
            p By default, the pager centers links.

          .offset-top-41
            +pager-bootstrap('pager',
            {"title": "Older", "href": "#", "icon": "mdi mdi-arrow-left"},
            {"title": "Newer", "href": "#", "icon": "mdi mdi-arrow-right"})

          .offset-top-66
            h3 Aligned links
            p Alternatively, you can align each link to the sides:

          .offset-top-41
            +pager-bootstrap('pager',
            {"title": "Older", "href": "#", "icon": "mdi mdi-arrow-left"},
            {"title": "Newer", "href": "#", "icon": "mdi mdi-arrow-right"}, true)


          .offset-top-66
            h3 Optional disabled state
            p Pager links also use the general #[code .disabled] utility class from the pagination.

          .offset-top-41
            +pager-bootstrap('pager', {"title": "Older", "icon": "mdi mdi-arrow-left"},
            {"title": "Newer", "href": "#", "icon": "mdi mdi-arrow-right"}, true)



  // Page Footer
  include ../sections/_section-footer-default
