extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_widget-form-search

//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.title,
  cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.href,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.navbar.href
    }
  })



  // Page Content
  main.page-content.section-98.section-sm-124
    // Dividers styles
    section
      .shell
        h1 Navbar
        hr.divider.divider-md.bg-mantis

        // Default Navbar
        h3.offset-top-66 Default navbar
        p.inset-left-7p.inset-right-7p Navbars are responsive meta components that serve as navigation headers for your application or site. They begin collapsed (and are toggleable) in mobile views and become horizontal as the available viewport width inc

        .section-code.offset-top-41
          nav.navbar.navbar-default
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  img(src="images/intense/logo-dark.png" alt="" width=138 height=31 style="width: 96px; height: auto; margin-top: -3px; margin-left: -11px;")
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#')
                      | Home
                      span.sr-only (current)
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Features
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider(role='separator')
                      li
                        a(href='#') Separated link
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Pages
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider(role='separator')
                      li
                        a(href='#') Separated link

                .navbar-right
                  ul.nav.navbar-nav
                    li
                      a(href='#') Cart
                        span.badge 3

                .navbar-right
                  +widget-form-search('form-control-impressed', 'form-label-sm', 'navbar-form-search', 'navbar-form')

        // Inverted Navbar
        h3.offset-top-66 Inverted navbar
        p.inset-left-7p.inset-right-7p Modify the look of the navbar by adding #[code .navbar-inverse].

        .section-code.offset-top-41
          nav.navbar.navbar-inverse
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-inverse', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  img(src="images/intense/logo-light.png" alt="" width=138 height=31 style="width: 96px; height: auto; margin-top: -3px; margin-left: -11px;")
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-inverse.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#')
                      | Home
                      span.sr-only (current)
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Features
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider(role='separator')
                      li
                        a(href='#') Separated link
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Pages
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider(role='separator')
                      li
                        a(href='#') Separated link

                .navbar-right
                  ul.nav.navbar-nav
                    li
                      a(href='#') Cart
                        span.badge 3

                .navbar-right
                  +widget-form-search('form-control-impressed', 'form-label-sm', 'navbar-inverse-form-search', 'navbar-form')

        // Brand image
        h3.offset-top-66 Brand image
        p.inset-left-7p.inset-right-7p Replace the navbar brand with your own image by swapping the text for an #[code &lt;img&gt;]. Since the #[code .navbar-brand] has its own padding and height, you may need to override some CSS depending on your image.

        .section-code.offset-top-41
          nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                a.navbar-brand(href='#')
                  img(src="images/intense/logo-dark.png" alt="" width=138 height=31 style="width: 96px; height: auto; margin-top: -3px; margin-left: -11px;")

        // Forms
        h3.offset-top-66 Forms
        p.inset-left-7p.inset-right-7p Place form content within .navbar-form for proper vertical alignment and collapsed behavior in narrow viewports. Use the alignment options to decide where it resides within the navbar content. Use the #[code .input-sm] variant of form element to prevent navbar crashing

        .section-code.offset-top-41
          nav.navbar.navbar-default
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  img(src="images/intense/logo-dark.png" alt="" width=138 height=31 style="width: 96px; height: auto; margin-top: -3px; margin-left: -11px;")

              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-2.collapse.navbar-collapse
                form.navbar-form.navbar-left(role='search')
                  .form-group
                    input.form-control.form-control-impressed.input-sm(type='text', placeholder='Search')
                  button.btn.btn-sm.btn-default(type='submit') Submit

        // Buttons
        h3.offset-top-66 Buttons
        p.inset-left-7p.inset-right-7p Add the #[code .navbar-btn] class to #[code &lt;button&gt;] elements not residing in a #[code &lt;form&gt;] to vertically center them in the navbar.

        .section-code.offset-top-41.text-left
          nav.navbar.navbar-default
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-3', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  img(src="images/intense/logo-dark.png" alt="" width=138 height=31 style="width: 96px; height: auto; margin-top: -3px; margin-left: -11px;")

              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-3.collapse.navbar-collapse
                button.btn.btn-default.btn-sm.navbar-btn(type='button') Sign in

        // Text / Non-nav links
        h3.offset-top-66 Text / Non-nav links
        p.inset-left-7p.inset-right-7p Wrap strings of text in an element with #[code .navbar-text], usually on a #[code &lt;p&gt;] tag for proper leading and color.

        .section-code.offset-top-41.text-left
          nav.navbar.navbar-default
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-4', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  img(src="images/intense/logo-dark.png" alt="" width=138 height=31 style="width: 96px; height: auto; margin-top: -3px; margin-left: -11px;")

              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-4.collapse.navbar-collapse
                p.navbar-text Signed in as #[a(href="#") Mark Otto]

  // Page Footers
  include ../sections/_section-footer-default