extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//-Title
block title
  title= cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )
  +breadcrumb-classic(
  cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.title,
  "icon-lg " + cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.title,
      "href": cfg.nav.components.submenu.bootstrapcomponents.submenu.badges.href
    }
  })
  // Page Content
  main.page-content.section-98.section-sm-124
    .shell
      h1 Badges
      p Easily highlight new or unread items by adding a #[code &lt;span class=&quot;badge&quot;&gt;] to links, Bootstrap navs, and more.
      hr.divider.bg-mantis
      .offset-top-66
        a(href='#') Inbox #[span.badge 42]
        br
        br
        button.btn.btn-primary(type='button') Messages #[span.badge 4]


      h3.offset-top-66 Adapts to active nav states
      p Built-in styles are included for placing badges in active states in pill navigations.
      .range.range-sm-center.offset-top-41
        .cell-sm-6
          ul.nav.nav-pills(role='tablist')
            li.active(role='presentation')
              a(href='#')
                | Home
                span.badge 42
            li(role='presentation')
              a(href='#') Profile
            li(role='presentation')
              a(href='#')
                | Messages
                span.badge 3
  // Page Footer
  include ../sections/_section-footer-default
