extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//-Title
block title
  title= cfg.nav.pages.submenu.careers.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.pages,
    cfg.nav
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.careers.title,
  cfg.nav.pages.submenu.careers.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.careers.title,
      "href": cfg.nav.pages.submenu.careers.href
    }
  })
  // Page Content
  main.page-content
    include ../sections/_section-join-our-team
    include ../sections/_section-reasons-to-get
    include ../sections/_section-career-start
  // Page Footer
  include ../sections/_section-footer-default