extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.pages.submenu.contactUsV2.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.pages,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.contactUsV2.title,
  cfg.nav.pages.submenu.contactUsV2.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.contactUsV2.title,
      "href": cfg.nav.pages.submenu.contactUsV2.href
    }
  })

  // Page Content
  main.page-content
    section.section-top-98.section-sm-top-110
      .shell
        h1 Contact Us
        hr.divider.bg-mantis
      include ../sections/_section-contact-us-type-1

  // Page Footers
  include ../sections/_section-footer-default