extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-rd-map

//-Title
block title
  title= cfg.nav.pages.submenu.contactUsV3.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.pages,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.contactUsV3.title,
  cfg.nav.pages.submenu.contactUsV3.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.contactUsV3.title,
      "href": cfg.nav.pages.submenu.contactUsV3.href
    }
  })

  // Page Content
  main.page-content


    // Page Footer
    include ../sections/_section-contact-info
    include ../sections/_section-get-in-touch-variant-2
    section
      +rd-map({
        "zoom": "14",
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "dataStyles": [{
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [{"color": "#444444"}]
        }, {
          "featureType": "administrative.locality",
          "elementType": "labels",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [{"color": "#f2f2f2"}, {"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [{"visibility": "simplified"}, {"saturation": "-65"}, {"lightness": "45"}, {"gamma": "1.78"}]
        }, {
          "featureType": "poi",
          "elementType": "labels",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "poi",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "road",
          "elementType": "all",
          "stylers": [{"saturation": -100}, {"lightness": 45}]
        }, {
          "featureType": "road",
          "elementType": "labels",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "road",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "road.highway",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "road.arterial",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [{"saturation": "-33"}, {"lightness": "22"}, {"gamma": "2.08"}]
        }, {
          "featureType": "transit.station.airport",
          "elementType": "geometry",
          "stylers": [{"gamma": "2.08"}, {"hue": "#ffa200"}]
        }, {
          "featureType": "transit.station.airport",
          "elementType": "labels",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "transit.station.rail",
          "elementType": "labels.text",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "transit.station.rail",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "simplified"}, {"saturation": "-55"}, {"lightness": "-2"}, {"gamma": "1.88"}, {"hue": "#ffab00"}]
        }, {
          "featureType": "water",
          "elementType": "all",
          "stylers": [{"color": "#bbd9e5"}, {"visibility": "simplified"}]
        }]
      },[{
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
      }])

  // Page Footer
  include ../sections/_section-footer-default
