extends ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//- Title
block title
  title= cfg.nav.features.submenu.footers.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.features,
    cfg.nav
    )
  // Page Header
  +breadcrumb-classic(
  cfg.nav.features.submenu.footers.title,
  cfg.nav.features.submenu.footers.submenu.variant3.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.features.title,
      "href": cfg.nav.features.href
    },
    2: {
      "title": cfg.nav.features.submenu.footers.title,
      "href": cfg.nav.features.submenu.footers.href
    },
    3: {
      "title": cfg.nav.features.submenu.footers.submenu.variant4.title,
      "href": cfg.nav.features.submenu.footers.submenu.variant4.href
    }
  })
  // Page Content
  main.page-content
    include ../sections/_section-welcome
    include ../sections/_section-buy-now-pink
  // Page Footer
  include ../sections/_section-footer-variant-4