extends  ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-classic
include  ../elements/_widget-form-subscribe

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.formElements.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.formElements.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.formElements.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.formElements.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.formElements.href
    }
  })

  // Page Content
  main.page-content.section-top-110.section-bottom-110

    //Section Input Styles
    section
      h1 Input Styles
      hr.divider.bg-mantis


      // RD Parallax
      div.rd-parallax.context-dark.offset-top-66
        .rd-parallax-layer(data-speed='0.2', data-type='media', data-url='images/backgrounds/background-18-1920x615.jpg')
        .rd-parallax-layer.section-66(data-speed='0', data-type='html')
          .shell
            .range.range-sm-center.text-left
              .cell-sm-7.cell-md-4
                .form-group
                  label.form-label.form-label-outside(for="input-styles-1") Placeholder
                  input#input-styles-1.form-control(type="text" data-constraints="@Required @Email")

      .shell.offset-top-66
        .range.range-sm-center.text-left
          .cell-sm-7.cell-md-4
            .form-group
              label.form-label.form-label-outside(for="input-styles-2") Placeholder
              input#input-styles-2.form-control(type="text" data-constraints="@Required @Email")

            .form-group.offset-top-20
              label.form-label.form-label-outside(for="input-styles-3") Placeholder
              input.form-control.form-control-impressed(id="input-styles-3" type="text" data-constraints="@Required @Email")

    // Section Input Shapes
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Shapes
        hr.divider.divider-sm.bg-mantis

        .range.range-sm-center.text-left
          .cell-sm-7.cell-md-4
            .form-group
              label.form-label.form-label-outside(for="input-shapes-1") Placeholder
              input#input-shapes-1.form-control.form-control-rect(type="text")
          .cell-sm-7.offset-top-20.cell-md-4.offset-md-top-0
            .form-group
              label.form-label.form-label-outside(for="input-shapes-2") Placeholder
              input#input-shapes-2.form-control(type="text")
          .cell-sm-7.offset-top-20.cell-md-4.offset-md-top-0
            .form-group
              label.form-label.form-label-outside(for="input-shapes-3") Placeholder
              input#input-shapes-3.form-control.form-control-ellipse(type="text")


    // Section Input Sizes
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Sizes
        hr.divider.divider-sm.bg-mantis

        .range.range-xs-center.range-xs-middle.text-left
          .cell-sm-7.cell-md-4
            .form-group
              label.form-label.form-label-lg.form-label-outside(for="input-sizes-1") Placeholder
              input#input-sizes-1.form-control.input-lg(type="text")
          .cell-sm-7.offset-top-20.cell-md-4.offset-md-top-0
            .form-group
              label.form-label.form-label-outside(for="input-sizes-2") Placeholder
              input#input-sizes-2.form-control(type="text")
          .cell-sm-7.offset-top-20.cell-md-4.offset-md-top-0
            .form-group
              label.form-label.form-label-sm.form-label-outside(for="input-sizes-3") Placeholder
              input#input-sizes-3.form-control.input-sm(type="text")

    // Section Input Groups
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Groups
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center.text-left
          .cell-sm-7.cell-md-4
            +widget-form-subscribe("Type your E-Mail", "components-form-subscribe-footer")

    // Section Input Labels
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Labels
        hr.divider.divider-sm.bg-mantis
        .range.range-md-bottom.range-sm-center.text-left
          .cell-sm-7.cell-md-4
            .form-group
              label.form-label.form-label-outside(for="input-labels-1") Placeholder
              input#input-labels-1.form-control(type="text")
          .cell-sm-7.offset-top-20.cell-md-4.offset-md-top-0
            .form-group
              label.form-label(for="input-labels-2") Placeholder
              input#input-labels-2.form-control(type="text")


    // Section Input Type Numbers
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Type Number
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center
          .cell-sm-7.cell-md-4
            .form-group
              input.form-control.form-control-impressed(type="number" data-zeros="true" value="5" min="1" max="20")

    // Section select
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Select
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center
          .cell-sm-7.cell-md-4
            .form-group
              select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
                optgroup(label="Category 1")
                  option Demo Item 1-1
                  option Demo Item 1-2
                  option Demo Item 1-2
                optgroup(label="Category 2")
                  option Demo Item 2-1
                  option Demo Item 2-2
                  option Demo Item 2-3

    // Section Input Checkbox and Radio
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Checkbox and Radio
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center
          .cell-sm-7.cell-md-4
            .form-group
              label.radio-inline
                input(name="input-group-radio", value="radio-1", type="radio")
                | Radio 1
              label.radio-inline
                input(name="input-group-radio", value="radio-2", type="radio")
                | Radio 2

            .form-group.offset-top-20
              label.checkbox-inline
                input(name="input-group-radio", value="checkbox-1", type="checkbox" class="checkbox-custom")
                | Checkbox 1
              label.checkbox-inline
                input(name="input-group-radio", value="checkbox-2", type="checkbox" class="checkbox-custom")
                | Checkbox 2

    // Section Toggles
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Toggles
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center
          .cell-sm-7.cell-md-4
            .form-group
              label.toggle-inline
                input.toggle-custom(name="input-group-toggle", value="toggle-1", type="checkbox", checked)
                | Toggle 1
              label.toggle-inline
                input.toggle-custom(name="input-group-toggle1", value="toggle-2", type="checkbox")
                | Toggle 2
    // Section Input type Date
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Type Date
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center
          .cell-sm-7.cell-md-4.text-left
            .form-group
              label.form-label.form-label-outside(for="rd-mailform-date") Date:
              input#rd-mailform-date.form-control(type="text" name="date" data-time-picker="date")

    // Section Input type time
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Type Time
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center
          .cell-sm-7.cell-md-4.text-left
            .form-group
              label.form-label.form-label-outside(for="rd-mailform-time") Time:
              input#rd-mailform-time.form-control(type="text" name="time" data-time-picker="time")

    // Section Input Group Multiple
    section.offset-top-98.offset-sm-top-110
      .shell
        h1 Input Group Multiple
        hr.divider.divider-sm.bg-mantis
        .range.range-sm-center
          .cell-sm-7.cell-md-4.text-left
            .form-group-multiple
              .form-group
                label.form-label.form-label-outside(for="form-filter-price-from")
                  span.veil.reveal-sm-block Price (USD):
                  span.veil-sm Price from (USD):
                input#form-filter-price-from.form-control.bg-white(type="text" name="price-from" data-constraints="@Required @IsNumeric")
              .form-group
                label.form-label.form-label-outside(for="form-filter-price-to")  &nbsp;
                  span.veil-sm Price to (USD):
                input#form-filter-price-to.form-control.bg-white(type="text" name="price-to" data-constraints="@Required @IsNumeric")


  //Page Footer
  include ../sections/_section-footer-default

