extends  ../_skeleton
//- Includes
include ../elements/_ui-rd-navbar-sidebar-fixed
block title
  title Intense - multi-page template by TemplateMonster
block page
  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-sidebar-fixed(
    'rd-navbar-dark',
    {
      "data-auto-height": "true",
      "data-lg-stick-up": 'false',
      "data-lg-hover-on": "false",
      "data-body-class": "body-inset-left"
    },
    cfg.brand.logoInverse,
    cfg.nav.features,
    cfg.nav
    )
  include ../sections/_section-swiper-2
  // Page Content
  main.page-content
    include ../sections/_section-welcome
    include ../sections/_section-buy-now
  // Page Footer
  include ../sections/_section-footer-default