extends  ../_skeleton

include ../elements/_ui-rd-navbar-default-transparent

block title
  title Intense - multi-page template by TemplateMonster

block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.features,
    cfg.nav
    )
    include ../sections/_section-swiper-2

  // Page Contents
  main.page-content
    include ../sections/_section-welcome
    include ../sections/_section-buy-now

  // Page Footer
  include ../sections/_section-footer-default