extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-default-transparent
include ../elements/_ui-page-loader-variant-1

//-Title
block title
  title Intense - the best HTML theme at Templatemonster.com

//- Page
block page

  +page-loader-1(cfg.brand.logoBig)

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.home,
    cfg.nav
    )
    include ../sections/_section-intro-swiper

  // Page Contents
  main.page-content

    include ../sections/_section-home-intro-our-work
    .shell-fluid
      hr.hr.bg-gray-lighter
    include ../sections/_section-home-intro-skills
    include ../sections/_section-buy-now
    include ../sections/_section-home-intro-offers
    include ../sections/_section-home-intro-layout-sand-demos
    include ../sections/_section-home-intro-responsive-and-retina
    include ../sections/_section-home-intro-header-and-footer-variations
    include ../sections/_section-home-intro-portfolio-templates
    include ../sections/_section-home-intro-blog-templates
    include ../sections/_section-home-intro-shop-templates
    include ../sections/_section-home-intro-event-managing
    include ../sections/_section-home-intro-search-engine
    include ../sections/_section-home-intro-included-images
    include ../sections/_section-home-intro-included-psd
    include ../sections/_section-home-intro-support
    include ../sections/_section-home-intro-buy-now-variant-2

  include ../sections/_section-footer-home-intro