- var fonts = "//fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,700,700italic"
- var html_class = "wide wow-animation smoothscroll scrollTo"

//- Includes
include ../_config
include ../_mixins
include ../mixins/_gallery-photoswipe
include ../elements/_ui-page-loader-variant-1
include ../elements/_ui-rd-navbar-default-transparent
include ../elements/_widget-twitter
include ../elements/_widget-form-contact
include ../elements/_widget-list-social
include ../elements/_widget-form-subscribe
include  ../elements/_ui-box-icon-type-4
include  ../elements/_ui-thumbnail-terry
include ../elements/_ui-media-elements
include ../elements/_ui-box-member
include ../elements/_ui-counter-type-1
include ../elements/_ui-rd-parallax
include ../elements/_ui-isotope
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-testimonials-slider-3
include ../elements/_widget-flickrfeed

doctype html
html(lang="en" class="#{html_class}")
  head
    // Site Title
    title= cfg.nav.home.submenu.skins.submenu.redEnergy.title

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    block search-meta
      meta(name="keywords" content="intense web design multipurpose template")
      meta(name="date" content="Dec 26")

    link(rel="icon" href="images/favicon.ico" type="image/x-icon")
    // Stylesheets
    link(rel="stylesheet" type="text/css" href="#{fonts}")
    link(rel="stylesheet" href="intense-gym/css/style.css")
    = "\n\t\t"
    <!--[if lt IE 10]>
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href="http://windows.microsoft.com/en-US/internet-explorer/")
        img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
    script(src="js/html5shiv.min.js")
    = "\n\t\t"
    <![endif]-->
  body
    // Page
    div(class="page text-center")
      +page-loader-1("<img class='img-responsive' style='margin-top: -20px;margin-left: -18px;' width='330' height='67' src='images/childs/green-space-logo-big-330x67.png' alt=''/>")
      // Page Head
      header.page-head.slider-menu-position
        //- RD Navbar
        +rd-navbar-default(
        'rd-navbar-default rd-navbar-transparent',
        {
          "data-lg-auto-height": "true",
          "data-md-layout": 'rd-navbar-fixed',
          "data-lg-layout": 'rd-navbar-static',
          "data-lg-stick-up": 'true'
        },
        "<img class='img-responsive' width='238' height='30' src='images/skins/skin-red-energy-logo-238x30.png' alt=''/>",
        cfg.nav.home,
        cfg.nav
        )

        // Welcome to Intense
        section
          .bg-gray-base.context-dark.rd-parallax(data-on="false" data-md-on="true")
            .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/backgrounds/background-43-1920x1024.jpg")
            .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
              .shell
                .range
                  .range.range-xs-middle.range-xs-center.section-cover.section-top-124.section-bottom-98.section-sm-top-110.section-sm-bottom-110.context-dark
                    .range.range-xs-center
                      .cell-lg-12
                        .text-extra-big.text-bold.text-italic.text-uppercase(data-caption-animate="fadeInUp" data-caption-delay="300") WELCOME TO INTENSE
                      .cell-lg-9.offset-top-20
                        h5.hidden.reveal-xs-block.text-light(data-caption-animate="fadeInUp" data-caption-delay="500")
                          | The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.
                          | Create exactly what you need with our powerful bootstrap toolkit.

                        .group.group-xl.offset-top-41.offset-sm-top-30
                          a(href= cfg.buyLink).btn.btn-danger buy intense now
                          a(href="#" data-waypoint-to="#welcome").btn.btn-default start a journey

      // Page Contents
      main.page-content
        // Welcome
        section.section-98.section-sm-110#welcome
          .shell
            h1 Intense is the most powerful Bootstrap theme on Template Monster
            hr.divider.bg-red
            .range.range-xs-center
              .cell-sm-9.cell-lg-8
                p Join the 205,000+ Satified Customers Today at TemplateMonster.com. Created by the industry leaders Intense is a comprehensive set of tools which are super easy to pick up and run. It gives you a huge leg up to create your own beautiful site.

            .range.offset-top-50.offset-top-66
              .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0
                +box-icon-type-4("icon-dark-filled icon-outlined mdi mdi-cube-outline")
                  h4.offset-top-30.text-bold.text-danger Extended Toolkit
                  p.
                    Intense provides a poweful and flexible exntended toolkit in addition to basic Bootsrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.

              .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-50.offset-md-top-0
                +box-icon-type-4("icon-dark-filled icon-outlined mdi mdi-palette")
                  h4.offset-top-30.text-bold.text-danger Unlimited Skins & Colors
                  p.
                    Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts.

              .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-50.offset-md-top-0
                +box-icon-type-4("icon-dark-filled icon-outlined mdi mdi-vector-arrange-below")
                  h4.offset-top-30.text-bold.text-danger Parallax Effects
                  p.
                    Everyone loves parallax scrolling effects, they are simply beautiful. Intense has advanced parallax options & controls based on flexible and easy-to-use RD Parallax plugin.

              .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-50.offset-md-top-66
                +box-icon-type-4("icon-dark-filled icon-outlined mdi mdi-share-variant")
                  h4.offset-top-30.text-bold.text-danger Social Integration
                  p.
                    Intense has full set of social icons and styling options which allow you to share any content the way you wish.

              .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-50.offset-md-top-66
                +box-icon-type-4("icon-dark-filled icon-outlined mdi mdi-spellcheck")
                  h4.offset-top-30.text-bold.text-danger Made For Speed
                  p.
                    We know how embarassing and time-consuming can be content loading, so we took care of pages optimization for your smooth expirience.

              .cell-sm-8.cell-sm-preffix-2.cell-md-4.cell-md-preffix-0.offset-top-50.offset-md-top-66
                +box-icon-type-4("icon-dark-filled icon-outlined mdi mdi-magnify")
                  h4.offset-top-30.text-bold.text-danger SEO Optimized
                  p.
                    Intense was built with care allowing search engines to index the pages of your site correctly to achieve higher rankings in search results.

        // Offers
        section
          .owl-carousel.owl-carousel-default.veil-xl-owl-dots.veil-owl-nav.reveal-xl-owl-nav(data-items="1" data-md-items="3" data-lg-items="4" data-nav="true" data-dots="true" data-nav-class='["owl-prev mdi mdi-chevron-left", "owl-next mdi mdi-chevron-right"]')
            div
              .range.range-xs-center
                .cell-xs-8.cell-sm-6.cell-md-12
                  +thumbnail-terry({
                    "type": "thumbnail",
                    "figcaption": true,
                    "titleStyle": "text-uppercase text-italic",
                    "title": "Infrastructure Themes",
                    "description": null,
                    "thumb": {
                      "src": "images/skins/skin-red-energy-infrastructure-480x480.jpg",
                      "width": 480,
                      "height": 480,
                      "alt": ""
                    },
                    "target": {"href": "#",},
                    "btnClass": "btn-danger",
                    "btnLink": "#",
                    "btnWaypointTo": "#isotope",
                    "btnText": "view all themes"
                  })
            div
              .range.range-xs-center
                .cell-xs-8.cell-sm-6.cell-md-12
                  +thumbnail-terry({
                    "type": "thumbnail",
                    "figcaption": true,
                    "titleStyle": "text-uppercase text-italic",
                    "title": "Blog Themes",
                    "description": null,
                    "thumb": {
                      "src": "images/skins/skin-red-energy-blog-themes-480x480.jpg",
                      "width": 480,
                      "height": 480,
                      "alt": ""
                    },
                    "target": {"href": "#isotope"},
                    "btnClass": "btn-danger",
                    "btnLink": "#",
                    "btnWaypointTo": "#isotope",
                    "btnText": "view all themes"
                  })
            div
              .range.range-xs-center
                .cell-xs-8.cell-sm-6.cell-md-12
                  +thumbnail-terry({
                    "type": "thumbnail",
                    "figcaption": true,
                    "titleStyle": "text-uppercase text-italic",
                    "title": "Portfolio Themes",
                    "description": null,
                    "thumb": {
                      "src": "images/skins/skin-red-energy-portfolio-themes-480x480.jpg",
                      "width": 480,
                      "height": 480,
                      "alt": ""
                    },
                    "target": {"href": "#isotope"},
                    "btnClass": "btn-danger",
                    "btnLink": "#",
                    "btnWaypointTo": "#isotope",
                    "btnText": "view all themes"
                  })
            div
              .range.range-xs-center
                .cell-xs-8.cell-sm-6.cell-md-12
                  +thumbnail-terry({
                    "type": "thumbnail",
                    "figcaption": true,
                    "titleStyle": "text-uppercase text-italic",
                    "title": "Business Themes",
                    "description": null,
                    "thumb": {
                      "src": "images/skins/skin-red-energy-business-themes-480x480.jpg",
                      "width": 480,
                      "height": 480,
                      "alt": ""
                    },
                    "target": {"href": "#isotope"},
                    "btnClass": "btn-danger",
                    "btnLink": "#",
                    "btnWaypointTo": "#isotope",
                    "btnText": "view all themes"
                  })
            div
              .range.range-xs-center
                .cell-xs-8.cell-sm-6.cell-md-12
                  +thumbnail-terry({
                    "type": "thumbnail",
                    "figcaption": true,
                    "titleStyle": "text-uppercase text-italic",
                    "title": "Creative Themes",
                    "description": null,
                    "thumb": {
                      "src": "images/skins/skin-red-energy-creative-themes-480x480.jpg",
                      "width": 480,
                      "height": 480,
                      "alt": ""
                    },
                    "target": {"href": "#isotope"},
                    "btnClass": "btn-danger",
                    "btnLink": "#",
                    "btnWaypointTo": "#isotope",
                    "btnText": "view all themes"
                  })

          // About
          section.section-98.section-md-110
            .shell
              .range.text-lg-left
                .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-push-6
                  .shadow-drop-xl
                    +media-elements({
                      "type": "rd-video-player",
                      "ratio": "16by9",
                      "href": "video/intense/intense",
                      "title": "What can we say about Intense ?",
                      "preview": "video/intense/intense-preview.jpg",
                      "classes": "play-on-scroll",
                      "muted": "true",
                      "preload": "false"
                    })
                .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-pull-6.offset-top-30.offset-lg-top-0
                  .inset-lg-right-20
                    h1 About
                    hr.divider.hr-lg-left-0.bg-red
                    p TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from. Since coming up in May 2002, we've gone partners with Magento, Drupal, WordPress, PrestaShop, Joomla, WooCommerce, and many more. 1 million clients were served during this time. Web templates + installation + hosting + customization + Search Engine Optimization + copywriting — all these services you can always get at TemplateMonster.com. If you're thirsty for knowledge, TemplateMonster blog provides you with the most recent web design news, infographics, freebies, discounts & promos.

          // Coaches
          section.section-98.section-sm-110.bg-lilac
            .shell
              h1 Coaches
              hr.divider.bg-danger
              .range.range-xs-center.offset-sm-top-66
                .cell-sm-10.cell-lg-12
                  .range
                    .cell-sm-6.cell-lg-3.offset-top-66.offset-xs-top-0
                      +box-member("images/users/user-ryan-jackson-270x270.jpg", "Ryan Jackson", "Founder", "text-danger", cfg.nav.pages.submenu.teamMember.href)
                        +widget-list-social([
                          {
                            "icon": "fa fa-facebook",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-twitter",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-google-plus",
                            "href": "#"
                          }
                        ], "icon-xs icon-circle icon-darkest-filled", "list-inline-xs")

                    .cell-sm-6.cell-lg-3.offset-top-66.offset-sm-top-0.offset-lg-top-0
                      +box-member("images/users/user-emily-perkins-270x270.jpg", "Emily Perkins", "Manager", "text-danger", cfg.nav.pages.submenu.teamMember.href)
                        +widget-list-social([
                          {
                            "icon": "fa fa-facebook",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-twitter",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-google-plus",
                            "href": "#"
                          }
                        ], "icon-xs icon-circle icon-darkest-filled", "list-inline-xs")

                    .cell-sm-6.cell-lg-3.offset-top-66.offset-lg-top-0
                      +box-member("images/users/user-samantha-ruiz-270x270.jpg", "Samantha Ruiz", "Designer", "text-danger", cfg.nav.pages.submenu.teamMember.href)
                        +widget-list-social([
                          {
                            "icon": "fa fa-facebook",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-twitter",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-google-plus",
                            "href": "#"
                          }
                        ], "icon-xs icon-circle icon-darkest-filled", "list-inline-xs")

                    .cell-sm-6.cell-lg-3.offset-top-66.offset-lg-top-0
                      +box-member("images/users/user-ronald-oswald-270x270.jpg", "Austin Ortiz", "Developer", "text-danger", cfg.nav.pages.submenu.teamMember.href)
                        +widget-list-social([
                          {
                            "icon": "fa fa-facebook",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-twitter",
                            "href": "#"
                          },
                          {
                            "icon": "fa fa-google-plus",
                            "href": "#"
                          }
                        ], "icon-xs icon-circle icon-darkest-filled", "list-inline-xs")

                  a.offset-top-50.btn.btn-danger(href=cfg.nav.pages.submenu.ourTeam.href) view all team

          // Skills
          section
            +rd-parallax({
              "backgroundSpeed": "0.35",
              "attrType": "media",
              "src": "images/backgrounds/background-44-1920x1024.jpg",
              "htmlSpeed": "0"
            })
              .shell-fluid.section-98.section-md-110
                .range
                  .cell-sm-8.cell-sm-preffix-2.cell-md-12.cell-md-preffix-0
                    .range
                      .cell-sm-6.cell-md-3.cell-md-preffix-0
                        +counter-type-1("Templates", "text-bold text-carrot", {
                          "dataTo": "58249",
                          "dataSpeed": "3000",
                          "attr": "text-uppercase text-bold text-white text-spacing-60 offset-top-20"
                        }, "divider bg-danger", "h1")
                      .cell-sm-6.cell-md-3.offset-top-66.offset-sm-top-0
                        +counter-type-1("Happy Clients", "text-bold text-carrot", {
                          "dataTo": "246",
                          "dataSpeed": "2500",
                          "preffix": "K",
                          "attr": "text-uppercase text-bold text-white text-spacing-60 offset-top-20"
                        }, "divider bg-danger", "h1")
                      .cell-sm-6.cell-md-3.offset-top-66.offset-md-top-0
                        +counter-type-1("Hours of Coding", "text-bold text-carrot", {
                          "dataTo": "1200",
                          "dataSpeed": "1500",
                          "attr": "text-uppercase text-bold text-white text-spacing-60 offset-top-20"
                        }, "divider bg-danger", "h1")
                      .cell-sm-6.cell-md-3.offset-top-66.offset-md-top-0
                        +counter-type-1("Lines of Code", "text-bold text-carrot", {
                          "dataTo": "834",
                          "dataSpeed": "1300",
                          "preffix": "K",
                          "attr": "text-uppercase text-bold text-white text-spacing-60 offset-top-20"
                        }, "divider bg-danger", "h1")

          // Child Themes
          section.section-98.section-md-110#isotope
            .shell-wide
              h1 Child Themes
              hr.divider.bg-red
              p.offset-top-50.offset-lg-top-66 Check out other themes based on INTENSE
              .offset-top-41
                +isotope(['All', 'Infrastructure', 'Portfolio', 'Blog', 'Agency', 'Creative'],{
                  "group": "gallery",
                  "layout": "fitRows",
                  "alignClass": "isotope-filters-horizontal"
                }, "isotope-1")
                  // Isotope
                  .row
                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.restaurant.title,
                          "description": cfg.themes.restaurant.desc,
                          "thumb": cfg.themes.restaurant.image,
                          "target": {"href": cfg.themes.restaurant.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Portfolio')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.photographer.title,
                          "description": cfg.themes.photographer.desc,
                          "thumb": cfg.themes.photographer.image,
                          "target": {"href": cfg.themes.photographer.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Blog')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.personalBlog.title,
                          "description": cfg.themes.personalBlog.desc,
                          "thumb": cfg.themes.personalBlog.image,
                          "target": {"href": cfg.themes.personalBlog.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.realEstate.title,
                          "description": cfg.themes.realEstate.desc,
                          "thumb": cfg.themes.realEstate.image,
                          "target": {"href": cfg.themes.realEstate.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Creative')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.handmade.title,
                          "description": cfg.themes.handmade.desc,
                          "thumb": cfg.themes.handmade.image,
                          "target": {"href": cfg.themes.handmade.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.dentalClinic.title,
                          "description": cfg.themes.dentalClinic.desc,
                          "thumb": cfg.themes.dentalClinic.image,
                          "target": {"href": cfg.themes.dentalClinic.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.financialAdvisor.title,
                          "description": cfg.themes.financialAdvisor.desc,
                          "thumb": cfg.themes.financialAdvisor.image,
                          "target": {"href": cfg.themes.financialAdvisor.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.gym.title,
                          "description": cfg.themes.gym.desc,
                          "thumb": cfg.themes.gym.image,
                          "target": {"href": cfg.themes.gym.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.childCare.title,
                          "description": cfg.themes.childCare.desc,
                          "thumb": cfg.themes.childCare.image,
                          "target": {"href": cfg.themes.childCare.href},
                          "targetBlank": true
                        })

                    .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                      .shadow-variant-2
                        +thumbnail-classic({
                          "type": "thumbnail",
                          "title": cfg.themes.jobBoard.title,
                          "description": cfg.themes.jobBoard.desc,
                          "thumb": cfg.themes.jobBoard.image,
                          "target": {"href": cfg.themes.jobBoard.href},
                          "targetBlank": true
                        })

          // Testimonials
          section.bg-gray-base
            +rd-parallax({
              "backgroundSpeed": "0.35",
              "attrType": "media",
              "src": "images/backgrounds/background-30-1920x1078.jpg",
              "htmlSpeed": "0"
            })
              .bg-overlay-gray-darkest.context-dark
                .shell.section-98.section-sm-110
                  h1 Testimonials
                  hr.divider.bg-white
                  .range.range-xs-center
                    .cell-sm-8
                      +testimonials-slider-3([{
                        "image": {
                          "width": 80,
                          "height": 80,
                          "src": "images/users/user-alisa-milano-80x80.jpg",
                          "alt": "Alisa Milano"
                        },
                        "title": "Alisa Milano",
                        "desc": "Designer at Viper Ltd.",
                        "q": "I came here to acquire the shape of my body I had half a year ago. I was quite surprised with a range of services they offered me.Moreover, you can benefit from their group training."
                      },
                        {
                          "image": {
                            "width": 80,
                            "height": 80,
                            "src": "images/users/user-july-mao-80x80.jpg",
                            "alt": "July Mao"
                          },
                          "title": "July Mao",
                          "desc": "Designer at Viper Ltd.",
                          "q": "I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!"
                        }])

      // Page Footer
      footer.section-relative.section-top-66.section-bottom-34.page-footer.bg-gray-base.context-dark
        .shell
          .range.range-sm-center.text-lg-left
            .cell-sm-12
              .range.range-xs-center

                .cell-xs-10.cell-sm-3.text-left.cell-sm-push-4.cell-sm-10.cell-lg-3.offset-sm-top-50.offset-lg-top-0.cell-lg-push-2
                  // Twitter Feed
                  h6.text-uppercase.text-spacing-60.text-center.text-lg-left Twitter Feed
                  .offset-top-20
                    +widget-twitter({
                      "dataTwitterUsername": "templatemonster"
                    }, true)

                .cell-xs-10.cell-sm-3.offset-top-66.cell-sm-push-3.cell-sm-10.cell-lg-2.offset-lg-top-0.cell-lg-push-3
                  // Flickr Feed
                  h6.text-uppercase.text-spacing-60 Instagram
                  .offset-top-24
                    +widget-flickrfeed("tm58888_landscapes", {"data-image_q": "src"}, 4)
                .cell-xs-10.cell-sm-3.offset-top-66.cell-sm-push-2.offset-sm-top-0.cell-sm-6.cell-lg-4.cell-lg-push-4
                  .inset-lg-left-20
                    h6.text-uppercase.text-spacing-60 Newsletter
                    p.offset-top-20.text-left.
                      Keep up with our always upcoming  product
                      features and technologies. Enter your e-mail and
                      subscribe to our newsletter.
                    .offset-top-30
                      +widget-form-subscribe("Type your E-Mail", "form-subscribe-footer")

                .cell-xs-10.cell-sm-3.offset-top-66.cell-sm-push-1.offset-sm-top-0.cell-sm-6.cell-lg-3.cell-lg-push-1
                  // Footer brand
                  .footer-brand
                    a(href="../index.html")
                      img.img-responsive.reveal-inline-block(src='images/skins/skin-red-energy-logo-238x30.png' width='238' height='30' alt='')
                  .offset-top-50.text-xs-center.text-lg-left
                    +widget-list-social([
                      {
                        "icon": "fa fa-facebook",
                        "href": "#"
                      },
                      {
                        "icon": "fa fa-twitter",
                        "href": "#"
                      },
                      {
                        "icon": "fa fa-google-plus",
                        "href": "#"
                      },
                      {
                        "icon": "fa fa-linkedin",
                        "href": "#"
                      }
                    ])
                  p.text-darker.offset-top-20
                    | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
                    // {%FOOTER_LINK}
    // Global Mailform Output
    #form-output-global.snackbars
    +gallery-photoswipe()
    // Java script
    script(src="js/core.min.js")
    script(src="js/script.js")