- var fonts = "//fonts.googleapis.com/css?family=Dancing+Script:700%7CLato:300,300italic,400,700,900"
- var html_class = "wide wow-animation smoothscroll scrollTo"

//- Includes
include ../_config
include ../_mixins
include ../mixins/_gallery-photoswipe
include ../elements/_ui-page-loader-variant-1
include ../elements/_ui-rd-navbar-logo-center
include ../elements/_ui-box-icon-type-4
include ../elements/_ui-rd-parallax
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-isotope
include ../elements/_ui-testimonials-type-3

doctype html
html(lang="en" class="#{html_class}")
  head
    // Site Title
    title= cfg.nav.home.submenu.skins.submenu.renaissance.title

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    block search-meta
      meta(name="keywords" content="intense web design multipurpose template")
      meta(name="date" content="Dec 26")

    link(rel="icon" href="images/favicon.ico" type="image/x-icon")
    // Stylesheets
    link(rel="stylesheet" type="text/css" href="#{fonts}")
    link(rel="stylesheet" href="intense-handmade/css/style.css")
    = "\n\t\t"
    <!--[if lt IE 10]>
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href="http://windows.microsoft.com/en-US/internet-explorer/")
        img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
    script(src="js/html5shiv.min.js")
    = "\n\t\t"
    <![endif]-->
  body
    // Page
    div(class="page text-center")
      +page-loader-1("<img class='img-responsive' style='margin-top: -20px;margin-left: -18px;' width='330' height='67' src='images/childs/handmade-logo-big.png' alt=''/>")
      // Page Head
      header.page-head
        //- RD Navbar
        +rd-navbar-logo-center(
        'rd-navbar-light',
        {
          "data-lg-auto-height": "true",
          "data-md-layout": 'rd-navbar-fixed',
          "data-lg-layout": 'rd-navbar-static',
          "data-lg-stick-up": 'true'
        },
        "<img style='margin-top: -5px;margin-left: -15px;' width='210' height='36' src='images/childs/handmade-logo-dark.png' alt=''/>",
        cfg.nav.home,
        cfg.nav
        )

      // Page Contents
      main.page-content
        // Welcome to Intense
        section.rd-parallax(data-on="false" data-md-on="true")
          .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/backgrounds/background-34-1920x1100.jpg")
          .rd-parallax-layer(data-speed="0.3", data-type='html' data-md-fade="true")
            .bg-overlay-gray-darkest
              .shell.context-dark
                .range
                  .range.range-xs-center.range-xs-middle.section-cover.section-110
                    .cell-xs-12.cell-lg-11
                      .text-extra-big.font-accent Welcome to Intense
                      h5.offset-top-20.text-regular.offset-top-0.inset-md-left-80.inset-md-right-80.veil.reveal-sm-block The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our powerful bootstrap toolkit.

                      .range.range-xs-center.offset-top-66
                        .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-3.text-sm-right.inset-sm-left-50
                          a.btn.btn-block.btn-ellipse.btn-primary(href=cfg.buyLink) buy intense now
                        .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-3.text-sm-left.inset-sm-right-50.offset-top-20.offset-sm-top-0
                          a.btn.btn-block.btn-ellipse.btn-default.btn-anis-effect(href='#' data-waypoint-to="#about") start to journey

        // Welcome to Intense. Multipurpose Theme
        section.section-top-98.section-sm-top-110#about
          .shell
            div
              h1.text-between Welcome to Intense. Multipurpose Theme
            .range.range-xs-center
              .cell-lg-8
                p Join the 205,000+ Satified Customers Today at TemplateMonster.com. Created by the industry leaders Intense is a comprehensive set of tools which are super easy to pick up and run. It gives you a huge leg up to create your own beautiful site. Powerful options & tools, unlimited designs, responsive framework and amazing support are the reasons for our customers to fall in love.

          // Mock Up
          .offset-top-66(style="overflow: hidden;")
            .mock-up-wrapper.veil.reveal-sm-inline-block
              .mock-up-desktop-wrapper.wow.fadeInUpBig(data-wow-duration="1s" data-wow-delay="0s")
                img(src="images/moqups/moqup-home-desktop.png" width="615" height="508" alt="").mock-up-desktop.img-responsive
              .mock-up-circle.veil.reveal-md-block.wow.zoomIn(data-wow-delay="1.6s")
                img(src="images/moqups/moqup-home-ellipse.png" width="309" height="315" alt="")
              .mock-up-mobile-wrapper.wow.fadeInUp(data-wow-delay="0.9s")
                img(src="images/moqups/moqup-home-mobile.png" width="247" height="470" alt="").mock-up-mobile

        // Take Full Control of Your Site
        section.context-dark
          +rd-parallax({
            "backgroundSpeed": "0.35",
            "attrType": "media",
            "src": "images/backgrounds/renaissance-35-1920x1250.jpg",
            "htmlSpeed": "0"
          })
            div(style="background: rgba(0, 0, 0, 0.63);")
              .shell.section-top-124.section-bottom-110
                div
                  h1.text-between Take Full Control of Your Site
                .range.range-xs-center
                  .cell-lg-8
                    p Check out an incredible set of features provided by Intense. We collected all common required features in one theme. That makes Intense one of the most awesome themes on the market. Intense allows you to take control of almost every element and section of the site.
                .range.range-xs-center.offset-top-66
                  .cell-xs-10.cell-sm-11.cell-lg-12
                    .range.range-xs-center
                      .cell-sm-6.cell-lg-4
                        +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-cube-outline")
                          h4.text-uppercase.offset-top-30.text-bold EXTENDED TOOLKIT
                          p.inset-left-7p.inset-right-7p.
                            Intense provides a poweful and flexible exntended toolkit in addition to basic Bootsrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.
                      .cell-sm-6.cell-lg-4.offset-top-66.offset-sm-top-0
                        +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-format-bold")
                          h4.text-uppercase.offset-top-30.text-bold UNLIMITED SKINS & COLORS
                          p.inset-left-7p.inset-right-7p.
                            Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts.
                      .cell-sm-6.cell-lg-4.offset-top-66.offset-lg-top-0
                        +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-palette")
                          h4.text-uppercase.offset-top-30.text-bold PARALLAX EFFECTS
                          p.inset-left-7p.inset-right-7p.
                            Everyone loves parallax scrolling effects, they are simply beautiful. Intense has advanced parallax options & controls based on flexible and easy-to-use RD Parallax plugin."
                      .cell-sm-6.cell-lg-4.offset-top-66
                        +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-vector-arrange-below")
                          h4.text-uppercase.offset-top-30.text-bold SOCIAL INTEGRATION
                          p.inset-left-7p.inset-right-7p.
                            Intense has full set of social icons and styling options which allow you to share any content the way you wish.
                      .cell-sm-6.cell-lg-4.offset-top-66
                        +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-share-variant")
                          h4.text-uppercase.offset-top-30.text-bold MADE FOR SPEED
                          p.inset-left-7p.inset-right-7p.
                            We know how embarassing and time-consuming can be content loading, so we took care of pages optimization for your smooth expirience.
                      .cell-sm-6.cell-lg-4.offset-top-66
                        +box-icon-type-4("icon-outlined icon-red-filled mdi mdi-spellcheck")
                          h4.text-uppercase.offset-top-30.text-bold SEO OPTIMIZED
                          p.inset-left-7p.inset-right-7p.
                            Intense was built with care allowing search engines to index the pages of your site correctly to achieve higher rankings in search results.

        // Intense Is Exactly What You Need
        section.section-98.context-dark.bg-red
          .shell
            div
              h1.text-between Intense Is Exactly What You Need
            .range.range-xs-center
              .cell-xs-7.cell-sm-4.cell-md-4.cell-lg-3.text-sm-right
                .inset-sm-left-20.inset-sm-right-20
                  a.btn.btn-block.btn-ellipse.btn-default.btn-anis-effect(href=cfg.buyLink) buy intense now

        // About US
        section.section-98.section-md-110
          .shell
            h1.text-between About Us
            .range.range-xs-top.text-lg-left.offset-top-30
              .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-push-6
                .shadow-drop-xl
                  // Media Elements
                  // RD Video
                  .rd-video-player.play-on-scroll.muted.played.state-playing(data-rd-video-path='video/intense/intense', data-rd-video-title='What can we say about Intense ?', data-rd-video-muted='true', data-rd-video-preview='video/intense/intense-preview.jpg', data-rd-video-preload='false')
                    .rd-video-wrap.embed-responsive-16by9
                      .rd-video-preloader
                      video(preload='metadata')
                        source(type='video/mp4', src='video/intense/intense.mp4')
                      .rd-video-preview(style='background-image: url("video/intense/intense-preview.jpg");')
                      .rd-video-top-controls
                        // Title
                        span.rd-video-title What can we say about Intense ?
                        a.rd-video-fullscreen.mdi.mdi-fullscreen.rd-video-icon(href='#')
                      .rd-video-controls
                        .rd-video-controls-buttons
                          // Play\Pause button
                          a.rd-video-play-pause.mdi.mdi-play(href='#')
                          // Progress bar
                        .rd-video-progress-bar
                        .rd-video-time
                          span.rd-video-current-time 00:29
                          span.rd-video-time-divider :
                          span.rd-video-duration 01:10
                        .rd-video-volume-wrap
                          // Volume button
                          a.rd-video-volume.mdi.mdi-volume-high.rd-video-icon(href='#')
                          .rd-video-volume-bar-wrap
                            // Volume bar
                            .rd-video-volume-bar.rd-video-volume-bar-vertical
                              .current(style='width: 100%; height: 0px;')
              .cell-sm-preffix-2.cell-sm-8.cell-lg-preffix-0.cell-lg-6.cell-lg-pull-6.offset-top-30.offset-lg-top-0
                .inset-lg-right-50
                  p TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from. Since coming up in May 2002, we've gone partners with Magento, Drupal, WordPress, PrestaShop, Joomla, WooCommerce, and many more. 1 million clients were served during this time. Web templates + installation + hosting + customization + Search Engine Optimization + copywriting — all these services you can always get at TemplateMonster.com. If you're thirsty for knowledge, TemplateMonster blog provides you with the most recent web design news, infographics, freebies, discounts & promos.
                .range.range-xs-center.range-lg-left.offset-top-30
                  .cell-xs-7.cell-sm-5.text-sm-right
                    .inset-lg-right-20
                      a.btn.btn-block.btn-ellipse.btn-primary(href=cfg.buyLink) learn more

        // Our Team
        section.section-98.section-sm-110.bg-lighter
          .shell
            h1.text-between Our Team
            .range.range-xs-center.offset-top-30
              .cell-xs-11.cell-md-9.cell-lg-12
                .range.text-sm-left
                  .cell-xs-6.cell-lg-4
                    .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        img(src="images/users/user-ralph-holland-120x120.jpg" width="120" height="120" alt="Ralph Holland")
                      .unit-body
                        div
                          h5.text-primary
                            a(href=cfg.nav.pages.submenu.teamMember.href) Ralph Holland
                        div.offset-top-4
                          .text-dark.offset-top-0 Software Developer
                        ul.list-inline.offset-top-14.text-darker
                          li
                            a(href="#" class="fa fa-facebook")
                          li
                            a(href="#" class="fa fa-twitter")
                          li
                            a(href="#" class="fa fa-google-plus")

                  .cell-xs-6.cell-lg-4.offset-top-41.offset-xs-top-0
                    .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        img(src="images/users/user-marie-nyers-120x120.jpg" width="120" height="120" alt="Marie Myers")
                      .unit-body
                        div
                          h5.text-primary
                            a(href=cfg.nav.pages.submenu.teamMember.href) Marie Myers
                        div.offset-top-4
                          .text-dark.offset-top-0 Support Operator
                        ul.list-inline.offset-top-14.text-darker
                          li
                            a(href="#" class="fa fa-facebook")
                          li
                            a(href="#" class="fa fa-twitter")
                          li
                            a(href="#" class="fa fa-google-plus")

                  .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
                    .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        img(src="images/users/user-anthony-sanders-120x120.jpg" width="120" height="120" alt="Anthony Sanders")
                      .unit-body
                        div
                          h5.text-primary
                            a(href=cfg.nav.pages.submenu.teamMember.href) Anthony Sanders
                        div.offset-top-4
                          .text-dark.offset-top-0 Creative Director
                        ul.list-inline.offset-top-14.text-darker
                          li
                            a(href="#" class="fa fa-facebook")
                          li
                            a(href="#" class="fa fa-twitter")
                          li
                            a(href="#" class="fa fa-google-plus")

                  // Next Range
                  .range-spacer.veil.reveal-lg-block.offset-top-66

                  .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
                    .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        img(src="images/users/user-tyler-perez-120x120.jpg" width="120" height="120" alt="Tyler Perez")
                      .unit-body
                        div
                          h5.text-primary
                            a(href=cfg.nav.pages.submenu.teamMember.href) Tyler Perez
                        div.offset-top-4
                          .text-dark.offset-top-0 Founder, Sales
                        ul.list-inline.offset-top-14.text-darker
                          li
                            a(href="#" class="fa fa-facebook")
                          li
                            a(href="#" class="fa fa-twitter")
                          li
                            a(href="#" class="fa fa-google-plus")

                  .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
                    .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        img(src="images/users/user-gloria-warren-120x120.jpg" width="120" height="120" alt="Gloria Warren")
                      .unit-body
                        div
                          h5.text-primary
                            a(href=cfg.nav.pages.submenu.teamMember.href) Gloria Warren
                        div.offset-top-4
                          .text-dark.offset-top-0 Software Developer
                        ul.list-inline.offset-top-14.text-darker
                          li
                            a(href="#" class="fa fa-facebook")
                          li
                            a(href="#" class="fa fa-twitter")
                          li
                            a(href="#" class="fa fa-google-plus")

                  .cell-xs-6.cell-lg-4.offset-top-41.offset-lg-top-0
                    .unit.unit-sm.unit-sm-horizontal.unit-spacing-xs
                      .unit-left
                        img(src="images/users/user-sarah-graham-120x120.jpg" width="120" height="120" alt="Sarah Graham")
                      .unit-body
                        div
                          h5.text-primary
                            a(href=cfg.nav.pages.submenu.teamMember.href) Sarah Graham
                        div.offset-top-4
                          .text-dark.offset-top-0 Support Operator
                        ul.list-inline.offset-top-14.text-darker
                          li
                            a(href="#" class="fa fa-facebook")
                          li
                            a(href="#" class="fa fa-twitter")
                          li
                            a(href="#" class="fa fa-google-plus")

            .range.range-xs-center.offset-top-66
              .cell-xs-10.cell-sm-6.cell-md-5.cell-lg-4.inset-left-50.inset-xs-left-80.inset-right-50.inset-xs-right-80
                a(href=cfg.nav.components.submenu.toolkitComponents.submenu.memberBoxes.href).btn.btn-block.btn-default.btn-ellipse view all members

        // Still Not Sure?
        section.section-98.section-md-110
          .shell-wide
            h1.text-between Still Not Sure?
            p.offset-top-24 Check out other themes based on INTENSE
            .offset-top-41
              +isotope(['All', 'Infrastructure', 'Portfolio', 'Blog', 'Agency', 'Creative'],{
                "group": "gallery",
                "layout": "fitRows",
                "alignClass": "isotope-filters-horizontal"
              }, "isotope-1")
                // Isotope
                .row
                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.restaurant.title,
                        "description": cfg.themes.restaurant.desc,
                        "thumb": cfg.themes.restaurant.image,
                        "target": {"href": cfg.themes.restaurant.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Portfolio')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.photographer.title,
                        "description": cfg.themes.photographer.desc,
                        "thumb": cfg.themes.photographer.image,
                        "target": {"href": cfg.themes.photographer.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Blog')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.personalBlog.title,
                        "description": cfg.themes.personalBlog.desc,
                        "thumb": cfg.themes.personalBlog.image,
                        "target": {"href": cfg.themes.personalBlog.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.realEstate.title,
                        "description": cfg.themes.realEstate.desc,
                        "thumb": cfg.themes.realEstate.image,
                        "target": {"href": cfg.themes.realEstate.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Creative')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.handmade.title,
                        "description": cfg.themes.handmade.desc,
                        "thumb": cfg.themes.handmade.image,
                        "target": {"href": cfg.themes.handmade.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.dentalClinic.title,
                        "description": cfg.themes.dentalClinic.desc,
                        "thumb": cfg.themes.dentalClinic.image,
                        "target": {"href": cfg.themes.dentalClinic.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.financialAdvisor.title,
                        "description": cfg.themes.financialAdvisor.desc,
                        "thumb": cfg.themes.financialAdvisor.image,
                        "target": {"href": cfg.themes.financialAdvisor.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.gym.title,
                        "description": cfg.themes.gym.desc,
                        "thumb": cfg.themes.gym.image,
                        "target": {"href": cfg.themes.gym.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Infrastructure')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.childCare.title,
                        "description": cfg.themes.childCare.desc,
                        "thumb": cfg.themes.childCare.image,
                        "target": {"href": cfg.themes.childCare.href},
                        "targetBlank": true
                      })

                  .col-xs-12.col-sm-6.col-lg-4.isotope-item(data-filter='Agency')
                    .shadow-variant-2
                      +thumbnail-classic({
                        "type": "thumbnail",
                        "title": cfg.themes.jobBoard.title,
                        "description": cfg.themes.jobBoard.desc,
                        "thumb": cfg.themes.jobBoard.image,
                        "target": {"href": cfg.themes.jobBoard.href},
                        "targetBlank": true
                      })

        section.bg-lighter.section-98.section-md-110
          .shell
            h1.text-between What Clients Say?
            .range.range-xs-center.offset-top-66
              .cell-xs-10.cell-sm-8.cell-lg-12
                .owl-carousel.owl-carousel-classic.owl-carousel-class-light.owl-carousel-testimonials-3(data-items="1" data-stage-padding="10" data-margin="25" data-lg-items="3" data-nav="false" data-dots="true")
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-katherine-ferguson-80x80.jpg",
                      "alt": ""
                    },
                    "Katherine Ferguson",
                    "Ceo/Founder at demolink.com",
                    "This website is a perfect place to get consumables for any handmade ideas, both for enthusiasts and professionals.",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-alisa-milano-80x80.jpg",
                      "alt": ""
                    },
                    "Alisa Milano",
                    "Sales at demolink.com",
                    "Folore magna aliqua. Ut enim ad minim nisi veniam, quis nostrud exer citation ullamco laboris nisi ut",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-betty-hunt-80x80.jpg",
                      "alt": ""
                    },
                    "Betty Hunt",
                    "Support at demolink.com",
                    "Your articles are very informative – they help me introduce fresh ideas into my handmade decorations.",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-betty-hunt-80x80.jpg",
                      "alt": ""
                    },
                    "Betty Hunt",
                    "Support at demolink.com",
                    "The more I read your blog and browse your website, the better I become in creating handmade gifts.",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-alisa-milano-80x80.jpg",
                      "alt": ""
                    },
                    "Alisa Milano",
                    "Sales at demolink.com",
                    "Folore magna aliqua. Ut enim ad minim nisi veniam, quis nostrud exer citation ullamco laboris nisi ut",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-betty-hunt-80x80.jpg",
                      "alt": ""
                    },
                    "Betty Hunt",
                    "Support at demolink.com",
                    "Lorem ipsum dolor sit amet conse ctetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore ",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-betty-hunt-80x80.jpg",
                      "alt": ""
                    },
                    "Betty Hunt",
                    "Support at demolink.com",
                    "Lorem ipsum dolor sit amet conse ctetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore ",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-katherine-ferguson-80x80.jpg",
                      "alt": ""
                    },
                    "Katherine Ferguson",
                    "Ceo/Founder at demolink.com",
                    "Lorem ipsum dolor sit amet conse ctetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore ",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )
                  div
                    +testimonials-type-3(
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-alisa-milano-80x80.jpg",
                      "alt": ""
                    },
                    "Alisa Milano",
                    "Sales at demolink.com",
                    "Folore magna aliqua. Ut enim ad minim nisi veniam, quis nostrud exer citation ullamco laboris nisi ut",
                    {
                      "title": "h6",
                      "cite": "text-bold text-normal text-uppercase",
                      "desc": "text-uppercase text-neon-carrot"
                    }
                    )


      // Page Footer
      footer.section-relative.section-34.page-footer.bg-gray-base.context-dark
        .shell
          .range.range-sm-center.text-lg-left
            .cell-sm-12
              .range.range-xs-center

                .cell-xs-12.cell-md-8.cell-md-push-2.text-md-right
                  div
                    ul.list-inline.list-inline-dashed.p.text-darker.list-inline-md.list-inline-dashed-wide
                      li
                        a(href="#") Documentation
                      li
                        a(href="#") Plugins
                      li
                        a(href="#") Themes
                      li
                        a(href="#") Support
                      li
                        a(href="#") GitHub

                  ul.list-inline.list-inline-white.offset-top-10.text-darker
                    li
                      a(href="#" class="fa fa-facebook")
                    li
                      a(href="#" class="fa fa-twitter")
                    li
                      a(href="#" class="fa fa-google-plus")
                    li
                      a(href="#" class="fa fa-pinterest")
                    li
                      a(href="#" class="fa fa-vimeo")
                    li
                      a(href="#" class="fa fa-youtube")
                    li
                      a(href="#" class="fa fa-linkedin")
                    li
                      a(href="#" class="fa fa-github")
                    li
                      a(href="#" class="fa fa-yahoo")

                .cell-xs-12.cell-md-4.cell-md-push-1.offset-top-34.offset-md-top-0
                  // Footer brand
                  .footer-brand
                    a(href="../index.html")
                      | !{"<img style='margin-top: -5px;margin-left: -15px;' width='210' height='36' src='images/childs/handmade-logo-light.png' alt=''/>"}
                  p.small.text-darker.offset-top-4
                    | &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]
                    // {%FOOTER_LINK}

    // Global Mailform Output
    #form-output-global.snackbars
    +gallery-photoswipe()
    // Java script
    script(src="js/core.min.js")
    script(src="js/script.js")