extends  ../_skeleton

//- Includes
include  ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.labels.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.components,
      cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.labels.title,
  "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.labels.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.labels.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.labels.href
    }
  })

  // Page Content
  main.page-content.section-98.section-lg-110

    // Section Label Styles
    .shell
      h1 Label Styles
      .divider.bg-mantis
      .group-sm.offset-top-50.offset-md-top-66
        span.label-custom.label-xs-custom.label-rounded-custom.label-default Default
        span.label-custom.label-xs-custom.label-rounded-custom.label-primary Primary
        span.label-custom.label-xs-custom.label-rounded-custom.label-deluge Deluge
        span.label-custom.label-xs-custom.label-rounded-custom.label-success Success
        span.label-custom.label-xs-custom.label-rounded-custom.label-warning Warning
        span.label-custom.label-xs-custom.label-rounded-custom.label-danger Danger
        span.label-custom.label-xs-custom.label-rounded-custom.label-info Info

    // Section Label Shapes
    .shell.offset-top-98.offset-top-lg-110
      h1 Label Shapes
      .divider.bg-mantis
      .group-sm.offset-top-50.offset-md-top-66
        span.label-custom.label-xs-custom.label-primary Rect
        span.label-custom.label-xs-custom.label-rounded-custom.label-primary Rounded
        span.label-custom.label-xs-custom.label-ellipsis-custom.label-primary Ellipse

    // Section Label Sizes
    .shell.offset-top-98.offset-top-lg-110
      h1 Label Sizes
      .divider.bg-mantis
      .range.text-lg-left
        .cell-sm-6.cell-sm-preffix-3.cell-md-4.cell-md-preffix-4
          h1
            span.text-middle Heading 1
            span.text-middle.label-custom.label-danger.label-xl-custom.label-rounded-custom.label New
          h2
            span.text-middle Heading 2
            span.text-middle.label-custom.label-danger.label-lg-custom.label-rounded-custom.label New
          h3
            span.text-middle Heading 3
            span.text-middle.label-custom.label-danger.label-lg-custom.label-rounded-custom.label New
          h4
            span.text-middle Heading 4
            span.text-middle.label-custom.label-danger.label-rounded-custom.label New
          h5
            span.text-middle Heading 5
            span.text-middle.label-custom.label-danger.label-sm-custom.label-rounded-custom.label New
          h6
            span.text-middle Heading 6
            span.text-middle.label-custom.label-danger.label-sm-custom.label-rounded-custom.label New
          p
            span.text-middle Default Paragraph
            span.text-middle.label-custom.label-danger.label-xs-custom.label-rounded-custom.label New

    // Section Bootstrap Labels
    .shell.offset-top-98.offset-top-lg-110
      h1 Bootstrap Labels
      .divider.bg-mantis
      .group-sm.offset-top-50.offset-md-top-66
        span.label.label-default Default
        span.label.label-primary Primary
        span.label.label-deluge Deluge
        span.label.label-success Success
        span.label.label-warning Warning
        span.label.label-danger Danger
        span.label.label-info Info

    // Section Bootstrap Badges
    .shell.offset-top-98.offset-top-lg-110
      h1 Bootstrap Badges
      .divider.bg-mantis
      .offset-top-50.offset-md-top-66
        .reveal-inline-block
          ul.nav.nav-pills(role='tablist')
            li.active(role="presentation")
              a(href='#')
                | Messages
                span.badge 42
            li(role="presentation")
              a(href="#")
                | Profile
            li(role="presentation")
              a(href='#')
                | Cart
                span.badge 42

  // Page Footers
  include ../sections/_section-footer-default
