extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-box-comment

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default( 
    'rd-navbar-default rd-navbar-light',
    {
      "data-md-auto-height": "true",
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-md-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.title,
  cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.listsOfComments.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-124
    .shell
      .range.range-xs-center
        .cell-xs-10.cell-sm-8.cell-md-6

          // Section classic comments
          section
            h1 Classic Comments
            hr.divider.bg-mantis
            .offset-top-41
              //- Comment 1
              +box-comment(
              "box-comment-classic",
              {
                "width": 60,
                "height": 60,
                "src": "images/users/user-july-mao-60x60.jpg",
                "alt": "July Mao"
              },
              "Feb 18, 9:14",
              "July Mao",
              "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service."
              )
                //- Reply 1
                +box-comment(
                "box-comment-classic",
                {
                  "width": 60,
                  "height": 60,
                  "src": "images/users/user-alex-merphy-60x60.jpg",
                  "alt": "Alex Merphy"
                },
                "Feb 18, 10:13",
                "Alex Merphy",
                "I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7."
                )
              //- Comment 2
              +box-comment(
              "box-comment-classic",
              {
                "width": 60,
                "height": 60,
                "src": "images/users/user-july-mao-60x60.jpg",
                "alt": "July Mao"
              },
              "Feb  16, 7:42 PM",
              "July Mao",
              "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add."
              )
            h4.offset-top-34.text-uppercase.text-spacing-120.text-left.text-bold Leave a comment
            form.offset-top-10.text-left
              .form-group
                label.form-label.form-label-outside(for="box-comment-classic-comment-message") Message:
                textarea#box-comment-classic-comment-message.form-control(data-constraints="@Required")
              .group-sm.text-left.offset-top-30
                button(type="button").btn.btn-md.btn-primary comment

          // Section Boxed Comments
          section.offset-top-98.offset-md-top-124
            h1 Boxed Comments
            hr.divider.bg-mantis
            .offset-top-41
              //- Comment 1
              +box-comment(
              "box-comment-boxed",
              {
                "width": 60,
                "height": 60,
                "src": "images/users/user-july-mao-60x60.jpg",
                "alt": "July Mao"
              },
              "Feb 16, 7:42 PM",
              "July Mao",
              "I’m very pleased with your product. Great value for the money. Good quality. Ordering was very easy, as well. "
              )
                //- Reply 1
                +box-comment(
                "box-comment-boxed",
                {
                  "width": 60,
                  "height": 60,
                  "src": "images/users/user-john-doe-60x60.jpg",
                  "alt": "John Doe"
                },
                "Feb 16, 7:46 PM",
                "John Doe",
                "An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!"
                )
              //- Comment 2
              +box-comment(
              "box-comment-boxed",
              {
                "width": 60,
                "height": 60,
                "src": "images/users/user-diana-russo-60x60.jpg",
                "alt": "Diana Russo"
              },
              "Feb 17, 7:34",
              "Diana Russo",
              "The service is excellent and the personnel I worked with are great. Very responsive team and easy company to work with."
              )
            h4.offset-top-34.text-uppercase.text-spacing-120.text-left.text-bold Leave a comment
            form.offset-top-10.text-left
              .form-group
                label.form-label.form-label-outside(for="box-comment-boxed-comment-message") Message:
                textarea#box-comment-boxed-comment-message.form-control(data-constraints="@Required")
              .group-sm.text-left.offset-top-30
                button(type="button").btn.btn-md.btn-primary comment

          // Section OutBoxed Comments
          section.offset-top-98.offset-md-top-124
            h1 Outbox Comments
            hr.divider.bg-mantis
            .offset-top-41
              //- Comment 1
              +box-comment(
              "box-comment-outboxed",
              {
                "width": 60,
                "height": 60,
                "src": "images/users/user-july-mao-60x60.jpg",
                "alt": "July Mao"
              },
              "Feb 16, 7:42 PM",
              "July Mao",
              "Very smart people working on the project — they provided great insight and brought experience to it. Sales person was very prompt."
              )
                //- Reply 1
                +box-comment(
                "box-comment-outboxed",
                {
                  "width": 60,
                  "height": 60,
                  "src": "images/users/user-john-doe-60x60.jpg",
                  "alt": "John Doe"
                },
                "Feb 16, 7:46 PM",
                "John Doe",
                "They have outperformed every expectation we had. The company promised — and delivered."
                )
              //- Comment 2
              +box-comment(
              "box-comment-outboxed",
              {
                "width": 60,
                "height": 60,
                "src": "images/users/user-kira-force-60x60.jpg",
                "alt": "Kira Force"
              },
              "Feb 17, 7:34",
              "Kira Force",
              "The moment we contracted with the Company literally changed the financial state of our organization. "
              )
            h4.offset-top-34.text-uppercase.text-spacing-120.text-left.text-bold Leave a comment
            form.offset-top-10.text-left
              .form-group
                label.form-label.form-label-outside(for="box-comment-outboxed-comment-message") Message:
                textarea#box-comment-outboxed-comment-message.form-control(data-constraints="@Required")
              .group-sm.text-left.offset-top-30
                button(type="button").btn.btn-md.btn-primary comment

  // Page Footer
  include ../sections/_section-footer-default