extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-parallax
include  ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.pages.submenu.ourTeamV2.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.pages,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.ourTeamV2.title,
  "icon-lg " + cfg.nav.pages.submenu.ourTeamV2.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.ourTeamV2.title,
      "href": cfg.nav.pages.submenu.ourTeamV2.href
    }
  })

  // Page Content
  main.page-content
    include ../sections/_section-our-team-variant-3
    // Want to Join Us?
    section.section-66.bg-gray-darkest.context-dark
      .shell
        h2 Want to Join Us?
        hr.divider.bg-mantis
        .range.range-xs-center
          .cell-xs-10
            p We are constantly looking for new talents and young minds that can put their potential to use in our company. If you think you can be one of us, contact our managers and we will interview you.
            a.btn.btn-primary.btn-icon.btn-icon-left.offset-top-20(href= cfg.nav.pages.submenu.contactUs.href)
              span.icon.mdi.mdi-check-all
              | Get Started now
  // Page Footer
  include ../sections/_section-footer-default
