extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.portfolio.submenu.singleProject.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.portfolio,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.portfolio.submenu.singleProject.title,
  cfg.nav.portfolio.submenu.singleProject.submenu.default.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.portfolio.title,
      "href": cfg.nav.portfolio.href
    },
    2: {
      "title": cfg.nav.portfolio.submenu.singleProject.title,
      "href": cfg.nav.portfolio.submenu.singleProject.href
    },
    3: {
      "title": cfg.nav.portfolio.submenu.singleProject.submenu.default.title,
      "href": cfg.nav.portfolio.submenu.singleProject.submenu.default.href
    }
  })

  // Page Content
  main.page-content

    include ../sections/_section-owl-content-aside
    include ../sections/_section-single-member
    include ../sections/_section-related-projects

  // Page Footer
  include ../sections/_section-footer-default