extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//-Title
block title
  title= cfg.nav.portfolio.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.portfolio,
    cfg.nav
    )
  +breadcrumb-classic(
  cfg.nav.portfolio.submenu.fullwidth.title,
  "icon-lg " + cfg.nav.portfolio.submenu.fullwidth.submenu["4cols"].icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.portfolio.title,
      "href": cfg.nav.portfolio.href
    },
    2: {
      "title": cfg.nav.portfolio.submenu.fullwidth.title,
      "href": cfg.nav.portfolio.submenu.fullwidth.href
    },
    3: {
      "title": cfg.nav.portfolio.submenu.fullwidth.submenu["4cols"].title,
      "href": cfg.nav.portfolio.submenu.fullwidth.submenu["4cols"].href
    }
  })
  // Page Content
  main.page-content
    include ../sections/_section-portfolio-fullwidth-4-columns
  // Page Footers
  include ../sections/_section-footer-default
