- var fonts = "//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear"
- var html_class = "wide wow-animation smoothscroll scrollTo"

block variables

doctype html
html(lang="en" class="#{html_class}" style="height: 100%;")
  head
    // Site Title
    block title
      title RD Navbar Default Demonstration

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    block search-meta
      meta(name="keywords" content="intense web design multipurpose template")
      meta(name="date" content="Dec 26")


    link(rel="icon" href="images/favicon.ico" type="image/x-icon")

    // Stylesheets
    link(rel="stylesheet" type="text/css" href="#{fonts}")
    link(rel="stylesheet" href="css/style.css")

    = "\n\t\t"
    <!--[if lt IE 10]>
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href="http://windows.microsoft.com/en-US/internet-explorer/")
        img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
    script(src="js/html5shiv.min.js")
    = "\n\t\t"
    <![endif]-->
  body(style="background: #f7f7f7; height: 100%;")
    // Page
    div(class="page text-center" style="height: 100%;")


      // Page Head
      header.page-head
        .rd-navbar-wrap
          nav.rd-navbar.rd-navbar-default.rd-navbar-light(data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-static', data-lg-auto-height='true', data-xs-layout='rd-navbar-fixed', data-stick-up='false')
            .rd-navbar-inner
              // RD Navbar Panel
              .rd-navbar-panel
                // RD Navbar Toggle
                button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-nav-wrap')
                  span
                // Navbar Brand
                .rd-navbar-brand
                  a(href='index.html')
                    img(style='margin-top: -5px;margin-left: -15px;', width='138', height='31', src='images/intense/logo-dark.png', alt='')
              .rd-navbar-menu-wrap
                .rd-navbar-nav-wrap
                  .rd-navbar-mobile-scroll
                    // Navbar Brand Mobile
                    .rd-navbar-mobile-brand
                      a(href='index.html')
                        img(style='margin-top: -5px;margin-left: -15px;', width='138', height='31', src='images/intense/logo-dark.png', alt='')
                    .form-search-wrap
                      // RD Search Form
                      form.form-search.rd-search
                        .form-group
                          label.form-label.form-search-label.form-label-sm(for='rd-navbar-form-search-widget') Search
                          input#rd-navbar-form-search-widget.form-search-input.input-sm.form-control.form-control-gray-lightest.input-sm(type='text', name='s', autocomplete='off')
                        button.form-search-submit(type='submit')
                          span.mdi.mdi-magnify
                    // RD Navbar Nav
                    ul.rd-navbar-nav
                      li.active
                        a(href='#')
                          span Home
                      li
                        a(href='#')
                          span Features
                      li
                        a(href='#')
                          span Pages
                      li
                        a(href='#')
                          span Portfolio
                        ul.rd-navbar-dropdown
                          li
                            a(href='#')
                              span.text-middle Submenu page 1
                          li
                            a(href='#')
                              span.text-middle Submenu page 2
                      li
                        a(href='#')
                          span Blog
                      li
                        a(href='#')
                          span Shop
                      li
                        a(href='#')
                          span Components
                // RD Navbar Search
                .rd-navbar-search
                  a.rd-navbar-search-toggle.mdi(data-rd-navbar-toggle='.rd-navbar-inner,.rd-navbar-search', href='#')
                    span
                  form.rd-navbar-search-form.search-form-icon-right.rd-search(onsubmit="")
                    .form-group
                      label.form-label(for='rd-navbar-search-form-input') Type and hit enter...
                      input#rd-navbar-search-form-input.rd-navbar-search-form-input.form-control.form-control-gray-lightest(type='text', name='s', autocomplete='off')
      // Page Content
      main.page-content


    // Java script
    script(src="js/core.min.js")
    script(src="js/script.js")