- var fonts = "//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear"
- var html_class = "wide wow-animation smoothscroll scrollTo"

block variables

doctype html

html(lang="en" class="#{html_class}" style="height: 100%;")
  head
    // Site Title
    block title
      title RD Navbar Top Panel Demonstration

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    block search-meta
      meta(name="keywords" content="intense web design multipurpose template")
      meta(name="date" content="Dec 26")


    link(rel="icon" href="images/favicon.ico" type="image/x-icon")

    // Stylesheets
    link(rel="stylesheet" type="text/css" href="#{fonts}")
    link(rel="stylesheet" href="css/style.css")

    = "\n\t\t"
    <!--[if lt IE 10]>
    div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
      a(href="http://windows.microsoft.com/en-US/internet-explorer/")
        img(src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.")
    script(src="js/html5shiv.min.js")
    = "\n\t\t"
    <![endif]-->
  body(style="background: #fff; height: 100%;")
    // Page
    div(class="page text-center" style="height: 100%;")

      // Page Head
      header.page-head
        .rd-navbar-wrap
          nav.rd-navbar.rd-navbar-top-panel.rd-navbar-dark(data-lg-stick-up-offset='79px', data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-static', data-lg-auto-height='true', data-md-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-stick-up='true')
            .container
              .rd-navbar-inner
                .rd-navbar-top-panel
                  .left-side
                    ul.rd-navbar-top-links.list-unstyled
                      li
                        a.text-uppercase.text-ubold(href='#')
                          small Log in
                      li
                        a.text-uppercase.text-ubold(href='#')
                          small Register
                  .right-side
                    address.contact-info.text-left
                      span.p
                        span.icon.mdi.mdi-email-open
                        a(href='mailto:#') info@demolink.org
                      span.p
                        span.icon.mdi.mdi-phone
                        a(href='callto:#') 1-800-1234-567
                // RD Navbar Panel
                .rd-navbar-panel
                  // RD Navbar Toggle
                  button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-nav-wrap')
                    span
                  // RD Navbar Top Panel Toggle
                  button.rd-navbar-top-panel-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-top-panel')
                    span
                  // Navbar Brand
                  .rd-navbar-brand
                    a(href='#')
                      img(style='margin-top: -5px;margin-left: -15px;', width='138', height='31', src='images/intense/logo-light.png', alt='')
                .rd-navbar-menu-wrap
                  .rd-navbar-nav-wrap
                    .rd-navbar-mobile-scroll
                      // Navbar Brand Mobile
                      .rd-navbar-mobile-brand
                        a(href='#')
                          img(style='margin-top: -5px;margin-left: -15px;', width='138', height='31', src='images/intense/logo-light.png', alt='')
                      // RD Navbar Nav
                      ul.rd-navbar-nav
                        li.active
                          a(href='#')
                            span Home
                        li
                          a(href='#')
                            span Features
                        li
                          a(href='#')
                            span Pages
                        li
                          a(href='#')
                            span Portfolio
                          ul.rd-navbar-dropdown
                            li
                              a(href='#')
                                span.text-middle Submenu page 1
                            li
                              a(href='#')
                                span.text-middle Submenu page 2
                        li
                          a(href='#')
                            span Blog
                        li
                          a(href='#')
                            span Shop
                        li
                          a(href='#')
                            span Components
      // Page Content
      main.page-content

    // Java script
    script(src="js/core.min.js")
    script(src="js/script.js")