extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-default-transparent

//-Title
block title
  title= cfg.nav.features.submenu.socialWidgets.submenu.rdTwitterfeed.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.features,
    cfg.nav
    )

  // Page Content
  main.page-content

    include ../sections/_section-integration-with-twitter
    include ../sections/_section-ultimate-styling
    include ../sections/_section-third-party-scripts
    include ../sections/_section-twitter-plugin-compatible
    include ../sections/_section-cross-browser-support
    include ../sections/_section-gpl-license
    include ../sections/_section-see-it-in-action

  // Page Footer
  include ../sections/_section-footer-default