extends  ../_skeleton

//- Includes

include  ../elements/_ui-rd-parallax
include  ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.pages.submenu.registerLogin.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.pages,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.pages.submenu.registerLogin.title,
  "icon-lg " + cfg.nav.pages.submenu.registerLogin.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.registerLogin.title,
      "href": cfg.nav.pages.submenu.registerLogin.href
    }
  })

  // Page Contents
  main.page-content
    include ../sections/_section-login-register
  // Page Footer
  include ../sections/_section-footer-default
