extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_widget-form-search
include ../elements/_widget-flickrfeed
include ../elements/_widget-twitter


//-Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.components,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.title,
  cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.icon,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.sidebarWidgets.href
    }
  })

  // Page Content
  main.page-content.section-98.section-124
    // Sidebar Search
    .shell
      section
        h2 Sidebar Search Form Widget
        hr.divider.divider-md.bg-mantis

        .range.range-sm-center.offset-top-66
          .cell-sm-4.cell-lg-3
              +widget-form-search("input-sm", "form-label-sm", "blog-sidebar-1-form-search-widget")

      // Flickr Photostream
      section.offset-top-124
        h2 Flickr Photo Stream Widget
        hr.divider.divider-md.bg-mantis

        .range.range-sm-center.offset-top-66
          .cell-sm-4.cell-lg-3
              +widget-flickrfeed("tm58888_landscapes", {"data-image_q": "src"}, 9)

      // Flickr Photostream
      section.offset-top-124
        h2 Twitter feed Widget
        hr.divider.divider-md.bg-mantis

        .range.range-sm-center.text-left.offset-top-66
          .cell-sm-4.cell-lg-3
            +widget-twitter({
                "dataTwitterUsername": "templatemonster"
              })




  // Page Footers
  include ../sections/_section-footer-default