extends  ../_skeleton

//- Page includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-timers

//- Title
block title
  title= cfg.nav.components.submenu.toolkitComponents.submenu.timers.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-default(
      'rd-navbar-default rd-navbar-light',
      {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
      },
      cfg.brand.logo,
      cfg.nav.home,
      cfg.nav
    )

  +breadcrumb-classic(
    cfg.nav.components.submenu.toolkitComponents.submenu.timers.title,
    "icon-lg " + cfg.nav.components.submenu.toolkitComponents.submenu.timers.icon,
    {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.components.title,
      "href": cfg.nav.components.href
    },
    2: {
      "title": cfg.nav.components.submenu.toolkitComponents.submenu.timers.title,
      "href": cfg.nav.components.submenu.toolkitComponents.submenu.timers.href
    }
  })

  // Page Content
  main.page-content.section-98.section-sm-110
    // Timers Type 1
    section
      .shell
        h1 Timers Type 1
        hr.divider.bg-mantis
        .offset-sm-top-66
          +timer({
            "dataTypeattr": "until",
            "dataTime": "25 Apr 2017",
            "dataFormat": "wdhms"
          }, 'countdown-custom countdown-ellipse')

    // Timers Type 2
    section.offset-top-98.offset-md-top-124
      .shell
        h1 Timers Type 2
        hr.divider.bg-mantis
        +timer({
          "dataTypeattr": "until",
          "dataTime": "25 Apr 2017",
          "dataFormat": "wdhms"
        }, 'countdown-custom')

    //Timers Type 3
    section.offset-top-98.offset-md-top-124
      .shell
        h1 Timers Type 3
        hr.divider.bg-mantis
        +timer({
          "dataTypeattr": "until",
          "dataTime": "25 Apr 2017",
          "dataFormat": "wdhms"
        }, 'countdown-custom countdown-modern')

    // Inline Timers
    section.offset-top-98.offset-md-top-124
      .shell
        h1 Inline Timers
        hr.divider.bg-mantis
        .offset-sm-top-66
          p.reveal-sm-inline-block We are launching by
          .reveal-sm-inline-block
            +timer({
              "dataTypeattr": "until",
              "dataTime": "25 Apr 2017",
              "dataFormat": "wdhms"
            }, 'countdown-inline')

  // Page Footers
  include ../sections/_section-footer-default