extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic

//-Title
block title
  title= cfg.nav.pages.submenu.underConstruction.title
//- Page
block page
  #page
    canvas#bg-animation
      // Page Content
    main.page-content.context-dark(style="background: url(images/backgrounds/background-44-1920x1024.jpg) 0/cover no-repeat")
      .one-page
        .one-page-header
          //Navbar Brand
          .rd-navbar-brand
            a(href= cfg.nav.home.href) !{cfg.brand.logoInverse}
        include ../sections/_section-under-constraction
        .one-page-footer
          p.small
            | #{cfg.brand.name} &copy; #[span(id="copyright-year")] . #[a(href="privacy.html") Privacy Policy]