// Classic Thumbnail
//- thumbnail - {thumbnail} object
mixin thumbnail-classic(thumbnail)
  -var photoswipe = (typeof(thumbnail.target.href) !== 'undefined') ? {"href": thumbnail.target.href} : {"data-photo-swipe-item": "", "data-size": ""+thumbnail.target.width+"x"+thumbnail.target.height, "href": thumbnail.target.src}

  a.thumbnail-classic&attributes(photoswipe)
    figure
      img(width=thumbnail.thumb.width, height=thumbnail.thumb.height, src=thumbnail.thumb.src, alt=thumbnail.thumb.alt)
      - if (thumbnail.title || thumbnail.description)
        figcaption.thumbnail-classic-caption.text-center
          if (thumbnail.title)
              h4.thumbnail-classic-title.text-uppercase.text-light !{thumbnail.title}

          if (thumbnail.description)
              p.thumbnail-classic-desc.text-bold.text-uppercase.veil.reveal-xs-block !{thumbnail.description}
