//- RD Navbar Sidebar
//- skin - rd navbar skin (transparent, inverse, default)
//- attrs - additional HTML attributes of rd navbar
//- logo - logo markup (<img/> or text)
//- links - nav links object
mixin rd-navbar-sidebar-fixed(skin, attrs, logo, activeLink, links)
  // RD Navbar Transparent
  .rd-navbar-wrap
    nav(data-lg-layout='rd-navbar-sidebar-fixed', data-md-layout= 'rd-navbar-sidebar-fixed', data-layout='rd-navbar-sidebar-fixed',"data-lg-auto-height"= "false",  "data-lg-stick-up"='false', "data-lg-hover-on"= "false", "data-body-class"= "body-inset-left").rd-navbar.rd-navbar-sidebar-fixed(class="#{skin}")
      .rd-navbar-inner
        // RD Navbar Panel
        .rd-navbar-panel

          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap")
            span
          //Navbar Brand Mobile
          .rd-navbar-brand
            a(href="../index.html") !{logo}

          //RD Navbar Search
          div.rd-navbar-search
            a.rd-navbar-search-toggle(data-rd-navbar-toggle=".rd-navbar-inner, .rd-navbar-search, .rd-navbar-sidebar-fixed-search" href="#")
              span.icon.icon-xxs.text-middle

        .rd-navbar-menu-wrap
          .rd-navbar-sidebar-fixed-search
            .shell
              form.rd-search.form-search(action="search-results.html" method="GET" data-search-filter="blog-archive-single*.html" data-search-live="rd-search-results-live" data-search-template='<div class="search-fullscreen-results-item unit unit-horizontal"><div class="unit-left search-fullscreen-results-item-date">\#{date}</div><div class="unit-body"><h3 class="search-fullscreen-results-item-title"><a href="\#{href}">\#{title}</a></h3><p class="search-fullscreen-results-item-tags" >in \#{keywords}</p></div></div>')
                div.form-group
                  label.form-label.form-search-label(for="ss") Type and hit Enter..
                  .input-group
                    input(class="form-search-input form-control form-control-rect form-control-impressed custom-search-input" id="ss" type="text" name="s" autocomplete="off")
                    div.input-group-addon
                      span.icon.fa.fa-circle-o-notch.fa-spin.icon-sm
                button(type="submit").form-search-submit
                  span.mdi.mdi-magnify
              #rd-search-results-live.rd-search-results-live.offset-top-66.offset-lg-top-41.offset-xl-top-66
          .rd-navbar-nav-wrap
            .rd-navbar-sidebar-fixed-menu
              // title
              .rd-navbar-title.veil.reveal-lg-block
                h1
                  span.big  Menu
                hr.divider.bg-primary.veil.reveal-lg-block
              .offset-lg-top-30
                // RD Navbar Nav
                ul.rd-navbar-nav
                  each link, title in links
                    li(class=(activeLink.title == link.title) ? 'active' : '')
                      a(href=link.href class=link.icon)
                        span= link.title