//- thumbnail - {thumbnail} object
mixin thumbnail-apollo(thumbnail)
  // Thumbnail Apollo
  a.thumbnail-apollo(href=thumbnail.link)
    figure
      img(width=thumbnail.width, height=thumbnail.height, src=thumbnail.img, alt=thumbnail.title)
      figcaption
        div
          h3.thumbnail-apollo-title= thumbnail.title
        p.small= thumbnail.desc
        span.icon.icon-xxs.veil.reveal-sm-inline-block(class= thumbnail.iconClass)