//
// RD Toggles
// --------------------------------------------------

label {
  cursor: pointer;
  span {
    display: inline-block;
  }
}

.mfToggle__input-outer {
  content: "";
  display: inline-block;
  width: $rd-toggles-mftoggle-width;
  height: $rd-toggles-mftoggle-height;
  margin-right: $rd-toggles-mftoggle-offset-right;
  margin-left: $rd-toggles-mftoggle-offset-left;
  background-color: $rd-toggles-mftoggle-background;
  border-radius: $rd-toggles-mftoggle-border-radius;
  transition: background 0.3s ease;
  vertical-align: middle;
  box-shadow: $rd-toggles-mftoggle-shadow;

  &:after {
    content: "";
    display: inline-block;
    width: $rd-toggles-mftoggle-after-width;
    height: $rd-toggles-mftoggle-after-height;
    background-color: $rd-toggles-mftoggle-after-background;
    border-radius: $rd-toggles-mftoggle-after-border-radius;
    position: relative;
    box-shadow: $rd-toggles-mftoggle-after-shadow;
    left: -9px;
    top: -4px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
  }

  &:active {
    &:after {
      box-shadow: $rd-toggles-mftoggle-active-after-shadow
    }
  }

  &.active {
    background-color: $rd-toggles-mftoggle-active-background;

    &:after {
      left: 18px;
    }
    &:active {
      &:after {
        box-shadow: $rd-toggles-mftoggle-active-after-shadow
      }
    }
  }

  input[type="checkbox"] {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    height: 0 !important;
    width: 0 !important;
    border: none !important;
    overflow: hidden !important;
    opacity: 0 !important;
    z-index: -999999 !important;
  }
}

@media (min-width: $screen-md-min) {
  .mfToggle__input-outer {
    margin-right: 10px;
  }
}
