//
// RD Audio
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.rd-audio {
  position: relative;

  // audio muted
  &.muted .rd-audio-volume:before {
    content: $rd-audio-player-icon-volume;
  }

  &.state-playing .rd-audio-play-pause:before {
    content: $rd-audio-player-icon-play-pause;
  }
}

.rd-audio-icon {
  font-size: $rd-audio-player-icon-audio-size;
  color: $rd-audio-player-controls-color;

  @media (min-width: $screen-xs) {
    font-size: $rd-audio-player-icon-audio-xs-size;
  }
}

// Audio Play pause
// -------------------------

.rd-audio-play-pause {
  position: relative;
  font-size: $rd-audio-player-icon-audio-play-pause-size;

  //  vertical-align: middle;
  &.has-controls {
    margin: 0 5px;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $rd-audio-player-icon-audio-play-pause-width;
      height: $rd-audio-player-icon-audio-play-pause-height;
      content: '';
      border-radius: 50%;
      border: 2px solid rgba($rd-audio-player-controls-color, 0.5);
      @include transform(translate(-50%, -50%));
    }
  }

  @media (min-width: $screen-sm) {
    font-size: $rd-audio-player-icon-audio-play-pause-sm-size;

    &.has-controls {
      margin: 0 13px;

      &:after {
        width: $rd-audio-player-icon-audio-play-pause-sm-width;
        height: $rd-audio-player-icon-audio-play-pause-sm-height;
      }
    }
  }
}

// Audio progress bar
// -------------------------

.rd-audio-progress-bar {
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 8px;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    right: 0;
    background: $rd-audio-player-audio-progress-bar-background;
    content: '';
  }

  .current {
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;
    z-index: 0;
    @include bg-variant-custom(linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
  }

  @media (min-width: $screen-xs) {
    position: relative;
    width: 100%;
    top: 0;
  }
}

// Audio Progress bar wrap
// -------------------------

.rd-audio-progress-bar-wrap {
  width: 60%;
  margin: 0 5px 0 15px;

  @media (min-width: $screen-xs) {
    margin: 0 17px 0 18px;
    position: relative;
    width: 100%;
  }
}

// Controls
// -------------------------

.rd-audio-controls {
  position: relative;
  z-index: 3;
  padding: $rd-audio-player-controls-padding;
  @include display-flex;
  @include align-items(center);
  @include justify-content(flex-start);
  will-change: opacity;
  box-shadow: $shadow-area-md;
  background: $white;
  transition: .3s all ease;

  &-left {
    white-space: nowrap;
    width: 20%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-right {
    width: 10%;
  }

  @media (min-width: $screen-xs) {
    padding: $rd-audio-player-controls-xs-padding;
  }

  @media (min-width: $screen-md) {
    padding: $rd-audio-player-controls-md-padding;
  }
}

// Audio Prev
// -------------------------

.rd-audio-prev {
  transform: rotate(180deg);
}

// Audio Volume
// -------------------------

.rd-audio-volume {
  margin-right: 5px;

  &-bar {
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 80px;

    &:before {
      content: '';
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: 0;
      right: 0;
      background: $rd-audio-player-audio-volume-bar-background;
    }

    .current {
      position: absolute;
      left: 0;
      top: 3px;
      bottom: 3px;
      width: 100%;
      @include bg-variant-custom(linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
      z-index: 0;
    }
  }

  @media (min-width: $screen-xs) {
    margin-right: 10px;
  }
}

.rd-audio-volume, .rd-audio-volume-bar {
  display: none;

  @media (min-width: $screen-md) {
    .desktop & {
      display: block;
    }
  }
}

// Audio Track title
// -------------------------

.rd-audio-title-wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: $rd-audio-player-icon-audio-title-wrap-offsets;
  overflow: hidden;
  font-weight: $rd-audio-player-icon-audio-title-wrap-weight;
  font-size: $rd-audio-player-icon-audio-title-wrap-size;
  line-height: $rd-audio-player-icon-audio-title-wrap-line-height;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;

  @media (min-width: $screen-xs) {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: auto;
    margin: 0;
  }

  @media (min-width: $screen-sm) {
    max-width: 70%;
  }
}

.rd-audio-title-divider {
  display: none;
}

.rd-audio-title-wrap {
  .rd-audio-title, .rd-audio-author {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (min-width: $screen-xs) {
    .rd-audio-title, .rd-audio-author, .rd-audio-title-divider {
      display: inline;
    }
  }
}

// Audio Track Time Position
// -------------------------

.rd-audio-time {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  font-size: $rd-audio-player-icon-audio-time-size;
  font-style: italic;

  @media (min-width: $screen-xs) {
    display: block;
  }

  @media (min-width: $screen-sm) {
    top: auto;
    bottom: 100%;
  }
}

// Audio Playlist Buttons
// -------------------------

.rd-audio-playlist-button {
  margin-left: 15px;

  @media (min-width: $screen-xs) {
    margin-left: 20px;
  }
}

// Audio Playlist Styles
// -------------------------

.rd-audio-playlist-wrap {
  position: absolute;
  left: 0;
  bottom: 100%;
  right: 0;
  display: none;
  margin-bottom: -5px;
  padding-bottom: 5px;
  text-align: left;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.15);
  background: $rd-audio-player-playlist-wrap-background;
}

.rd-audio-playlist-title {
  padding: $rd-audio-player-playlist-title-padding;
  margin-bottom: 0;
  font-weight: $rd-audio-player-playlist-title-weight;
  font-size: $rd-audio-player-playlist-title-size;
  text-align: left;
  letter-spacing: .12em;
  border-bottom: $rd-audio-player-playlist-title-border-bottom;
  text-transform: uppercase;
}

.rd-audio-playlist {
  list-style-type: none;
  padding-left: 0;
  max-height: 170px;
  overflow-y: auto;

  li {
    position: relative;
    overflow: hidden;
    padding: $rd-audio-player-playlist-item-padding;
    @include clearfix;
    font-weight: $rd-audio-player-playlist-item-weight;
    font-size: $rd-audio-player-playlist-item-size;
    line-height: $rd-audio-player-playlist-item-line-height;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
    transition: .3s all ease;

    &:before {
      font-family: 'Material Design Icons';
      display: inline-block;
      font-weight: $rd-audio-player-playlist-item-icon-weight;
      font-size: $rd-audio-player-playlist-item-icon-size;
      line-height: $rd-audio-player-playlist-item-icon-line-height;
      margin-right: 10px;
      vertical-align: middle;
      content: $rd-audio-player-playlist-item-icon;
      opacity: .5;
    }

    &.playing, &.paused {
      background: $gray-lightest;
    }

    &.playing:before {
      content: '\f4d5';
      opacity: 1;
    }

    &:hover {
      background: $gray-light;
    }

    @media (min-width: $screen-xs) {
      padding: $rd-audio-player-playlist-item-xs-padding;
    }
  }
}

.song-duration {
  position: absolute;
  right: 18px;
  font-style: italic;
  opacity: .5;
  display: none;

  @media (min-width: $screen-xs) {
    display: inline-block;
  }
}