extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-logo-center
include  ../elements/_ui-breadcrumb-modern

//- Title
block title
  title= cfg.nav.blog.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-logo-center(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.blog,
    cfg.nav
    )

  +breadcrumb-modern("Blog", {
    0: {
      "type": "link",
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "type": "link",
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    }
  }, "images/background-1-1920x651.jpg")

  // Page Content
  main.page-content.section-top-98.section-sm-110
    .shell
      .range.range-md-center.range-lg-right
        .cell-md-8.inset-md-right-30
          include ../sections/_section-blog-classic
        .cell-md-4.cell-lg-3.offset-top-66.offset-md-top-0
          include ../sections/_section-blog-sidebar-variant-2

  // Page Footers
  include ../sections/_section-footer-variant-4