extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-navbar-logo-center
include  ../elements/_ui-breadcrumb-modern
include  ../elements/_ui-rd-map

//-Title
block title
  title= cfg.nav.contacts.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-logo-center(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.contacts,
    cfg.nav
    )

  +breadcrumb-modern("Contacts", {
    0: {
      "type": "link",
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "type": "link",
      "title": cfg.nav.contacts.title,
      "href": cfg.nav.contacts.href
    }
  }, "images/background-1-1920x651.jpg")

  // Page Content
  main.page-content
    section.section-top-98.section-sm-top-110
      .shell
          .range.range-xs-center
            .cell-sm-9.cell-md-8.cell-lg-12
              .range
                .cell-lg-8
                  h1.text-between Get In Touch
                  .text-left.offset-top-30
                    p You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.
                    p Email us with any questions or inquiries or use our contact data. We would be happy to answer your questions.
                  // RD Mailform
                  form.rd-mailform.text-left.offset-top-50(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                    .range
                      .cell-lg-6
                        .form-group
                          label.form-label.form-label-outside(for="contacts-first-name") First Name
                          input#contacts-first-name.form-control(type="text" name="name" data-constraints="@Required")

                      .cell-lg-6.offset-top-20.offset-lg-top-0
                        .form-group
                          label.form-label.form-label-outside(for="contacts-second-name") Second Name
                          input#contacts-second-name.form-control(type="text" name="name" data-constraints="@Required")

                      .cell-lg-6.offset-top-20
                        .form-group
                          label.form-label.form-label-outside(for="contacts-email") E-mail
                          input#contacts-email.form-control(type="email" name="email" data-constraints="@Required @Email")

                      .cell-lg-6.offset-top-20
                        .form-group
                          label.form-label.form-label-outside(for="contacts-phone") Phone
                          input#contacts-phone.form-control(type="text" name="name" data-constraints="@Required")

                      .cell-lg-12.offset-top-20
                        .form-group
                          label.form-label.form-label-outside(for="contact-me-message") Message
                          textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 160px;")
                    .range.range-xs-center.range-lg-left.offset-top-30
                      .cell-xs-5.cell-sm-4.cell-lg-3
                        .inset-left-50.inset-right-50.inset-xs-left-0.inset-xs-right-0.inset-lg-right-50
                          button(type="submit").btn.btn-block.btn-primary Send
                .cell-lg-4.text-left.offset-top-66.offset-lg-top-0
                  div
                    p.text-darker.text-uppercase.text-bold follow us
                  div.text-subline.offset-top-10
                  ul.list-inline.list-inline-sm.list-inline-white.offset-top-30.text-darker
                    li.h6.offset-top-0
                      span.big
                        a.text-dark(href="#" class="fa fa-facebook")
                    li.h6.offset-top-0
                      span.big
                        a.text-dark(href="#" class="fa fa-twitter")
                    li.h6.offset-top-0
                      span.big
                        a.text-dark(href="#" class="fa fa-google-plus")
                    li.h6.offset-top-0
                      span.big
                        a.text-dark(href="#" class="fa fa-pinterest")
                    li.h6.offset-top-0
                      span.big
                        a.text-dark(href="#" class="fa fa-vimeo")
                    li.h6.offset-top-0
                      span.big
                        a.text-dark(href="#" class="fa fa-youtube")
                    li.h6.offset-top-0
                      span.big
                        a.text-dark(href="#" class="fa fa-linkedin")

                  div.offset-top-41
                    p.text-darker.text-uppercase.text-bold Phones
                  div.text-subline.offset-top-10
                  div.offset-top-20
                    a(href="callto:#") 1-800-1324-567
                  div
                    a(href="callto:#") 1-800-9875-321

                  div.offset-top-50
                    p.text-darker.text-uppercase.text-bold e-mail
                  div.text-subline.offset-top-10
                  div.offset-top-20
                    p
                      a.text-primary(href="mailto:#") info@demolink.org

                  div.offset-top-50
                    p.text-darker.text-uppercase.text-bold shop address
                  div.text-subline.offset-top-10
                  div.offset-top-20
                    p 9870 St Vincent Place, Glasgow, DC 45 Fr 45.

                  div.offset-top-50
                    p.text-darker.text-uppercase.text-bold Open hours
                  div.text-subline.offset-top-10
                  div.offset-top-20
                    p 9:00–19:00 Mon–Sat
        .offset-top-124
          +rd-map({
            "zoom": "14",
            "dataX": "-73.9874068",
            "dataY": "40.643180",
            "dataStyles": [{
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [{"color": "#e9e9e9"}, {"lightness": 17}]
            }, {
              "featureType": "landscape",
              "elementType": "geometry",
              "stylers": [{"color": "#f5f5f5"}, {"lightness": 20}]
            }, {
              "featureType": "road.highway",
              "elementType": "geometry.fill",
              "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
            }, {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
            }, {
              "featureType": "road.arterial",
              "elementType": "geometry",
              "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
            }, {
              "featureType": "road.local",
              "elementType": "geometry",
              "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
            }, {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [{"color": "#f5f5f5"}, {"lightness": 21}]
            }, {
              "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [{"color": "#dedede"}, {"lightness": 21}]
            }, {
              "elementType": "labels.text.stroke",
              "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
            }, {
              "elementType": "labels.text.fill",
              "stylers": [{"saturation": 36}, {"color": "#333333"}, {"lightness": 40}]
            }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
              "featureType": "transit",
              "elementType": "geometry",
              "stylers": [{"color": "#f2f2f2"}, {"lightness": 19}]
            }, {
              "featureType": "administrative",
              "elementType": "geometry.fill",
              "stylers": [{"color": "#fefefe"}, {"lightness": 20}]
            }, {
              "featureType": "administrative",
              "elementType": "geometry.stroke",
              "stylers": [{"color": "#fefefe"}, {"lightness": 17}, {"weight": 1.2}]
            }]
          },[{
            "dataX": "-73.9874068",
            "dataY": "40.643180",
            "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
          }])



  // Page Footers
  include ../sections/_section-footer-variant-4
