extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax

//-Title
block title
  title= cfg.nav.aboutMe.title

//- Page
block page
  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-sidebar-toggle(
    'rd-navbar-sidebar-toggle rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-fixed',
      "data-lg-stick-up": 'false',
      "data-lg-hover-on": "false"
    },
    "<img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/logo-dark.png' alt=''/>",
    cfg.nav.aboutMe,
    cfg.nav
    )

  // Page Content
  main.page-content
    // Page Header
    include ../sections/_section-header

    // About Me
    section.section-85
      .shell
        h1.text-bold About Me
        ul.p.list-inline.list-inline-dashed.offset-top-24
          li
            a(href=cfg.nav.home.href) Home
          li About Me
        include ../sections/_section-about-me