extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-map

block title
  title= cfg.nav.allPages.submenu.contactUs.title

block page

  // Page Head
  header.page-head.slider-menu-position
    // - RD Navbar
    +rd-navbar-floated(
    'rd-navbar-dark rd-navbar-dark-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.allPages,
    cfg.nav
    )
    .context-dark
      +breadcrumb-modern("Contact Us", {
        0: {
          "type": "link",
          "title": cfg.nav.home.title,
          "href": cfg.nav.home.href
        },
        1: {
          "type": "link",
          "title": cfg.nav.allPages.submenu.contactUs.title,
          "href": cfg.nav.allPages.submenu.contactUs.href
        }
      }, "images/background-02-1920x870.jpg")

  // Page Contents
  main.page-content

    // Get In Touch
    section.section-top-98.section-sm-top-110
      .shell
        .range.range-xs-center
          .cell-sm-9.cell-md-8.cell-lg-12
            .range
              .cell-lg-8.text-md-left
                h1 Get In Touch
                hr.divider.hr-md-left-0.bg-darkers
                p.offset-lg-top-50 You can contact us any way that is convenient for you. We are available 24/7 via fax, email or telephone. You can also use a quick contact form located on this page to ask a question about our services and current offers. We would be happy to answer your questions or offer any help.
                // RD Mailform
                form.rd-mailform.text-left.offset-top-50(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                  .range
                    .cell-lg-6
                      .form-group
                        label.form-label.form-label-outside(for="contacts-first-name") First Name
                        input#contacts-first-name.form-control(type="text" name="first-name" data-constraints="@Required")

                    .cell-lg-6.offset-top-20.offset-lg-top-0
                      .form-group
                        label.form-label.form-label-outside(for="contacts-last-name") Last Name
                        input#contacts-last-name.form-control(type="text" name="last-name" data-constraints="@Required")

                    .cell-lg-12.offset-top-20
                      .form-group
                        label.form-label.form-label-outside(for="contacts-email") E-mail
                        input#contacts-email.form-control(type="email" name="email" data-constraints="@Required @Email")

                    .cell-lg-12.offset-top-20
                      .form-group
                        label.form-label.form-label-outside(for="contact-me-message") Message
                        textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 160px;")
                  .range.range-xs-center.range-lg-left.offset-top-30
                    .cell-xs-5.cell-sm-4
                      .inset-left-50.inset-right-50.inset-xs-left-0.inset-xs-right-0.inset-lg-right-50
                        button(type="submit").btn.btn-block.btn-primary Send

              .cell-lg-4.text-left.offset-top-66.offset-lg-top-0.inset-lg-left-80
                div
                  h5 Social
                div.offset-top-14.text-subline.offset-top-10
                div.offset-top-20
                  ul.list-inline.list-inline-xs.text-darker.list-inline-primary
                    li.h5.offset-top-0
                      a.text-dark(href="#" class="fa fa-facebook")
                    li.h5.offset-top-0
                      a.text-dark(href="#" class="fa fa-twitter")
                    li.h5.offset-top-0
                      a.text-dark(href="#" class="fa fa-google-plus")
                    li.h5.offset-top-0
                      a.text-dark(href="#" class="fa fa-youtube")

                div.offset-top-41.offset-lg-top-66
                  h5 Phone
                div.offset-top-14.text-subline.offset-top-10
                address.contact-info.offset-top-20
                  span.icon.icon-xs.fa.fa-phone.text-middle.text-primary
                  a.text-middle(href="callto:#") 1-800-1234-567

                div.offset-top-66
                  h5 Address
                div.offset-top-14.text-subline.offset-top-10
                address.unit.unit-top.unit-horizontal.unit-spacing-xxs.contact-info.offset-top-20
                  .unit-left
                    span.icon.icon-xs.fa.fa-map-marker.text-middle.text-primary.inset-right-10
                  .unit-body
                    a(href="#") 4578 Marmora St, San Francisco D04 89GR

                div.offset-top-50
                  h5.text-darker Open Hours
                div.text-subline.offset-top-14
                .p.unit.unit-top.unit-spacing-xs.unit-horizontal.offset-top-24
                  .unit-left
                    span.icon.icon-xxs.fa.fa-clock-o.text-primary
                  .unit-body
                    address
                      div #[span.text-bold Monday–Friday:] 9:00am–6:00pm
                      div #[span.text-bold Saturday:] 10:00am–4:00pm
                      div #[span.text-bold Sunday:] 10:00am–1:00pm

      .offset-top-124
        +rd-map({
          "zoom": "14",
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "dataStyles": [{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#C6E2FF"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#C5E3BF"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#D1D1B8"}]}]
        },[{
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
        }])

  // Page Footer
  include ../sections/_section-footer