//- thumbnail - {thumbnail} object
mixin thumbnail-winston(thumbnail)
  -var photoswipe = (typeof(thumbnail.target.href) !== 'undefined') ? {"href": thumbnail.target.href} : {"data-photo-swipe-item": "", "data-size": ""+thumbnail.target.width+"x"+thumbnail.target.height, "href": thumbnail.target.src}

  // Thumbnail Winston
  a.thumbnail-winston&attributes(photoswipe)
    figure
      img(width=thumbnail.thumb.width, height=thumbnail.thumb.height, src=thumbnail.thumb.src, alt=thumbnail.thumb.alt)
      figcaption.text-left
        h3.thumbnail-winston-title= thumbnail.title
        .offset-top-50.veil.reveal-lg-inline-block
          p= thumbnail.description[0]
          br
          p= thumbnail.description[1]
          br
          p= thumbnail.description[2]