//- Default Product List
//- title - title of product
//- price - product price or array with 2 prices(old and new)
//- images - array of objects
mixin product-list-wide(product, wide)
  - var thumbnails = product.images.length? true : null
  - var priceArr = typeof(product.price) == 'string' ? true : false

  // Product
  .product.product-list.unit
    // Product Image
    .product-image.unit-left
       img.img-responsive(src=product.images[0].src alt=product.images[0].alt).product-image-area
       // Product Thumnails
       if thumbnails
         ul.product-thumbnails
           each image, index in product.images
             li(class= (index == 0) ? "active" : "")
               img.img-responsive(src=image.src alt=image.alt)
       // Product Label
       - if (typeof(product.label) !== "undefined")
         span.product-label.label-custom.label-lg-custom.label-rounded-custom(class= product.label.adClass)= product.label.text

    // Product Title
    h5.product-title.offset-top-20= product.title
    // Product Brand
    p.product-brand.text-italic.text-dark= product.brand
    // Product price
    .product-price.text-bold
      if priceArr
       span= '$' + product.price
      else
       span.product-price-old.text-dark= '$' + product.price[0]
       span.product-price-new= "$" + product.price[1]

     .unit-right
     // Product Add To cart
     a(href="#").btn.btn-sm.btn-danger.btn-icon.btn-icon-left.product-btn.offset-top-20
       span.icon.mdi.mdi-cart-outline
       | Add