//- Post Modern
//- aClass - additional class
//- url - expanded post link
//- type - icon class to describe the post type
//- date - date of publishment
//- title - post title
//- tags - array of {link}
//- media - {media} object
//- authorName - author name
//- authorImg - author photo

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic

mixin post-modern-timeline(aClass, url, type, title, tags, media, authorName, authorImg)
  // Post Modern
  article.post.post-modern.post-modern-timeline(class=aClass)
    // Post media
    if media
      header.post-media
        case media.type
          when "gallery"
            +carousel-gallery-classic(media.images)
          when "soundcloud"
            .post-inset
              +soundcloud-player-classic(media)
          when "video"
            +video-embed(media)
          when "thumbnail"
            img.img-responsive.img-cover(width=media.thumb.width, height=media.thumb.height, src=media.thumb.src, alt=media.thumb.alt)
          default
            = ""

    // Post content
    section.post-content.text-left
      ul.list-inline
        if tags
          li
            .post-tags.group-xs
              each tag in tags
                a.label-custom.label-lg-custom.label-rounded-custom.label-primary(href= tag.href)= tag.title
        li
          .icon.icon-xxs.text-dark(class=type)

      // Post Title
      .post-title
        h6.offset-top-24
          a(href=url)= title

      // Post Body
      .post-body.offset-top-20
        block

      .post-author
        .post-author-img
          img.img-circle(width=authorImg.width, height=authorImg.height, src=authorImg.src, alt=authorImg.alt)
        .post-author-name.text-middle
          = authorName
