//- icon - icon class
//- offsetTop - margin-top in heading
//- title - box title
//- desc - description of box
mixin box-icon-type-2(icon, title, clTitle, desc)
  // Icon Box Type 2
  .unit.unit-sm.unit-sm-horizontal.text-sm-left
    .unit-left
      span.icon(class= icon)
    .unit-body
      h4.text-bold(class= clTitle)= title
      p= desc