//- partners - object{partners}
mixin partners-carousel(partners)
  // owl carousel
  .owl-carousel.owl-carousel-default.owl-carousel-class-light(data-loop="false" data-items="1" data-xs-items="2" data-dots="true" data-mouse-drag="false" data-md-items="4" data-nav="false")
    each partner in partners
      a(href= partner.link.href)
        img.img-responsive.reveal-inline-block.img-semi-transparent(src=partner.image.src width=partner.image.width height=partner.image.height alt=partner.image.alt)

