//- title - counter title
//- icon - icon class
//- counter - {counter} Object
mixin counter-type-3(title, icon, counter)
  // Counter type 3
  .counter-type-3
    .unit.unit-horizontal.unit-spacing-xs
      .unit-left
        span.icon(class= icon)
      .unit-body.text-left
        div
          if counter.preffix != null
            span.h1.text-bold.counter(data-speed=counter.dataSpeed data-from="0" data-to= counter.dataTo)
            span.h1.text-bold= counter.preffix
          else
            .h1.text-bold.counter(data-speed=counter.dataSpeed data-from="0" data-to= counter.dataTo)
        div
          h6.text-uppercase.text-bold.text-dark= title




