//- title - title of element
//- btnClass - button class
//- iconClass - class of icon inside button
//- btnText - button text
//- bgElement - background of element
mixin call-to-action-type-4(title, btnHref, btnClass, iconClass, iconAlign, btnText, bgElement)
  // Call to action type 4
  - var bgElement = bgElement || "bg-mantis"
  - var btnText = btnText || "By intense now"
  section.section-top-66.section-bottom-41(class= bgElement).context-dark
    .shell
      h2
        span.big= title
      if iconClass != null
        a(href= btnHref).btn(class= btnClass).btn-icon(class='btn-icon-' + iconAlign).offset-top-10
          span.icon(class= iconClass)
          = btnText
      else
        a(href= btnHref).btn(class= btnClass).offset-top-10= btnText