//- Default Product List

mixin product-list-wide(product)
  - var thumbnails = product.images.length? true : null
  - var priceArr = typeof(product.price) == 'string' ? true : false

  // Product
  .product.product-list.product-list-wide.unit.unit-sm-horizontal.unit-xs-top
    // Product Image
    .product-image.unit-left
       img.img-responsive(src=product.images[0].src alt=product.images[0].alt).product-image-area
       // Product Thumnails
       if thumbnails
         ul.product-thumbnails
           each image, index in product.images
             li(class= (index == 0) ? "active" : "")
               img.img-responsive(src=image.src alt=image.alt)
       // Product Label
       - if (typeof(product.label) !== "undefined")
         span.product-label.label-custom.label-lg-custom.label-rounded-custom(class= product.label.adClass)= product.label.text

    .unit-body.text-left
      .unit.unit-lg-horizontal.unit-lg-top
        .unit-body

          // Product Brand
          p.product-brand.text-italic.text-dark= product.brand
          // Product Title
          h2.product-title.offset-top-0
            a(href= product.link)= product.title

          // Product Rating
          .product-rating.offset-top-20
            span.mdi.mdi-star
            span.mdi.mdi-star
            span.mdi.mdi-star
            span.mdi.mdi-star-half
            span.mdi.mdi-star-outline
            span.product-review-count.text-dark= product.reviews + " customer reviews"

          p.product-desc= product.desc

          a(href= product.link).text-bold.text-picton-blue.veil.reveal-lg-inline-block Learn More
        .unit-right.product-list-right
          // Product price
          .product-price.text-bold.h5.offset-top-14
            if priceArr
              span= '$' + product.price
            else
              span.product-price-new= "$" + product.price[1]
              span.product-price-old.text-dark.small= '$' + product.price[0]


          .form-group.product-number
            label.text-dark Quantity:
            input.form-control.input-sm.form-control-impressed(type="number" data-zeros="true" value="1" min="1" max="20")

          // Product Add To cart
          a(href= product.link).btn.btn-sm.btn-picton-blue.btn-icon.btn-icon-left.product-btn.offset-top-20.offset-xs-top-0.offset-lg-top-20.reveal-lg-block
           span.icon.mdi.mdi-cart-outline
           | Add to Cart