mixin member-block-type-5(img, icons, contactInfo, btn)
  // Member block type 5
  .member-block-type-5.inset-md-right-20
    img.img-responsive.center-block(src=img.src width="#{img.width}" height="#{img.height}" alt="")
    .member-block-body
      a(href= btn.link).btn.btn-block(class= btn.class)= btn.text
      .offset-top-34
        ul.list-inline.list-inline-xs
          each icon in icons
            li
              a.icon.icon-xxs.icon-circle.icon-darker-filled(class= icon.class)(href='#{icon.link}')
      address.contact-info.offset-top-20.offset-sm-top-34
        ul.list-unstyled.p
          each contact in contactInfo
            li
              span.icon.icon-xxs.text-middle.text-dark(class= contact.class)
              a.text-middle.reveal-inline-block(class= contact.type === "mail" ? "text-picton-blue" : "")(href= contact.type === "mail" ? "mailto:#{contact.link}" : "callto:#{contact.link}")= contact.link