//- title - counter title
//- titleAttr - counter title classes
//- counter - {counter} Object

mixin counter-type-1(title, titleAttr, counter, dividerStyle, titleSize)
  // Counter type 1
  div.counter-type-1
    if counter.preffix != null
      div(class=titleSize)
        span.big.counter(class= titleAttr)(data-speed= counter.dataSpeed data-from="0" data-to= counter.dataTo)
        span.big(class= titleAttr)= counter.preffix
        hr(class=dividerStyle)
    else
      div(class=titleSize)
        span.big.counter(class= titleAttr)(data-step= counter.dataSpeed data-from="0" data-to= counter.dataTo)
        hr(class=dividerStyle)
    if title != null
      h6(class= counter.attr)= title
