//- Default Product Type 2
//- title - title of product
//- price - product price or array with 2 prices(old and new)
//- image - array of objects

mixin product-grid-type-2(product)
  - var thumbnails = product.image.length? true : null
  - var priceArr = typeof(product.price) == 'string' ? true : false

  // Product
  .product.product-grid.product-grid-type-2
    // Product Image
    .product-image
      img.img-responsive(src=product.image[0].src alt=product.image[0].alt width=product.image[0].width height=product.image[0].height).product-image-area
      // Product Label
      - if (typeof(product.label) !== "undefined")
        span.product-label.label-custom.label-lg-custom.label-rounded-custom(class= product.label.adClass)= product.label.text
    // Product Rating
    .product-rating.offset-top-20
      span.mdi.mdi-star
      span.mdi.mdi-star
      span.mdi.mdi-star
      span.mdi.mdi-star-half
      span.mdi.mdi-star-outline
    // Product Title
    div.product-title.offset-top-4.text-primary
      a.big(href= product.link)= product.title
    if (product.brand == null)
    else
      // Product Brand
      p.product-brand.text-italic.text-dark= product.brand

    // Product price
    .product-price.text-bold.offset-top-20
      if priceArr
        span.h5= '$' + product.price
      else
        span.h5.product-price-new= "$" + product.price[1]
        span.product-price-old.text-dark= '$' + product.price[0]

    .product-block-hover
      // Product Add To cart
      a(href= product.link).btn.btn-icon.btn-icon-left.btn-primary.product-btn.btn-ellipse.offset-top-20
        span.icon.mdi.mdi-cart
        | Add to Cart