//
// RD Navbar Default
// --------------------------------------------------

.rd-navbar-floated {
  @extend %rd-navbar-default-cart;
  &.rd-navbar-fixed {
    @extend %rd-navbar-default-panel;
    @extend %rd-navbar-default-mobile-menu;
    @extend %rd-navbar-default-cart-aside-right;
    @extend %rd-navbar-default-aside-left;
    @extend %rd-navbar-default-mobile-search;

    .rd-navbar-brand {
      display: none;
    }

    .rd-navbar-search {
      display: none;
    }

    .rd-navbar-top-panel-toggle{
      position: fixed;
      z-index: 17;
      top: 4px;
      right: 0;
      background: none;
      border: none;
      outline: none;
      @include toggle-icons-via-rotation(48px, 28px, $rd-navbar-dark-top-panel-toggle-icon-color,$rd-navbar-top-panel-toggle-icon-state-before, $rd-navbar-top-panel-toggle-icon-state-after);
      &:focus, &:active{
        outline: none;
      }
    }

    .rd-navbar-top-panel{
      position: fixed;
      right: 4px;
      top: 50px;
      width: $rd-navbar-top-panel-mobile-width;
      padding: $rd-navbar-top-panel-mobile-padding;
      z-index: 17;
      overflow: hidden;
      transition: box-shadow .3s ease;
      opacity: 0;
      visibility: hidden;
      text-align: center;
      background: $gray-base;
      color: $white;
      >*{
        opacity: 0;
        visibility: hidden;
      }
      .contact-info {
        text-align: center;
      }
      .right-side, .center {
        margin-top: 10px;
      }
      &:before{
        content: '';
        position: absolute;
        top: -22%;
        right: -22%;
        width: 0;
        height: 0;
        transition: all .3s ease;
        border-radius: 50%;
        z-index: -1;
      }
      &.active{
        opacity: 1;
        visibility: visible;
        box-shadow: $shadow-area-md;
        >*{
          opacity: 1;
          visibility: visible;
          transition: opacity .3s ease .2s;
        }

        &:before{
          height: 150%;
          width: 150%;
        }

      }
    }

    .rd-navbar-top-links{
      margin-bottom: $rd-navbar-top-panel-mobile-margin-bottom;
    }

    .contact-info{
      > span{
        display: block;
        margin-bottom: $rd-navbar-top-panel-mobile-address-item-margin-bottom;
      }
      span+span{
        margin: 0;
      }
    }

    @media (min-width: $screen-xs) {
      .rd-navbar-mobile-brand {
        display: none;
      }
      .rd-navbar-brand {
        display: block;
        @include transform(translateX(-50%));
      }
    }
  }

  .rd-navbar-top-panel {
    a:hover {
      color: $brand-primary;
    }
  }

  &.rd-navbar-static {
    @extend %rd-navbar-transition;
    .rd-navbar-mobile-brand {
      display: none;
    }

    .rd-navbar-top-panel-toggle{
      display: none;
    }

    @extend %rd-navbar-default-menu-first-lvl;
    @extend %rd-navbar-default-menu-dropdown;
    @extend %rd-navbar-default-search;
    @extend %rd-navbar-default-desktop-cart;

    .rd-navbar-dropdown {
      margin-top: $rd-navbar-floated-dropdown-offset-top;
    }

    .rd-navbar-brand {
      float: left;
      clear: both;
    }

    .rd-navbar-menu-wrap {
      float: right;
    }

    .rd-navbar-panel .rd-navbar-toggle, .form-search-wrap {
      display: none;
    }

    .rd-navbar-inner {
      @include clearfix;
      transition: .3s all ease;
      position: relative;
      text-align: left;
      padding: $rd-navbar-floated-inner-padding;
      border-radius: $rd-navbar-floated-inner-border-radius;
      //box-shadow: $rd-navbar-floated-inner-shadow;
      &.active {
        .rd-navbar-panel {
          opacity: 0;
          visibility: hidden;
        }
      }

      > .rd-navbar-top-panel {
        position: relative;
        margin-bottom: 37px;
        padding: 10px 0 35px;

        &:before, &:after {
          content: '';
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: $brand-danger;
        }

        &:before {
          right: 100%;
        }

        &:after {
          left: 100%;
        }


        .left-side {
          float: left;
        }

        @media (min-width: $screen-lg-min) {
          position: relative;

          .center {
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
          }
        }

        .right-side {
          float: right;
        }
      }
    }

    .rd-navbar-megamenu {
      left: 0;
      right: 0;
    }

    .rd-navbar-nav-wrap, .rd-navbar-panel, .rd-navbar-cart-wrap {
      transition: .3s all ease;
    }

    .rd-navbar-nav-wrap {
      @include clearfix;
      margin-top: 6px;
      display: inline-block;
    }

    // Cart
    .rd-navbar-cart-wrap {
      display: inline-block;
      position: relative;
      margin-left: $rd-navbar-floated-cart-offset-left;
    }

    .rd-navbar-search-toggle, .rd-navbar-cart {
      margin-top: 5px;
    }

    .rd-navbar-search-form {

      .form-label {
        padding-left: $rd-navbar-floated-search-padding-left;
        &.focus {
          left: 16px;
          top: -2px;
        }
      }

      .rd-navbar-search-form-input {
        padding-left: $rd-navbar-floated-search-padding-left;
      }
    }

    &.rd-navbar--is-stuck {
      box-shadow: $rd-navbar-floated-stuck-shadow;
      margin-top: 0;
      width: 100%;
      padding: 0;

      .rd-navbar-search-form .form-label.focus {
        top: 5px;
      }

      .rd-navbar-top-panel {
        display: none;
      }

      .rd-navbar-inner {
        padding: 19px 40px;
      }

      .rd-navbar-nav > li > .rd-navbar-dropdown {
        margin-top: $rd-navbar-floated-stuck-dropdown-offset-top;
      }
    }

  }

  // Themes

  // Dark Theme
  // -------------------

  &.rd-navbar-dark {
    .rd-navbar-inner {
      background: $rd-navbar-floated-dark-inner-background;

      .rd-navbar-nav > li {
        &.active > a, &.focus > a, > a:hover {
          color: $brand-primary;
        }
      }
    }
    @extend %rd-navbar-default-cart-dark;

    .rd-navbar-search a:hover span {
      color: $brand-primary;
    }

    // Mobile Fixed Layout Colors
    &.rd-navbar-fixed {
      @extend %rd-navbar-default-panel-dark;
      @extend %rd-navbar-default-mobile-menu-dark;
      @extend %rd-navbar-default-cart-aside-right-dark;
      @extend %rd-navbar-default-aside-left-dark;
      @extend %rd-navbar-default-mobile-search-dark;
    }

    // Desktop Static Layout Colors
    &.rd-navbar-static {
      @extend %rd-navbar-default-menu-first-lvl-dark;
      @extend %rd-navbar-default-menu-dropdown-dark;
      @extend %rd-navbar-default-search-dark;

      .rd-navbar-search-form-input, .rd-navbar-search-toggle, .rd-navbar-cart {
        color: $rd-navbar-floated-dark-inputs-color;
      }

      &.rd-navbar--is-stuck {
        background: $rd-navbar-floated-dark-stuck-background;
      }

    }
  }

  // Light Theme
  // -------------------

  &.rd-navbar-light {
    .rd-navbar-inner {
      background: $rd-navbar-floated-light-inner-background;
    }

    @extend %rd-navbar-default-cart-light;

    .rd-navbar-search-toggle, .rd-navbar-cart {
      span {
        color: $rd-navbar-floated-light-inputs-color;
      }
    }

    // Mobile Fixed Layout Colors
    &.rd-navbar-fixed {
      @extend %rd-navbar-default-panel-light;
      @extend %rd-navbar-default-mobile-menu-light;
      @extend %rd-navbar-default-cart-aside-right-light;
      @extend %rd-navbar-default-aside-left-light;
      @extend %rd-navbar-default-mobile-search-light;
    }

    // Desktop Static Layout Colors
    &.rd-navbar-static {
      @extend %rd-navbar-default-menu-first-lvl-light;
      @extend %rd-navbar-default-menu-dropdown-light;
      @extend %rd-navbar-default-search-light;

      .rd-navbar-search-form-input, .rd-navbar-search-toggle, .rd-navbar-cart {
        color: $rd-navbar-floated-light-inputs-color;
      }
      &.rd-navbar--is-stuck {
        background: $rd-navbar-floated-light-stuck-background;
      }
    }
  }
}