//- title - page title
//- icon - page icon
//- breacrumbs - an array of {link} object
mixin breadcrumb-classic(title, icon, breadcrumbs, svgId)
  // Classic Breadcrumbs
  section.breadcrumb-classic
    .shell.section-34.section-sm-50
      .range.range-lg-middle
        .cell-lg-2.veil.reveal-sm-block.cell-lg-push-2
            span(class=icon class="icon icon-white")
        .cell-lg-5.veil.reveal-lg-block.cell-lg-push-1.text-lg-left
          h2
            span.big= title
        .offset-top-0.offset-sm-top-10.cell-lg-5.offset-lg-top-0.small.cell-lg-push-3.text-lg-right
          ul.list-inline.list-inline-dashed.p
            each link, index in breadcrumbs
              if breadcrumbs[parseInt(index) + 1]
                li
                  a(href=link.href)= link.title
              else
                li
                  = link.title

    +triangle-gradient('rgb(110,192,161)', 'rgb(111,193,156)', "0,0 60,0 29,29" ,svgId != null? svgId : "grad1")