//- icon - icon class
//- offsetTop - margin-top in heading
//- title - box title
//- desc - description of box
mixin box-icon-type-2(icon, title, clTitle, desc)
  // Icon Box Type 2
  .unit.unit-md.unit-md-horizontal.unit-spacing-xs.text-md-left
    .unit-left
      span.icon(class= icon)
    .unit-body
      h5(class= clTitle)= title
      .text-left
        p= desc
        block