extends  ../_skeleton

//- Includes
include  ../elements/_ui-rd-map

//-Title
block title
  title= cfg.nav.contacts.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-floated(
    'rd-navbar-dark',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.contacts,
    cfg.nav
    )
    .context-dark
      +breadcrumb-modern("Contact Us", {
        0: {
          "type": "link",
          "title": cfg.nav.home.title,
          "href": cfg.nav.home.href
        },
        1: {
          "type": "link",
          "title": cfg.nav.contacts.title,
          "href": cfg.nav.contacts.href
        }
      }, "images/background-04-1920x750.jpg")


  // Page Contents
  main.page-content
    section.section-top-98.section-md-top-110.text-lg-left
      .shell
        .range.range-xs-center.range-xs-center
          .cell-lg-4
            .inset-lg-right-80
              h3.text-bold How to Find us
              hr.divider.hr-lg-left-0.bg-red
              p.offset-top-41.offset-lg-top-50 We are located in the city center and is easy to reach with any kind of public transport. Use our map to find the nearest gym.
              address.contact-info.offset-top-30.offset-lg-top-50
                .h6.text-uppercase.text-bold.text-danger.letter-space-none.offset-top-none Intense Office 1
                p 9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.
                dl.offset-top-0
                  dt Telephone
                  dd
                    a(href='callto:#') +1 800 603 6035
                dl
                  dt E-mail:
                  dd
                    a(href='mailto:#') mail@demolink.org
              address.contact-info.offset-top-30.offset-lg-top-50
                .h6.text-uppercase.text-bold.text-danger.letter-space-none Intense Office 2
                p 9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45.
                dl.offset-top-0
                  dt Telephone
                  dd
                    a(href='callto:#') +1 800 559 6580
                dl
                  dt E-mail:
                  dd
                    a(href='mailto:#') mail@demolink.org
          .cell-sm-8.offset-top-66.offset-lg-top-0
            h3.text-bold Get in touch
            hr.divider.hr-lg-left-0.bg-red
            // RD Mailform
            form.rd-mailform.text-left.offset-top-50(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .range
                .cell-lg-6
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-name") Name:
                    input#contact-us-name.form-control(type="text" name="name" data-constraints="@Required")
                .cell-lg-6.offset-top-20.offset-lg-top-0
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-email") E-Mail:
                    input#contact-us-email.form-control(type="email" name="email" data-constraints="@Required @Email")
                .cell-lg-12.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-message") Message:
                    textarea#contact-us-message.form-control(name="message" data-constraints="@Required")
              .group-sm.text-center.text-lg-left.offset-top-30
                button(type="submit").btn.btn-danger Send
                button(type="reset").btn.btn-default Reset

      .offset-top-98.offset-lg-top-124
        +rd-map({
          "zoom": "14",
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "dataStyles": [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]
        },[{
          "dataX": "-73.9874068",
          "dataY": "40.643180",
          "markerDesc": "9870 St Vincent Place, Glasgow, DC 45 Fr 45"
        }])

  // Page Footer
  include ../sections/_section-footer