extends  ../_skeleton

//- Includes
include  ../elements/_ui-box-planning-type-2
include ../elements/_ui-rd-parallax

//-Title
block title
  title= cfg.nav.memberships.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-floated(
    'rd-navbar-dark',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.memberships,
    cfg.nav
    )
    .context-dark
      +breadcrumb-modern("Memberships", {
        0: {
          "type": "link",
          "title": cfg.nav.home.title,
          "href": cfg.nav.home.href
        },
        1: {
          "type": "link",
          "title": cfg.nav.memberships.title,
          "href": cfg.nav.memberships.href
        }
      }, "images/background-04-1920x750.jpg")


  // Page Contents
  main.page-content

    // Choose your Plan
    section.section-98.section-sm-110
      .shell-fluid
        h1 Choose your Plan
        hr.divider.bg-red
        .range.range-xs-center.offset-top-20
          .cell-xs-9.cell-sm-7.cell-md-12
            p You can choose any membership plan that you like, but we recommend trying our workouts for yourself before buying.
            a.btn.btn-primary.btn-icon.btn-icon-left.text-darker.offset-top-20(href="#") get a free workout

        .range.range-condensed.range-md-center.offset-top-66
          .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2
            +box-planning-2("Starter", "19", "month", "text-darker", "bg-picton-blue", "bg-dark", "Buy now", "btn-default")
              p.text-light This plan is perfect if you are just beginning your workouts.
              ul.list-separated.list-unstyled
                li
                  span.h6.text-regular.text-base Open Gym
                li
                  span.h6.text-regular.text-base Gymnastics
                li
                  span.h6.text-regular.text-gray CrossFit
                li
                  span.h6.text-regular.text-gray Yoga
                li
                  span.h6.text-regular.text-gray Personal Trainer

          .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2.offset-top-50.offset-md-top-0
            +box-planning-2("Basic", "59", "month", "text-danger", "bg-danger", "bg-red", "Buy now", "btn-danger", "active")
              p.text-light The basic plan includes most popular services regularly offered at our gym.
              ul.list-separated.list-unstyled
                li
                  span.h6.text-regular.text-base Open Gym
                li
                  span.h6.text-regular.text-base Gymnastics
                li
                  span.h6.text-regular.text-base CrossFit
                li
                  span.h6.text-regular.text-gray Yoga
                li
                  span.h6.text-regular.text-gray Personal Trainer

          .cell-xs-8.cell-xs-preffix-2.cell-md-4.cell-md-preffix-0.cell-lg-3.cell-xl-2.offset-top-50.offset-md-top-0
            +box-planning-2("Pro", "99", "month", "text-darker", "bg-picton-blue", "bg-dark", "Buy now", "btn-default")
              p.text-light If you have some experience in training, then Pro plan is what you need.
              ul.list-separated.list-unstyled
                li
                  span.h6.text-regular.text-base Open Gym
                li
                  span.h6.text-regular.text-base Gymnastics
                li
                  span.h6.text-regular.text-base CrossFit
                li
                  span.h6.text-regular.text-base Yoga
                li
                  span.h6.text-regular.text-base Personal Trainer

    // Questions & Answers
    section
      +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/background-06-1920x850.jpg",
        "htmlSpeed": "0"
      })
        .bg-overlay-gray-darkest.context-dark
          .shell.section-98
            h1 Questions & Answers
            hr.divider.bg-primary
            .range.range-xs-center.text-sm-left
              .cell-sm-9.cell-lg-12
                .range.range-xs-center
                  .cell-lg-5
                    h6.text-primary How does the 14-day trial work?
                    p If you select a certain workout course of Intense, you can take an opportunity to try it before paying the full price for it. To start the trial, you have to be a registered user of our website and select a training course

                  .cell-lg-5
                    h6.text-primary Can I change/cancel plans anytime?
                    p After your training course begins, there are two ways of changing or canceling your membership. If you are a new member owning a Starter plan, you can switch to another plan only in half a year. Basic and Pro members can switch to the plan of their choice instantly. Canceling is accessible for all our members regardless of their training package.

                  .range-spacer.veil.reveal-lg-inline-block.offset-lg-top-50

                  .cell-lg-5
                    h6.text-primary What happens at the end of my trial?
                    p After your trial ends, you can pay for your favorite workout course you selected before using cash or credit card. However, if you choose a different course or workout package, you won’t be able to try it for free before buying. If you have already been our loyal member for a year or more, you also get permanent discounts on our membership plans.

                  .cell-lg-5
                    h6.text-primary Do you offer discounts for students?
                    p We care about the health of youth, and that’s why our managers have developed a discount program for students and teenagers. As our members, they can freely use any training course or equipment of our gym.

                  .range-spacer.veil.reveal-lg-inline-block.offset-lg-top-50

                  .cell-lg-5
                    h6.text-primary My account has expired, can I recover it?
                    p If you received a notification via e-mail or SMS about your account expiration, you can still recover it during the next 30 days using our website. If you don’t have a possibility to do it, you can visit our office to undergo a recovery procedure.

                  .cell-lg-5
                    h6.text-primary How do I access to my account?
                    p You can access your account using our website or follow the link you receive in registration e-mail. Then you need to enter your membership card number and the password you received in registration e-mail. We tried to make the member zone of our site as comfortable and secured as it can be, equipping it with an intuitive interface, and we hope you like it.

    // Not Sure Which Plan is Right For You?
    section.section-66.bg-lilac
      .shell
        h2.text-darker Not Sure Which Plan is Right For You?
        p If you are hesitating over a choice of a suitable membership plan, send us a letter with any questions or suggestions you have.
        a.btn.btn-primary.btn-icon.btn-icon-left.offset-top-20.text-darker(href=cfg.nav.contacts.href)
          span.icon.mdi.mdi-email-outline
          | Send us a letter

  // Page Footer
  include ../sections/_section-footer