// About Me
section
  .range.range-xs-center.offset-top-66
    .cell-lg-5.text-lg-right
      img.img-responsive.center-block(src="images/image-26.jpg" width="442" height="480" alt="")
      .range.range-xs-center.offset-top-34
        .cell-sm-8.cell-md-6.cell-lg-12
          .inset-xs-left-80.inset-xs-right-80
            a.btn.btn-lg.btn-block.btn-primary.btn-rect.text-spacing-120.text-regular(href="#") get in touch
    .cell-sm-10.text-left.cell-md-9.offset-top-41.cell-lg-5.offset-lg-top-0
      .inset-sm-left-30
        p I strive for making high quality photos available to everyone from designers and CG artists to average viewers. I truly believe that great works of photography are based on certain skills and techniques. There are a lot of factors that make an ordinary photo an outstanding one. But nowadays even ordinary photos are not available for wide usage without paying a certain fee.
        p However, there are some photographers and artists, both enthusiastic and professional, who believe that creativity should not be restricted by money or law. I am one of them, and I am glad to offer you my photos and a lot of other works of my portfolio without any charge. It means you can always get my latest photos taken all around the world without paying a cent.
        div
          p Awards:
        div.offset-top-10
          ul.list.list-unstyled
            li 2015 – MAGNUM 30 under 30, Winner
            li 2014 – The Other Hundred, 1st Prize
            li 2014 – American Photography 30, Selected Winner
            li 2013 – Leica Oskar Barnack Award, Winner Newcomer
            li 2012 – PDN Photo Annual - Student Work, Winner
            li 2012 – AOP Student Awards, Finalist
        p My work has appeared in printed and online magazines – National Geographic Magazine, The New York Times, GEO Germany, GEO France, Bloomberg Businessweek, Neu Zurcher Zeitung, Leica Fotografie International, Leica M Magazine, NEON, Marie Claire Italy, FOTO8, Reader’s Digest, National Geographic Traveler.