// Jessica Bennett
section
  .rd-parallax(data-on="false" data-md-on="true")
    .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/image-01-1920x250.jpg")
    .rd-parallax-layer(data-speed="0.3", data-type='html' data-fade="true")
      .shell.section-85
        a(href="#{cfg.nav.home.href}")
          img.img-responsive.center-block(src="images/brand.png" width="984" height="91" alt="")