extends  ../_skeleton

include ../elements/_ui-rd-parallax
include ../elements/_ui-isotope
include ../elements/_ui-thumbnail-classic

//-Title
block title
  title= cfg.nav.events.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.events,
    cfg.nav
    )

  // Page Contents
  main.page-content
    // Section Intro
    section.context-dark
      .rd-parallax(data-on="false" data-md-on="true")
        .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/intro-01-1920x955.jpg")
        .rd-parallax-layer(data-speed="0.3", data-type='html' data-fade="true")
          .shell
            .section-110.range.range-xs-center.range-xs-middle
              .cell-md-8
                img(src='images/intro-logo-175x173.png' alt="" width=175 height=173)

                h1.font-accent
                  span.big= cfg.nav.events.title

                ul.list-inline.list-inline-dashed.p
                  li
                    a(href=cfg.nav.home.href)= cfg.nav.home.title
                  li
                    = cfg.nav.events.title

    // Section Menu
    section.section-98.section-110
      .shell
        .range.range-sm-center.range-lg-left
          .cell-md-8.cel-lg-9
            .inset-md-right-20
               include ../sections/_section-blog-events
          .cell-md-4.offset-top-66.offset-md-top-0.cell-lg-3
            include ../sections/_section-blog-sidebar-variant-5

  // Page Footer
  include ../sections/_section-footer-variant-2