extends  ../_skeleton

include ../elements/_ui-rd-parallax
include ../elements/_ui-isotope
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-box-pricing-type-1

//-Title
block title
  title= cfg.nav.gallery.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.gallery,
    cfg.nav
    )

  // Page Contents
  main.page-content
    // Section Intro
    section.context-dark
      .rd-parallax(data-on="false" data-md-on="true")
        .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/intro-01-1920x955.jpg")
        .rd-parallax-layer(data-speed="0.3", data-type='html' data-fade="true")
          .shell
            .section-110.range.range-xs-center.range-xs-middle
              .cell-md-8
                img(src='images/intro-logo-175x173.png' alt="" width=175 height=173)

                h1.font-accent
                  span.big= cfg.nav.gallery.title

                ul.list-inline.list-inline-dashed.p
                  li
                    a(href=cfg.nav.home.href)= cfg.nav.home.title
                  li
                    = cfg.nav.gallery.title

    // Section Menu
    section.section-98.section-110
      .shell
        +isotope(["All", "Restaurant space", "Delicious Food", "Our Team", "Happy Clients"],{
          "group": "gallery",
          "layout": "masonry",
          "alignClass": "isotope-filters-vertical"
        }, "isotope-2")
          .row
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="*")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-13-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-13-270x270.jpg", "width": 270, "height": 270, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Restaurant space")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-14-270x420.jpg", "width": 270, "height": 420, "alt": ""},
                "target": {"src": "images/gallery-14-270x420.jpg", "width": 270, "height": 420, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Delicious Food")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-15-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-15-270x270.jpg", "width": 270, "height": 270, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Our Team")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-16-270x420.jpg", "width": 270, "height": 420, "alt": ""},
                "target": {"src": "images/gallery-16-270x420.jpg", "width": 270, "height": 420, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Happy Clients")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-17-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-17-270x270.jpg", "width": 270, "height": 270, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Delicious Food")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-17-270x270-06.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-17-270x270-06.jpg", "width": 270, "height": 270, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Our Team")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-19-270x404.jpg", "width": 270, "height": 404, "alt": ""},
                "target": {"src": "images/gallery-19-270x404.jpg", "width": 270, "height": 404, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-8.isotope-item(data-filter="Happy Clients")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-18-570x270.jpg", "width": 570, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-18-570x270.jpg", "width": 570, "height": 270, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter="Delicious Food")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-20-270x270.jpg", "width": 270, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-20-270x270.jpg", "width": 270, "height": 270, "alt": ""}
              })

            .col-xs-12.col-sm-6.col-md-8.isotope-item(data-filter="Restaurant space")
              +thumbnail-classic({
                "type": "thumbnail",
                "thumb": {"src": "images/gallery-21-570x270.jpg", "width": 570, "height": 270, "alt": ""},
                "target": {"src": "images/gallery-21-570x270.jpg", "width": 570, "height": 270, "alt": ""}
              })

  // Page Footer
  include ../sections/_section-footer-variant-2