extends  ../_skeleton

//- Includes

//- Title
block title
  title Search Results

//- Page
block page
  // Page Header
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-default(
    'rd-navbar-default rd-navbar-transparent',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav,
    cfg.nav
    )

  section.context-dark
    .rd-parallax(data-on="false" data-md-on="true")
      .rd-parallax-layer(data-speed="0.45", data-type="media", data-url="images/intro-01-1920x955.jpg")
      .rd-parallax-layer(data-speed="0.3", data-type='html' data-fade="true")
        .shell
          .section-110.range.range-xs-center.range-xs-middle
            .cell-md-8
              img(src='images/intro-logo-175x173.png' alt="" width=175 height=173)

              h1.font-accent
                span.big Search Results

  // Page Content
  main.page-content.section-98.section-sm-124
    // Section Intro


    .shell

      +widget-form-search("input-sm", "form-label-sm", "search-results")

      .rd-navbar-search-results.offset-top-66

        // Page Footers
  include ../sections/_section-footer-variant-2