//
// Button groups custom
// --------------------------------------------------


.btn-group{
  * + .btn{
    margin-top: 0;
  }
}

// Custom button group
//

.btn-group-custom{
  .btn{
    border-width: 1px;
    padding: 10px 17px;
  }
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group{
  margin-left: 10px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active{
  z-index: 1;
}