//
// Custom form styles
// --------------------------------------------------
// Normalize non-controls
// -------------------------
label {
  margin-bottom: 10px;
  font-weight: 400;
}

.rd-mailform{
  position: relative;
}

// Common form controls
// -------------------------

.input-sm,
.input-lg,
.form-control {
  font-size: $input-font-size;

  &, &:focus {
    box-shadow: none;
  }
}

textarea.form-control{
  height: 170px;
  min-height: 50px;
  max-height: 370px;
  resize: vertical;
}

.form-control {
  line-height: $input-height-base - ($padding-base-vertical + $border-width-base)*2;

  &:focus {
    outline: 0;
  }
}

.input-sm{
  line-height: $input-height-small - ($padding-small-vertical + $border-width-small)*2;
}

.input-lg{
  line-height: $input-height-large - ($padding-large-vertical + $border-width-base)*2;
}

// Form Controls Appearance
//
.form-control-rect {
  border-radius: 0;
}

.form-control-ellipse {
  &.form-control {
    border-radius: $input-height-base / 2;
  }

  &.form-control-sm {
    border-radius: $input-height-small / 2;
  }

  &.form-control-lg {
    border-radius: $input-height-large / 2;
  }
}

.form-control-impressed {
  background: $gray-lightest;
  border: none;

  &, &:focus {
    box-shadow: inset $shadow-area-xxs;
  }

  // change validation bg

  &.form-validation-inside + .form-validation {
    background: $gray-lightest;
  }
}

// Form groups
// -------------------------

.form-group {
  position: relative;
}


// Form labels
// -------------------------

.form-label {
  position: absolute;
  top: 25px;
  left: $padding-base-horizontal;
  font-size: $input-font-size;
  color: $input-color-placeholder;
  pointer-events: none;
  z-index: 9;
  transition: .3s;
  @include transform(translateY(-50%));
  @include transform-origin(0 0);

  &.focus {
    color: $input-color-placeholder-focus;
    top: 3px;
    @include transform(scale(.8) translateY(0));
  }


}

.form-label-sm {
  top: 20px;
  left: $padding-small-horizontal;

  &.focus {
    top: -1px;
  }
}

.form-label-lg {
  top: 35px;
  left: $padding-large-horizontal;

  &.focus {
    top: 8px;
  }
}

.form-label-outside {
  @media (min-width: $screen-sm-min) {
    position: static;
    &, &.focus {
      @include transform(none);
      color: $input-color-placeholder;
      font-size: $input-font-size;
    }
  }
}

// Form validation
// -------------------------
.form-validation {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
  line-height: 10px;
  margin-top: 2px;
  transition: .3s;

  .form-validation-inside + & {
    top: 2px;
    margin-top: 0;
    left: 12px;
    background: $white;
    z-index: 10;
  }
}


.form-control-feedback{
  font-size: 20px;
}

// Error Styling
//
.has-error {
  @include form-control-validation-custom($state-danger-text, $state-danger-bg, $state-danger-bg);
}

// Success Styling
//
.has-success {
  @include form-control-validation-custom($state-success-text, $state-success-bg, $state-success-bg);
}

// Warning Styling
//
.has-warning {
  @include form-control-validation-custom($state-warning-text, $state-warning-bg, $state-warning-bg);
}

// Info Styling
//
.has-info {
  @include form-control-validation-custom($state-info-text, $state-info-bg, $state-info-bg);
}

.has-feedback .form-label ~ .form-control-feedback{
  top: 0;

  @media (min-width: $screen-sm-min) {
    top: 34px;
  }
}

.has-feedback .form-control{
  padding-right: 50px;
}

.has-feedback .form-control.input-sm{
  padding-right: 40px;
}

.has-feedback .form-control.input-lg{
  padding-right: 70px;
}

// Form output
// -------------------------

#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 30px;
  visibility: hidden;
  @include transform(translateX(-500px));
  transition: .3s all ease;
  z-index: 9999999;
  background: $gray-base;

  &.active{
    @include transform(translateX(0));
    visibility: visible;
  }
}

.rd-mailform{
  position: relative;
}

.form-output{
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
  line-height: 10px;
  margin-top: 2px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  &.active{
    opacity: 1;
    visibility: visible;
  }
  &.error{
    color: $brand-ku-crimson;
  }
  &.success{
    color: $brand-dollar-bill;
  }
}



// Radio and Checkbox Custom
// -------------------------

// Base Styles
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom{
  opacity: 0;

  &, &-dummy{
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: -20px;
    margin-top: ($line-height-computed - 14px)/2;
    outline: none;
    cursor: pointer;
  }

  &-dummy{
    pointer-events: none;
    background: $gray-lighter;
    box-shadow: inset $shadow-area-xxs;

    &:after{
      position: absolute;
      opacity: 0;
    }
  }

  &:focus{
    outline: none;
  }
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after{
  opacity: 1;
}

// Custom Radio Styles
//
.radio,
.radio-inline {
  .radio-custom-dummy {
    border-radius: 50%;

    &:after{
      content: '';
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background: $radio-checked-color;
      border-radius: 50%;
    }
  }
}

// Custom Checkbox Styles
//
.checkbox,
.checkbox-inline {
  padding-left: 20px;
  .checkbox-custom-dummy {
    pointer-events: none;
    border-radius: $border-radius-small;
    margin-left: 0;
    left: 0;

    &:after{
      content: $checkbox-icon;
      font-family: $checkbox-icon-font;
      font-size: 20px;
      line-height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      color: $checkbox-checked-color;
    }
  }
}


// Search Form
// -------------------------
.form-search {
  position: relative;

  .form-group{
    margin-bottom: 0;
  }
}

.form-search-submit {
  position: absolute;
  font-size: 24px;
  right: 8px;
  top: 0;
  bottom: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  color: $gray-darker;
  transition: .3s all ease;
  &:hover, &:focus {
    color: $brand-primary;
    outline: none;
  }
}

.form-search-label {
  color: $gray-darkest;
}

.form-search-input {
  padding-right: 35px;
  color: $gray-darkest;
}




