//
// Posts
// --------------------------------------------------

// Post Common Styles
// --------------------------------------------------
.post {
  &-meta {
    .icon-xxs {
      font-size: 18px;
    }
  }

  &-title + &-meta {
    margin-top: 8px;
  }
}

// Post default
// --------------------------------------------------
.post-default {
  .post-controls {
    margin-bottom: 0;
  }

  .post-controls + .post-title {
    margin-top: 8px;
  }
}

// Post widget
// --------------------------------------------------

.widget-post {
  display: block;

  > a {
    display: inline-block;

    &:hover {
      time {
        @include transform(translate(10px, -1px));
      }

      h6 {
        color: $brand-picton-blue;
      }
    }
  }

  h6,
  time {
    transition: .3s;
  }

  .post-meta {
    .icon-xxs {
      font-size: 14px;
    }

    time {
      display: inline-block;
      font-size: 12px;
      @include transform(translate(0, -1px));
    }
  }

  & + .widget-post {
    margin-top: 16px;
  }
}

// Post wide
// --------------------------------------------------

.post-wide {
  .post-content {
    padding-top: 41px;
  }

  @media (min-width: $screen-xl-min) {
    .post-body {
      height: 162px;
      overflow: auto;
    }

    &-horizontal {
      .post-media {
        padding-right: 20px;
      }

      .post-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .post-content {
        margin-top: 0;
        padding: 7% 20px 5%;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
      }
    }
  }
}

// Post Boxed
// --------------------------------------------------

.post-boxed {
  position: relative;

  .post-media {
    background: $gray-base;
    img {
      transition: .3s;
      width: 100%;
      height: auto;
      will-change: opacity;
    }

  }

  .post-media + .post-content {
    margin-top: 24px;
  }

  .post-tags {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    z-index: 1;
  }

  &:hover {
    .post-media {
      img {
        opacity: .8;
      }
    }
  }

  @media (max-width: $screen-sm-min - 1) {
    .post-title {
      h3 {
        font-weight: 700;
        font-size: 17px;
        line-height: 1.5;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .post-title {
      position: relative;
      max-height: 74px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    .post-media + .post-content {
      margin-top: 0;
    }

    .post-content {
      padding: 0;
      color: $white;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include gradient-directional($gray-base, transparent, 0deg);
    }

    .post-body {
      position: absolute;
      right: 30px;
      left: 35px;
      bottom: 28px;
      z-index: 1;
    }
  }
}

// Post Modern
// --------------------------------------------------

.post-modern {
  box-shadow: $shadow-area-md;

  .post-inset,
  .post-content {
    padding: 30px 30px 24px;
  }

  .post-inset {
    padding-bottom: 0;
  }
}

// Post Timeline (horizontal "divider")
// --------------------------------------------------

.post-timeline {
  position: relative;

  & + .post-timeline {
    margin-top: 66px;

    &:before {
      content: '';
      position: absolute;
      top: -25px;
      left: auto;
      right: 0;
      height: 1px;
      width: 100%;
      background: $gray;
    }
  }

  @media (min-width: $screen-sm-min) {


    & + .post-timeline{
      border-top: 1px solid $gray;
      padding-top: 66px;

      &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 52px;
        width: 47px;
        height: 1px;
        background: $white;
      }
    }

    & + .post-timeline {
      border: none;

      &:before {
        top: 0;
        width: 86.5%;
      }
    }
  }
}

// Post Modern Timeline
// --------------------------------------------------

.post-modern-timeline {
  position: relative;

  .post-author {
    margin-top: 30px;
  }

  .post-author-img,
  .post-author-name {
    display: inline-block;
  }

  .post-author-img {
    padding-right: 10px;
  }

  & + .post-modern-timeline {
    margin-top: 34px;
  }

  @media (min-width: $screen-sm-min) {
    & + .post-modern-timeline {
      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        width: 1px;
        height: 34px;
        background: $gray;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 77px;
      width: 1px;
      background: $gray;
      bottom: 0;
    }

    .post-author-img {
      width: 45px;
      height: 45px;
    }

    .post-author-name {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      transition: .3s;
      visibility: hidden;
      opacity: 0;
      padding: 3px 10px;
      font-size: 12px;
      color: $white;
      white-space: nowrap;
      background: $gray-darkest;
      border-radius: $border-radius-small;
    }

    .post-author {
      position: absolute;
      top: 0;
      margin-top: 22px;

      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
        height: 12px;
        width: 1px;
        background: $gray;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        width: 22px;
        height: 1px;
        background: $gray;
      }

      &:hover {
        .post-author-name {
          @include transform(translateX(0));
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &:first-child {
      .post-author:before {
        display: none;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &-left {
    @media (min-width: $screen-sm-min) {
      margin-left: 100px;

      &:before,
      &:after {
        left: -65px;
      }

      .post-author {
        right: 100%;
        margin-right: 42px;

        &:before {
          left: 22px;
        }

        &:after {
          left: 100%;
          margin-left: 10px;
        }
      }

      .post-author-name {
        right: 100%;
        margin-right: 10px;
        @include transform(translateX(-10px));

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -4px;
          left: 100%;
          @include triangle(right, 4px, 8px, $gray-darkest);
        }
      }
    }
  }

  &-right {
    @media (min-width: $screen-sm-min) {
      margin-right: 100px;

      &:before,
      &:after {
        right: -65px;
      }

      .post-author {
        left: 100%;
        margin-left: 42px;

        &:before {
          right: 22px;
        }

        &:after {
          right: 100%;
          margin-right: 10px;
        }
      }

      .post-author-name {
        left: 100%;
        margin-left: 10px;
        @include transform(translateX(-10px));

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -4px;
          right: 100%;
          @include triangle(left, 4px, 8px, $gray-darkest);
        }
      }
    }
  }
}

.post-modern-timeline-date {
  display: block;
  margin: 21px 10px;
  font-weight: 700;
  font-size: 17px;
  overflow: hidden;

  time {
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      height: 1px;
      width: 2000px;
      background: $gray;
    }

    &:before {
      right: 100%;
      margin-right: 30px;
    }

    &:after {
      left: 100%;
      margin-left: 30px;
    }
  }

  @media (min-width: $screen-sm-min) {
    time:before,
    time:after {
      display: none;
    }
  }
}

// Post Event
// --------------------------------------------------

.post-event {
  position: relative;

  .post-meta {
    position: absolute;
    z-index: 2;
    width: 50px;
    left: 10px;
    top: 10px;
    text-align: center;
    &-day {
      background: $brand-picton-blue;
      display: block;
      font-size: 30px;
      height: 50px;
      line-height: 50px;
      border-radius: $border-radius-small;
      box-shadow: $shadow-area-md;
    }
    &-month {
      display: block;
      margin-top: 5px;
      background: $gray-darker;
      height: 20px;
      line-height: 20px;
      border-radius: $border-radius-small;
      font-size: 12px;
      box-shadow: $shadow-area-md;
    }
  }

  &.post-event-right {
    .post-meta{
      left: auto;
      top: 10px;
      right: 10px;
    }
  }

  @media (min-width: $screen-sm-min) {
    padding-left: 100px;

    .post-meta{
      width: 70px;
      left: 0;
      top: 0;
      right: auto;

      &-day {
        height: 70px;
        line-height: 70px;
      }

      &-month {
        font-size: 17px;
        height: 30px;
        line-height: 30px;
      }
    }

    &.post-event-right {
      padding-left: 0;
      padding-right: 100px;

      .post-meta{
        left: auto;
        top: 0;
        right: 0;
      }
    }
  }
}

// Post vacation
// --------------------------------------------------
.post-vacation{
  display: block;
  padding: 22px 27px;
  background: $white;
  box-shadow: $shadow-area-xs;
  @include transition(0.35s all ease);
  h3 {
    @include transition(0.35s all ease);
  }
  &:hover{
    background: $gray-darkest;
    h3{
      color: $white;
    }
  }
}


// Widget Event
// --------------------------------------------------
.widget-event {
  display: block;
  h6 {
    @include transition(0.35s all ease);
  }
  > a {
    display: inline-block;

    &:hover {
      h6 {
        color: $brand-picton-blue;
      }
    }
  }
  .post-meta {
    .icon-xxs {
      font-size: 14px;
    }

    time {
      display: inline-block;
      font-size: 12px;
    }
  }

  & + .widget-event {
    margin-top: 16px;
  }
}
