//
// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {
  padding-bottom: 14px;
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-accent {
  font-family: $font-family-accent;
}

// Basic Typography
// -------------------------

h1,
.h1 {
  margin-top: 26px;
  margin-bottom: 21px;
  font-size: 36px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h1;
    font-size: $font-size-h1;
  }
}

h2,
.h2 {
  margin-top: 42px;
  margin-bottom: 17px;
  font-size: 32px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h2;
    font-size: $font-size-h2;
  }
}

h3,
.h3 {
  margin-top: 27px;
  margin-bottom: 18px;
  font-size: 28px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h3;
    font-size: $font-size-h3;
  }
}

h4,
.h4 {
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h4;
    font-size: $font-size-h4;
  }
}

h5,
.h5 {
  margin-top: 29px;
  margin-bottom: 19px;
  font-size: 20px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h5;
    font-size: $font-size-h5;
  }
}

h6,
.h6 {
  margin-top: 29px;
  margin-bottom: 18px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h6;
    font-size: $font-size-h6;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a {
    transition: .3s all ease;
  }

  a:hover {
    color: $brand-picton-blue;
  }

  .small {
    color: $gray-dark;
  }
}

p,
.p,
.list {
  margin-top: 18px;
  margin-bottom: 18px;

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: $screen-xs) {
  .big {
    font-size: 106.25%;
    line-height: 1.470588235294118;

    h1 &,
    .h1 & {
      font-size: 142.22%;
      line-height: 1.125;
    }

    h2 &,
    .h2 & {
      font-size: 147.36%;
      line-height: 1.142857142857143;
    }
  }
}

blockquote small,
blockquote .small,
small,
.small {
  font-size: 93.75%;

  &:before {
    display: none;
  }

  h1 &,
  .h1 & {
    font-size: 62.22222222222222%;
  }

  h2 &,
  .h2 & {
    font-size: 63.15789473684211%;
  }

  h3 &,
  .h3 & {
    font-size: 73.33333333333333%;
  }

  h4 &,
  .h4 & {
    font-size: 75%;
  }

  h5 &,
  .h5 & {
    font-size: 72.72727272727273%;
  }

  h6 &,
  .h6 & {
    font-size: 94.11764705882353%;
  }
}

sub {
  bottom: -0.5em;
}

sub, sup {
  font-size: 62%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

code, kbd, pre, samp {
  font-family: Consolas, "Courier New", monospace;
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: #E50A0A;
  background-color: $gray-lightest;
  border-radius: 2px;
}

pre {
  padding: 16px 19px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.13;
  overflow-x: auto;

  code {
    font-size: 75%;
    text-align: left;
  }
}

mark, .mark {
  background-color: #ABCC37;
  padding: .1em;
}

.text-extra-small{
  font-size: 13px;
}

.text-extra-big{
  font-size: 100px;
  line-height: .7;

  @media (min-width: $screen-sm-min) {
      font-size: 140px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 180px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 220px
  }
}

// Lists
// -------------------------

.list {
  > li + li {
    margin-top: 10px;
  }
}

.list-numbered {
  padding-left: 15px;
  li {
    padding-left: 10px;
  }
}

// List inline
//
.list-inline {
  margin-left: -5px;
  margin-right: -5px;

  > li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-inline-sm {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.list-inline-md {
  margin-left: -15px;
  margin-right: -15px;

  > li {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list-inline-lg {
  margin-left: -30px;
  margin-right: -30px;

  > li {
    padding-left: 30px;
    padding-right: 30px;

    &:first-child {
      padding-left: 0;
    }

    &:before {
      color: $gray;
    }

    & + li {
      [class*='fa-']:before {
        margin-left: 15px;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    li + li {
      [class*='fa-']:before {
        margin-left: 0;
      }
    }

    [class*='fa-']:before {
      padding-left: 15px;
      padding-right: 10px;
    }
  }
}

.list-inline-picton-blue {
  > li > a {
    transition: .3s;
    &:hover {
      color: $brand-picton-blue;
    }
  }
}

.list-inline-dashed {
  > li {
    padding-right: 0;
    & + li {
      &:before {
        content: '/';
        padding-right: 5px;
      }
    }
  }
}

.list-inline-squared {
  > li {
    position: relative;
    & + li {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -3px;
        left: -7px;
        height: 6px;
        border-left: 6px solid;
      }
    }
  }

  &.list-inline-mg{
    &+li{
      &:before{
        left: -23px;
      }
    }
  }

  &.list-inline-lg{
    &+li{
      &:before{
        left: -33px;
      }
    }
  }
}

// List marked
//

.list-marked {
  text-align: left;
  @include list-unstyled;
  li {
    padding-left: 15px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 13px;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $gray-dark;
    }
  }
}

// List index
//
.list-index {
  @include list-unstyled;
  counter-reset: li;
  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List separeted
//
.list-separated {
  li + li {
    border-top: 1px solid $gray-lighter;
    margin-top: 8px;
    padding-top: 7px;
  }
}

// Backgrounds
// -------------------------

.bg-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
}

// Contextual backgrounds
//
.bg-gray-base {
  @include bg-variant-custom(#{$gray-base});
  @extend %context-dark;
}

.bg-gray-darkest {
  @include bg-variant-custom(#{$gray-darkest});
  @extend %context-dark;
}

.bg-gray-darker {
  @include bg-variant-custom(#{$gray-darker});
  @extend %context-dark;
}

.bg-gray {
  @include bg-variant-custom(#{$gray});
}

.bg-gray-light {
  @include bg-variant-custom(#{$gray-light})
}

.bg-lighter {
  @include bg-variant-custom(#{$gray-lighter});
}

.bg-lightest {
  @include bg-variant-custom(#{$gray-lightest});
}

.bg-deluge {
  @include bg-variant-custom(#{$brand-deluge});
  @extend %context-dark;
}

.bg-picton-blue {
  @include bg-variant-custom(#{$brand-picton-blue});
  @extend %context-dark;
}

.bg-white {
  @include bg-variant-custom(#{$white});
}

// Gradient background
//

// TODO QA
.bg-black-haze {
  @include bg-variant-custom(linear-gradient(0deg, $gray-lightest 0%, $white 100%));
}

.bg-acapulco {
  @include bg-variant-custom(linear-gradient(90deg, $brand-picton-blue 0%, $brand-dollar-bill 100%), $brand-picton-blue);
  @extend %context-dark;
}

.bg-blue-gray {
  @include bg-variant-custom(linear-gradient(90deg, $brand-deluge 0%, $brand-picton-blue 100%));
  @extend %context-dark;
}

.bg-red {
  @include bg-variant-custom(linear-gradient(90deg, $brand-danger 0%, $brand-ku-crimson 100%));
  @extend %context-dark;
}

.bg-mantis {
  @include bg-variant-custom(linear-gradient(90deg, $brand-primary 0%, $brand-dollar-bill 100%));
  @extend %context-dark;
}

.bg-shark {
  @include bg-variant-custom(linear-gradient(90deg, $gray-base 0%, $gray-darker 100%));
  @extend %context-dark;
}

.bg-shark-radio {
  @include bg-variant-custom(radial-gradient(ellipse at center, $gray-darkest 0%, $gray-base 100%));
}

.bg-deluge {
  @include bg-variant-custom(linear-gradient(90deg, $brand-deluge 0%, $brand-butterfly-bush 100%));
  @extend %context-dark;
}

.bg-malibu {
  @include bg-variant-custom(linear-gradient(90deg, $brand-iceberg 0%, $brand-info 100%));
  @extend %context-dark;
}

.bg-saffron {
  @include bg-variant-custom(linear-gradient(90deg, $brand-warning 0%, $brand-neon-carrot 100%));
  @extend %context-dark;
}

// Tilt Gradient background
//

.bg-blue-gray-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $brand-deluge 0%, $brand-picton-blue 100%));
  @extend %context-dark;
}

.bg-red-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $brand-danger 0%, $brand-ku-crimson 100%));
  @extend %context-dark;
}

.bg-mantis-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $brand-primary 0%, $brand-dollar-bill 100%));
  @extend %context-dark;
}

.bg-shark-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $gray-base 0%, $gray-darker 100%));
  @extend %context-dark;
}

.bg-deluge-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $brand-deluge 0%, $brand-butterfly-bush 100%));
  @extend %context-dark;
}

.bg-malibu-tilt {
  @include bg-variant-custom(linear-gradient(45deg, $brand-iceberg 0%, $brand-info 100%));
  @extend %context-dark;
}

.bg-saffron-tilt {
  @include bg-variant-custom(linear-gradient(90deg, $brand-warning 0%, $brand-neon-carrot 100%));
  @extend %context-dark;
}

// Overlay background
//

.bg-overlay-white {
  background: rgba($white, .8);
}

.bg-overlay-gray-darkest {
  background: rgba($gray-darkest, .65);
}

// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $brand-primary);
  @include text-emphasis-variant('.text-gray', $gray);
  @include text-emphasis-variant('.text-jungle-green', #212121);
  @include text-emphasis-variant('.text-deluge', $brand-deluge);
  @include text-emphasis-variant('.text-picton-blue', $brand-picton-blue);
  @include text-emphasis-variant('.text-dollar-bill', $brand-dollar-bill);
  @include text-emphasis-variant('.text-iceberg', $brand-iceberg);
  @include text-emphasis-variant('.text-ku-crimson', $brand-ku-crimson);
  @include text-emphasis-variant('.text-neon-carrot', $brand-neon-carrot);
  @include text-emphasis-variant('.text-darker', $gray-darker);
  @include text-emphasis-variant('.text-white', $white);
  @include text-emphasis-variant('.text-dark', $gray-dark);

  // Contextual colors
  //
  %text-gradient {
    &, &:before {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text-mantis {
    @extend %text-gradient;

    &, &:before {
      color: #42B574;
      background-image: -webkit-linear-gradient(0deg, $brand-primary 0%, $brand-dollar-bill 100%);
    }
  }

  .text-acapulco {
    @extend %text-gradient;

    &, &:before {
      color: $brand-picton-blue;
      background-image: -webkit-linear-gradient(0deg, $brand-picton-blue 0%, $brand-dollar-bill 100%);
    }
  }

  .text-blue-gray {
    @extend %text-gradient;

    &, &:before {
      color: rgba(134, 104, 173, 1);
      background-image: -webkit-linear-gradient(0deg, $brand-deluge 0%, $brand-picton-blue 100%);
    }
  }

  .text-malibu {
    @extend %text-gradient;

    &, &:before {
      color: $brand-picton-blue;
      background-image: -webkit-linear-gradient(0deg, $brand-picton-blue 0%, $brand-info 100%);
    }
  }

  .text-carrot {
    @extend %text-gradient;

    &, &:before {
      color: $brand-warning;
      background-image: -webkit-linear-gradient(0deg, $brand-warning 0%, $brand-neon-carrot 100%);
    }
  }

  .text-red {
    @extend %text-gradient;

    &, &:before {
      color: $brand-danger;
      background-image: -webkit-linear-gradient(0deg, $brand-danger 0%, $brand-ku-crimson 100%);
    }
  }

  .text-pink {
    @extend %text-gradient;

    &, &:before {
      color: $brand-deluge;
      background-image: -webkit-linear-gradient(0deg, $brand-deluge 0%, $brand-butterfly-bush 100%);
    }
  }
}

// Shadows
// -------------------------

.shadow-drop-ambient {
  box-shadow: $shadow-area-ambient;
}

.shadow-drop-xxs {
  box-shadow: $shadow-area-xxs;
}

.shadow-drop-xs {
  box-shadow: $shadow-area-xs;
}

.shadow-drop-sm {
  box-shadow: $shadow-area-sm;
}

.shadow-drop,
.shadow-drop-md {
  box-shadow: $shadow-area-md;
}

.shadow-drop-lg {
  box-shadow: $shadow-area-lg;
}

.shadow-drop-xl {
  box-shadow: $shadow-area-xl;
}

.shadow-variant-2{
  box-shadow: $shadow-area-variant-2;
}

// Borders
// -------------------------

.border-gray-light {
  border-color: $gray-light;
}

.border-gainsboro {
  border-color: $gray;
}

// Address
// -------------------------

.contact-info {
  p {
    font-size: 15px;
    margin-bottom: 0;
  }

  dl {
    margin-bottom: 0;

    dt, dd {
      display: inline-block;
      font-weight: 400;
      font-size: 15px;
    }

    dt, dd a {
      color: $gray-darker;
    }

    dd a:hover {
      color: $brand-picton-blue;
    }
  }
}